#confirmation-modal.modal.in style="display: block;"
  .modal-dialog.focus.dragging
    .modal-content
      .modal-header
        .title
          | {{config.title}}
        .modal-control-container
          button.close {
            aria-label="Close"
            data-dismiss="modal"
            type="button"
            ng-click="close()"
          }
            span aria-hidden="true" &times;
      .modal-body
        | {{config.question}}
      .modal-footer
        .pull-center
          button.btn.btn-success.submit.confirm ng-click="yes()"
            | {{config.yesText}}
          button.btn.btn-danger.close-button {
            aria-label="Close"
            data-dismiss="modal"
            ng-click="no()"
          }
            | {{config.noText}}
