.modal role="dialog" tabindex="-1"
  .modal-dialog
    .modal-content
      form ng-submit="submit()"
        .modal-header
          button.close {
            aria-label="Close"
            data-dismiss="modal"
            type="button"
          }
            span aria-hidden="true"  &times;
          h4.modal-title {
            ng-if="!category.id"
            translate="model.cash_book_category.CREATE_TITLE"
          }
          h4.modal-title {
            ng-if="category.id"
            translate="model.cash_book_category.EDIT_TITLE"
          }

        .modal-body
          label
            | {{ labels.name }}
          field {
            type="'text'"
            model="category"
            field="'name'"
            template="'input,error'"
          }

          label.i-checks
            input.form-control {
              type="checkbox"
              ng-model="category.expense"
              ng-true-value="1"
              ng-false-value="0"
            }
            i
            | {{ labels.expense }}

          label ng-if="availableCategories.length > 0"
            | {{ labels.category_after_delete }}
          field {
            ng-if="availableCategories.length > 0"
            type="'select'"
            field="'category_after_delete'"
            model="category"
            options="availableCategories"
            template="'input,error'"
          }

        .modal-footer
          button.btn.btn-default {
            data-dismiss="modal"
            type="button"
            translate="common.CLOSE"
          }

          button.btn.btn-primary {
            type="submit"
            translate="common.SAVE"
          }

          span.btn.btn-danger.pull-left {
            ng-if="category.id && (availableCategories.length == 0 || category.category_after_delete)"
            ng-click="delete(category.id)"
            translate="common.DELETE"
          }
