.modal role="dialog" tabindex="-1"
  .modal-dialog
    .modal-content
      form ng-submit="submit()"
        .modal-header
          button.close {
            aria-label="Close"
            data-dismiss="modal"
            type="button"
          }
            span aria-hidden="true"  &times;
          h4.modal-title {
            ng-if="!model.id"
            translate="model.department.CREATE_TITLE"
          }
          h4.modal-title {
            ng-if="model.id"
            translate="model.department.EDIT_TITLE"
          }

        .modal-body
          label
            | {{ departmentStatic.labels['name'] }}
          field {
            type="'text'"
            model="department"
            field="'name'"
            template="'input,error'"
          }

          label
            | {{ departmentStatic.labels['color'] }}
          field {
            type="'color'"
            model="department"
            field="'color'"
            options="colors"
            template="'input,error'"
          }

        .modal-footer
          button.btn.btn-default {
            data-dismiss="modal"
            type="button"
            translate="common.CLOSE"
          }

          button.btn.btn-primary {
            type="submit"
            translate="common.SAVE"
            ng-disabled="!department.name || !department.color"
          }

          span.btn.btn-danger.pull-left {
            ng-if="department.id && department.editable && user.can('destroy', 'Department', {company_id: department.company_id})"
            ng-click="delete(department.id)"
            translate="common.DELETE"
          }