.w-230 {
    width: 230px;
}
.inline-block {
    display: inline-block;
}

// MARGINS
.margin-right-3 {
    margin-right: 3px;
}
.margin-left-3 {
    margin-left: 3px;
}
.margin-right-5 {
    margin-right: 5px;
}
.margin-top-8 {
    margin-top: 8px;
}

.m-top-4 {
    margin-top: 4px;
}
.m-top-5 {
    margin-top: 5px;
}
.m-top-7 {
    margin-top: 7px;
}
.m-top-15 {
    margin-top: 15px;
}
.m-top-25 {
    margin-top: 25px;
}
.m-right-15 {
    margin-right: 15px;
}
.m-left-15 {
    margin-left: 15px;
}
.m-bottom-15 {
    margin-bottom: 15px;
}

// COLORS
.white-bg {
    background: #fff;
}

// PADDINGS
.p-top-15 {
    padding-top: 15px;
}
.p-right-15 {
    padding-right: 15px;
}
.p-left-0 {
    padding-left: 0;
}
.p-left-15 {
    padding-left: 15px;
}
.p-bottom-15 {
    padding-bottom: 15px;
}


.l-h-30 {
    line-height: 30px;
}
.l-h-18 {
    line-height: 18px;
}

.nowrap {
    white-space: nowrap;
}
.cur-p {
    cursor: pointer;
}
.bg-size-contain {
    background-size: contain !important;
}
.table-fixed {
    table-layout: fixed;
}

// TEXT ALIGN
.text-left-lg {
    @media screen and (max-width: 1199px) {
        text-align: left;
    }
}
.text-left-md {
    @media screen and (min-width: 991px) {
        text-align: left;
    }
}
.text-left-sm {
    @media screen and (max-width: 991px) {
        text-align: left;
    }
}
.text-right-sm {
    @media screen and (max-width: 991px) {
        text-align: right;
    }
}
.text-left-m {
    @media screen and (min-width: 320px) {
        text-align: left;
    }
}

// COLUMNS MOBILES
@media screen and (max-width: 480px) {
    .col-m-1 {
        width: 8.33333333%;
    }
    .col-m-2 {
        width: 16.66666667%;
    }
    .col-m-3 {
        width: 25%;
    }
    .col-m-4 {
        width: 33.33333333%;
    }
    .col-m-5 {
        width: 41.66666667%;
    }
    .col-m-6 {
        width: 50%;
    }
    .col-m-7 {
        width: 58.33333333%;
    }
    .col-m-8 {
        width: 66.66666667%;
    }
    .col-m-9 {
        width: 75%;
    }
    .col-m-10 {
        width: 83.33333333%;
    }
    .col-m-11 {
        width: 91.66666667%;
    }
    .col-m-12 {
        width: 100%;
    }
}
.visible-m {
    @media screen and (min-width: 480px) {
        display: none !important;
    }
}

@media screen and (max-width: 991px) {
    .text-align-sm {
        text-align: center;
    }
}
    