.row
  .col-xs-5
    ui-select.add-deal-product-component {
      ng-model="$ctrl.selectedDealProduct.product"
      on-select="$ctrl.selectedDealProduct.count = 1"
    }
      ui-select-match placeholder="Введите продукт"
        span
          | {{$select.selected.name}}

      ui-select-choices {
        repeat="searchedProduct in $ctrl.searchedProducts track by searchedProduct.id"
        refresh="$ctrl.searchProduct($select.search)"
        minimum-input-length="3"
      }
        .row
          .col-xs-5.text-ellipsis {
            uib-tooltip="{{ searchedProduct.name }}"
            tooltip-class="tooltip-overlay"
          }
            i.fa.fa-circle {
              style="color: {{'#'+searchedProduct.category.color}}; margin-right: 2px;"
              uib-tooltip="Категория '{{searchedProduct.category.name}}'"
            }
            | &nbsp;
            | {{ searchedProduct.barcode }}:{{ searchedProduct.name }}
          span.col-xs-3
            | {{ searchedProduct.price | formatMoney: $ctrl.companyCurrency  }}
          span.col-xs-4
            | {{ searchedProduct.vendor_code }}

  .col-xs-2
    p.form-control-static
      | {{ $ctrl.selectedDealProduct.product.price || 0 | formatMoney: $ctrl.companyCurrency }}

  .col-xs-2
    field-wrap errors="$ctrl.errors.count"
      input.form-control {
        placeholder="шт."
        type="number"
        min="0"
        ng-model="$ctrl.selectedDealProduct.count"
        ng-change="$ctrl.validateCount()"
      }
    .m-t

  .col-xs-3
    button.inline.btn.btn-success.btn-md.btn-addon.text-ellipsis {
      style="max-width: 100%;"
      type="button"
      uib-tooltip="Сумма: {{ ($ctrl.selectedDealProduct.product.price * $ctrl.selectedDealProduct.count) | formatMoney: $ctrl.companyCurrency }}"
      tooltip-placement="left"
      ng-click="$ctrl.submit()"
      ng-disabled="$ctrl.errors.count.length > 0 || !$ctrl.selectedDealProduct.count || !$ctrl.selectedDealProduct.product.id"
    }
      i.icon-calculator.text
      span.text
        | {{ ($ctrl.selectedDealProduct.product.price * $ctrl.selectedDealProduct.count) || 0 | formatMoney: $ctrl.companyCurrency }}
