.app-content
  .app-content-body
    .bg-light.lter.b-b.wrapper-md
      .row
        .col-sm-6.col-xs-12
          h1.m-n.font-thin.h3 translate="model.company.PAGE_TITLE"
          small.text-muted translate="model.company.SUB_TITLE"
        .col-sm-6.text-right.hidden-xs
          .inline.m-r.text-left
            h1.inline.m-r.text-right.font-thin.h3 style="margin: 8px 0 0 0"
              a.btn.btn-sm.btn-default.btn-addon {
                href="companies/new"
                ng-if="user.can('create', 'Company')"
              }
                i.fa.fa-plus.text
                span.text translate="model.company.CREATE_COMPANY"

  .wrapper-md
    .row
      .col-md-4 {
        ng-repeat="employee in user.employees"
      }
        .panel.b-a
          .panel-heading.bg-info.dk.no-border.wrapper-lg
            a.btn.btn-sm.btn-icon.btn-rounded.btn-info.pull-right.m-r {
              href="/companies/{{employee.company.id}}/crm"
            }
              i.icon-cursor

            a.btn.btn-sm.btn-icon.btn-rounded.btn-info.m-l {
              ng-if="user.can('update', 'Company', employee.company.id)"
              href="companies/{{::employee.company.id}}/edit"
            }
              i.fa.fa-pencil
            span {
              style="height: 30px; display: block;"
              ng-if="!user.can('update', 'Company', employee.company.id)"
            }

          .text-center.m-b.clearfix
            .thumb-xl.m-t-n-xxl
              a.col.text-muted.company-logo {
                href="companies/{{::employee.company.id}}"
                style="background-image: url(
                        {{::employee.company.logo.url || 'assets/img/p0.jpg' }}
                      )"
              }

            .h4.font-thin.m-t-sm.trim-long-text
              | {{::employee.company.name}}

          .panel-heading.bg-primary.lt
            .m-sm
              span.pull-right
                i.fa.fa-caret-up.text-warning.text-lg
              span.h4.text-white translate="model.company.SALES_FACT"

            .text-center.m-t-md
              div {
                ui-jq="sparkline"
                ui-refresh="employee.company.income_from_deals_by_days"
                ui-options="
                  {{::employee.company.income_from_deals_by_days || []}},
                  {type:'line', height:80, width: '100%', lineWidth:4, lineColor:'#fff', spotColor:'#fff', fillColor:'', highlightLineColor:'#fff', spotRadius:6, minSpotColor:'#fad733', maxSpotColor:'#23b7e5'}"
              }

          .hbox.bg-primary.bg
            .col.wrapper
              span
                | {{'model.company.FACT' | translate}}, {{employee.company.currency}}
              .h1.text-info.font-thin.text-ellipsis {
                uib-tooltip="{{ employee.company.actual_income | formatMoney:'':0 }}"
              }
                | {{ employee.company.actual_income | formatMoney:'':0 }}
            .col.wrapper.bg-info
              span
                | {{'model.company.PLAN' | translate}}, {{employee.company.currency}}
              .h1.text-warning.font-thin.text-ellipsis {
                uib-tooltip="{{ employee.company.plan_income | formatMoney:'':0 }}"
              }
                | {{ employee.company.plan_income | formatMoney:'':0 }}

          .hbox.text-center.b-b.b-light.text-sm
            a.col.padder-v.text-muted.b-r.b-light {
              href="companies/{{employee.company.id}}/deals"
            }
              .h4
                | {{ employee.company.deals_count }}
              span translate="model.company.DEALS_COUNT"

            a.col.padder-v.text-muted.b-r.b-light {
              href="companies/{{employee.company.id}}/clients"
            }
              .h4
                | {{ employee.company.clients_count }}
              span translate="model.company.CLIENTS_COUNT"

            a.col.padder-v.text-muted.b-r.b-light {
              href="companies/{{employee.company.id}}/leads"
            }
              .h4
                | {{ employee.company.leads_count }}
              span translate="model.company.LEADS_COUNT"

            a.col.padder-v.text-muted.b-r.b-light {
              href="companies/{{employee.company.id}}/products"
            }
              .h4
                | {{ employee.company.products_count }}
              span translate="model.company.PRODUCTS_COUNT"

          .hbox.text-center.b-t.b-light
            a.col.padder-v.text-muted.b-r.b-light {
              href="companies/{{::employee.company.id}}"
            }
              i.icon-speedometer.block.m-b-xs.fa-2x
              span
                | Dashboard

            a.col.padder-v.text-muted.b-r.b-light {
              href="/companies/{{::employee.company.id}}/crm"
            }
              i.icon-rocket.block.m-b-xs.fa-2x
              span
                | CRM

            a.col.padder-v.text-muted {
              href="/companies/{{::employee.company.id}}/sales-report"
            }
              i.icon-bar-chart.block.m-b-xs.fa-2x
              span
                | BA&amp;BI
