.modal role="dialog" tabindex="-1"
  .modal-dialog
    .modal-content
      .modal-header
        button.close {
          aria-label="Close"
            data-dismiss="modal"
            type="button"
          }
            span aria-hidden="true"  &times;
        h4.modal-title
          | {{'model.client.SEARCH_RESULTS' | translate: titleI18nParams}}


      .modal-body
        div ng-include="'/assets/views/companies/_user_search_results_list.html'"

        button.btn.btn-primary.m-b ng-click="createNewUser()" translate="form.supplier.NEW_SUPPLIER_ACTION"
