.app-content
  .app-content-body.fade-in
    .fade-in-down
      .bg-light.lter.b-b.wrapper-md
        .row
          .col-sm-12.col-xs-12
            h1.m-n.font-thin.h3
              span
                i.icon-user
              | &nbsp;
              | {{ 'form.change_password.TITLE' | translate }}
            p.clear.text-ellipsis
              | {{ 'form.change_password.DESCRIPTION' | translate }}

      .wrapper-md
        .row
          .col-lg-2
          .col-lg-8
            form name="form" ng-submit="submit()"
              .panel.panel-default
                .panel-body ng-show="!changeSuccessMessage"
                  .row
                    .col-md-1
                    .col-md-4.l-h-30
                      span.text
                        i.fa.icon-user.text.m-r-xs
                        | {{ 'form.change_password.PASSWORD' | translate }}
                    .col-md-6.l-h-30
                      field {
                        type="'password'"
                        model="changePasswordForm"
                        field="'password'"
                        template="'input,error'"
                        required="true"
                        min-length="8"
                      }

                  .line.line-dashed.b-b.line-lg.pull-in
                  .row
                    .col-md-1
                    .col-md-4.l-h-30
                      span.text
                        i.fa.icon-user.text.m-r-xs
                        | {{ 'form.change_password.PASSWORD_CONFIRMATION' | translate }}
                    .col-md-6.l-h-30
                      field {
                        type="'password'"
                        model="changePasswordForm"
                        field="'password_confirmation'"
                        template="'input,error'"
                        required="true"
                        min-length="8"
                      }

                  .line.line-dashed.b-b.line-lg.pull-in
                  .row
                    .col-md-1
                    .col-md-3
                    .col-md-7.l-h-30
                      a.btn.btn-default {
                        href="/profile"
                      }  
                        | {{ 'form.change_password.CANCEL' | translate }}
                      | &nbsp;
                      button.btn.btn-primary {
                        type="submit"
                        ng-disabled="form.$invalid"
                      }
                        | {{ 'form.change_password.SAVE' | translate }}

                .panel-body ng-show="changeSuccessMessage"
                  p.text-center
                    | {{changeSuccessMessage}}


          div ng-include="" src="'assets/views/layout/blocks/footer.html'"
