.container.w-xxl.w-auto-xs
  a.navbar-brand.block.m-t href="" 
    | beeqb
  .m-b-lg
    .wrapper.text-center
      strong translate="form.restore_password.TITLE"

    form {
      class="restore-password-form"
      name="form"
      ng-submit="submit()"
    } 
      .list-group.list-group-sm
        .list-group-item
          field {
            model="user"
            field="'email'"
            type="'email'"
            attr-class="'no-border'"
            template="'input,error'"
            required="true"
          }

      button.btn.btn-lg.btn-primary.btn-block {
        type="submit"
        ng-disabled="form.$invalid"
        translate="form.restore_password.SUBMIT"
      }

  .text-center
    p
      small.text-muted
        | ADaM | beeqb - пожалуй, самая полезная бизнес-
        br
        | система в мире
        br
        | &copy; 2017
