.container.w-xxl.w-auto-xs
  a.navbar-brand.block.m-t href="" 
    | beeqb
  .m-b-lg
    .wrapper.text-center
      strong translate="form.sign_in.SIGN_IN_TO_GET_IN_TOUCH"

    form {
      class="sing-in-form"
      name="form"
      ng-submit="submit()"
    } 
      .list-group.list-group-sm
        .list-group-item
          field {
            model="user"
            field="'email'"
            type="'email'"
            attr-class="'no-border'"
            template="'input,error'"
            required="true"
          }
        .list-group-item
          field {
            model="user"
            field="'password'"
            type="'password'"
            attr-class="'no-border'"
            template="'input,error'"
            required="true"
            min-length="8"
          }

      p.text-center
        a.text-danger {
          href=""
          ng-click="resendConfirmationEmail()"
          ng-if="showResendConfirmationButton"
          translate="form.sign_in.RESEND_CONFIRMATION_EMAIL"
        }
        span.text-success {
          ng-if="confirmationEmailWasResend"
          translate="form.sign_in.CONFIRMATION_EMAIL_WAS_RESEND"
        }

      button.btn.btn-lg.btn-primary.btn-block {
        type="submit"
        ng-disabled="form.$invalid"
        translate="form.sign_in.SIGN_IN"
      }

      .text-center
        br
        ulogin {
          fields="'first_name,email,last_name,sex,photo_big,bdate,phone,city,country'"
          optional="'phone, bdate'"
          callback="'authWithFacebook'"
        }

      .text-center.m-t.m-b
        a {
          href="users/restore_password?email={{user.email}}"
          translate="form.sign_in.FORGOT_PASSWORD"
        }

      .line.line-dashed

      p.text-center
        small {
          translate="form.sign_in.DO_NOT_HAVE_ACCOUNT"
        }

      a.btn.btn-lg.btn-default.btn-block {
        href="users/sign_up"
        translate="form.sign_in.CREATE_ACCOUNT"
      }

  .text-center
    p
      small.text-muted
        | ADaM | beeqb - пожалуй, самая полезная бизнес-
        br
        | система в мире
        br
        | &copy; 2017
