.container.w-xxl.w-auto-xs
  a.navbar-brand.block.m-t href="" 
    | beeqb
  .m-b-lg
    .wrapper.text-center
      strong translate="form.sign_up.SIGN_UP_TO_FIND_INTERESTING_THING"

    form {
      class="sing-up-form"
      name="form" 
      method="post" 
      ng-submit="submit()"
    }
      .list-group.list-group-sm
        .list-group-item
          field {
            type="'name'"
            model="user"
            field="'name'"
            attr-class="'no-border'"
            attr-name="'name'"
            template="'input'"
            required="true"
          }
        .list-group-item
          field {
            type="'email'"
            model="user"
            field="'email'"
            attr-class="'no-border'"
            attr-name="'email'"
            template="'input,error'"
            required="true"
          }
        .list-group-item
          field {
            type="'password'"
            model="user"
            field="'password'"
            attr-class="'no-border'"
            attr-name="'password'"
            template="'input,error'"
            required="true"
            min-length="8"
          }
      field {
        type="'checkbox'"
        model="user"
        field="'agree'"
        attr-name="'agree'"
        template="'input,label,error'"
        required="true"
      }

      button.btn.btn-lg.btn-primary.btn-block {
        type="submit"
        ng-disabled="form.$invalid"
        translate="form.sign_up.SIGN_UP"
      }

      .text-center
        br
        ulogin {
          fields="'first_name,email,last_name,sex,photo_big,bdate,phone,city,country'"
          optional="'phone, bdate'"
          callback="'signUpWithFacebook'"
        }

      .line.line-dashed

      p.text-center
        small {
          translate="form.sign_up.ALREADY_HAVE_ACCOUNT"
        }

      a.btn.btn-lg.btn-default.btn-block {
        href="users/sign_in"
        translate="form.sign_in.SIGN_IN"
      }

  .text-center
    p
      small.text-muted
        | ADaM | beeqb - пожалуй, самая полезная бизнес-
        br
        | система в мире
        br
        | &copy; 2017
