.app-content
  .app-content-body.fade-in
    .fade-in-down
      .wrapper-md.bg-light.lter.b-b
        .row
          .col-sm-12.col-xs-12
            h1.m-n.font-thin.h3 {
              ng-if="!UsersViewForm.$visible"
            }

              span
                i.icon-user
              | &nbsp;
              span translate="model.user.PROFILE_TITLE"

            h1.m-n.font-thin.h3 {
              ng-if="UsersViewForm.$visible"
            }

              span
                i.icon-user
              | &nbsp;
              span translate="model.user.EDIT_PROFILE_TITLE"

      .wrapper-md
        .row
          .col-lg-2
          .col-lg-8
            form {
              editable-form
              onbeforesave="submit($data)"
              name="UsersViewForm"
            }
              .panel.panel-default
                .panel-body.pos-rlt
                  .profile-switcher {
                    uib-tooltip="{{ userStatic.labels.xedit_title }}"
                  }
                    switcher {
                      checked="true"
                      confirm-exit="true"
                      xeditable="UsersViewForm"
                    }

                  .clearfix.text-center.m-t
                    .inline.clearfix
                      div {
                        class="
                          {{preloaderClass}}
                          profile-avatar
                          m-b-xs
                          pos-rlt
                          img-circle"
                        style="background-image: url({{user.image.url || 'assets/img/default-avatar.png'}})"
                      }
                        .pos-abt
                          easyPieChart {
                            style="width: 100px; height: 100px; line-height: 100px;"
                            options="avatarChartOptions"
                            percent="user.profile_fullness"
                          }
                      .h4.m-t.m-b-xs ng-if="user.name"
                        | {{user.appeal_id | ref:userStatic.references.appeals}} {{user | fullname}}
                      small.text-muted.m-b.block ng-if="user.birthday"
                        | {{ user.birthday | date:'dd.MM.yyyy' }}

                footer.panel-footer.bg-success.text-center.no-padder ng-hide="UsersViewForm.$visible"
                  .row.no-gutter
                    .col-xs-4
                      .wrapper
                        span.m-b-xs.h3.block.text-white
                          | {{user.created_at | date:'dd.MM.yyyy'}}
                        small.text-muted translate="form.profile.REGISTRATION_DATE"

                    .col-xs-4.dk
                      .wrapper
                        span.m-b-xs.h3.block.text-white
                          | $ {{user.balance}}
                        small.block.m-b-xs.text-muted translate="form.profile.BALANCE"
                        a.btn.btn-default translate="form.profile.FILL_UP"

                    .col-xs-4
                      .wrapper
                        span.m-b-xs.h3.block.text-white
                          | $ {{user.bonus}}
                        small.text-muted translate="form.profile.BONUS"

                .panel-body
                  .row ng-show="UsersViewForm.$visible"
                    .col-sm-1
                    .col-sm-3
                      div.clear {
                        delete-image
                        default="defaultAvatar"
                        ng-model="user.image"
                      }
                    .col-sm-7.m-t-sm
                      field{
                        type="'file'"
                        model="user"
                        field="'new_image'"
                        template="'input'"
                      }

                  div ng-if="UsersViewForm.$visible"
                    .line.line-dashed.b-b.line-lg.pull-in
                    .row
                      .col-sm-1
                      .col-sm-3.l-h-30
                        span
                          i.fa.icon-user.text.m-r-xs
                        | &nbsp;
                        span.text
                          | {{ ::userStatic.labels.appeal }}:
                      .col-sm-7.l-h-30
                        span.text {
                          editable-select="user.appeal_id"
                          e-ng-options="appeal.id as appeal.name for appeal in userStatic.references.appeals"
                          e-name="appeal_id"
                          e-form="UsersViewForm"
                          e-ng-change="validate('appeal_id', $data)"
                          e-placeholder=" --- "
                        }
                          | {{ user.appeal_id | ref:userStatic.references.appeals }}

                  div ng-if="UsersViewForm.$visible"
                    .line.line-dashed.b-b.line-lg.pull-in
                    .row
                      .col-sm-1
                      .col-sm-3.l-h-30
                        span
                          i.fa.icon-user.text.m-r-xs
                        | &nbsp;
                        span.text
                          | {{ userStatic.labels.name }}:

                      .col-sm-7.l-h-30.w-100
                        span.text {
                          buttons="no"
                          editable-text="user.name"
                          e-name="name"
                          e-form="UsersViewForm"
                          e-ng-change="validate('name', $data)"
                        }
                          | {{ user.name || '' }}

                  div ng-if="UsersViewForm.$visible"
                    .line.line-dashed.b-b.line-lg.pull-in
                    .row
                      .col-sm-1
                      .col-sm-3.l-h-30
                        span
                          i.fa.icon-user.text.m-r-xs
                        | &nbsp;
                        span.text
                          | {{ userStatic.labels.surname }}:

                      .col-sm-7.l-h-30.w-100
                        span.text {
                          buttons="no"
                          editable-text="user.surname"
                          e-name="surname"
                          e-form="UsersViewForm"
                          e-ng-change="validate('surname', $data)"
                        }
                          | {{ user.surname || '' }}

                  div ng-if="UsersViewForm.$visible"
                    .line.line-dashed.b-b.line-lg.pull-in
                    .row
                      .col-sm-1
                      .col-sm-3.l-h-30
                        span
                          i.fa.icon-calendar.text.m-r-xs
                        | &nbsp;
                        span.text
                          | {{ ::userStatic.labels.birthday }}:

                      .col-sm-7.l-h-30.w-100
                        div {
                          editable-bsdate="user.birthday"
                          e-datepicker-popup="dd.MM.yyyy"
                          e-is-open="isOpen"
                          e-ng-click="isOpen = !isOpen"
                          e-name="birthday"
                          e-ng-change="validate('birthday', $data)"
                          e-form="UsersViewForm"
                        }

                  .line.line-dashed.b-b.line-lg.pull-in
                  .row
                    .col-sm-1
                    .col-sm-3.l-h-30
                      span
                        i.fa.icon-globe.text.m-r-xs
                      | &nbsp;
                      span.text
                        | {{ ::userStatic.labels.lang }}:
                    
                    .col-sm-7.l-h-30.w-100
                      span.text {
                        editable-select="user.lang"
                        e-ng-options="lang.id as lang.name for lang in userStatic.references.languages"
                        e-name="lang"
                        e-form="UsersViewForm"
                        e-ng-change="validate('lang', $data)"
                      }
                        | {{ user.lang | ref:userStatic.references.languages }}

                  div ng-if="user.address || UsersViewForm.$visible"
                    .line.line-dashed.b-b.line-lg.pull-in
                    .row
                      .col-sm-1
                      .col-sm-3.l-h-30
                        span
                          i.fa.icon-direction.text.m-r-xs
                        | &nbsp;
                        span.text
                          | {{ ::userStatic.labels.address }}:
                      
                      .col-sm-7.l-h-30.w-100
                        span {
                          editable-text="user.address"
                          e-name="address"
                          e-form="UsersViewForm"
                          e-ng-change="user.address = $data; validate('address', $data);"
                        }
                          | {{ user.address }}

                  div ng-if="UsersViewForm.$visible"
                    .line.line-dashed.b-b.line-lg.pull-in
                    map {
                      map="map"
                      detect="!user.latitude && !user.longitude"
                      address="user.address"
                      on-change="updatePhoneCodeByCountry(countryCode)"
                      errors="user.errors"
                      latitude="user.latitude"
                      longitude="user.longitude"
                    }

                  div ng-if="user.sex || UsersViewForm.$visible"
                    .line.line-dashed.b-b.line-lg.pull-in
                    .row
                      .col-sm-1
                      .col-sm-3.l-h-30
                        span
                          i.fa.icon-moustache.text.m-r-xs
                        | &nbsp;
                        span.text
                          | {{ ::userStatic.labels.sex }}:
                      .col-sm-7.l-h-30
                        span {
                          editable-radiolist="user.sex"
                          e-ng-options="s.id as s.name for s in userStatic.references.genders"
                          e-class="custom_radio radio"
                          e-name="sex"
                          e-form="UsersViewForm"
                        }
                          | {{ user.sex | ref:userStatic.references.genders }}

                  .line.line-dashed.b-b.line-lg.pull-in ng-show="UsersViewForm.$visible"
                  .row ng-show="UsersViewForm.$visible"
                    .col-sm-1
                    .col-sm-3.l-h-30
                      span
                        i.fa.icon-key.text.m-r-xs
                      | &nbsp;
                      span.text
                        | {{ ::userStatic.labels.password }}:
                    .col-sm-7
                      btn.btn.btn-default {
                        type="button"
                        ng-click="sendChangePasswordInstructions()"
                        ng-show="!changePasswordInstructionsSent"
                        translate="form.CHANGE_PASSWORD"
                      }

                      p.form-control-static {
                        ng-show="changePasswordInstructionsSent"
                        translate="form.CHANGE_PASSWORD_INSTRUCTIONS_SENT"
                      }

                  div ng-if="user.cell_phone_code_id || UsersViewForm.$visible"
                    .line.line-dashed.b-b.line-lg.pull-in
                    .row
                      .col-sm-1
                      .col-sm-3.l-h-30
                        span
                          i.fa.icon-screen-smartphone.text.m-r-xs
                        | &nbsp;
                        span.text
                          | {{ ::userStatic.labels.cell_phone }}:

                      .col-sm-7.l-h-30 ng-show="!UsersViewForm.$visible"
                        | {{user.cell_phone_code_id | ref:userStatic.references.country_phone_codes:'code'}}
                        | &nbsp;
                        | {{user.cell_phone || '' }}

                      .col-sm-3.col-xs-12.l-h-30 ng-show="UsersViewForm.$visible"
                        span.text {
                          editable-select="user.cell_phone_code_id"
                          e-ng-options="c.id as c.name for c in userStatic.references.country_phone_codes"
                          e-name="cell_phone_code_id"
                          e-form="UsersViewForm"
                          e-ng-change="validate('cell_phone_code_id', $data)"
                          e-placeholder=" --- "
                        }

                      .col-xs-12.visible-xs.m-t

                      .col-sm-4.col-xs-12.l-h-30.w-100 {
                        ng-show="UsersViewForm.$visible"
                      }
                        span.text {
                          buttons="no"
                          editable-text="user.cell_phone"
                          e-name="cell_phone"
                          e-ui-options="maskOptions"
                          e-ui-mask="xxxxxxxxxxxxxxxxxxxx"
                          e-form="UsersViewForm"
                          e-ng-change="validate('cell_phone', $data)"
                        }

                      

                  div ng-if="showWorkPhonesLabel && !UsersViewForm.$visible"
                    .line.line-dashed.b-b.line-lg.pull-in ng-if="showWorkPhonesLabel"
                    .row
                      .col-sm-1
                      .col-sm-3.l-h-30
                        span
                          i.fa.icon-screen-smartphone.text.m-r-xs
                        | &nbsp;
                        span.text translate="form.profile.WORK_PHONES"
                      .col-sm-7.l-h-30
                        div {
                          ng-repeat="employee in user.employees"
                        }
                          div ng-repeat="phone in employee.employee_phones | filter: {kind: 'work'}"
                            span
                              | {{ (phone.country_phone_code.code || '') }}
                              | &nbsp;
                              | {{ (phone.phone || '') }}
                              | &nbsp;
                              | ({{ (phone.company_name || '') }})

                  div ng-if="showMobileWorkPhonesLabel && !UsersViewForm.$visible"
                    .line.line-dashed.b-b.line-lg.pull-in
                    .row
                      .col-sm-1
                      .col-sm-3.l-h-30
                        span
                          i.fa.icon-screen-smartphone.text.m-r-xs
                        | &nbsp;
                        span.text translate="form.profile.WORK_CELL_PHONES"
                      .col-sm-7.l-h-30
                       div {
                         ng-repeat="employee in user.employees"
                       }
                         div ng-repeat="phone in employee.employee_phones | filter: {kind: 'cell'}"
                           span
                             | {{ (phone.country_phone_code.code || '') }}
                             | &nbsp;
                             | {{ (phone.phone || '') }}
                             | &nbsp;
                             | ({{ (phone.company_name || '') }})
                  .line.line-dashed.b-b.line-lg.pull-in
                  .row
                    .col-sm-1
                    .col-sm-3.l-h-30
                      span.text
                        i.fa.icon-envelope-letter.text.m-r-xs
                      | {{ ::userStatic.labels.email }}:
                    
                    .col-sm-7.l-h-30.w-100
                      span.text {
                        buttons="no"
                        editable-email="user.email"
                        e-name="email"
                        e-form="UsersViewForm"
                        e-ng-change="validate('email', $data)"
                      }
                        | {{ user.email || '' }}

                  div ng-if="user.facebook_link || UsersViewForm.$visible"
                    .line.line-dashed.b-b.line-lg.pull-in
                    .row
                      .col-sm-1
                      .col-sm-3.l-h-30
                        span
                          i.fa.icon-social-facebook.text.m-r-xs
                        | &nbsp;
                        span.text
                          | {{ ::userStatic.labels.facebook }}:

                      .col-sm-6.l-h-30.w-100
                        span.text {
                          buttons="no"
                          editable-text="user.facebook_link"
                          e-name="facebook_link"
                          e-form="UsersViewForm"
                          e-readonly="true"
                          e-ng-change="validate('facebook_link', $data)"
                        }
                          nobr
                            a href="{{ user.facebook_link }}" target="_blank"
                              | {{ user.name + user.surname }}

                      .col-sm-1.l-h-30 ng-show="UsersViewForm.$visible && !user.facebook_identity"
                        ulogin {
                          uib-tooltip="{{ userStatic.labels.add_facebook_link }}"
                          style="
                            padding-top: 10px;
                            padding-left: 7px;
                            height: 28px;
                            width: 28px;
                            overflow: hidden;
                            display: block;
                          "
                          display="'small'"
                          fields="'first_name,email'"
                          optional="'phone, bdate'"
                          providers="'facebook'"
                          callback="'linkFacebookProfile'"
                        }

                      .col-sm-1.l-h-30 ng-show="UsersViewForm.$visible && user.facebook_identity"
                        p
                          a href="" ng-click="unbindFacebook()"
                            i.fa.fa-times.text-danger

                  div ng-if="user.skype || UsersViewForm.$visible"
                    .line.line-dashed.b-b.line-lg.pull-in
                    .row
                      .col-sm-1
                      .col-sm-3.l-h-30
                        span
                          i.fa.icon-speech.text.m-r-xs
                        | &nbsp;
                        span.text
                          | {{ ::userStatic.labels.skype }}:

                      .col-sm-7.l-h-30.w-100
                        span.text {
                          buttons="no"
                          editable-text="user.skype"
                          e-name="skype"
                          e-form="UsersViewForm"
                          e-ng-change="validate('skype', $data)"
                        }
                          | {{ user.skype || '' }}

                  div ng-if="user.whatsapp || UsersViewForm.$visible"
                    .line.line-dashed.b-b.line-lg.pull-in
                    .row
                      .col-sm-1
                      .col-sm-3.l-h-30
                        span
                          i.fa.icon-speech.text.m-r-xs
                        | &nbsp;
                        span.text
                          | {{ ::userStatic.labels.whatsapp }}:

                      .col-sm-7.l-h-30.w-100
                        span.text {
                          buttons="no"
                          editable-text="user.whatsapp"
                          e-name="whatsapp"
                          e-form="UsersViewForm"
                          e-ng-change="validate('whatsapp', $data)"
                        }
                          | {{ user.whatsapp }}

                  div ng-if="user.viber || UsersViewForm.$visible"
                    .line.line-dashed.b-b.line-lg.pull-in
                    .row
                      .col-sm-1
                      .col-sm-3.l-h-30
                        span
                          i.fa.icon-speech.text.m-r-xs
                        | &nbsp;
                        span.text
                          | {{ ::userStatic.labels.viber }}:

                      .col-sm-7.l-h-30.w-100
                        span.text {
                          buttons="no"
                          editable-text="user.viber"
                          e-name="viber"
                          e-form="UsersViewForm"
                          e-ng-change="validate('viber', $data)"
                        }
                          | {{ user.viber }}

                  .line.line-dashed.b-b.line-lg.pull-in
                  .row
                    .col-sm-1
                    .col-sm-3
                      span
                        i.fa.icon-globe-alt.text.m-r-xs
                      | &nbsp;
                      span.text translate="form.profile.MY_COMPANIES"
                    .col-sm-12.visible-xs.m-t
                    .col-sm-7
                      .clear.m-b-sm.text-left {
                        ng-repeat="item in user.departments_in_companies"
                      }
                        span.inline.v-middle.thumb-sm.m-r.avatar-40 {
                          style="background-image: url({{item.company.logo.url  || 'assets/img/p0.jpg'}})"
                        }
                        span.inline.v-middle.clear.text-ellipsis {
                          uib-tooltip="{{::item.company.name}}"
                          tooltip-append-to-body="true"
                          tooltip-class="tooltip-overlay"
                          style="max-width: 200px;"
                        }
                          span
                            | {{::item.company.name}}
                          .label.clear {
                            ng-if="item.dismissed"
                            style="background-color: #98a6ad"
                          }
                            | Уволен
                          small.text-muted.clear.text-ellipsis {
                            ng-if="!item.dismissed"
                            ng-repeat="department in item.departments"
                          }
                            i.fa.fa-circle.text-primary.m-r-xs
                            | {{ ::department.position}}

                  .line.line-dashed.b-b.line-lg.pull-in
                  .row ng-if="user.companies_client_in.length > 0"
                    .col-sm-1
                    .col-sm-3
                      span
                        i.fa.icon-basket-loaded.text.m-r-xs
                      | &nbsp;
                      span.text translate="form.profile.I_AM_CLIENT_OF"
                    .col-sm-7
                      .m-b-sm ng-repeat="company in user.companies_client_in"
                        span.inline.v-middle.thumb-sm.m-r.avatar-40 {
                          style="background-image: url({{company.logo.url  || 'assets/img/p0.jpg'}})"
                        }
                        span.inline.v-middle.clear
                          span
                            | {{::company.name}}
                          small.text-muted.clear.text-ellipsis
                            i.fa.icon-trophy
                            | &nbsp;1234,
                            i.fa.icon-emoticon-smile
                            | &nbsp;-15%

                  .pull-right uib-tooltip="{{ userStatic.labels.xedit_title }}"
                    switcher {
                      checked="true"
                      xeditable="UsersViewForm"
                    }

          div ng-include="" src="'assets/views/layout/blocks/footer.html'"
