.app-content
  .app-content-body
    .bg-light.lter.b-b.wrapper-md
      .row
        .col-sm-6.col-xs-12
          .dropdown.open uib-dropdown=""
            h1.m-n.font-thin.h3.text-black
              span
                i.icon-bar-chart.margin-right-3
              a.dropdown-toggle {
                uib-dropdown-toggle

              }
                | Кассовая книга
                span.caret
            ul.dropdown-menu role="menu"
              li
                a href="/companies/{{companyId}}/sales-report" Отчет по продажам
              li
                a href="/companies/{{companyId}}/break-even-analysis" Анализ безубыточности
              li
                a href="/companies/{{companyId}}/budget" Фактический бюджет
              li.divider
              li
                a href="#" Статистика клиентов
              li.divider
              li
                a href="/companies/{{companyId}}/sales_plans" План продаж
              li
                a href="/companies/{{companyId}}/cash_book" Журнал кассовой книги

            small.text-muted
              | {{company.name}}
        .col-sm-6.text-right.hidden-xs
          company-clients-and-income {
            ng-if="company"
            currency="company.currency"
            created-clients-count-by-days="company.created_clients_count_by_days"
            clients-count="company.clients_count"
            actual-income-by-days="company.actual_income_by_days"
            actual-income="company.actual_income"
          }

    actual-budget-widget company="company"

    .wrapper-md
      .panel.panel-default
        .panel-body.b-b.b-light
          .row
            .btn-group.m-l-sm.m-b-sm
              button.btn.btn-default {
                type="button"
                ng-repeat="category in references.categories | filter:isCategoryAllowed"
                ng-click="toggleCategory(category.id)"
              }
                span.margin-right-3.inline-block.pull-left
                  | {{category.name}}
                b.inline.v-middle.badge.m-l-xs
                  | {{counts[category.id] || 0}}
            div.clearfix
            table.table.table-striped.m-b-none.ng-isolate-scope
              tbody
                tr
                  td.v-middle.col-md-1
                    | Баланс:
                  td.text-info.h3.v-middle
                    | {{cashBookRecords[0].balance | formatMoney:company.currency}}
                  td.v-middle.v-middle.col-md-2
                    | Средний доход в месяц:
                  td.h3.v-middle
                    | {{statistics.avg_monthly_income - statistics.avg_monthly_outcome | formatMoney:company.currency}}
                tr
                  td.v-middle.col-md-1
                    | Приход:
                  td.text-info.h3.v-middle
                    | {{statistics.total_income | formatMoney:company.currency}}
                  td.v-middle.col-md-2
                    | Средний приход в месяц:
                  td.h3.v-middle
                    | {{statistics.avg_monthly_income | formatMoney:company.currency}}
                  tr
                    td.v-middle.col-md-1
                      | Расход:
                    td.text-info.h3.v-middle
                      | {{statistics.total_outcome | formatMoney:company.currency}}
                    td.v-middle.col-md-2
                      | Средний расход в месяц:
                    td.h3.v-middle
                      | {{statistics.avg_monthly_outcome | formatMoney:company.currency}}

      .row
        .col-md-12
          form.form-horizontal.panel.no-border {
            ng-submit="createNewRecord()"
            role="form"
          }
            .panel-heading.wrapper.b-b.b-light.clearfix {
              ng-init="isNewRecordFormCollapsed = true"
              ng-click="isNewRecordFormCollapsed = !isNewRecordFormCollapsed"
              role="button"
            }
              h5.font-thin.m-t-none.m-b-none.text-muted.pull-left
                | Добавить запись
              button.btn.btn-sm.btn-default.btn-icon.m-l-lg.pull-right {
                ng-click="manageCashFlowBudgetCategories(); $event.stopPropagation()"
                uib-tooltip="Управление статьями"
                type="button"
              }
                i.fa.fa-gear

            .panel-body uib-collapse="isNewRecordFormCollapsed"
              .row
                .col-md-6.col-xs-12 {
                  ng-if="user.hasRole('employee_investor', companyId)"
                }
                  .form-group
                    label.col-md-5.col-sm-3.col-xs-12.control-label
                      | {{labels.personal}}
                    .col-md-7.col-sm-9.col-xs-12
                      input {
                          type="checkbox"
                          ng-model="newRecord.personal"
                        }

                .col-md-6.col-xs-12
                  .form-group
                    label.col-md-5.col-sm-3.col-xs-12.control-label
                      | {{labels.created_at}}*
                    .col-md-7.col-sm-9.col-xs-12
                      field-wrap errors="newRecord.errors.created_at"
                        input.form-control {
                          ng-model="newRecord.created_at"
                          placeholder="Дата"
                          type="text"
                          uib-datepicker-popup="dd.MM.yyyy"
                          popup-placement="auto top-left"
                          is-open="dateOpened"
                          ng-click="dateOpened = true"
                        }

                .col-md-6.col-xs-12
                  .form-group
                    label.col-md-5.col-sm-3.col-xs-12.control-label
                      | {{labels.category}}
                    .col-md-4.col-sm-9.col-xs-12
                      select.form-control {
                        ng-model="newRecord.category"
                        ng-options="c.id as c.name for c in references.categories | filter:isCategoryAllowed"
                      }

                .col-md-6.col-xs-12
                  .form-group
                    label.col-md-5.col-sm-3.col-xs-12.control-label
                      | {{labels.bill_kind}}
                    .col-md-7.col-sm-9.col-xs-12
                      select.form-control {
                        ng-model="newRecord.bill_kind"
                        ng-options="bill_kind.id as bill_kind.name for bill_kind in references.bill_kinds"
                      }

                .col-md-6.col-xs-12
                  .form-group
                    label.col-md-5.col-sm-3.col-xs-12.control-label
                      | {{labels.cash_flow_budget_category}}
                    .col-md-7.col-sm-9.col-xs-12
                      .col-xs-12
                        choose-cash-flow-budget-category {
                          model="newRecord.cash_flow_budget_category_id"
                          cash-flow-budget-categories="cash_flow_budget_categories"
                          branch="newRecord.category"
                        }

                .col-md-6.col-xs-12
                  .form-group
                    label.col-md-5.col-sm-3.col-xs-12.control-label
                      | {{labels.department}}
                    .col-md-7.col-sm-9.col-xs-12
                      select.form-control {
                        ng-model="selectedDepartment"
                        ng-options="department.id as department.name for department in references.departments"
                        ng-change="loadEmployees(selectedDepartment)"
                      }

                .col-md-6.col-xs-12
                  .form-group
                    label.col-md-5.col-sm-3.col-xs-12.control-label
                      | {{labels.creator_id}}*
                    .col-md-7.col-sm-9.col-xs-12
                      .col-xs-12
                        field-wrap errors="newRecord.errors.creator"
                          select.form-control {
                            ng-model="newRecord.creator_id"
                            ng-options="employee.id as employee.fullname for employee in references.employees"
                          }

                .col-md-6.col-xs-12
                  .form-group
                    label.col-md-5.col-sm-3.col-xs-12.control-label
                      | {{labels.comment}}
                    .col-md-7.col-sm-9.col-xs-12
                      input.form-control {
                        type="text"
                        ng-model="newRecord.comment"
                        placeholder="Комментарий"
                      }

                .col-md-6.col-xs-12
                  .form-group
                    label.col-md-5.col-sm-3.col-xs-12.control-label
                      | {{labels.amount}}*
                    .col-md-7.col-sm-9.col-xs-12
                      .col-xs-12
                        field-wrap errors="newRecord.errors.amount"
                          input.form-control {
                            type="text"
                            ng-model="newRecord.amount"
                            placeholder="Сумма"
                          }

                .col-md-6.col-xs-12
                  .form-group
                    label.col-md-5.col-sm-3.col-xs-12.control-label
                      | {{labels.reporting_document}}
                    .col-md-7.col-sm-9.col-xs-12
                      .col-xs-6
                        input.form-control{
                          type="text"
                          ng-model="newRecord.deal_display_name"
                        }
                      .col-xs-6
                        input.form-control {
                          type="file"
                          ng-model="newRecord.reporting_document"
                          ui-jq="filestyle"
                          ngf-select=""
                          data-classbutton="btn btn-default"
                          data-classinput="form-control inline v-middle input-s"
                          data-icon="false"
                        }

                .col-md-6.col-xs-12
                  .form-group
                    label.col-md-5.col-sm-3.col-xs-12.control-label
                      | {{labels.source}}
                    .col-md-7.col-sm-9.col-xs-12
                      cash-book-record-source-input {
                        record="newRecord"
                        company-id="companyId"
                      }

            .b-t.b-light.text-right.wrapper uib-collapse="isNewRecordFormCollapsed"
              button.inline.btn.btn-sm.btn-primary type="submit"
                | Добавить

      .row
        .col-md-12
          #cash-book.panel.no-border
            .panel-heading.wrapper.b-b.b-light
              h5.font-thin.m-t-none.m-b-none.text-muted
                | Журнал кассовой книги

            table.table.table-striped.m-b-none {
              ng-controller='CompaniesCashbookTreeCtrl as treeCtrl'
            }
              tr
                th
                  | {{labels.created_at}}
                th
                  | {{labels.source}}
                th
                  | {{labels.reporting_document}}
                th
                  | {{labels.category}}
                th
                  | {{labels.bill_kind}}
                th
                  | {{labels.cash_flow_budget_category}}
                th
                  | {{labels.department}}
                th
                  | {{labels.creator_id}}
                th
                  | {{labels.comment}}
                th
                  | {{labels.amount}}
                th
                  | {{labels.balance}}
              tr
                th
                  input.form-control{
                    id="treeRangePicker"
                    ui-jq="daterangepicker"
                    ui-options="treeCtrl.treeDateRangeOptions, treeCtrl.treeDateRangeCallback"
                  }
                th
                  cash-book-record-source-input {
                    record="filter"
                    company-id="companyId"
                  }
                th
                  input.form-control {
                    ng-model="filter.deal_number"
                    ng-model-options='{debounce: 600}'
                    type="text"
                  }
                th
                  select.form-control {
                    ng-model="filter.category"
                    ng-options="category.id as category.name for category in references.categories"
                  }
                    option value=""
                th
                  select.form-control {
                    ng-model="filter.bill_kind"
                    ng-options="bill_kind.id as bill_kind.name for bill_kind in references.bill_kinds"
                  }
                    option value=""
                th
                  select.form-control {
                    ng-model="filter.cash_flow_budget_category_id"
                    ng-options="c.id as c.name for c in references.cash_flow_budget_categories"
                  }
                    option value=""

                th
                  select.form-control {
                    ng-model="filter.department_id"
                    ng-options="department.id as department.name for department in references.departments"
                    ng-change="loadEmployees(selectedDepartment)"
                  }
                    option value=""

                th
                  select.form-control {
                    ng-model="filter.creator_id"
                    ng-options="employee.id as employee.fullname for employee in references.employees"
                  }
                    option value=""

                th
                  input.form-control {
                    ng-model="filter.comment"
                    ng-model-options='{debounce: 600}'
                    type="text"
                  }
                th
                  input.form-control {
                    ng-model="filter.amount"
                    ng-model-options='{debounce: 600}'
                    type="text"
                  }
                th
                  input.form-control {
                    ng-model="filter.balance"
                    ng-model-options='{debounce: 600}'
                    type="text"
                  }
              tr
                td.no-padder {
                  colspan="100%"
                }
                  .form-group
                    div {
                      ui-tree
                      data-drag-enabled="false"
                    }
                      ol {
                        ui-tree-nodes=""
                        ng-model="treeCtrl.treeDataObject"
                        ng-class="{hidden: collapsed}"
                      }
                        li {
                          ng-repeat="year in treeCtrl.treeDataObject"
                          ui-tree-node
                          data-collapsed="true"
                        }
                          div.cashbook-tree-node-lvl1.cashbook-tree-node-content.padder {
                            ng-click="treeCtrl.toggleCashbookTreeNode(this)"
                          }
                            button.btn.btn-default.btn-icon.pull-left.m-r-md {
                              ng-click="treeCtrl.toggleCashbookTreeNode(this); $event.stopPropagation()"
                            }
                              i.fa {
                                ng-class="{'fa-plus': collapsed, 'fa-minus': !collapsed}"
                              }
                            div.pull-left {
                              style="line-height: 34px"
                            }
                              | {{year.year}}
                            div.pull-right {
                              style="line-height: 34px"
                            }
                              span
                                i.fa.fa-level-up.text-success.m-r-sm
                                  | {{year.data.income | formatMoney:company.currency:2:' ':'.'}}
                                i.fa.fa-level-down.text-danger.m-r-sm
                                  | {{year.data.outcome | formatMoney:company.currency:2:' ':'.'}}
                                span.fa
                                  | Баланс: {{year.data.balance | formatMoney:company.currency:2:' ':'.'}}
                            div.clearfix
                          ol {
                            ui-tree-nodes=""
                            ng-model="year.quarters"
                            ng-class="{hidden: collapsed}"
                          }
                            li {
                              ng-repeat="quarter in year.quarters | orderBy:'-'"
                              ui-tree-node
                              data-collapsed="true"
                            }
                              div.cashbook-tree-node-lvl2.cashbook-tree-node-content.padder {
                                ng-click="treeCtrl.toggleCashbookTreeNode(this)"
                              }
                                button.btn.btn-default.btn-icon.pull-left.m-r-md {
                                  ng-click="treeCtrl.toggleCashbookTreeNode(this); $event.stopPropagation()"
                                }
                                  i.fa {
                                    ng-class="{'fa-plus': collapsed, 'fa-minus': !collapsed}"
                                  }
                                div.pull-left {
                                  style="line-height: 34px"
                                }
                                  | {{quarter.quarter}}
                                div.pull-right {
                                  style="line-height: 34px"
                                }
                                  span
                                    i.fa.fa-level-up.text-success.m-r-sm
                                      | {{quarter.data.income | formatMoney:company.currency:2:' ':'.'}}
                                    i.fa.fa-level-down.text-danger.m-r-sm
                                      | {{quarter.data.outcome | formatMoney:company.currency:2:' ':'.'}}
                                    span.fa
                                      | Баланс: {{quarter.data.balance | formatMoney:company.currency:2:' ':'.'}}
                                div.clearfix
                              ol {
                                ui-tree-nodes=""
                                ng-model="quarter.monthes"
                                ng-class="{hidden: collapsed}"
                              }
                                li {
                                  ng-repeat="month in quarter.monthes | orderBy:'-'"
                                  ui-tree-node
                                  data-collapsed="true"
                                }
                                  div.cashbook-tree-node-lvl3.cashbook-tree-node-content.padder {
                                    ng-click="treeCtrl.toggleCashbookTreeNode(this)"
                                  }
                                    button.btn.btn-default.btn-icon.pull-left.m-r-md {
                                      ng-click="treeCtrl.toggleCashbookTreeNode(this); $event.stopPropagation()"
                                    }
                                      i.fa {
                                        ng-class="{'fa-plus': collapsed, 'fa-minus': !collapsed}"
                                      }
                                    div.pull-left {
                                      style="line-height: 34px"
                                    }
                                      | {{month.month}}
                                    div.pull-right {
                                      style="line-height: 34px"
                                    }
                                      span
                                        i.fa.fa-level-up.text-success.m-r-sm
                                          | {{month.data.income | formatMoney:company.currency:2:' ':'.'}}
                                        i.fa.fa-level-down.text-danger.m-r-sm
                                          | {{month.data.outcome | formatMoney:company.currency:2:' ':'.'}}
                                        span.fa
                                          | Баланс: {{month.data.balance | formatMoney:company.currency:2:' ':'.'}}
                                    div.clearfix
                                  ol {
                                    ui-tree-nodes=""
                                    ng-model="month.records"
                                    ng-class="{hidden: collapsed}"
                                  }
                                    li {
                                      ng-repeat="empty in month.emptyArray"
                                      ui-tree-node
                                      data-collapsed="false"
                                    }
                                      div.cashbook-tree-node-lvl4.cashbook-tree-node-content.padder
                                        table.table.table-striped.m-b-none
                                          tr
                                            th
                                              | {{labels.created_at}}
                                            th
                                              | {{labels.source}}
                                            th
                                              | {{labels.reporting_document}}
                                            th
                                              | {{labels.category}}
                                            th
                                              | {{labels.bill_kind}}
                                            th
                                              | {{labels.cash_flow_budget_category}}
                                            th
                                              | {{labels.department}}
                                            th
                                              | {{labels.creator_id}}
                                            th
                                              | {{labels.comment}}
                                            th
                                              | {{labels.amount}}
                                            th
                                              | {{labels.balance}}
                                          tr ng-repeat="record in month.records"
                                            td
                                              span {
                                                ng-init="isOpen = true"
                                                editable-text="record.created_at"
                                                edit-disabled="!user.can('update', 'CashBookRecord', {company_id: companyId, personal: record.personal})"
                                                e-uib-datepicker-popup="dd.MM.yyyy"
                                                e-is-open="isOpen"
                                                e-ng-click="isOpen =!isOpen"
                                                onbeforesave="updateRecord(record, 'created_at', $data)"
                                              }
                                                | {{record.created_at | date: 'dd.MM.yyyy'}}
                                            td
                                              cash-book-record-source ng-if="record.source_type" record="record"
                                            td
                                              a.btn.btn-default.btn-sm {
                                                ng-if="!record.deal_id && record.reporting_document.url"
                                                ng-href="{{record.reporting_document.url}}"
                                                target="_blank"
                                              }
                                                | {{record.deal_display_name || 'Просмотреть'}}
                                              a {
                                                ng-if="record.deal_id"
                                                target="_blank"
                                                ng-href="/companies/{{companyId}}/deals/{{record.deal_id}}"
                                              }
                                                | {{record.deal.number}}
                                            td
                                              span {
                                                editable-select="record.category"
                                                edit-disabled="!user.can('update', 'CashBookRecord', {company_id: companyId, personal: record.personal})"
                                                e-ng-options="category.id as category.name for category in references.categories"
                                                onbeforesave="updateRecord(record, 'category', $data)"
                                                buttons="no"
                                              }
                                                | {{record.category | ref:references.categories}}
                                            td
                                              span {
                                                editable-select="record.bill_kind"
                                                edit-disabled="!user.can('update', 'CashBookRecord', {company_id: companyId, personal: record.personal})"
                                                e-ng-options="bill_kind.id as bill_kind.name for bill_kind in references.bill_kinds"
                                                onbeforesave="updateRecord(record, 'bill_kind', $data)"
                                                buttons="no"
                                              }
                                                | {{(record.bill_kind | ref:references.bill_kinds) || 'Не указан'}}
                                            td
                                              choose-cash-flow-budget-category {
                                                model="record.cash_flow_budget_category_id"
                                                cash-flow-budget-categories="cash_flow_budget_categories"
                                                on-choose="updateRecord(record, 'cash_flow_budget_category_id', value)"
                                                branch="record.category"
                                              }

                                            td
                                              | {{record.department_names.join(', ')}}
                                            td
                                              form.form-inline {
                                                editable-form
                                                name="recordUpdateCreatorForm"
                                                onbeforesave="updateRecord(record, 'creator_id', $data.creator_id)"
                                              }
                                                .form-group
                                                  select.form-control {
                                                    ng-model="record.selectedDepartment"
                                                    ng-options="department.id as department.name for department in references.departments"
                                                    ng-change="loadEmployees(record.selectedDepartment)"
                                                    ng-if="recordUpdateCreatorForm.$visible"
                                                  }
                                                .form-group
                                                  span {
                                                    ng-class="{'editable-click': user.can('update', 'CashBookRecord', {company_id: companyId, personal: record.personal})}"
                                                    editable-select="record.creator_id"
                                                    e-ng-options="employee.id as employee.fullname for employee in references.employees"
                                                    e-name="creator_id"
                                                    blur="ignore"
                                                    ng-click="user.can('update', 'CashBookRecord', {company_id: companyId, personal: record.personal}) && recordUpdateCreatorForm.$show()"
                                                  }
                                                    | {{record.creator.user | fullname}}

                                                .form-group ng-show="recordUpdateCreatorForm.$visible"
                                                  button {
                                                    type="submit"
                                                    class="btn btn-primary"
                                                    ng-disabled="recordUpdateCreatorForm.$waiting"
                                                  }
                                                    span.glyphicon.glyphicon-ok

                                                  button {
                                                    type="button"
                                                    class="btn btn-default"
                                                    ng-disabled="recordUpdateCreatorForm.$waiting"
                                                    ng-click="recordUpdateCreatorForm.$cancel()"
                                                  }
                                                    span.glyphicon.glyphicon-remove
                                            td
                                              span {
                                                editable-text="record.comment"
                                                edit-disabled="!user.can('update', 'CashBookRecord', {company_id: companyId, personal: record.personal})"
                                                buttons="no"
                                                onbeforesave="updateRecord(record, 'comment', $data)"
                                              }
                                                | {{record.comment}}
                                            td ng-class="record.category_info.expense ? 'text-danger' : 'text-success'"
                                              i.fa.margin-right-3 ng-class="record.category_info.expense ? 'fa-level-down' : 'fa-level-up'"
                                              span {
                                                editable-text="record.amount"
                                                edit-disabled="!user.can('update', 'CashBookRecord', {company_id: companyId, personal: record.personal})"
                                                buttons="no"
                                                onbeforesave="updateRecord(record, 'amount', $data)"
                                              }
                                                | {{record.amount | formatMoney:record.currency:2:' ':'.'}}
                                            td
                                              | {{record.balance | formatMoney:record.currency:2:' ':'.'}}

div ng-include="" src="'assets/views/layout/blocks/footer.html'"
