form.form-horizontal { accessible-form ng-submit="submit()" }
  div ng-if="!lead.id"
    .line.line-dashed.b-b.line-lg.pull-in
    .btn-group
      button.btn.btn-default {
        type="button"
        ng-click="lead.legal_form = 'individual'"
        ng-class="{'active': lead.legal_form == 'individual'}"
        translate="form.lead.INDIVIDUAL"
      }
      button.btn.btn-default {
        type="button"
        ng-click="lead.legal_form = 'legal_entity'"
        ng-class="{'active': lead.legal_form == 'legal_entity'}"
        translate="form.lead.LEGAL_ENTITY"
      }

  div {
    ng-if="lead.legal_form == 'individual'"
    ng-include="'/assets/views/companies/leads/_form_individual.html'"
  }

  div {
    ng-if="lead.legal_form == 'legal_entity'"
    ng-include="'/assets/views/companies/leads/_form_legal_entity.html'"
  }

  .line.line-dashed.b-b.line-lg.pull-in
  .form-group
    .col-xs-12.text-right
      a.inline.btn.btn-default.m-r-xs {
        href="/companies/{{companyId}}/leads"
        translate="common.CANCEL"
      }
      | &nbsp;
      button.inline.btn.btn-primary.m-r-xs {
        type="submit"
        translate="common.SAVE"
      }
