.app-content
  .app-content-body
    .bg-light.lter.b-b.wrapper-md
      .row
        .col-sm-12.col-xs-12
          h1.m-n.font-thin.h3.text-black
            span
              i.icon-notebook
            | &nbsp;
            span
              | Конвертация лида
          small.text-muted
            | Вы конвертируете лида в клиента
    .wrapper-md
      .panel.panel-default
        .panel-body ng-include="" src="'assets/views/companies/leads/_form.html'"


div ng-include="" src="'assets/views/layout/blocks/footer.html'"
