.app-content
  .app-content-body
    .bg-light.lter.b-b.wrapper-md.ng-scope
      .row
        .col-sm-6.col-xs-12
          div {
            uib-dropdown
            is-open="status.isopen"
          }
            h1.m-n.font-thin.h3.text-black
              span
                i.icon-ghost
              a.m-l-xs {
                aria-expanded="false"
                aria-haspopup="true"
                uib-dropdown-toggle
                ng-disabled="disabled"
              }
                .inline translate="model.lead.PAGE_TITLE"
                .inline.caret

            ul.dropdown-menu role="menu"
              li
                a {
                  href="/companies/{{companyId}}/deals"
                }
                  i.icon-fire.m-r-xs
                  | &nbsp;
                  span.text translate="model.deal.PAGE_TITLE"
              li
                a {
                  href="/companies/{{companyId}}/clients"
                }
                  i.icon-users.m-r-xs
                  | &nbsp;
                  span.text translate="model.client.PAGE_TITLE"
              li
                a {
                  href="/companies/{{companyId}}/leads"
                }
                  i.icon-ghost.m-r-xs
                  | &nbsp;
                  span.text translate="model.lead.PAGE_TITLE"

          small.text-muted {
            translate="model.lead.SUB_TITLE"
          }

        .col-sm-6.text-right.hidden-xs
          .inline.m-r.text-left
            h1.inline.m-r.text-right.font-thin.h3.margin-top-8
              a.btn.btn-sm.btn-primary.btn-addon {
                href="/companies/{{companyId}}/leads/new"
                ng-if="company.id && user.can('create', 'Lead', {company_id: company.id})"
              }
                i.fa.fa-plus.text
                span.text {
                  translate="model.lead.CREATE"
                }

    .wrapper-md

      div {
        ng-if="!user.can('read', 'Company', companyId)"
        ng-include="'assets/views/companies/_access_denied.html'"
      }

      .panel.panel-default
        .panel-body.b-b.b-light
          .row
            .col-xs-1
              h2.m-n.font-thin.h2.text-light
                .inline.pos-rlt.cur-p {
                  uib-tooltip="{{ 'filter.leads.TOOLTIP' | translate }}"
                  tooltip-placement="right"
                  uib-dropdown=""
                }
                  i.fa.fa-filter {
                    uib-dropdown-toggle=""
                    ng-click="rerenderSlider()"
                  }
                  ul.filter-dropdown-menu.dropdown-menu.wrapper.w-lg {
                    role="menu"
                  }
                    form
                      li.form-group.m-r-xs
                        label translate="filter.leads.NAME"
                        button.btn.btn-link.btn-sm {
                          type="button"
                          uib-tooltip="{{ 'filter.CLEAR' | translate }}"
                          ng-click="clearFilterField('name')"
                        }
                          i.fa.fa-remove
                        input.form-control.input-sm {
                          type="text"
                          ng-model="search.name"
                        }

                      li.form-group.m-r-xs
                        label translate="filter.STATUS"
                        button.btn.btn-link.btn-sm {
                          type="button"
                          uib-tooltip="{{ 'filter.CLEAR' | translate }}"
                          ng-click="clearFilterField('status')"
                        }
                          i.fa.fa-remove
                        select.form-control.input-sm {
                          ng-model="search.status"
                          ng-options="status.id as status.name for status in companyStatic.references.lead_statuses"
                        }

                      li.divider
                      li.form-group.m-r-xs
                        label translate="filter.RANGE"
                        button.btn.btn-link.btn-sm {
                          type="button"
                          uib-tooltip="{{ 'filter.CLEAR' | translate }}"
                          ng-click="clearFilterField('range')"
                        }
                          i.fa.fa-remove
                        .row
                          .col-xs-6.pull-left
                            input.form-control {
                              type="number"
                              ng-model="range.min"
                            }
                          .dash-separator.pull-left
                          .col-xs-6.pull-right
                            input.form-control {
                              type="number"
                              ng-model="range.max"
                            }
                        li.form-group.m-r-xs
                          slider {
                            ng-model="range.min"
                            ng-model-range="range.max"
                            floor="{{sliderRange.min}}"
                            ceiling="{{sliderRange.max}}"
                          }
                      li.divider

                      li.form-group.m-r-xs
                        label translate="filter.MANAGER"
                        button.btn.btn-link.btn-sm {
                          type="button"
                          uib-tooltip="{{ 'filter.CLEAR' | translate }}"
                          ng-click="clearFilterField('manager_id')"
                        }
                          i.fa.fa-remove
                        select.form-control.input-sm {
                          ng-model="search.manager_id"
                          ng-options="employee.id as (employee.user.name + ' ' + employee.user.surname) for employee in employees"
                        }

            .col-xs-11.text-right
              .btn-group
                a.btn.btn-default.nowrap.l-h-18 {
                  ng-repeat="status in companyStatic.references.lead_statuses"
                  uib-tooltip="{{::status.name}}"
                  type="button"
                  ng-click="toggleStatus(status.id)"
                  ng-class="{ active: filter.statuses.indexOf(status.id) > -1 }"
                }
                  i.inline.v-middle.fa.fa-circle.text-primary.m-r-xs {
                    style="color: {{status.color}}"
                  }
                  span.inline.v-middle
                    | {{ status.name }}

                  b.inline.v-middle.badge.m-l-xs
                    | {{ company.leads_count_by_statuses[status.id] || 0 }}

                  i.inline.v-middle.fa.fa-pencil.m-l-xs {
                    ng-if="!status.system && company.id && user.can('update', 'LeadStatus', {company_id: company.id})"
                    ng-click="
                      editStatus(status.id);
                      $event.stopPropagation();
                    "
                  }

                button.btn.btn-default {
                  type="button"
                  ng-click="createStatus()"
                  ng-if="company.id && user.can('create', 'LeadStatus', {company_id: company.id})"
                }
                  i.fa.fa-plus
      .row
        .col-md-12
          .list-group.list-group-lg.list-group-sp
            .list-group-item.clearfix {
              id="lead-with-id-{{lead.id}}"
              ng-repeat="lead in leads | filter:search | filterRange:'potential_amount':range"
            }
              .xedit-form {
                ng-include="'assets/views/companies/leads/xedit.html'"
                ng-controller="CompaniesLeadsXEditCtrl"
              }

          pagination {
            current="page"
            total="total_count"
            per="per"
          }


div ng-include="" src="'assets/views/layout/blocks/footer.html'"
