.app-content
  .app-content-body
    .bg-light.lter.b-b.wrapper-md
      .row
        .col-sm-12.col-xs-12
          h1.m-n.font-thin.h3.text-black
            span
              i.icon-notebook
            | &nbsp;
            span translate="form.lead.NEW_LEAD_PAGE_TITLE"
          small.text-muted translate="form.lead.NEW_LEAD_SUB_TITLE"
    .wrapper-md
      .panel.panel-default
        .panel-heading.font-bold translate="form.lead.WARNING"
        .panel-body ng-include="" src="'assets/views/companies/leads/_form.html'"


div ng-include="" src="'assets/views/layout/blocks/footer.html'"
