.row ng-init="lead = $ctrl.entity"
  .col-lg-4.col-md-3.col-sm-6.col-xs-6.col-m-12
    span.pull-left.thumb-sm.m-r {
      ng-class="{
        'avatar avatar-40-round': lead.legal_form == 'individual',
        'avatar-40': lead.legal_form == 'legal_entity'
      }"
      style="background-image: url({{ lead.image.url }})"
    }

    span.clear
      span.text-ellipsis {
        ng-if="lead.legal_form == 'individual'"
        uib-tooltip="{{ lead.name + ' ' + lead.surname}}"
        tooltip-class="tooltip-overlay"
      }
        | {{ lead.name + ' ' + lead.surname}}
      span.text-ellipsis {
        ng-if="lead.legal_form == 'legal_entity'"
        uib-tooltip="{{ lead.legal_entity_name }}"
        tooltip-class="tooltip-overlay"
      }
        | {{ lead.legal_entity_name }}
      small.text-muted.clear.text-ellipsis
        i.fa.fa-circle.m-r-xs {
          ng-style="{color: (lead | statusColor: $ctrl.references.lead_statuses) }"
        }
        | {{lead.source | ref:$ctrl.references.sources}}

    .col-xs-12.visible-m
      br

  .col-lg-2.col-md-3.col-sm-6.col-xs-3.col-m-12
    span.clear.pull-left
      a {
        href="tel:{{lead.work_phone}}"
        uib-tooltip="Рабочий телефон"
        tooltip-placement="left"
      }
        span
          | {{ lead.work_phone_code_id | ref:$ctrl.references.country_phone_codes:'code'}} {{ lead.work_phone }}
      a {
        href="mailto:{{ lead.email }}"
        uib-tooltip="Рабочий email:"
        tooltip-placement="left"
      }
        small.text-muted.clear.text-ellipsis {
          ng-if="lead.legal_form == 'individual'"
        }
          | {{ lead.email }}
        small.text-muted.clear.text-ellipsis {
          ng-if="lead.legal_form == 'legal_entity'"
        }
          | {{ lead.legal_entity_email }}

    .col-xs-12.visible-m
      br

  .col-xs-12.visible-sm
    br

  .col-lg-2.col-md-2.col-sm-6.col-xs-3.col-m-12.col-lg-offset-4.col-md-offset-4.col-sm-offset-6

    .inline.text-center.text-left-sm
      span
        | $ {{ lead.potential_amount }} &nbsp;
      small.text-muted.clear.text-ellipsis
        | Потенциально

