.row ng-if="lead.legal_entity_name || LeadForm.$visible"
  .col-xs-6.col-m-12
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': LeadForm.$visible}"
      }
        | {{ leadStatic.labels['legal_entity_name'] }}
        span ng-if="LeadForm.$visible" *
        | :
  .col-xs-6.col-m-12
    p.clear.text-ellipsis.w-100
      span.text {
        buttons="no"
        editable-text="lead.legal_entity_name"
        e-name="legal_entity_name"
        e-form="LeadForm"
        e-ng-change="validate('legal_entity_name', $data)"
      }
        | {{ lead.legal_entity_name }}

.row ng-if="lead.address || LeadForm.$visible"
  .col-xs-6.col-m-12
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': LeadForm.$visible}"
      }
        | {{ leadStatic.labels['address'] }}:
  .col-xs-6.col-m-12
    p.clear.text-ellipsis.w-100 uib-tooltip="{{client.address}}"
      span.text {
        buttons="no"
        editable-text="lead.address"
        e-name="address"
        e-form="LeadForm"
        e-ng-change="lead.address = $data; validate('address', $data)"
      }
        | {{ lead.address }}

div.m-b ng-if="LeadForm.$visible"
  map {
    map="map"
    address="lead.address"
    errors="lead.errors"
    on-change="updatePhoneCodeByCountry(countryCode)"
    latitude="lead.latitude"
    longitude="lead.longitude"
  }

.row ng-if="lead.legal_entity_email || LeadForm.$visible"
  .col-xs-6.col-m-12
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': LeadForm.$visible}"
      }
        | {{ leadStatic.labels['legal_entity_email'] }}:
  .col-xs-6.col-m-12
    p.clear.text-ellipsis.w-100
      span.text {
        buttons="no"
        editable-text="lead.legal_entity_email"
        e-name="legal_entity_email"
        e-form="LeadForm"
        e-ng-change="validate('legal_entity_email', $data)"
      }
        | {{ lead.legal_entity_email || '' }}

.row ng-if="lead.site || LeadForm.$visible"
  .col-xs-6.col-m-12
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': LeadForm.$visible}"
      }
        | {{ leadStatic.labels['site'] }}:
  .col-xs-6.col-m-12
    p.clear.text-ellipsis.w-100
      span.text {
        editable-text="lead.site"
        e-name="site"
        e-ng-change="validate('site', $data)"
        e-form="LeadForm"
      }
        | {{ lead.site }}

.row ng-if="lead.work_phone || LeadForm.$visible"
  .col-xs-6.col-m-12
    p
      span.text-muted.clear.text-ellipsis
        | {{ leadStatic.labels['work_phone'] }}:
  .col-xs-6.col-m-12
    .row.m-b ng-if="LeadForm.$visible"
      .col-sm-5
        span.text {
          buttons="no"
          editable-select="lead.work_phone_code_id"
          e-ng-options="phone_code.id as phone_code.name for phone_code in leadStatic.references.country_phone_codes"
          e-name="work_phone_code_id"
          e-form="LeadForm"
          e-ng-change="validate('work_phone_code_id', $data)"
        }
      p.visible-xs
      .col-sm-7.w-100
        span.text {
          buttons="no"
          editable-text="lead.work_phone"
          e-name="work_phone"
          e-form="LeadForm"
          e-ng-change="validate('work_phone', $data)"
        }

    p.clear.text-ellipsis ng-if="!LeadForm.$visible"
      | {{ lead.work_phone_code_id | ref:leadStatic.references.country_phone_codes:'code' }}
      | &nbsp;
      | {{ lead.work_phone || '' }}

p.clear.text-ellipsis
  strong
    | Контактное лицо

.row ng-if="lead.name || LeadForm.$visible"
  .col-xs-6.col-m-12
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': LeadForm.$visible}"
      }
        | {{ leadStatic.labels['name'] }}:
  .col-xs-6.col-m-12
    p.clear.text-ellipsis.w-100
      span.text {
        editable-text="lead.name"
        e-name="name"
        e-ng-change="validate('name', $data)"
        e-form="LeadForm"
      }
        | {{ lead.name }}

.row ng-if="lead.surname || LeadForm.$visible"
  .col-xs-6.col-m-12
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': LeadForm.$visible}"
      }
        | {{ leadStatic.labels['surname'] }}:
  .col-xs-6.col-m-12
    p.clear.text-ellipsis.w-100
      span.text {
        editable-text="lead.surname"
        e-name="surname"
        e-ng-change="validate('surname', $data)"
        e-form="LeadForm"
      }
        | {{ lead.surname }}

.row ng-if="lead.email || LeadForm.$visible"
  .col-xs-6.col-m-12
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': LeadForm.$visible}"
      }
        | {{ leadStatic.labels['email'] }}:
  .col-xs-6.col-m-12
    p.clear.text-ellipsis.w-100
      span.text {
        buttons="no"
        editable-text="lead.email"
        e-name="email"
        e-form="LeadForm"
        e-ng-change="validate('email', $data)"
      }
        | {{ lead.email || '' }}
