.row ng-if="lead.name || LeadForm.$visible"
  .col-xs-6.col-m-12
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': LeadForm.$visible}"
      }
        | {{ leadStatic.labels['name'] }} 
        span ng-if="LeadForm.$visible" *
        | :
  .col-xs-6.col-m-12
    p.clear.text-ellipsis.w-100
      span.text {
        buttons="no"
        editable-text="lead.name"
        e-name="name"
        e-form="LeadForm"
        e-ng-change="validate('name', $data)"
      }
        | {{ lead.name }}

.row ng-if="lead.surname || LeadForm.$visible"
  .col-xs-6.col-m-12
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': LeadForm.$visible}"
      }
        | {{ leadStatic.labels['surname'] }}:
  .col-xs-6.col-m-12
    p.clear.text-ellipsis.w-100
      span.text {
        buttons="no"
        editable-text="lead.surname"
        e-name="surname"
        e-form="LeadForm"
        e-ng-change="validate('surname', $data)"
      }
        | {{ lead.surname }}


.row ng-if="lead.birthday || LeadForm.$visible"
  .col-xs-6.col-m-12
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': LeadForm.$visible}"
      }
        | {{ leadStatic.labels['birthday'] }}:
  .col-xs-6.col-m-12
    p
      span.text.w-100 {
        editable-bsdate="lead.birthday"
        e-datepicker-popup="dd.MM.yyyy"
        e-is-open="isOpen"
        e-ng-click="isOpen = !isOpen"
        e-name="birthday"
        e-ng-change="validate('birthday', $data)"
        e-form="LeadForm"
      }
        | {{ lead.birthday | date:'dd.MM.yyyy' }}
.row ng-if="lead.address || LeadForm.$visible"
  .col-xs-6.col-m-12
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': LeadForm.$visible}"
      }
        | {{ leadStatic.labels['address'] }}:
  .col-xs-6.col-m-12
    p.clear.text-ellipsis.w-100 uib-tooltip="{{client.address}}"
      span.text {
        buttons="no"
        editable-text="lead.address"
        e-name="address"
        e-form="LeadForm"
        e-ng-change="lead.address = $data; validate('address', $data)"
      }
        | {{ lead.address || '' }}

div.m-b ng-if="LeadForm.$visible"
  map {
    map="map"
    address="lead.address"
    errors="lead.errors"
    on-change="updatePhoneCodeByCountry(countryCode)"
    latitude="lead.latitude"
    longitude="lead.longitude"
  }

.row ng-if="lead.email || LeadForm.$visible"
  .col-xs-6.col-m-12
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': LeadForm.$visible}"
      }
        | {{ leadStatic.labels['email'] }}:
  .col-xs-6.col-m-12
    p.clear.text-ellipsis.w-100
      span.text {
        buttons="no"
        editable-text="lead.email"
        e-name="email"
        e-form="LeadForm"
        e-ng-change="validate('email', $data)"
      }
        | {{ lead.email || '' }}

.row ng-if="lead.work_phone || LeadForm.$visible"
  .col-xs-6.col-m-12
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': LeadForm.$visible}"
      }
        | {{ leadStatic.labels['work_phone'] }}:
  .col-xs-6.col-m-12
    .row.m-b ng-if="LeadForm.$visible"
      .col-sm-5
        span.text {
          buttons="no"
          editable-select="lead.work_phone_code_id"
          e-ng-options="phone_code.id as phone_code.name for phone_code in leadStatic.references.country_phone_codes"
          e-name="work_phone_code_id"
          e-form="LeadForm"
          e-ng-change="validate('work_phone_code_id', $data)"
        }
      p.visible-xs
      .col-sm-7.w-100
        span.text {
          buttons="no"
          editable-text="lead.work_phone"
          e-name="work_phone"
          e-form="LeadForm"
          e-ng-change="validate('work_phone', $data)"
        }

    p.clear.text-ellipsis ng-if="!LeadForm.$visible"
      | {{ lead.work_phone_code_id | ref:leadStatic.references.country_phone_codes:'code' }}
      | &nbsp;
      | {{ lead.work_phone || '' }}

.row ng-if="lead.cell_phone || LeadForm.$visible"
  .col-xs-6.col-m-12
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': LeadForm.$visible}"
      }
        | {{ leadStatic.labels['cell_phone'] }}:
  .col-xs-6.col-m-12
    .row.m-b ng-if="LeadForm.$visible"
      .col-sm-5
        span.text {
          buttons="no"
          editable-select="lead.cell_phone_code_id"
          e-ng-options="phone_code.id as phone_code.name for phone_code in leadStatic.references.country_phone_codes"
          e-name="cell_phone_code_id"
          e-form="LeadForm"
          e-ng-change="validate('cell_phone_code_id', $data)"
        }
      p.visible-xs
      .col-sm-7.w-100
        span.text {
          buttons= "no"
          editable-text= "lead.cell_phone"
          e-name= "cell_phone"
          e-form= "LeadForm"
          e-ng-change= "validate('cell_phone', $data)"
        }

    p.clear.text-ellipsis ng-if="!LeadForm.$visible"
      | {{ lead.cell_phone_code_id | ref:leadStatic.references.country_phone_codes:'code' }}
      | &nbsp;
      | {{ lead.cell_phone || '' }}

.row ng-if="lead.site || LeadForm.$visible"
  .col-xs-6.col-m-12
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': LeadForm.$visible}"
      }
        | {{ leadStatic.labels['site'] }}:
  .col-xs-6.col-m-12
    p.clear.text-ellipsis.w-100
      span.text {
        buttons="no"
        editable-text="lead.site"
        e-name="site"
        e-form="LeadForm"
        e-ng-change="validate('site', $data)"
      }
        | {{ lead.site || '' }}


.row ng-if="lead.skype || LeadForm.$visible"
  .col-xs-6.col-m-12
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': LeadForm.$visible}"
      }
        | {{ leadStatic.labels['skype'] }}:
  .col-xs-6.col-m-12
    p.clear.text-ellipsis.w-100
      span.text {
        buttons="no"
        editable-text="lead.skype"
        e-name="skype"
        e-form="LeadForm"
        e-ng-change="validate('skype', $data)"
      }
        | {{ lead.skype || '' }}

.row ng-if="lead.facebook || LeadForm.$visible"
  .col-xs-6.col-m-12
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': LeadForm.$visible}"
      }
        | {{ leadStatic.labels['facebook'] }}:
  .col-xs-6.col-m-12
    p.clear.text-ellipsis.w-100
      span.text {
        buttons="no"
        editable-text="lead.facebook"
        e-name="facebook"
        e-form="LeadForm"
        e-ng-change="validate('facebook', $data)"
      }
        | {{ lead.facebook || '' }}

.row ng-if="lead.viber || LeadForm.$visible"
  .col-xs-6.col-m-12
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': LeadForm.$visible}"
      }
        | {{ leadStatic.labels['viber'] }}:
  .col-xs-6.col-m-12
    p.clear.text-ellipsis.w-100
      span.text {
        buttons="no"
        editable-text="lead.viber"
        e-name="viber"
        e-form="LeadForm"
        e-ng-change="validate('viber', $data)"
      }
        | {{ lead.viber || '' }}

.line.line-dashed.b-b.line-lg.pull-in
.row ng-if="lead.current_job || LeadForm.$visible"
  .col-xs-6.col-m-12
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': LeadForm.$visible}"
      }
        | {{ leadStatic.labels['current_job'] }}:
  .col-xs-6.col-m-12
    p.clear.text-ellipsis.w-100
      span.text {
        buttons="no"
        editable-text="lead.current_job"
        e-name="current_job"
        e-form="LeadForm"
        e-ng-change="validate('current_job', $data)"
        }
          | {{ lead.current_job || '' }}
.row ng-if="lead.current_department || LeadForm.$visible"
  .col-xs-6.col-m-12
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': LeadForm.$visible}"
      }
        | {{ leadStatic.labels['current_department'] }}:
  .col-xs-6.col-m-12
    p.clear.text-ellipsis.w-100
      span.text {
        buttons="no"
        editable-text="lead.current_department"
        e-name="current_department"
        e-form="LeadForm"
        e-ng-change="validate('current_department', $data)"
        }
          | {{ lead.current_department || '' }}

.row ng-if="lead.current_position || LeadForm.$visible"
  .col-xs-6.col-m-12
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': LeadForm.$visible}"
      }
        | {{ leadStatic.labels['current_position'] }}:
  .col-xs-6.col-m-12
    p.clear.text-ellipsis.w-100
      span.text {
        buttons="no"
        editable-text="lead.current_position"
        e-name="current_position"
        e-form="LeadForm"
        e-ng-change="validate('current_position', $data)"
        }
          | {{ lead.current_position || '' }}
.row ng-if="lead.current_is_head != null || LeadForm.$visible"
  .col-xs-6.col-m-12
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': LeadForm.$visible}"
      }
        | {{ leadStatic.labels['current_is_head'] }}:
  .col-xs-6.col-m-12
    p.clear.text-ellipsis
      span.text {
        editable-checkbox="lead.current_is_head"
          e-name="current_is_head"
          e-form="LeadForm"
          e-title="да/нет"
          e-ng-change="validate('current_is_head' ,$data)"
        }
          | {{ lead.current_is_head ? 'Да' : 'Нет' }}
