form {
  editable-form
  onbeforesave="submit($data)"
  name="$parent.LeadForm"
  }

    div {
      ng-click="lead.canBeExpanded && (lead.expanded = !lead.expanded)"
      ng-attr-role="{{lead.canBeExpanded ? 'button' : ''}}"
    }
      .row
        .col-lg-4.col-md-3.col-sm-3.col-xs-4
          span.pull-left.thumb-sm.m-r.hidden-xs {
            ng-class="{
              'avatar avatar-40-round': lead.legal_form == 'individual',
              'avatar-40': lead.legal_form == 'legal_entity'
            }"
            style="background-image: url({{ lead.image.url }})"
          }

          span.clear
            span.text-ellipsis.inline-block.margin-right-3 {
              ng-if="lead.legal_form == 'individual'"
              uib-tooltip="{{ lead | fullname}}"
              tooltip-class="tooltip-overlay"
            }
              | {{ ::lead | fullname }}
            span.text-ellipsis.inline-block {
              ng-if="lead.legal_form == 'legal_entity'"
              uib-tooltip="{{ lead.legal_entity_name }}"
              tooltip-class="tooltip-overlay"
            }
              | {{ lead.legal_entity_name }}
            small.text-muted.clear.text-ellipsis.inline-block
              i.fa.fa-circle.m-r-xs {
                ng-style="{color: (lead | statusColor: companyStatic.references.lead_statuses) }"
              }
              | {{lead.source | ref:leadStatic.references.sources}}

          .col-xs-12.visible-m
            br

        .col-lg-2.col-md-3.col-sm-3.col-xs-4.text-ellipsis
          span.clear.pull-left
            a {
              href="tel:{{lead.work_phone}}"
              uib-tooltip="Рабочий телефон"
              tooltip-placement="left"
              tooltip-append-to-body="true" 
            }
              span
                | {{ lead.work_phone_code_id | ref:leadStatic.refences.country_phone_codes:'code' }} {{ lead.work_phone }}
            a {
              href="mailto:{{ lead.email }}"
              uib-tooltip="Рабочий email:"
              tooltip-placement="left"
            }
              small.text-muted.clear.text-ellipsis {
                ng-if="lead.legal_form == 'individual'"
              }
                | {{ lead.email }}
              small.text-muted.clear.text-ellipsis {
                ng-if="lead.legal_form == 'legal_entity'"
              }
                | {{ lead.legal_entity_email }}

        .col-lg-4.col-md-4.col-sm-4.text-center.text-left-sm.hidden-xs
          .inline.m-r ng-if="user.can('update', 'Lead', lead.id)"
            .btn-group ng-init="radioModel = 'New'"
              label.btn.btn-xs.btn-default {
                ng-class="{
                  'active': lead.status == status.id,
                  'btn-danger': status.id == 'lead_new',
                  'btn-success': status.id == 'lead_in_work',
                }"
                ng-repeat="status in companyStatic.references.lead_statuses"
                ng-click="setStatus(lead, status);$event.stopPropagation();"
              }
                i.fa.fa-check.m-r-xs.text-active {
                  ng-if="lead.status == status.id"
                }
                | {{status.name}}

            small.text-muted.clear.text-ellipsis
              | c {{ lead.created_at | date:'dd.MM.yyyy'}}

        .col-lg-2.col-md-2.col-sm-2.col-xs-4.text-ellipsis
          .inline.text-center.text-left-sm
            span {
              uib-tooltip="{{lead.potential_amount | formatMoney: company.currency}} &nbsp;"
              tooltip-placement="left"
              tooltip-append-to-body="true" 
            }
              | {{lead.potential_amount | formatMoney: company.currency}} &nbsp;
            small.text-muted.clear.text-ellipsis {
              uib-tooltip="Потенциально &nbsp;"
              tooltip-placement="left"
              tooltip-append-to-body="true" 
            }
              | Потенциально


    div uib-collapse="!lead.expanded"
      br
      br
      .line.line-dashed.b-b.line-lg.pull-in

      .col-md-12
        .col-xs-12.pull-right {
          uib-tooltip="Редактирование"
        }
          switcher {
            ng-if="lead.id && user.can('update', 'Lead', lead.id)"
            checked="true"
            confirm-exit="true"
            xeditable="LeadForm"
          }
        .row
          .col-md-6
            .row
              .col-xs-12
                h4 translate="common.BUSINESS_CARD"
                .line.line-dashed.b-b.line-lg

            div {
              ng-if="lead.legal_form == 'individual'"
              ng-include=""
              src="'/assets/views/companies/leads/xedit_individual.html'"
            }
            div {
              ng-if="lead.legal_form == 'legal_entity'"
              ng-include=""
              src="'/assets/views/companies/leads/xedit_legal_entity.html'"
            }

          .col-md-6
            .row
              .col-xs-12
                h4 translate="common.SERVICE_INFORMATION"
                .line.line-dashed.b-b.line-lg
            .row ng-if="lead.status != null || LeadForm.$visible"
              .col-xs-6.col-m-12
                p
                  span.text-muted.clear.text-ellipsis {
                    ng-class="{'m-top-5': LeadForm.$visible}"
                  }
                    | {{ leadStatic.labels.status }}:
              .col-xs-6.col-m-12
                p.clear.text-ellipsis
                  span.text {
                    editable-select="lead.status"
                    e-ng-options="status.id as status.name for status in companyStatic.references.lead_statuses"
                    e-name="status"
                    e-form="LeadForm"
                    e-ng-change="validate('status', $data)"
                  }
                    | {{ lead.status | ref:companyStatic.references.lead_statuses }}

            .row ng-if="lead.manager_id != null || LeadForm.$visible"
              .col-xs-6.col-m-12
                p
                  span.text-muted.clear.text-ellipsis {
                    ng-class="{'m-top-5': LeadForm.$visible}"
                  }
                    | {{ leadStatic.labels.manager_id }}:
              .col-xs-6.col-m-12
                p.clear.text-ellipsis
                  span.text {
                    editable-select="lead.manager_id"
                    e-ng-options="employee.id as (employee.user.name + ' ' + employee.user.surname) for employee in employees"
                    e-name="manager_id"
                    e-form="LeadForm"
                    e-ng-change="lead.manager_id = $data; validate('manager_id', $data)"
                  }
                    | {{ lead.manager_id | ref:employees:'user' | fullname }}

            .row ng-if="lead.second_manager_id != null || LeadForm.$visible"
              .col-xs-6.col-m-12
                p
                  span.text-muted.clear.text-ellipsis {
                    ng-class="{'m-top-5': LeadForm.$visible}"
                  }
                    | {{ leadStatic.labels.second_manager_id }}:
              .col-xs-6.col-m-12
                p.clear.text-ellipsis
                  span.text {
                    editable-select="lead.second_manager_id"
                    e-ng-options="employee.id as (employee.user.name + ' ' + employee.user.surname) for employee in employeesForSecondManager"
                    e-name="second_manager_id"
                    e-form="LeadForm"
                    e-ng-change="validate('second_manager_id', $data)"
                    e-placeholder="&nbsp;"
                  }
                    | {{ lead.second_manager_id | ref:employees:'user' | fullname }}

            .row ng-if="lead.visibility || LeadForm.$visible"
              .col-xs-6.col-m-12
                p
                  span.text-muted.clear.text-ellipsis {
                    ng-class="{'m-top-5': LeadForm.$visible}"
                  }
                    | {{ leadStatic.labels.visibility }}:
              .col-xs-6.col-m-12
                p.clear.text-ellipsis
                  span.text {
                    editable-select="lead.visibility"
                    e-ng-options="visibility.id as visibility.name for visibility in leadStatic.references.visibilities"
                    e-name="visibility"
                    e-form="LeadForm"
                    e-ng-change="validate('visibility', $data)"
                  }
                    | {{ lead.visibility | ref:leadStatic.references.visibilities }}
            .row ng-if="lead.legal_form"
              .col-xs-6.col-m-12
                p
                  span.text-muted.clear.text-ellipsis
                    | {{ leadStatic.labels.legal_form }}:
              .col-xs-6.col-m-12
                p.clear.text-ellipsis
                  | {{ lead.legal_form | ref:leadStatic.references.legal_forms }}

            .row ng-if="lead.potential_amount  || LeadForm.$visible"
              .col-xs-6.col-m-12
                p
                  span.text-muted.clear.text-ellipsis {
                    ng-class="{'m-top-5': LeadForm.$visible}"
                  }
                    | {{ leadStatic.labels.potential_amount }}:
              .col-xs-6.col-m-12
                p.clear.text-ellipsis.w-100
                  span.text {
                    editable-text="lead.potential_amount"
                    e-name="potential_amount"
                    e-form="LeadForm"
                    e-ng-change="validate('potential_amount', $data)"
                  }
                    | {{ lead.potential_amount | formatMoney: company.currency }}


            .row ng-if="lead.source  || LeadForm.$visible"
              .col-xs-6.col-m-12
                p
                  span.text-muted.clear.text-ellipsis {
                    ng-class="{'m-top-5': LeadForm.$visible}"
                  }
                    | {{ leadStatic.labels.source }}:
              .col-xs-6.col-m-12
                p.clear.text-ellipsis.w-100
                  span.text {
                    e-ng-options="source.id as source.name for source in leadStatic.references.sources"
                    editable-select="lead.source"
                    e-name="source"
                    e-form="LeadForm"
                    e-ng-change="validate('source', $data)"
                  }
                    | {{ lead.source | ref:leadStatic.references.sources }}

            .row ng-if="lead.recommender  || LeadForm.$visible"
              .col-xs-6.col-m-12
                p
                  span.text-muted.clear.text-ellipsis {
                    ng-class="{'m-top-5': LeadForm.$visible}"
                  }
                    | {{ leadStatic.labels.recommender }}:
              .col-xs-6.col-m-12
                p.clear.text-ellipsis.w-100
                  span.text {
                    editable-text="lead.recommender"
                    e-name="recommender"
                    e-form="LeadForm"
                    e-ng-change="validate('recommender', $data)"
                  }
                    | {{ lead.recommender }}


            .row ng-if="lead.notes  || LeadForm.$visible"
              .col-xs-6.col-m-12
                p
                  span.text-muted.clear.text-ellipsis
                    | {{ leadStatic.labels.notes }}:
              .col-xs-6.col-m-12
                p.clear.text-ellipsis.w-100
                  span.text {
                    editable-textarea="lead.notes"
                    e-name="notes"
                    e-form="LeadForm"
                    e-ng-change="validate('notes', $data)"
                  }
                    | {{ lead.notes }}

      .pull-right.clear-both.m-b {
        ng-if="lead.id && user.can('update', 'Lead', lead.id)"
        uib-tooltip="Редактирование"
      }
        switcher {
          checked="true"
          xeditable="LeadForm"
        }
      br
      br

      .line.line-dashed.b-b.line-lg.pull-in
      .col-lg-12.text-center
        .btn-group
          button.btn.btn-default.nowrap {
            type="button"
            ng-click="section.active = 'tasks'; loadTasks()"
            ng-class="{active: section.active == 'tasks'}"
          }
            i.icon-directions.text-light.lter.m-r-xs
            | Дела &nbsp;
            b.badge.bg-success.inline
              | {{ lead.related_tasks_count || 0 }}

          button.btn.btn-default.nowrap {
            type="button"
            ng-click="section.active = 'products'"
            ng-class="{active: section.active == 'products'}"
          }
            i.icon-basket-loaded.text-light.lter.m-r-xs
            | Товары &nbsp;
            b.badge.bg-success.inline
              | {{ lead.lead_products.length }}

          button.btn.btn-default.nowrap {
            type="button"
            ng-click="section.active = 'history'"
            ng-class="{active: section.active == 'history'}"
          }
            i.icon-puzzle.text-light.lter.m-r-xs
            | История &nbsp;
            b.badge.bg-success.inline
              | {{ lead.history_length || 0 }}

        .btn-group
          p.hidden-lg.hidden-md
          a.btn.btn-success {
            ng-if="user.can('convert', 'Lead', lead.id)"
            ng-click="convert()"
            uib-tooltip="Конвертировать лид в клиента"
            type="button"
          }
            i.icon-fire.text-light.lter.m-r-xs
            | Конвертировать

      .additional-sections.col-md-12.m-b-sm ng-show="section.active"
        .line.line-dashed.b-b.line-lg.pull-in

        / Дела
        div ng-if="section.active == 'tasks'"
          .text-center
            a.btn.btn-primary.btn-addon.btn-lg {
              uib-tooltip="Создать новую задачу"
              type="button"
              ng-href="/companies/{{company.id}}/tasks/new?client_id={{lead.id}}"
            }
              i.icon-directions
              | Создать задачу

          related-tasks-list {
            tasks="lead.related_tasks"
            show-client="false"
          }
        / Товары
        div ng-show="section.active == 'products'"
          .col-md-12.text-center
            a.btn.btn-lg.btn-primary.btn-addon {
              ng-if="user.can('update', 'Lead', lead.id)"
              ng-click="addLeadProduct()"
            }
              i.icon-basket-loaded.text
              span.text translate="model.deal.ADD_PRODUCT"

          br
          br

          .line.line-dashed.b-b.line-lg.pull-in
          br
          .col-md-12.m-b {
            ng-repeat="lead_product in lead.lead_products"
            ng-class="{'block-muted': lead_product.returned_at}"
            uib-tooltip="{{lead_product.returned_at && 'Товар возвращен'}}"
          }
            .col-xs-5
              span.pull-left.thumb-sm.m-r.avatar-40
                img.r.r-2x src="assets/img/default-avatar.png"
              span.clear
                span
                  i.fa.fa-circle.text-primary {
                    uib-tooltip="Категория"
                  }
                  | &nbsp; {{ lead_product.product.vendor_code }} {{ lead_product.product.name }}
                br
                small.text-muted.clear.text-ellipsis
                  | Стоимость: {{ lead_product.product.price | formatMoney: company.currency }}

            .col-xs-3
              button.btn.btn-success.btn-lg.btn-addon {
                uib-tooltip="Количество:"
                type="button"
                tooltip-placement="left"
              }
                i.icon-basket-loaded.text
                span.text
                  | {{ lead_product.count }} шт.

            .col-xs-3
              button.btn.btn-success.btn-lg.btn-addon {
                uib-tooltip="Сумма:"
                type="button"
                tooltip-placement="left"
              }
                i.icon-calculator.text
                span.text
                  | {{ lead_product.product.price * lead_product.count | formatMoney: company.currency }}
            .col-xs-1.text-center
              .inline.m-r
                button.btn.btn-success.btn-lg {
                  type="button"
                  uib-tooltip="ABC-анализ: Без изменений"
                }
                  | AB

          br
          br

          .line.line-dashed.b-b.line-lg.pull-in
          br
          br

          .line.line-dashed.b-b.line-lg.pull-in
          .col-md-12
            .col-xs-5
            .col-xs-3.text-right
              span.text
                strong
                  | Итого:
            .col-xs-3
              span.text
                strong
                  | {{ lead.productsTotal | formatMoney: company.currency }}

          .col-md-12
            .col-xs-5
            .col-xs-3.text-right
              span.text
                | НДС:
            .col-xs-3
              span.text
                | {{ lead.vatSum | formatMoney: company.currency }}


        / История
        div ng-if="section.active == 'history'"
          stream {
            company-id="lead.company_id"
            subject-type="Lead"
            subject-id="lead.id"
            level="local"
          }
