.checkbox.m-b-md.m-t-none ng-class="{'has-error has-feedback': model.errors[field]}"
  label.i-checks
    input {
      type="checkbox"
      name="{{ attrName }}"
      ng-model="model[field]"
      ng-change="model.dirty=true;model.errors[field] = null"
      ng-true-value="1"
      ng-false-value="0"
      ng-required="required"
    }

    i ng-show="parts.indexOf('label') > -1"
    span {
      style="margin-left: 0;"
      ng-bind-html="model.labels[field] || label"
      ng-show="parts.indexOf('label') > -1"
    }

  small.help-block ng-show="model.errors[field] && parts.indexOf('error') > -1"
    | {{model.errors[field].join('; ')}}
