div ng-class="{'has-error has-feedback': model.errors[field], 'form-group': parts.indexOf('group') > -1}"
  label ng-show="parts.indexOf('label') > -1"
    | {{model.labels[field]}}
  colorpicker {
    colorpicker-model="model[field]"
    colorpicker-options="options"
  }
