div ng-class="{'has-error has-feedback': model.errors[field], 'form-group': parts.indexOf('group') > -1}"
  label ng-show="parts.indexOf('label') > -1"
    | {{model.labels[field]}}

  input.form-control {
    type="text"
    ng-model="model[field + '_uib']"
    ng-change="changed()"
    date-only
    uib-datepicker-popup="dd.MM.yyyy"
    is-open="date_opened"
    ng-click="date_opened = true"
    ng-required="required"
    datepicker-options="datepickerOptions"
  }

  small.help-block ng-if="model.errors[field]"
    | {{model.errors[field].join('; ')}}
