div ng-class="{'has-error has-feedback': model.errors[field], 'form-group': parts.indexOf('group') > -1}"
  label ng-show="parts.indexOf('label') > -1"
    | {{model.labels[field]}}

  input {
    type="email"
    name="{{ attrName }}"
    ng-show="parts.indexOf('input') > -1"
    class="form-control {{ attrClass }}"
    ng-model="model[field]"
    ng-change="model.dirty=true;model.errors[field] = null"
    ng-required="required"
    translate 
    translate-attr-placeholder="form.EMAIL"
  }

	small.help-block ng-show="model.errors[field] && parts.indexOf('error') > -1"
	  | {{model.errors[field].join('; ')}}


