div ng-class="{'has-error has-feedback': model.errors[field]}"
  input.form-control{
    type="file"
    ng-model="model[field]"
    ng-change="model.dirty=true;model.errors[field] = null"
    ngf-select=""
    ui-jq="filestyle"
    ui-options= "{buttonText: '&nbsp; Choose file'}"
    data-icon="false"
    data-classbutton="btn btn-default"
    data-classinput="form-control inline v-middle input-s"
    style="position: absolute; clip: rect(0px 0px 0px 0px);"
    id="filestyle-{{field}}-{{uniqueId}}"
    ng-if="multiple"
    multiple=""
    ng-required="required"
  }

  input.form-control{
    type= "file"
    ng-model= "model[field]"
    ng-change="model.dirty=true;model.errors[field] = null"
    ngf-select= ""
    ui-jq= "filestyle"
    ui-options= "{buttonText: '&nbsp; Choose file'}"
    data-icon= "false"
    data-classbutton= "btn btn-default"
    data-classinput= "form-control inline v-middle input-s"
    style= "position: absolute; clip: rect(0px 0px 0px 0px);"
    id= "filestyle-{{field}}"
    ng-if= "!multiple"
    ng-required="required"
  }
  small.help-block
    | {{model.errors[field].join('; ')}}
