div ng-class="{'has-error has-feedback': model.errors[field], 'form-group': parts.indexOf('group') > -1}"
  label ng-show="parts.indexOf('label') > -1"
    | {{model.labels[field]}}

  input {
    type="password"
    name="{{ attrName }}"
    ng-show="parts.indexOf('input') > -1"
    class="form-control {{ attrClass }}"
    ng-model="model[field]"
    ng-change="model.dirty=true;model.errors[field] = null"
    ng-required="required"
    ng-minlength="minLength"
    translate
    translate-attr-placeholder="form.PASSWORD"
  }

  small.help-block ng-if="model.errors[field] && parts.indexOf('error') > -1"
    | {{model.errors[field].join('; ')}}
