.inline.m-r-sm ng-repeat="item in options"
  .radio ng-class="{'has-error has-feedback': model.errors[field], 'form-group': parts.indexOf('group') > -1}"
    label.i-checks.checkbox-inline
      input {
        type="radio" 
        name="{{::attrName}}"
        value="{{::item.id}}"
        ng-show="parts.indexOf('input') > -1"
        ng-required="required"
        ng-model="model[field]"
        ng-change="model.dirty=true;model.errors[field] = null"
      }

      i ng-show="parts.indexOf('label') > -1"
      | {{ ::item.name }}

div ng-class="{'has-error': model.errors[field]}"
  small.help-block ng-show="model.errors[field] && parts.indexOf('error') > -1"
    | {{model.errors[field].join('; ')}}
