.radio ng-class="{'has-error has-feedback': model.errors[field], 'form-group': parts.indexOf('group') > -1}"
  label.i-checks.checkbox-inline
    input {
      type="radio" 
      name="{{attrName}}"
      ng-show="parts.indexOf('input') > -1"
      ng-required="required"
      ng-model="model[field]"
      ng-change="company.dirty=true"
    }

    i ng-show="parts.indexOf('label') > -1"
    | {{ model.labels[field]}}

  small.help-block ng-show="model.errors[field] && parts.indexOf('error') > -1"
    | {{model.errors[field].join('; ')}}