div {
  ng-class="{
    'has-error has-feedback': model.errors[field],
    'form-group': parts.indexOf('group') > -1
  }"
  class="{{ attrClass }}"
}
  label ng-show="parts.indexOf('label') > -1"
    | {{model.labels[field]}}

  select.form-control {
    type="text"
    ng-model="model[field]"
    ng-change="model.dirty=true;model.errors[field] = null"
    ng-options="option.id as option.name group by option.group for option in options"
    ng-required="required"
    ng-show="parts.indexOf('input') > -1"
    multiple="multiple"
    ng-if="multiple"
    ng-disabled="options.length < 1"
  }


  select.form-control {
    type="text"
    ng-model="model[field]"
    ng-change="model.dirty=true;model.errors[field] = null"
    ng-options="option.id as option.name group by option.group for option in options"
    ng-required="required"
    ng-show="parts.indexOf('input') > -1"
    ng-if="!multiple"
    ng-disabled="options.length < 1"
  }
    option value="" ng-if="placeholder !== undefined"
      | {{placeholder}}

  small.help-block ng-show="model.errors[field] && parts.indexOf('error') > -1"
    | {{model.errors[field].join('; ')}}
