div ng-class="{'has-error has-feedback': model.errors[field], 'form-group': parts.indexOf('group') > -1}"
  label ng-show="parts.indexOf('label') > -1"
    | {{model.labels[field]}}

  textarea.form-control {
    ng-model="model[field]"
    ng-change="model.dirty=true;model.errors[field] = null"
    ng-show="parts.indexOf('input') > -1"
    placeholder="{{ placeholder }}"
    ng-required="required"
    style="resize: vertical"
  }

  small.help-block ng-show="model.errors[field] && parts.indexOf('error') > -1"
    | {{model.errors[field].join('; ')}}
