.panel
  .panel-heading
    h1
      | Переводы
  .panel-body
    table.table
      tr ng-repeat="item in data"
        td
          | {{ $index + 1 }}
        td
          | {{ ::item.key }}
        td
          span ng-repeat="value in item.values | filter: {lang: 'ru'}"
            | {{ ::value.value }}
        td
          span ng-repeat="value in item.values | filter: {lang: 'en'}"
            | {{ ::value.value }}