.input-group
  ui-select ng-model="$ctrl.source" ng-change="$ctrl.setSourceOfRecord()"
    ui-select-match ng-switch="$select.selected.type"
      span ng-switch-when="Client|Supplier" ng-switch-when-separator="|" ng-if="$select.selected.legal_form == 'legal_entity'"
        | {{$select.selected.legal_entity_name}}
      span ng-switch-when="Client|Supplier" ng-switch-when-separator="|" ng-if="$select.selected.legal_form == 'individual'"
        | {{$select.selected | fullname}}

      span ng-switch-when="Employee" 
        | {{$select.selected | fullname}}

    ui-select-choices {
      repeat="source in $ctrl.searchedSources track by [source.id, source.type]"
      refresh="$ctrl.searchSources($select.search)"
      group-by="$ctrl.getType"
      minimum-input-length="3"
    }
      span ng-switch="source.type"
        span ng-switch-when="Client|Supplier" ng-switch-when-separator="|"
          span ng-if="source.legal_form == 'legal_entity'"
            | {{source.legal_entity_name}}
          span ng-if="source.legal_form == 'individual'"
            | {{source | fullname}}

        span ng-switch-when="Employee" 
          | {{source | fullname}}
      
  span.input-group-btn
    button.btn.btn-default ng-click="$ctrl.source = undefined; $ctrl.setSourceOfRecord()"
      span.glyphicon.glyphicon-trash
