doctype html
html ng-app="app"
  head
    title ng-controller="PageTitleCtrl" ng-bind="getTitle()"
    base href="/"
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, height=device-height"
    
    link rel="icon" type="image/png" href="assets/img/favicon.png"

    link href="/assets/fonts/source-sans-pro.css" rel="stylesheet" type="text/css"

    <% _.each(assets.css, function(file) { %>
    link href="/assets/<%= file %>" rel="stylesheet" type="text/css"
    <% }) %>

    <% _.each(assets.js , function(file) { %>
    script src="/assets/<%= file %>"
    <% }) %>

  body#top
    .app.app-header-fixed {
      ng-class="{'app-header-fixed':app.settings.headerFixed, 'app-aside-fixed':app.settings.asideFixed,
        'app-aside-folded':app.settings.asideFolded,
        'app-aside-dock':app.settings.asideDock,
        'container':app.settings.container}"
    }
      div ng-if="user.id && !hideHeader" ng-controller="HeaderCtrl" ng-include="'assets/views/layout/blocks/header.html'"
      div ng-if="user.id && !hideSidebar" ng-include="'assets/views/layout/blocks/sidebar.html'"

      div ng-view=""

      toaster-container

      #overlay ng-class="{'active': overlayMessage}"
        .message
          | {{overlayMessage}}

