doctype html
html ng-app="app"
  head
    title ng-controller="PageTitleCtrl" ng-bind="getTitle()"
    base href="/"
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, height=device-height"
    
    link rel="icon" type="image/png" href="assets/img/favicon.png"

    link href="/assets/fonts/source-sans-pro.css" rel="stylesheet" type="text/css"

    <% _.each(assets.js , function(file) { %>
    script src="/assets/<%= file %>"
    <% }) %>

  body
    div ng-view=""
