.modal role="dialog" tabindex="-1"
  .modal-dialog
    .modal-content
      form ng-submit="submit()"
        .modal-header
          button.close {
            aria-label="Close"
            data-dismiss="modal"
            type="button"
          }
            span aria-hidden="true" &times;
          h4.modal-title {
            ng-if="!status.id"
            translate="model.generic_status.CREATE_TITLE"
          }
          h4.modal-title {
            ng-if="status.id"
            translate="model.generic_status.EDIT_TITLE"
          }

        .modal-body
          label
            | {{ labels['name'] }}
          field {
            type="'text'"
            model="status"
            field="'name'"
            template="'input,error'"
          }

          label
            | {{ labels['color'] }}
          field {
            type="'color'"
            model="status"
            field="'color'"
            options="colors"
            template="'input,error'"
          }

          label ng-if="availableStatuses.length > 0"
            | {{ labels.status_after_delete }}
          field {
            ng-if="availableStatuses.length > 0"
            type="'select'"
            field="'status_after_delete'"
            model="status"
            options="availableStatuses"
            template="'input,error'"
          }

        .modal-footer
          button.btn.btn-default {
            data-dismiss="modal"
            type="button"
            translate="common.CLOSE"
          }

          button.btn.btn-primary {
            type="submit"
            translate="common.SAVE"
            ng-disabled="!status.name || !status.color"
          }

          span.btn.btn-danger.pull-left {
            ng-if="status.id && !status.system && user.can('delete_safely', entityClass, {company_id: status.company_id})"
            ng-click="delete(status.id)"
            translate="common.DELETE"
          }
