.app-content
  .app-content-body
    .wrapper-md.bg-light.b-b
      button.btn.btn-default.btn-addon.pull-right.m-t-n-xs target="#aside" type="button" ui-toggle-class="show"
        i.fa.fa-bars
        | List
      h1.m-n.font-thin.h3 Fullcalendar
    .hbox.hbox-auto-xs.hbox-auto-sm
      .col.wrapper-md
        .clearfix.m-b
          form.form-inline ng-submit="addEvent()" 
            .form-group
              input.form-control ng-model="newEvent.title" placeholder="Описание" name="foo"
            .form-group
              input.form-control {
                type="text"
                ng-model="newEvent.startDate"
                uib-datepicker-popup="dd.MM.yyyy"
                is-open="startDateOpened"
                ng-click="startDateOpened = true"
                placeholder="Дата начала"
              }
            .form-group
              div {
                uib-timepicker
                ng-model="newEvent.startTime"
                hour-step="1"
                minute-step="1"
                show-meridian="false"
              }
            .form-group
              input.form-control {
                type="text"
                ng-model="newEvent.endDate"
                uib-datepicker-popup="dd.MM.yyyy"
                is-open="endDateOpened"
                ng-click="endDateOpened = true"
                placeholder="Дата завершения"
              }
            .form-group
              div {
                uib-timepicker
                ng-model="newEvent.endTime"
                hour-step="1"
                minute-step="1"
                show-meridian="false"
              }
            .form-group
              select.form-control {
                ng-model="newEvent.recurring"
              }
                option value="" Период повторения
                option value="daily" Каждый день
                option value="weekly" Каждую неделю
                option value="monthly" Каждый месяц
                option value="yearly" Каждый год

            button.btn.btn-sm.btn-primary.btn-addon type="submit"
              i.fa.fa-plus
              | Добавить

          .pull-right
            button.btn.btn-sm.btn-default ng-click="today()" type="button"  today
            .btn-group.m-l-xs
              button.btn.btn-sm.btn-default ng-click="changeView('agendaDay')"  Day
              button.btn.btn-sm.btn-default ng-click="changeView('agendaWeek')"  Week
              button.btn.btn-sm.btn-default ng-click="changeView('month')"  Month
        .pos-rlt
          .fc-overlay
            .panel.bg-white.b-a.pos-rlt
              span.arrow
              .h4.font-thin.m-b-sm  {event.title}
              .line.b-b.b-light
              div
                i.icon-calendar.text-muted.m-r-xs
                | {{event.start | date:'medium'}}
              .ng-hide ng-show="event.end"
                i.icon-clock.text-muted.m-r-xs
                | {{event.end | date:'medium'}}
              .ng-hide ng-show="event.location"
                i.icon-pointer.text-muted.m-r-xs
                | {{event.location}}
              .m-t-sm 
                | {{event.info}}
              .m-t-sm
                | {{event.url}}

          .calendar ng-model="eventSources" ui-calendar="calendarConfig" calendar="personalCalendar"

      #aside.col.w-md.w-auto-xs.bg-light.dk.bg-auto.b-l.hide
        .wrapper
          .bg-white-only.r.r-2x.m-b-xs.wrapper-sm class="{{e.className[0]}}" ng-repeat="e in events"
            .m-t-n-xs.no-border.no-padder.no-bg
              | {{e.title}}
            a.pull-right.text-xs.text-muted ng-if="!e.kind" ng-click="remove(e)"
              i.fa.fa-trash-o
            .text-xs.text-muted ng-if="!e.end"
              | {{e.start | date:"MMM dd"}}
            .text-xs.text-muted ng-if="e.end"
              | {{e.start | date:"MMM dd"}} - {{e.end | date:"MMM dd"}}

div ng-include="" src="'assets/views/layout/blocks/footer.html'"
