.modal role="dialog" tabindex="-1"
  .modal-dialog
    .modal-content
      form ng-submit="submit()"
        .modal-header
          button.close {
            aria-label="Close"
            data-dismiss="modal"
            type="button"
          }
            span aria-hidden="true"  &times;
          h4.modal-title translate="model.product.ALREADY_EXISTS_TITLE"

        .modal-body
          span.text-center.btn.btn-default.btn-lg
            span.clear.thumb-md
              img.r.r-2x {
                alt="..."
                src="{{product.images[product.preview_index].url}}"
                ng-if="product.images.length > 0"
              }
              img.r.r-2x {
                alt="..."
                src="build/img/favicon.png"
                ng-if="product.images.length == 0"
              }
            span.clear
              span
                i.fa.fa-circle.text-primary tooltip="{{product.category.name}}"
                | {{product.name}}
              br
              small.text-muted.clear.text-ellipsis tooltip="Артикул"
                | {{product.vendor_code}}
              span tooltip="Стоимость"
                | {{product.price + ' ' + company.currency}}

        .modal-footer
          button.btn.btn-default {
            data-dismiss="modal"
            type="button"
            translate="common.CONTINUE_EDITING"
          }

          button.btn.btn-primary {
            type="submit"
            translate="model.product.DELETE_EXISTS"
          }
