form.form-horizontal ng-submit="submit()"

  .line.line-dashed.b-b.line-lg.pull-in
  .row
    .col-md-6.col-xs-12
      .form-group
        label.control-label.col-md-5.col-sm-3.col-xs-12
          | {{ salesPlanStatic.labels['month'] }}
        .col-md-7.col-sm-9.col-xs-12
          ui-select {
            ng-model="salesPlan.date"
          }
            ui-select-match
              span
                | {{ $select.selected.name }}
            ui-select-choices {
              repeat="date in (salesPlanStatic.references.dates | filter: $select.search)"
            }
              span
                | {{ date.name }}

    .col-md-6.col-xs-12.text-right-sm
      .btn-group.inline
        button.btn.btn-default {
          type="button"
          ng-click="salesPlan.kind = 'by_sum'"
          ng-class="{'active': salesPlan.kind == 'by_sum'}"
          translate="form.sales_plan.KINDS.BY_SUM"
          ng-disabled="!salesPlan.editable"
        }
        button.btn.btn-default {
          type="button"
          ng-click="salesPlan.kind = 'by_quantity'"
          ng-class="{'active': salesPlan.kind == 'by_quantity'}"
          translate="form.sales_plan.KINDS.BY_QUANTITY"
          ng-disabled="!salesPlan.editable"
        }

  div ng-if="salesPlan.date"
    .line.line-dashed.b-b.line-lg.pull-in

    .alert.alert-danger {
      role="alert"
      ng-if="salesPlan.editable === false"
    }
      | Редактирование не доступно

    .row
      .col-md-6.xs-12
        .row.m-b {
          ng-if="salesPlan.editable"
        }
          .col-md-4.col-xs-12
            ui-select {
              ng-model="salesPlanProduct.category"
            }
              ui-select-match
                span
                  i.fa.fa-circle style="color: {{'#' + $select.selected.color}}"
                  | &nbsp;
                  | {{ $select.selected.name }}
              ui-select-choices {
                repeat="category in (categories | filter: $select.search) track by category.id"
              }
                span
                  i.fa.fa-circle {
                    style="color: {{'#' + category.color}}"
                  }
                  | &nbsp;
                  | {{ category.name }}

          .col-md-12.col-xs-12.hidden-lg.hidden-md.m-t
          
          .col-md-4.col-xs-12
            ui-select {
              ng-model="salesPlanProduct.product"
            }
              ui-select-match
                span
                  | {{ $select.selected.vendor_code }}
                  | :&nbsp;
                  | {{ $select.selected.name }}
              ui-select-choices {
                repeat="product in (products | filter: salesPlanFilter | filter: $select.search) track by product.id"
              }
                span.thumb-sm.m-r.avatar-40
                  img.r.r-2x {
                    src="{{ product.images[product.preview_index].url }}"
                  }
                span
                  | {{ product.vendor_code }}
                  | :&nbsp;
                  | {{ product.name }}

          .col-md-12.col-xs-12.hidden-lg.hidden-md.m-t

          .col-md-4.col-xs-12.text-right
            button.btn.btn-default.m-r-xs {
              type="button"
              ng-click="addSalesPlanProduct()"
              ng-disabled="!salesPlanProduct.product.id || !salesPlan.editable"
            }
              | Добавить


        div ng-if="salesPlan.sales_plan_products.length > 0"
          .line.line-dashed.b-b.line-lg.pull-in
          .row.m-b
            .col-xs-2
              | Картинка
            .col-xs-6
              | Название
            .col-xs-3 ng-if="salesPlan.kind == 'by_quantity'"
              | Количество
            .col-xs-3 ng-if="salesPlan.kind == 'by_sum'"
              | Сумма, {{ company.currency }}

        .line.line-dashed.b-b.line-lg.pull-in
        
        div {
          ng-repeat="salesPlanProduct in salesPlan.sales_plan_products"
          ng-if="!salesPlanProduct._destroy"
        }
          .row.m-b
            .col-xs-2
              span.pull-left.thumb-sm.m-r.avatar-40
                img.r.r-2x src="{{ salesPlanProduct.product.images[salesPlanProduct.product.preview_index].url }}"

            .col-xs-6.text-ellipsis
              .name
                | {{ salesPlanProduct.product.vendor_code }}
                | :&nbsp;
                | {{ salesPlanProduct.product.name }}
              
              .category
                i.fa.fa-circle style="color: {{'#'+salesPlanProduct.category.color}}"
                | &nbsp;
                | {{ salesPlanProduct.category.name }}

            .col-xs-3 ng-if="salesPlan.kind == 'by_quantity'"
              input.form-control {
                type="number"
                string-to-number=""
                ng-model="salesPlanProduct.quantity"
                ng-change="validate()"
                ng-disabled="!salesPlan.editable"
              }

            .col-xs-3 ng-if="salesPlan.kind == 'by_sum'"
              input.form-control {
                type="number"
                string-to-number=""
                step="0.01"
                ng-model="salesPlanProduct.sum"
                ng-change="validate()"
                ng-disabled="!salesPlan.editable"
              }

            .col-xs-1 ng-if="salesPlan.editable"
              a {
                href=""
                ng-click="removeSalesPlanProduct(salesPlanProduct.id || salesPlanProduct.temp_id)"
              }
                i.fa.fa-times.text-danger

        div ng-if="!productsQuantityOrSumIsValid"
          .text-danger.text-right
            | Количество товара невалидно

      .col-md-6.xs-12
        .line.line-dashed.b-b.line-lg.hidden-lg.hidden-md
        div ng-if="salesPlan.sales_plan_employees.length > 0"
          h4 Распределение плана, в %
          .line.line-dashed.b-b.line-lg.pull-in

        div ng-repeat="salesPlanEmployee in salesPlan.sales_plan_employees"
          .row.m-b
            .col-xs-2
              span.pull-left.thumb-sm.m-r.avatar-40-round
                img.r.r-2x src="{{ salesPlanEmployee.employee.image.url }}"

            .col-xs-6.text-ellipsis
              | {{ salesPlanEmployee.employee.full_name }}

            .col-xs-4
              input.form-control {
                type="number"
                min="0"
                max="100"
                ng-model="salesPlanEmployee.part"
                ng-change="validate()"
                ng-disabled="!salesPlan.editable"
              }

        div ng-if="!salesPlanDistributionIsValid"
          .text-danger.text-right
            | Распределение невалидно

    .line.line-dashed.b-b.line-lg.pull-in
    .form-group
      .col-xs-12.text-right
        a.inline.btn.btn-default.m-r-xs  {
          href="/companies/{{companyId}}/sales_plan"
          translate="common.CANCEL"
        }
        | &nbsp;
        button.inline.btn.btn-primary.m-r-xs {
          ng-disabled="!salesPlanIsValid || !salesPlan.editable"
          type="submit"
          translate="common.SAVE"
        }
