.app-content
  .app-content-body
    .bg-light.lter.b-b.wrapper-md
      .row
        .col-sm-6.col-xs-12
          div uib-dropdown=""
            h1.m-n.font-thin.h3.text-black
              span
                i.icon-bar-chart.margin-right-3
              a aria-expanded="false" aria-haspopup="true" uib-dropdown-toggle="" ng-disabled="disabled"
                | План продаж
                span.caret
            ul.dropdown-menu role="menu"
              li
                a href="/companies/{{companyId}}/sales-report" Отчет по продажам
              li
                a href="/companies/{{companyId}}/break-even-analysis" Анализ безубыточности
              li
                a href="/companies/{{companyId}}/budget" Фактический бюджет
              li.divider
              li
                a href=""  Статистика клиентов
              li.divider
              li
                a href="#" План продаж
              li
                a href="/companies/{{companyId}}/cash_book" Журнал кассовой книги

            small.text-muted
              | {{ company.name }}
        .col-sm-6.text-right.hidden-xs
          company-clients-and-income {
            ng-if="company"
            currency="company.currency"
            created-clients-count-by-days="company.created_clients_count_by_days"
            clients-count="company.clients_count"
            actual-income-by-days="company.actual_income_by_days"
            actual-income="company.actual_income"
          }

    sales-plan-chart {
      sales-plans="allSalesPlans"
      on-chart-init="loadSalesPlans()"
      company="company"
    }

    .wrapper-md
      .panel.panel-default
        .panel-body.b-b.b-light
          .row
            .col-xs-6
              div
                | План продаж:
                span.h2.m-b-sm.text-info
                  | {{ totalSum | formatMoney: company.currency }}
            .col-xs-6.text-right
              .btn-group
                button.btn.btn-default {
                  type="button"
                  ng-repeat="category in company.product_categories"
                  ng-click="toggleSelectedProductCategories(category)"
                  ng-class="{'active': currentCategory.id == category.id}"
                }
                  i.fa.fa-circle.margin-right-3.pull-left {
                    style="color: {{ '#' + category.color }};"
                  }
                  span.margin-right-3.inline-block.pull-left
                    | {{ category.name }}
                  b.badge.bg-success.pull-right
                    | {{ category.count }}

      .row
        .col-md-9.col-xs-8
          .row
            .col-md-5.col-xs-6.text-align-sm
              .panel.no-border
                .panel-heading.wrapper.b-b.b-light
                  .row
                    .col-xs-12
                      i.fa.icon-pie-chart.margin-right-3 {
                        uib-tooltip="Месяц"
                        tooltip-append-to-body="true"
                      }
                      span.hidden-xs.hidden-sm
                        | Месяц
                  .row
                    .col-xs-12
                      i.fa.icon-wallet.margin-right-3 {
                        uib-tooltip="Сумма"
                        tooltip-append-to-body="true"
                      }
                      span.hidden-xs.hidden-sm
                        | Сумма
                  .row
                    .col-xs-12
                      i.fa.icon-calculator.margin-right-3 {
                        uib-tooltip="Количество"
                        tooltip-append-to-body="true"
                      }
                      span.hidden-xs.hidden-sm
                        | Количество
                table.table.table-striped.m-b-none.table-fixed
                  tbody
                    tr ng-repeat="product in products | filter:filterProductsByCategory"
                      th.text-ellipsis
                        | {{product.id}} -
                        | {{ product.vendor_code }}:
                        | &nbsp;
                        | {{ product.name }}
                        span.label.bg-light.m-l-sm ng-if="product.activity == 'no' || product.activity == 'archive'"
                          | {{product.activity | ref:productStatic.references.activities}}

            .col-md-7.col-xs-6
              .row.pos-rlt
                .col-xs-1.m-t-lg.m-l-xs.sales-plan__widget__arr__left
                  a {
                    href=""
                    ng-click="prevQuarter()"
                  }
                    span
                      i.fa.fa-angle-left.fa-3x
                .col-xs-9.sales-plan__widget
                  .panel.no-border

                    table.table.table-striped.m-b-none.sales-plan-table
                      thead
                        tr
                          th.text-center ng-repeat="salesPlan in salesPlans"
                            month-name month="salesPlan.month" year="salesPlan.year"
                            .text-ellipsis
                              span {
                                ng-if="!currentCategory"
                                editable-text="salesPlan.sum"
                                buttons="no"
                                edit-disabled="!user.can('manage', 'SalesPlan', {company_id: companyId}) || !isInFuture(salesPlan)"
                                onbeforesave="updateOrCreateSalesPlanBySum(salesPlan, $data)"
                              }
                                | {{ salesPlan.sum | formatMoney: company.currency | placeholder:'0' }}

                              span {
                                ng-if="currentCategory"
                                editable-text="salesPlan.categoriesHash[currentCategory.id].sum"
                                buttons="no"
                                edit-disabled="!user.can('manage', 'SalesPlan', {company_id: companyId}) || !isInFuture(salesPlan)"
                                onbeforesave="updateOrCreateSalesPlanBySum(salesPlan, $data)"
                              }
                                | {{ salesPlan.categoriesHash[currentCategory.id].sum | formatMoney: company.currency | placeholder:'0' }}
                            .text-ellipsis
                              | {{ quantity(salesPlan) || '0' }}
                      tbody
                        tr ng-repeat="product in products | filter:filterProductsByCategory"
                          td.text-center ng-repeat="salesPlan in salesPlans"
                            span {
                              buttons="no"
                              edit-disabled="!isProductPlanEditable(salesPlan, product)"
                              editable-text="salesPlan.productsHash[product.id].quantity"
                              onbeforesave="updateOrCreateSalesPlanByQuantity(salesPlan, product.id, $data)"
                            }
                              | {{salesPlan.productsHash[product.id].quantity || '0'}}
                .col-xs-1.m-t-lg.sales-plan__widget__arr__right.no-padder
                  a {
                    href=""
                    ng-click="nextQuarter()"
                  }
                    span
                      i.fa.fa-angle-right.fa-3x

        .col-md-3.col-xs-4
          .list-group.list-group-lg.list-group-sp
            a.list-group-item.clearfix {
              ng-repeat="salesman in salesmen"
            }
              span.pull-left.thumb-sm.avatar.m-r.avatar-40-round.hidden-xs
                img ng-src="{{salesman.image.url || defaultAvatar}}"
                i.b-white.right {
                  ng-class="{
                    'on': salesman.employee.online,
                    'off': !salesman.employee.online
                  }"
                }
              span.clear
                b.badge.bg-success.pull-right.hidden-xs ng-if="(!currentCategory || categoryIsAvailableToSalesman(salesman, currentCategory)) && currentCategory"
                  | {{ salesman.part }}%
                b.badge.bg-danger.pull-right.hidden-xs ng-if="(currentCategory && !categoryIsAvailableToSalesman(salesman, currentCategory)) && !currentCategory"
                  | off
                span.text-ellipsis {
                  uib-tooltip="{{ salesman.full_name }}"
                  tooltip-append-to-body="true"
                }
                  | {{ salesman.full_name }}
                small.text-muted.clear.text-ellipsis
                  div ng-repeat="employees_department in salesman.employees_departments"
                    i.inline.v-middle.fa.fa-circle.margin-right-3.m-r-xs {
                      ng-style="{color: '#' + employees_department.department.color}"
                    }
                    span.inline.v-middle {
                      uib-tooltip="{{ employees_department.position }}"
                      tooltip-append-to-body="true"
                    }
                      | {{ employees_department.position }}
          button.btn.btn-default.text-ellipsis.w-full {
            type="button"
            ng-click="editEmployeesDistribution()"
            ng-if="user.can('manage', 'SalesPlan', {company_id: companyId}) && currentCategory"
            uib-tooltip="Редактировать распределение"
            tooltip-append-to-body="true"
          }
            | Редактировать распределение

div ng-include="" src="'assets/views/layout/blocks/footer.html'"
