.app-content
  .app-content-body
    .bg-light.lter.b-b.wrapper-md
      .row
        .col-sm-12.col-xs-12
          h1.m-n.font-thin.h3.text-black
            span
              i.icon-notebook
            | &nbsp;
            span translate="form.sales_plan.NEW_SALES_PLAN_PAGE_TITLE"
          small.text-muted translate="form.sales_plan.NEW_SALES_PLAN_SUB_TITLE"
    .wrapper-md
      .panel.panel-default
        .panel-body
          div {
            ng-include="'assets/views/companies/bi/sales_plans/_form.html'"
          }


div ng-include="" src="'assets/views/layout/blocks/footer.html'"
