ol.client-search-result-list
  li.link-like.m-b-md ng-repeat="company in companies" ng-click="choose(company)"
    .row.inline-block.w-full.v-top
      .col-xs-4
        span.text-muted
          | {{labels.legal_entity_name}}
      .col-xs-8
          | {{company.name}}
