form.form-horizontal {
  ng-submit="submit()"
  ng-style="{opacity: savingInProgress ? 0.5: 1}"
}
  .row
    p.col-sm-10.col-sm-offset-2 ng-if="company.logo.url"
      img ng-src="{{company.logo.url}}" height="100"
  .form-group
    label.col-sm-2.control-label
      | {{ companyStatic.labels.logo }}
    .col-sm-10
      field {
        type="'file'"
        model="company"
        field="'logo'"
      }

  .line.line-dashed.b-b.line-lg.pull-in
  .form-group
    label.col-sm-2.control-label
      | {{ companyStatic.labels.name }}*
    .col-sm-10
      field {
        type="'text'"
        field="'name'"
        model="company"
        template="'input,error'"
      }
  .line.line-dashed.b-b.line-lg.pull-in
  .form-group
    label.col-sm-2.control-label
      | {{ companyStatic.labels.address }}*
    .col-sm-10
      field {
        type="'text'"
        field="'address'"
        model="company"
        template="'input,error'"
      }
    .col-sm-2
    .col-sm-10.m-t-md
      map {
        model="company"
        map="map"
        detect="true"
        address="company.address"
        on-change="updatePhoneCodeByCountry(countryCode)"
        errors="company.errors"
        latitude="company.latitude"
        longitude="company.longitude"
      }

  .line.line-dashed.b-b.line-lg.pull-in
  .form-group
    label.col-sm-2.control-label
      | {{ companyStatic.labels.description }}
    .col-sm-10
      field {
        type="'textarea'"
        field="'description'"
        model="company"
        template="'input,error'"
      }
  .line.line-dashed.b-b.line-lg.pull-in
  .form-group
    label.col-sm-2.control-label
      | {{ companyStatic.labels.creator }}
    .col-sm-10
      p.form-control-static ng-if="company.id"
        | {{ company.creator.name + ' ' + company.creator.surname }}
      p.form-control-static ng-if="!company.id"
        | {{ user.name + ' ' + user.surname }}


  div ng-if="company.id"
    .line.line-dashed.b-b.line-lg.pull-in
    .form-group
      label.col-sm-2.control-label
        | {{ companyStatic.labels.director }}
      .col-sm-10
        field {
          type="'select'"
          field="'director_id'"
          model="company"
          options="employees_users"
          template="'input,error'"
          attr-class="'m-n'"
        }

  .line.line-dashed.b-b.line-lg.pull-in
  .form-group
    label.col-sm-2.control-label
      | {{ companyStatic.labels.contacts }}
    .col-sm-10
      .row
        .col-md-2
          field {
            type="'select'"
            field="'phone_code_id'"
            model="company"
            options="companyStatic.references.country_phone_codes"
            template="'input,error'"
            attr-class="'m-n'"
          }
        .col-md-2
          field {
            type="'phone'"
            field="'phone'"
            model="company"
            placeholder="companyStatic.labels.phone"
            template="'input,error'"
          }
        .col-md-4
          field {
            type="'email'"
            field="'email'"
            model="company"
            placeholder="'E-mail'"
            template="'input,error'"
          }
        .col-md-4
          field {
            type="'url'"
            field="'site'"
            model="company"
            placeholder="companyStatic.labels.site"
            template="'input,error'"
          }

  .line.line-dashed.b-b.line-lg.pull-in
  .form-group
    label.col-sm-2.control-label
      | {{ companyStatic.labels.currency }}*
    .col-sm-10
      .row
        .col-sm-2
          field.inline-block.m-r-sm.m-t-n-xs {
            ng-show="!company.id"
            type="'radiogroup'"
            field="'currency'"
            model="company"
            attr-name="'currency'"
            template="'input,label,error'"
            options="companyStatic.references.currencies"
          }
          p.form-control-static ng-show="company.id"
            | {{company.currency | ref:companyStatic.references.currencies}}

  .line.line-dashed.b-b.line-lg.pull-in
  .form-group
    label.col-sm-2.control-label
      | {{ companyStatic.labels.inn }}
    .col-sm-10
      field {
        type="'text'"
        field="'inn'"
        model="company"
        template="'input,error'"
      }
  .line.line-dashed.b-b.line-lg.pull-in
  .form-group
    label.col-sm-2.control-label
      | {{ companyStatic.labels.kpp }}
    .col-sm-10
      field {
        type="'text'"
        field="'kpp'"
        model="company"
        template="'input,error'"
      }

  .line.line-dashed.b-b.line-lg.pull-in
  .form-group
    label.col-sm-2.control-label
      | {{ companyStatic.labels.vat }}
    .col-sm-10
      slider {
        ng-model="company.vat"
        ng-change="company.dirty=true"
        floor="{{ sliderSettings.floor }}"
        ceiling="{{ sliderSettings.ceiling }}"
        step="{{ sliderSettings.step }}"
        precision="1"
        translate-fn="sliderSettings.format"
      }
      div {
        ng-class="{'has-error': company.errors.vat}"
        ng-show="company.errors.vat"
      }
        small.help-block
          | {{company.errors.vat.join('; ')}}

  .line.line-dashed.b-b.line-lg.pull-in

  .form-group
    .col-sm-4.col-sm-offset-2
      a.btn.btn-default.m-r-xs go-back="" ng-click="company.dirty=false" translate="common.CANCEL"
      | &nbsp;
      button.btn.btn-primary.m-r-xs {
        type="submit"
        ng-disabled="savingInProgress"
      }
        span ng-if="!savingInProgress" translate="common.SAVE"
        span ng-if="savingInProgress" translate="common.SAVING"
        span
          | &nbsp;
          span ng-if="progressPercentage > 0 && progressPercentage < 100"
            | {{ progressPercentage + '%' }}
          span ng-if="progressPercentage == 100" translate="common.PROCESSING_PHOTOS"

    .col-sm-6 ng-if="company.id && user.can('destroy', 'Company', company.id)"
      .pull-right
        | &nbsp;
        button.btn.btn-danger.m-r-xs type="button" ng-click="company.dirty=false;delete()" translate="common.DELETE"

