ol.client-search-result-list
  li.link-like.m-b-md ng-repeat="user in users" ng-click="choose(user)"
    .row.inline-block.w-full.v-top
      .col-xs-4
        span.text-muted
          | {{labels['email']}}
      .col-xs-8
          | {{user.email}}

    .row.inline-block.w-full.v-top
      .col-xs-4
        span.text-muted
          | {{labels['birthday']}}
      .col-xs-8
        | {{user.birthday | date: 'dd.MM.yyyy'}}

    .row.inline-block.w-full.v-top
      .col-xs-4
        span.text-muted
          | {{labels['cell_phone']}}
      .col-xs-8
        | {{user.cell_phone_code}} {{user.cell_phone}}
