.wrapper-md.bg-white-only.b-b
  .row.text-center
    .col-sm-3.col-xs-6
      div
        | Прибыль
        i.fa.fa-fw.fa-caret-up.text-success.text-sm
      .h2.m-b-sm
        | {{$ctrl.data.current_month_income | formatMoney:$ctrl.company.currency}}
    .col-sm-3.col-xs-6
      div
        | Сделок
        i.fa.fa-fw.fa-caret-down.text-warning.text-sm
      .h2.m-b-sm
        | {{$ctrl.data.paid_deals_count}}
    .col-sm-3.col-xs-6
      div
        | Клиентов
        i.fa.fa-fw.fa-caret-up.text-success.text-sm
      .h2.m-b-sm
        | {{$ctrl.data.clients_count}}
    .col-sm-3.col-xs-6
      div
        | Лидов
        i.fa.fa-fw.fa-caret-down.text-danger.text-sm
      .h2.m-b-sm
        | {{$ctrl.data.leads_count}}

.wrapper-md
  .row.text-center
    .col-sm-3.col-xs-6
      div План за сегодня
      easyPieChart.actual-budget-pie-chart.inline.m-t{
        percent="$ctrl.data.plan_percent_today"
        ng-init="options = {
          lineWidth: 4,
          trackColor: '#e8eff0',
          barColor: '#7266ba',
          scaleColor: false,
          size: 115,
          rotate: 90,
          lineCap: 'butt'
        }"
        options="options"
      }
        span.actual-budget-pie-chart-label.text-primary.h3
          | {{$ctrl.data.plan_percent_today}}%
    .col-sm-3.col-xs-6
      div План за месяц
      easyPieChart.actual-budget-pie-chart.inline.m-t {
        percent="$ctrl.data.plan_percent_month"
        ng-init="options = {
          lineWidth: 4,
          trackColor: '#e8eff0',
          barColor: '#23b7e5',
          scaleColor: false,
          size: 115,
          rotate: 0,
          lineCap: 'butt'
        }"
        options="options"
      }
        span.actual-budget-pie-chart-label.text-info.h3
          | {{$ctrl.data.plan_percent_month}}%
    .col-sm-3.col-xs-6
      div План за квартал
      easyPieChart.actual-budget-pie-chart.inline.m-t {
        percent="$ctrl.data.plan_percent_quarter"
        ng-init="options = {
          lineWidth: 4,
          trackColor: '#e8eff0',
          barColor: '#fad733',
          scaleColor: false,
          size: 115,
          rotate: 180,
          lineCap: 'butt'
        }"
        options="options"
      }
        span.actual-budget-pie-chart-label.text-warning.h3
          | {{$ctrl.data.plan_percent_quarter}}%
    .col-sm-3.col-xs-6
      div План за год
      easyPieChart.actual-budget-pie-chart.inline.m-t {
        percent="$ctrl.data.plan_percent_year"
        ng-init="options = {
          lineWidth: 4,
          trackColor: '#e8eff0',
          barColor: '#27c24c',
          scaleColor: false,
          size: 115,
          rotate: 90,
          lineCap: 'butt'
        }"
        options="options"
      }
        span.actual-budget-pie-chart-label.text-success.h3
          | {{$ctrl.data.plan_percent_year}}%
