.app-content
  .app-content-body.fade-in-up
    .hbox.hbox-auto-xs.hbox-auto-sm.hbox-auto-md
      .col
        .bg-light.lter.b-b.wrapper-md
          .row
            .col-sm-6.col-xs-12
              div uib-dropdown=""
                h1.m-n.font-thin.h3.text-black
                  span
                    i.icon-rocket.margin-right-3
                  span
                    | CRM
              small.text-muted
                | {{company.name}}
            .col-sm-6.text-right.hidden-xs
              company-clients-and-income {
                ng-if="company"
                currency="company.currency"
                created-clients-count-by-days="company.created_clients_count_by_days"
                clients-count="company.clients_count"
                actual-income-by-days="company.actual_income_by_days"
                actual-income="company.actual_income"
              }

        .wrapper-md
          div {
            ng-if="!user.can('read', 'Company', companyId)"
            ng-include="'assets/views/companies/_access_denied.html'"
          }
          .row
            .col-md-12
              .row.row-sm.text-center
                .col-xs-2
                  a.block.panel.padder-v.item.a-crm {
                    ng-href="/companies/{{companyId}}/deals"
                  }
                    .h1.text-info.font-thin.h1.text-ellipsis
                      | {{company.deals_count}}
                    span.text-muted.text-xs.text-ellipsis
                      | Сделок
                    .top.text-right.w-full
                      i.fa.m-r-sm {
                        ng-class="{
                          'fa-caret-down text-danger': company.indicators_dynamic.deals_count < 0,
                          'fa-caret-up text-success': company.indicators_dynamic.deals_count > 0,
                        }"
                      }
                .col-xs-2
                  a.block.panel.padder-v.item.a-crm {
                    ng-href="/companies/{{companyId}}/products"
                  }
                    .font-thin.h1.text-ellipsis
                      | {{company.products_count}}
                    span.text-muted.text-xs.text-ellipsis 
                      | Товаров
                    .bottom.text-left
                      i.fa.m-l-sm {
                        ng-class="{
                          'fa-caret-down text-danger': company.indicators_dynamic.products_count < 0,
                          'fa-caret-up text-success': company.indicators_dynamic.products_count > 0,
                        }"
                      }
                .col-xs-2
                  a.block.panel.padder-v.bg-primary.item.a-crm {
                    ng-href="/companies/{{companyId}}/clients"
                  }
                    span.text-white.font-thin.h1.block.text-ellipsis
                      | {{company.clients_count}}
                    span.text-muted.text-xs.text-ellipsis Клиентов
                    span.bottom.text-right.w-full
                      i.fa.fa-cloud-upload.text-muted.m-r-sm
                    span.bottom.text-left.w-full
                      i.fa.m-l-sm {
                        ng-class="{
                          'fa-caret-down text-danger': company.indicators_dynamic.clients_count < 0,
                          'fa-caret-up text-success': company.indicators_dynamic.clients_count > 0,
                        }"
                      }
                .col-xs-2
                  a.block.panel.padder-v.bg-info.item.a-crm ng-href="/companies/{{companyId}}/leads" ui-sref="app.leads"
                    span.text-white.font-thin.h1.block.text-ellipsis
                      | {{company.leads_count}}
                    span.text-muted.text-xs.text-ellipsis Лидов
                    span.top.text-left
                      i.fa.m-l-sm {
                        ng-class="{
                          'fa-caret-down text-danger': company.indicators_dynamic.leads_count < 0,
                          'fa-caret-up text-success': company.indicators_dynamic.leads_count > 0,
                        }"
                      }
                .col-xs-4.m-b-md
                  .r.bg-light.dker.item.hbox.panel.panel-default
                    .col.w-xs.v-middle.hidden-xs
                      .sparkline.inline {
                        ui-jq="sparkline"
                        ui-refresh="incomePercentDone"
                        ui-options="[{{incomePercentDone}},{{incomePercentNotDone}}], {type:'pie', height:40, sliceColors:['#fad733','#fff']}"
                      }
                    .col.dk.padder-v.r-r
                      .text-primary-dk.font-thin.h1
                        span.text-ellipsis.text-ellipsis-h-p-8  {
                          uib-tooltip="{{company.actual_income | formatMoney: company.currency }}"
                        }
                          | {{ company.actual_income | formatMoney: company.currency}}
                      span.text-muted.text-xs
                        | Прибыль, {{ incomePercentDone | roundedNumber:2 }}% от плана

          .wrapper
            .row.text-xs.text-muted.text-center
              a.col-m-12.btn.btn-danger.btn-addon.btn-lg.m-r-xs.m-t-xs {
                ng-href="/companies/{{companyId}}/deals/new"
                ng-if="user.can('create', 'Deal', {company_id: companyId})"
                uib-tooltip="Создать новую сделку"
                type="button"
              }

                i.icon-fire
                | Создать сделку

              a.col-m-12.btn.btn-primary.btn-addon.btn-lg.m-r-xs.m-t-xs {
                ng-href="/companies/{{companyId}}/clients/new"
                ng-if="user.can('create', 'Client', {company_id: companyId})"
                uib-tooltip="Создать нового клиента"
                type="button"
              }
                i.icon-users
                | Создать клиента

              a.col-m-12.btn.btn-info.btn-addon.btn-lg.m-r-xs.m-t-xs {
                ng-href="/companies/{{companyId}}/leads/new"
                ng-if="user.can('create', 'Lead', {company_id: companyId})"
                uib-tooltip="Создать новый лид"
                type="button"
              }
                i.icon-ghost
                | Создать лид
                
              a.col-m-12.btn.btn-default.btn-addon.btn-lg.m-t-xs {
                uib-tooltip="Создать новую задачу"
                type="button"
                ng-href="/companies/{{companyId}}/tasks/new"
              }
                i.icon-directions
                | Создать задачу

          .panel.no-border {
            ng-controller="TasksListWidgetCtrl as tasksList"
          }
            .panel-heading.wrapper.b-b.b-light
              .row.padder
                .col-xs-12.m-b
                  h4.font-thin.m-t-none.m-b-none.text-muted
                    | Задачи
                
              .row.padder
                .col-xs-1.text-center
                  .inline.m-r
                    .checkbox
                      label.i-checks {
                        tooltip-placement="top-right"
                      }
                        input {
                          type="checkbox"
                          ng-model="tasksList.allSelected" 
                          ng-change="tasksList.toggleAllSelection()"
                        }
                        i

                .col-sm-5.col-xs-4.text-left
                  button.m-t-xs.btn.btn-default.btn-rounded.btn-sm.m-r-xs {
                    type="button"
                    ng-click="tasksList.markSelectedAsDone()"
                    ng-disabled="!tasksList.notAllDoneSelected()"
                  }
                    span 
                      | Завершить

                .col-sm-6.col-xs-5.text-right
                  .inline.m-t-xs.m-l-sm.m-b-sm {
                    uib-dropdown
                  }
                    .btn.btn-default.btn-sm {
                      type="submit"
                      uib-dropdown-toggle
                      uib-tooltip="Фильтр задач"
                      tooltip-placement="left"
                      tooltip-append-to-body="true"
                    }
                      i.fa.fa-filter

                    form.filter-dropdown-menu.filter-dropdown-menu--left.wrapper.w-lg {
                      uib-dropdown-menu
                    }
                      .m-b-sm
                        .form-group
                          label.m-r-xs for="tasks-filter-status"
                            | Статус
                          select#tasks-filter-status.form-control.input-sm {
                            ng-model="tasksFilter.status"
                            ng-click="tasksList.filterTasks()"
                          }
                            option value="all"
                              | Все
                            option value="in_progress"
                              | Активные
                            option value="done"
                              | Завершенные

                      .m-b-sm
                        .form-group
                          label.m-r-xs for="tasks-filter-executor"
                            | Исполнитель
                          select#tasks-filter-executor.form-control.input-sm {
                            ng-model="tasksFilter.executor"
                            ng-options="executor.id as executor.user.fullname for executor in taskStatic.executors"
                            ng-click="tasksList.filterTasks()"
                          }
                            option value=""
                              | Все

                      .m-b-sm
                        .form-group.m-r-xs
                          label.m-r-xs for="tasks-filter-creator"
                            | Постановщик
                          select#tasks-filter-creator.form-control.input-sm {
                            ng-model="tasksFilter.creator"
                            ng-options="creator.id as creator.fullname for creator in taskStatic.creators"
                            ng-click="tasksList.filterTasks()"
                          }
                            option value=""
                              | Все

            .list-group.list-group-lg.m-b-none
              .list-group-item.no-padder.clearfix {
                ng-repeat="task in filteredTasks"
              }
                .xedit-form {
                  ng-include="'assets/views/tasks/xedit.html'"
                  ng-controller="TasksXEditCtrl"
                }

            .panel-footer
              span.pull-right.badge.badge-bg.m-t-xs uib-tooltip="Все задачи"
                | {{filteredTasks.length}}
              span.text-xs.text-muted
                span uib-tooltip="Задач приостановлено"
                  i.fa.fa-circle.text-warning.m-r-xs
                  | {{ (filteredTasks | filter: {status: 'suspended'}).length }}
                span uib-tooltip="Задач выполняется"
                  i.fa.fa-circle.text-info.m-r-xs.m-l-sm
                  | {{ (filteredTasks | filter: {status: 'in_progress'}).length }}
                span uib-tooltip="Задач просрочено"
                  i.fa.fa-circle.text-danger.m-r-xs.m-l-sm
                  | {{ (filteredTasks | filter: {overdue: true}).length }}

          .panel.wrapper
            sales-funnel employee="userEmployee"

          .row
            .col-lg-12
              .panel
                .wrapper.m-t-n-xxs
                  sales-forecast employee="userEmployee"

      .col.w-md.bg-white-only.b-l.bg-auto.no-border-xs ng-include="'assets/views/layout/blocks/right_sidebar.html'"

div ng-include="" src="'assets/views/layout/blocks/footer.html'"
