.app-content
  .app-content-body
    .bg-light.lter.b-b.wrapper-md
      .row
        .col-sm-12.col-xs-12
          h1.m-n.font-thin.h3
            | {{company.name}}
          small.text-muted translate="form.company.EDIT_COMPANY_SUB_TITLE"
    .wrapper-md
      uib-tabset.tab-container
        uib-tab heading="Компания"
          .panel.panel-default
            .panel-heading.font-bold translate="form.company.WARNING"
            .panel-body
              div {
                ng-include="" 
                src="'assets/views/companies/_form.html'"
              }
          
        uib-tab heading="Шаблон чека"
          .clearfix
            .col-xs-6
              uib-accordion close-others="true"
                .panel-default uib-accordion-group="" heading="Шапка чека"
                  text-angular ta-toolbar="receiptHeaderToolbar" ng-model="company.receipt_template.header"

                .panel-default uib-accordion-group="" heading="Тело чека"
                  text-angular ta-toolbar="receiptItemToolbar" ng-model="company.receipt_template.item"

                .panel-default uib-accordion-group="" heading="Низ чека"
                  text-angular ta-toolbar="receiptFooterToolbar" ng-model="company.receipt_template.footer"

              button.btn.btn-primary type="button" ng-click="saveReceiptTemplate()" Сохранить

            .col-xs-6
              div {
                style="border: 1px solid #393939; display: inline-block"
                ng-bind-html="receiptPreview | unsafe"
              }
          
div ng-include="" src="'assets/views/layout/blocks/footer.html'"
