.app-content
  .app-content-body
    .bg-light.lter.b-b.wrapper-md
      .row
        .col-sm-12.col-xs-12
          h1.m-n.font-thin.h3 translate="form.company.NEW_COMPANY_PAGE_TITLE"
          small.text-muted translate="form.company.NEW_COMPANY_SUB_TITLE"
    .wrapper-md
      .panel.panel-default
        .panel-heading.font-bold translate="form.company.WARNING"
        .panel-body ng-include="" src="'assets/views/companies/_form.html'"


div ng-include="" src="'assets/views/layout/blocks/footer.html'"
