.app-content
  .app-content-body
    .bg-light.lter.b-b.wrapper-md.ng-scope
      h1.font-thin.text-black Результаты поиска

      .empty-search ng-if="isEmptySearch === true"
        | Ничего не найдено по запросу "{{token}}"

      .search-results
        .search-results-clients ng-if="!isSearchGroupEmpty('clients')"
          h3 Клиенты

          .list-group.list-group-lg.list-group-sp
            div {
              ng-repeat="client in searchResults.clients"
              ng-click="redirectTo('clients/' + client.id)"
            }
              search-result.list-group-item {
                type="client"
                entity="client"
                references="references"
              }

        .search-results-leads ng-if="!isSearchGroupEmpty('leads')"
          h3 Лиды

          div {
            ng-repeat="lead in searchResults.leads"
            ng-click="redirectTo('leads/' + lead.id)"
          }
            .list-group.list-group-lg.list-group-sp
              search-result.list-group-item {
                type="lead"
                entity="lead"
                references="references"
              }

        .search-results-employees ng-if="!isSearchGroupEmpty('employees')"
          h3 Сотрудники

          div {
            ng-repeat="employee in searchResults.employees"
            ng-click="redirectTo('employees/' + employee.id)"
          }
            .list-group.list-group-lg.list-group-sp.clearfix
              search-result.list-group-item.clearfix {
                type="employee"
                entity="employee"
                references="references"
              }

        .search-results-products ng-if="!isSearchGroupEmpty('products')"
          h3 Товары

          div {
            ng-repeat="product in searchResults.products"
            ng-click="redirectTo('products/' + product.id)"
          }
            .list-group.list-group-lg.list-group-sp
              search-result.list-group-item {
                type="product"
                entity="product"
                references="references"
              }

        .search-results-deals ng-if="!isSearchGroupEmpty('deals')"
          h3 Сделки

          div {
            ng-repeat="deal in searchResults.deals"
            ng-click="redirectTo('deals/' + deal.id)"
          }
            .list-group.list-group-lg.list-group-sp
              search-result.list-group-item {
                type="deal"
                entity="deal"
                references="references"
              }

