.app-content
  .app-content-body
    .bg-light.lter.b-b.wrapper-md
      .row
        .col-sm-12.col-xs-12
          h1.m-n.font-thin.h3
            | {{company.name}}

    p ng-if="company.logo.url"
      img ng-src="{{company.logo.url}}" height="100"

    .wrapper-md
      div {
        ng-if="user.synced && !user.can('read', 'Company', companyId)"
        ng-include="'assets/views/companies/_access_denied.html'"
      }

div ng-include="" src="'assets/views/layout/blocks/footer.html'"
