form.form-horizontal {
  ng-submit="submit()"
}
  .row
    .col-md-6.col-xs-12
      .form-group
        label.control-label.col-md-5.col-sm-3.col-xs-12 {
          for="new-task-title"
        }
          | {{taskStatic.labels.title}}&nbsp;*
        .col-md-7.col-sm-9.col-xs-12
          field {
            type="'text'"
            field="'title'"
            model="task"
            template="'input,error'"
            attr-id="'new-task-title'"
          }

    .col-md-6.col-xs-12
      .form-group
        label.control-label.col-md-5.col-sm-3.col-xs-12
          | {{taskStatic.labels.deadline}}, c&nbsp;*
        .col-md-7.col-sm-9.col-xs-12
          .row
            .col-xs-5 {
              ng-class="{'has-error has-feedback': task.errors.start_date}"
            }
              input.form-control {
                type="text"
                ng-model="task.start_date"
                uib-datepicker-popup="dd.MM.yyyy"
                date-only
                is-open="start_date_opened"
                ng-click="start_date_opened = true"
                datepicker-options="{maxDate: task.due_date}"
              }
              small.help-block ng-if="task.errors.start_date"
                | {{task.errors.start_date.join('; ')}}

            .col-xs-2.l-h-2x.text-center
              span
                | до

            .col-xs-5 {
              ng-class="{'has-error has-feedback': task.errors.due_date}"
            }
              input.form-control {
                type="text"
                ng-model="task.due_date"
                uib-datepicker-popup="dd.MM.yyyy"
                date-only
                is-open="due_date_opened"
                ng-click="due_date_opened = true"
                datepicker-options="{minDate: task.start_date}"
              }
              small.help-block ng-if="task.errors.due_date"
                | {{task.errors.due_date.join('; ')}}

    .col-md-6.col-xs-12
      .form-group
        label.control-label.col-md-5.col-sm-3.col-xs-12
          | не более
        .col-md-7.col-sm-9.col-xs-12
          .row
            .col-xs-9
              field {
                type="'text'"
                field="'estimate'"
                model="task"
                template="'input,error'"
              }
            .col-xs-3.l-h-2x
              | часов

  .line.line-dashed.b-b.line-lg.pull-in

  .row
    .col-sm-12
      .form-group.form-group-single
        label.control-label.form-group-single__label.col-sm-2.col-xs-12
          | {{taskStatic.labels.description}}
        .form-group-single__field.col-sm-10.col-xs-12
          field {
            type="'textarea'"
            field="'description'"
            model="task"
            template="'input,error'"
          }

  .line.line-dashed.b-b.line-lg.pull-in
  .row
    .col-md-6.col-xs-12
      .form-group
        label.control-label.col-md-5.col-sm-3.col-xs-12
          | {{taskStatic.labels.executor_id}}&nbsp;*
        .col-md-7.col-sm-9.col-xs-12
          .row
            .col-sm-6
              select.form-control#executor-department {
                ng-model="selectedDepartments.executor"
                ng-options="department.id as department.name for department in departments"
                ng-change="loadEmployeesFor('executor')"
              }
                option value=""
                  | --Выберите отдел--
            .col-xs-12.visible-xs.m-t
            .col-sm-6
              field {
                type="'select'"
                field="'executor_id'"
                model="task"
                options="employeesCandidates.executor"
                template="'input,error'"
              }
    .col-md-6.col-xs-12
      .form-group
        label.control-label.col-md-5.col-sm-3.col-xs-12 {
          ng-bind-html="taskStatic.labels.assistant_id"
        }
        .col-md-7.col-sm-9.col-xs-12
          .row
            .col-sm-6
              select.form-control#assistant-department {
                ng-model="selectedDepartments.assistant"
                ng-options="department.id as department.name for department in departments"
                ng-change="loadEmployeesFor('assistant')"
              }
                option value=""
                  | --Выберите отдел--
            .col-xs-12.visible-xs.m-t
            .col-sm-6
              field {
                type="'select'"
                field="'assistant_id'"
                model="task"
                options="employeesCandidates.assistant"
                template="'input,error'"
              }
    .col-md-6.col-xs-12
      .form-group
        label.control-label.col-md-5.col-sm-3.col-xs-12
          | {{taskStatic.labels.watchers}}
        .col-md-7.col-sm-9.col-xs-12
          .row
            .col-sm-6
              select.form-control {
                ng-model="selectedDepartments.watchers"
                ng-options="department.id as department.name for department in departments"
                ng-change="loadEmployeesFor('watchers')"
              }
                option value=""
                  | --Выберите отдел--
            .col-xs-12.visible-xs.m-t
            .col-sm-6
              field {
                type="'select'"
                field="'watcher_ids'"
                model="task"
                multiple="true"
                options="employeesCandidates.watchers"
                template="'input,error'"
                ng-show="employeesCandidates.watchers !== undefined"
              }

  .line.line-dashed.b-b.line-lg.pull-in
  .row
    .col-md-6.col-xs-12
      .form-group
        label.control-label.col-md-5.col-sm-3.col-xs-12
          | {{taskStatic.labels.attachments}}
        .col-md-7.col-sm-9.col-xs-12
          field {
            type="'file'"
            field="'attachments'"
            model="task"
            template="'input,error'"
            attr-class="'m-n'"
            multiple="true"
          }

    .col-md-6.col-xs-12
      .form-group
        label.control-label.col-md-5.col-sm-3.col-xs-12
          | {{taskStatic.labels.rating}}
        .col-md-7.col-sm-9.col-xs-12
          .row
            .col-sm-6.m-t-n-xs
              field {
                type="'radiogroup'"
                field="'important'"
                model="task"
                options="taskStatic.references.importance"
                template="'label,input,error'"
              }
            .col-sm-6.m-t-n-xs
              field {
                type="'radiogroup'"
                field="'urgent'"
                model="task"
                options="taskStatic.references.urgency"
                template="'label,input,error'"
              }

    .col-md-6.col-xs-12
      .form-group
        label.control-label.col-md-5.col-sm-3.col-xs-12
          | {{taskStatic.labels.assessment}}
        .col-md-7.col-sm-9.col-xs-12
          field {
            type="'text'"
            field="'assessment'"
            model="task"
            template="'input,error'"

          }

  .line.line-dashed.b-b.line-lg.pull-in

  .row
    .col-md-6.col-xs-12
      .form-group
        label.control-label.col-md-5.col-sm-3.col-xs-12
          | {{taskStatic.labels.category}}
        .col-md-7.col-sm-9.col-xs-12
          field {
            type="'text'"
            field="'category'"
            model="task"
            template="'input,error'"
          }

    .col-md-6.col-xs-12
      .form-group
        label.control-label.col-md-5.col-sm-3.col-xs-12
          | {{taskStatic.labels.client}}
        .col-md-7.col-sm-9.col-xs-12
          select.form-control {
            ng-model="task.client_id"
            ng-options="c.id as (c | fullname) group by c.human_type for c in clientLikeEntities"
          }

  .line.line-dashed.b-b.line-lg.pull-in

  .row
    .checklist.col-xs-12
      h3
        | Чек-лист
      button.btn.btn-primary {
        type="button"
        ng-click="addItemToChecklist()"
      }
        | Добавить пункт

      .checklist-items.m-t-sm
        ul.list-group
          li.checklist-item.list-group-item {
            ng-repeat="item in task.checklist"
          }
            .input-group
              input.form-control {
                ng-model="item.title"
                placeholder="Что должно быть сделано?"
              }
              span.input-group-btn
                button.btn.btn-default {
                  type="button"
                  ng-click="removeItemFromChecklist($index)"
                }
                  i.fa.fa-trash-o

  .line.line-dashed.b-b.line-lg.pull-in

  .form-group
    .col-xs-12.text-right
      button.inline.btn.btn-default.m-r-xs {
        type="button"
        translate="common.CANCEL"
      }
      | &nbsp;
      button.inline.btn.btn-primary.m-r-xs {
        type="submit"
        translate="common.SAVE"
        ng-disabled="submittingNow"
      }
