.app-content
  .app-content-body
    .bg-light.lter.b-b.wrapper-md.clearfix
      h1.m-n.font-thin.h3.pull-left
        | Задача

      .pull-right
        .form-inline
          button.btn.btn-primary.m-r-xs {
            ui-toggle-class="show"
            target="#task-create-company"
          }
            .text
              | Создать задачу
            .text-active
              | Отмена
          .form-group
            select.form-control.hide#task-create-company {
              ng-change="redirectToCreateTask()"
              ng-model="taskCreateCompany"
              ng-options="company.id as company.name for company in companies"
            }
              option value=""
                | --Выберите компанию--

    .wrapper-md
      div
        input.form-control.input-lg {
          autofocus=""
          placeholder="Поиск задач по заголовку"
          ng-model="searchTitle"
        }

      .panel.no-border ng-controller="TasksListWidgetCtrl as tasksList"
        .panel-heading.wrapper.b-b.b-light.clearfix
          .col-xs-1.col-m-2.text-center
            .inline.m-r
              .checkbox
                label.i-checks {
                  tooltip-placement="top-right"
                }
                  input {
                    type="checkbox"
                    ng-model="tasksList.allSelected"
                    ng-change="tasksList.toggleAllSelection()"
                  }
                  i

          .col-xs-5.col-m-5.text-left
            .inline.m-r-xs.m-t-xs
              button.btn.btn-default.btn-rounded.btn-sm.m-r-sx {
                type="button"
                ng-click="tasksList.markSelectedAsDone()"
                ng-disabled="!tasksList.notAllDoneSelected()"
              }
                span
                  | Завершить

          .col-xs-6.col-m-5.text-right
            .inline.m-l-xs.m-r-xs.m-t-xs {
              uib-dropdown
            }
              .btn.btn-default.btn-sm {
                type="submit"
                uib-dropdown-toggle
                uib-tooltip="Фильтр задач"
                tooltip-placement="left"
                tooltip-append-to-body="true"
              }
                i.fa.fa-filter

              form.filter-dropdown-menu.filter-dropdown-menu--left.wrapper.w-lg {
                uib-dropdown-menu
              }
                label.m-r-xs for="tasks-filter-status"
                  | Статус
                select#tasks-filter-status.form-control.input-sm {
                  ng-model="tasksFilter.status"
                  ng-click="tasksList.filterTasks()"
                }
                  option value="all"
                    | Все
                  option value="in_progress"
                    | Активные
                  option value="done"
                    | Завершенные

                label.m-r-xs.m-t-sm for="tasks-filter-executor"
                  | Исполнитель
                select#tasks-filter-executor.form-control.input-sm {
                  ng-model="tasksFilter.executor"
                  ng-click="tasksList.filterTasks()"
                  ng-options="executor.id as executor.user.fullname for executor in taskStatic.executors"
                }
                  option value=""
                    | Все

                label.m-r-xs.m-t-sm for="tasks-filter-creator"
                  | Постановщик
                select#tasks-filter-creator.form-control.input-sm {
                  ng-model="tasksFilter.creator"
                  ng-click="tasksList.filterTasks()"
                  ng-options="creator.id as creator.fullname for creator in taskStatic.creators"
                }
                  option value=""
                    | Все

        .tasks-list.list-group.list-group-lg.m-b-none
          .list-group-item.no-padder.clearfix {
            ng-repeat="task in filteredTasks | filter: {title: searchTitle}"
          }
            .xedit-form {
              ng-include="'assets/views/tasks/xedit.html'"
              ng-controller="TasksXEditCtrl"
            }

        .panel-footer
          span.pull-right.badge.badge-bg.m-t-xs uib-tooltip="Все задачи"
            | {{filteredTasks.length}}
          span.text-xs.text-muted
            span uib-tooltip="Задач приостановлено"
              i.fa.fa-circle.text-warning.m-r-xs
              | {{ (filteredTasks | filter: {status: 'suspended'}).length }}
            span uib-tooltip="Задач выполняется"
              i.fa.fa-circle.text-info.m-r-xs.m-l-sm
              | {{ (filteredTasks | filter: {status: 'in_progress'}).length }}
            span uib-tooltip="Задач просрочено"
              i.fa.fa-circle.text-danger.m-r-xs.m-l-sm
              | {{ (filteredTasks | filter: {overdue: true}).length }}
