.panel.no-border
  .panel-heading.wrapper.b-b.b-light
    form.form-inline.pull-right ng-submit="filterTasks()"
      .form-group
        label.control-label for="tasks-filter-status"
          | Статус
        select#tasks-filter-status.form-control.input-sm {
          ng-model="tasksFilter.status"
        }
          option value="all"
            | Все
          option value="in_progress"
            | Активные
          option value="done"
            | Завершенные
      .form-group
        label.control-label for="tasks-filter-executor"
          | Исполнитель
        select#tasks-filter-executor.form-control.input-sm {
          ng-model="tasksFilter.executor"
          ng-options="executor.id as executor.user.fullname for executor in taskStatic.executors"
        }
          option value=""
            | Все
      .form-group
        label.control-label for="tasks-filter-creator"
          | Постановщик
        select#tasks-filter-creator.form-control.input-sm {
          ng-model="tasksFilter.creator"
          ng-options="creator.id as creator.fullname for creator in taskStatic.creators"
        }
          option value=""
            | Все

      button.btn.btn-default.btn-sm {
        type="submit"
        uib-tooltip="Фильтр задач"
      }
        i.fa.fa-filter

    h4.font-thin.m-t-none.m-b-none.text-muted
      | Задачи

  .list-group.list-group-lg.m-b-none
    .list-group-item.clearfix {
      ng-class="{'bg-danger lt': task.overdue}"
      ng-repeat="task in filteredTasks"
    }
      .xedit-form {
        ng-include="'assets/views/tasks/xedit.html'"
        ng-controller="TasksXEditCtrl"
      }

  .panel-footer
    span.pull-right.badge.badge-bg.m-t-xs uib-tooltip="Все задачи"
      | {{filteredTasks.length}}
    span.text-xs.text-muted
      span uib-tooltip="Задач приостановлено"
        i.fa.fa-circle.text-warning.m-r-xs
        | {{ (filteredTasks | filter: {status: 'suspended'}).length }}
      span uib-tooltip="Задач выполняется"
        i.fa.fa-circle.text-info.m-r-xs.m-l-sm
        | {{ (filteredTasks | filter: {status: 'in_progress'}).length }}
      span uib-tooltip="Задач просрочено"
        i.fa.fa-circle.text-danger.m-r-xs.m-l-sm
        | {{ (filteredTasks | filter: {overdue: true}).length }}

