form {
  editable-form
  onbeforesave="submit($data)"
  onshow="onFormShow()"
  name="$parent.TaskForm"
}
  .task-item.wrapper.clearfix {
    ng-init="task.collapsed = true"
    ng-click="task.collapsed = !task.collapsed"
    ng-class="{'bg-danger lt': task.overdue}"
    role="button"
  }
    .col-xs-1.col-m-2.text-center
      .inline.m-r
        .checkbox
          label.i-checks {
            ng-click="$event.stopPropagation()"
            tooltip-placement="top-right"
          }
            input type="checkbox" ng-model="task.selected"
            i
    .col-xs-11.col-m-10
      .row
        .col-lg-3.col-md-3.col-xs-5.col-m-10
          span.clear.pull-left
            span
              | {{task.title}}
            small.text-muted.clear.text-ellipsis
              | {{task.created_at | date: 'HH:mm dd.MM.yyyy'}}
            small.text-muted.clear.text-ellipsis
              i.fa.fa-circle.m-r-xs {
                ng-class="{
                  'text-success': task.status == 'new',
                  'text-info': task.status == 'in_progress',
                  'text-warning': task.status == 'suspended',
                  'text-muted': task.status == 'done',
                }"
              }
              | {{ (taskStatic.references.statuses | filter: {id: task.status})[0].name }}

        .col-lg-3.col-md-3.col-xs-6.col-m-12
          div {
            ng-if="task.client"
          }
            .col-m-12.visible-m.m-t
            span.pull-left.thumb-sm.m-r {
              ng-if="task.client.image.url"
              ng-class="{
                'avatar avatar-40-round': task.client.legal_form == 'individual',
                'avatar-40': task.client.legal_form == 'legal_entity'
              }"
            }
              img.r.r-2x {
                ng-src="{{task.client.image.url}}"
              }
            span.clear
              span {
                uib-tooltip="Задача относится к клиенту:"
                tooltip-placement="left"
              }
                span ng-if="task.client.legal_form == 'individual'"
                  | {{task.client | fullname }}
                span ng-if="task.client.legal_form == 'legal_entity'"
                  | {{task.client.legal_entity_name}}

              small.text-muted.clear.text-ellipsis {
                uib-tooltip="Задача относится к клиенту:"
                tooltip-placement="left"
              }
                i.fa.fa-circle.margin-right-3 {
                  ng-if="task.client"
                  style="color: {{ task.client | statusColor: task.company.client_statuses }}"
                }
                span ng-if="task.client.legal_form == 'individual' && !task.client.current_job"
                  | {{task.client.status | ref:task.company.client_statuses }}
                span ng-if="task.client.legal_form == 'individual' && task.client.current_job"
                  | {{task.client.current_job}}
                span ng-if="task.client.legal_form == 'legal_entity'"
                  | {{task.client | fullname }}

        .col-xs-12.visible-sm.visible-xs.m-t {
          ng-if="task.client"
        }

        .col-lg-3.col-md-3.col-xs-5.col-m-12
          span.clear.pull-left
            a.block {
              ng-href="tel:{{task.client.work_phone_full}}"
              uib-tooltip="Рабочий телефон"
              tooltip-placement="left"
            }
              span
                | {{task.client.work_phone_full}}
            a.block {
              ng-href="mailto:{{task.client.email}}"
              uib-tooltip="Email клиента:"
              tooltip-placement="left"
            }
              small.text-muted.clear.text-ellipsis
                | {{task.client.email}}

        .col-md-2.col-sm-3.col-xs-3.col-m-4.text-center.text-left-sm {
        }
          span.pull-left.m-r-xs.avatar-30.sidebar-company-logo {
            ng-if="task.company.logo.url"
            style="background-image: url({{ task.company.logo.url }})"
          }
          span
            | {{task.company.name}}

  div uib-collapse="task.collapsed"
    br
    br
    .line.line-dashed.b-b.line-lg.pull-in
    .col-md-7.col-sm-6
      .row
        .col-xs-12
          .panel.panel-default
            .panel-heading
              .clearfix
                a.pull-left.thumb-md.avatar.avatar-64.b-3x.m-r
                  img {
                    ng-src="{{task.executor.user.image.url || defaultAvatar}}"
                  }
                  i.b-white {
                    ng-class="{
                      on: task.executor.user.online,
                      busy: !task.executor.user.online
                    }"
                  }
                .clear
                  .h3.m-t-xs.m-b-xs
                    | {{task.executor.user.fullname}}
                    label.i-switch.bg-success.pull-right {
                      uib-tooltip="Редактировать"
                      ng-if="user.can('update', 'Task', task.id)"
                    }
                      switcher {
                        checked="true"
                        confirm-exit="true"
                        xeditable="TaskForm"
                      }
                  small.text-muted
                    span {
                      ng-repeat="item in task.executor.employees_departments"
                    }
                      i.fa.fa-circle {
                        ng-style="{color: '#' + item.department.color}"
                      }
                      | &nbsp;
                      | {{item.position}} {{$last ? '' : ', '}}
          p
            span.text {
              buttons="no"
              editable-textarea="task.description"
              e-name="description"
              e-form="TaskForm"
              e-rows="7"
              e-cols="100"
            }
              | {{task.description || 'Описание отсутствует'}}

          .line.line-dashed.b-b.line-lg.pull-in

          h3
            | Чек-лист

          button.btn.btn-primary {
            ng-if="TaskForm.$visible"
            type="button"
            ng-click="task.checklist.push({done: false})"
          } Добавить пункт

          .checkbox ng-repeat="item in task.checklist"
            label.i-checks ng-if="!TaskForm.$visible"
              input type="checkbox" ng-checked="item.done"
              i
              | {{item.title}}

            .input-group ng-if="TaskForm.$visible"
              input.form-control {
                ng-model="item.title"
                placeholder="Что должно быть сделано?"
              }
              span.input-group-btn
                button.btn.btn-default {
                  type="button"
                  ng-click="task.checklist.splice($index, 1)"
                }
                  i.fa.fa-trash-o

          .line.line-dashed.b-b.line-lg.pull-in

          .row.form-group ng-if="TaskForm.$visible"
            .col-xs-3
              label.control-label
                | Название задачи
            .col-xs-9
              input.form-control {
                ng-model="task.title"
              }

          .row.form-group ng-if="TaskForm.$visible"
            label.control-label.col-sm-3
              | Категория
            .col-sm-9
              input.form-control {
                ng-model="task.category"
                ng-change="validate('category', $data)"
              }

          .row.form-group ng-if="TaskForm.$visible"
            label.control-label.col-sm-3
              | Рейтинг
            .col-sm-9
              .row
                .col-sm-6
                  field {
                    type="'radiogroup'"
                    field="'important'"
                    model="task"
                    options="taskStatic.references.importance"
                    template="'label,input,error'"
                  }
                .col-sm-6
                  field {
                    type="'radiogroup'"
                    field="'urgent'"
                    model="task"
                    options="taskStatic.references.urgency"
                    template="'label,input,error'"
                  }

          .row.form-group ng-if="TaskForm.$visible"
            ul.list-group
              li.list-group-item ng-repeat="file in task.attachments"
                a target="_blank" ng-href="{{file.url}}"
                  | {{file.name}}
                button.btn.pull-right {
                  type="button"
                  ng-click="removeAttachment($index)"
                }
                  i.fa.fa-trash-o
              li.list-group-item {
                ng-repeat="file in task.new_attachments"
              }
                img.r.r-2x.thumb-sm ng-src="assets/img/preloader.gif"

          .row.form-group ng-if="TaskForm.$visible"
            label.control-label.col-sm-3
              | {{taskStatic.labels.attachments}}
            .col-sm-9
              field {
                type="'file'"
                field="'new_attachments'"
                model="task"
                template="'input,error'"
                attr-class="'m-n'"
                multiple="true"
              }

          .row.form-group ng-if="TaskForm.$visible"
            label.control-label.col-sm-3
              | {{taskStatic.labels.deadline}}, с&nbsp;*
            .col-sm-9
              .row
                .col-sm-5
                  field {
                    type="'date'"
                    field="'start_date'"
                    model="task"
                    template="'input,error'"
                  }
                .col-sm-2
                  span.pull-right
                    | до
                .col-sm-5
                  field {
                    type="'date'"
                    field="'due_date'"
                    model="task"
                    template="'input,error'"
                  }

          .row.form-group ng-if="TaskForm.$visible"
            label.control-label.col-sm-3
              | не более
            .col-sm-7
              field {
                type="'text'"
                field="'estimate'"
                model="task"
                template="'input,error'"
              }
            .col-sm-2
              | часов


          .row.form-group ng-if="TaskForm.$visible"
            label.control-label.col-sm-3
              | {{taskStatic.labels.client}}
            .col-sm-7
              select.form-control {
                ng-if="TaskForm.$visible"
                ng-model="task.client_id"
                ng-options="c.id as (c | fullname) group by c.human_type for c in clientLikeEntities"
              }

          .row
            .col-md-3.col-xs-12
              i.h3.m-t-sm.text-success.m-r-sm {
                ng-class="{
                  'icon-control-play': task.status == 'in_progress',
                  'icon-control-pause': task.status == 'suspended',
                  'icon-control-end': task.status == 'done',
                  'icon-control-start': task.status == 'new'
                }"
              }
              span.h2.text-success
                | {{taskFormattedSpentTime.formattedHours}}:{{taskFormattedSpentTime.formattedMinutes}}

            .col-xs-12.hidden-md.hidden-lg.m-t

            .col-md-9.col-xs-12.text-right.text-left-sm
              button.inline.btn.btn-addon.btn-md.margin-right-3 {
                type="button"
                ng-if="task.status != 'done' && task.status == 'in_progress'"
                ng-class="{
                  'btn-default': task.status != 'in_progress',
                  'btn-success': task.status == 'in_progress'
                }"
                ng-click="changeStatus('suspend')"
              }
                i.icon-control-pause
                span uib-tooltip="Остановить?" Пауза

              button.inline.btn.btn-addon.btn-md.margin-right-3 {
                type="button"
                ng-if="task.status != 'done' && task.status != 'in_progress'"
                ng-class="{
                  'btn-default': task.status != 'in_progress',
                  'btn-success': task.status == 'in_progress'
                }"
                ng-click="changeStatus('start')"
              }
                i.icon-control-play
                span uib-tooltip="Запустить?" Старт

              button.inline.btn.btn-default.btn-addon.btn-md {
                type="button"
                ng-if="task.status != 'done'"
                ng-click="changeStatus('finish')"
              }
                i.icon-control-end
                span uib-tooltip="Завершить задачу" Завершить

              button.inline.btn.btn-default.btn-addon.btn-md {
                type="button"
                ng-if="task.status == 'done'"
                ng-click="changeStatus('reopen')"
              }
                i.icon-refresh
                span uib-tooltip="Возобновить задачу" Возобновить

    .col-md-5.col-sm-6
      div
        ul.list-group.no-radius.alt
          li.list-group-item.row
            span.col-xs-6.text-ellipsis.text-left
              span.label.bg-light.margin-right-3
                | 1
              | Дата постановки:
            span.col-xs-6.text-right
              | {{task.created_at | date: 'dd.MM.yyyy'}}

          li.list-group-item.row
            span.col-xs-6.text-ellipsis.text-left
              span.label.bg-warning.margin-right-3
                | 2
              | Дата старта:
            span.col-xs-6.text-right
              | {{task.started_at | date: 'dd.MM.yyyy'}}

          li.list-group-item.row
            span.col-xs-6.text-ellipsis.text-left
              span.label.bg-info.margin-right-3
                | 3
              | Дата окончания:
            span.col-xs-6.text-right
              | {{task.done_at | date: 'dd.MM.yyyy'}}

          li.list-group-item.row
            span.col-xs-6.text-ellipsis.text-left
              span.label.bg-danger.margin-right-3
                | 4
              | Время выполнения:
            span.col-xs-6.text-right {
              ng-model="taskFormattedSpentTime"
            }
              | {{taskFormattedSpentTime.formattedHours | suffix:'ч.'}}&nbsp{{taskFormattedSpentTime.formattedMinutes | suffix:'мин.'}}

          li.list-group-item.row
            span.col-xs-6.text-ellipsis.text-left
              span.label.bg-success.margin-right-3
                | 5
              | Оценка:
            span.col-xs-6.text-right
              uib-rating {
                ng-model="task.assessment"
                max="5"
                read-only="!TaskForm.$visible"
                e-name="assessment"
                e-form="TaskForm"
              }

          li.list-group-item.row
            span.col-xs-6.text-ellipsis.text-left.text-muted
              i.fa.fa-paw.fa-fw.text-muted
              | Исполнитель:

            span.col-xs-6.text-right
              select.form-control {
                ng-if="TaskForm.$visible"
                ng-model="selectedDepartments.executor"
                ng-options="department.id as department.name for department in departments"
                ng-change="loadEmployeesFor('executor')"
              }
                option value=""
                  | --Выберите отдел--

              a.text {
                editable-select="task.executor_id"
                e-ng-options="employee.id as employee.user.fullname for employee in employeesCandidates.executor"
                e-name="executor_id"
                e-form="TaskForm"
                e-ng-change="populateAssociation('executor', $data)"
              }
                | {{task.executor.user.fullname}}

          li.list-group-item.row
            span.col-xs-6.text-ellipsis.text-left.text-muted
              i.fa.fa-thumb-tack.fa-fw.text-muted
              | Совместно с:

            span.col-xs-6.text-right
              select.form-control {
                ng-if="TaskForm.$visible"
                ng-model="selectedDepartments.assistant"
                ng-options="department.id as department.name for department in departments"
                ng-change="loadEmployeesFor('assistant')"
              }
                option value=""
                  | --Выберите отдел--

              a.text {
                editable-select="task.assistant_id"
                e-ng-options="employee.id as employee.user.fullname for employee in employeesCandidates.assistant"
                e-name="assistant_id"
                e-form="TaskForm"
                e-ng-change="populateAssociation('assistant', $data)"
              }
                | {{task.assistant.user.fullname}}
          li.list-group-item.row
            span.col-xs-6.text-ellipsis.text-left.text-muted
              i.fa.fa-umbrella.fa-fw
              | Наблюдатели:

            span.col-xs-6.text-right
              select.form-control {
                ng-if="TaskForm.$visible"
                ng-model="selectedDepartments.watchers"
                ng-options="department.id as department.name for department in departments"
                ng-change="loadEmployeesFor('watchers')"
              }
                option value=""
                  | --Выберите отдел--

              select.form-control {
                ng-if="TaskForm.$visible"
                ng-model="task.watcher_ids"
                ng-options="employee.id as employee.user.fullname for employee in employeesCandidates.watchers"
                multiple="multiple"
                ng-change="populateAssociation('watchers')"
              }

              div ng-if="!TaskForm.$visible" ng-repeat="watcher in task.watchers"
                a
                  | {{watcher.user.fullname}}


