.app-content
  .app-content-body
    .bg-light.lter.b-b.wrapper-md
      .row
        .col-sm-6.col-xs-12
          h1.m-n.font-thin.h3
            span
              i.icon-users.margin-right-3
            span translate="model.employee.PAGE_TITLE"
          small.text-muted translate="model.employee.SUB_TITLE"
        .col-sm-6.text-right.hidden-xs
          .inline.m-r.text-left
            h1.inline.m-r.text-right.font-thin.h3 style="margin: 8px 0 0 0;"
              a.btn.btn-sm.btn-primary.btn-addon {
                ng-if="company.id && user.can('invite_user', 'Company', company.id)"
                href=""
                ng-click="openInviteDialog()"
              }
                i.fa.fa-plus.text
                span.text translate="model.employee.INVITE"

    .wrapper-md
      div {
        ng-if="!user.can('read', 'Company', companyId)"
        ng-include="'assets/views/companies/_access_denied.html'"
      }
      .panel.panel-default
        .panel-body.b-b.b-light
          .row
            .col-xs-1
              h2.m-n.font-thin.h2.text-light
                .inline.pos-rlt.cur-p {
                  uib-tooltip="Фильтр товаров"
                  tooltip-placement="right"
                  uib-dropdown=""
                }
                  i.fa.fa-filter {
                    uib-dropdown-toggle=""
                  } 
                  ul.filter-dropdown-menu.dropdown-menu {
                    role="menu"
                  }
                    li
                      a href="#"
                        | Название/индекс товара
                    li
                      a href="#"
                        | Статус: В наличии/Под заказ/Не активен
                    li
                      a href="#"
                        | Статус популярности
                    li
                      a href="#" 
                        | Популярность
                    li
                      a href="#" 
                        | Наличие фото
                    li
                      a href="#" 
                        | Страна, Город клиенты
                    li
                      a href="#" 
                        | Сумма сделки - рейн
                    li
                      a href="#" 
                        | Менеджер                                             
                    li
                      a href="#" 
                        | ABC/XYZ анализ - надо визуализацию переделать

            .col-xs-11.text-right
              .btn-group.pos-stc
                button.btn.btn-default.nowrap.l-h-18 {
                  ng-repeat="department in departments"
                  type="button"
                  ng-click="toggleDepartment(department.id)"
                  uib-tooltip="{{ ::department.name}}"
                  ng-class="{ active: filter.departments.indexOf(department.id) > -1}"
                }
                  i.inline.v-middle.fa.fa-circle.margin-right-3.m-r-xs {
                    ng-style="{color: '#' + department.color}"
                  }
                  span.inline.v-middle
                    | {{ department.name }}

                  b.inline.v-middle.badge.m-l-xs
                    | {{ department.employees_count }}

                  i.inline.v-middle.fa.fa-pencil.m-l-xs {
                    ng-if="company.id && user.can('update', 'Department', {company_id: company.id})"
                    ng-click="
                      editDepartment(department.id);
                      $event.stopPropagation();
                    "
                  }


                button.btn.btn-default {
                  type="button"
                  uib-tooltip="{{ ::companyStatic.labels.add_department }}"
                  uib-tooltip-placement="top"
                  tooltip-append-to-body="true"
                  ng-click="createDepartment()"
                  ng-if="company.id && user.can('create', 'Department', {company_id: company.id})"
                }
                  i.fa.fa-plus
      .row
        .col-md-12
          .list-group.list-group-lg.list-group-sp
            .list-group-item.clearfix {
              ng-repeat="employee in employees | orderBy: '-created_at'"
              id="employee-with-id-{{employee.id}}"
            } 
              .xedit-form {
                ng-include="'assets/views/companies/employees/xedit.html'"
                ng-controller="CompaniesEmployeesXEditCtrl"
              } 

            pagination {
              current="page"
              total="total_count"
              per="per"
            }

div ng-include="" src="'assets/views/layout/blocks/footer.html'"
