.modal
  .modal-dialog
    .modal-content
      .modal-header
        h4.modal-title Приглашение сотрудников
      form ng-submit="invite()"
        .modal-body
          field {
            type="'email'"
            field="'email'"
            model="data"
          }

          field {
            type="'select'"
            field="'department_id'"
            model="data"
            options="departments"
          }

          field {
            type="'text'"
            field="'position'"
            model="data"
          }

        .modal-footer
          button.btn.btn-default {
            type="button"
            data-dismiss="modal"
            translate="common.CLOSE"
          }
          button.btn.btn-primary {
            type="submit"
            ng-disabled="!data.email || !data.position || !data.department_id"
            translate="common.SEND"
          }
