.employee-header ng-init="employee = $ctrl.entity"
  .col-lg-4.col-sm-6.col-xs-12.col-xs-5.col-m-12
    span.pull-left.thumb-sm.avatar.avatar-40-round.m-r {
      style="background-image: url({{employee.user.image.url || 'assets/img/default-avatar.png'}})"
    }
      i.busy.b-white.right ng-if="!employee.user.online"
      i.on.b-white.right ng-if="employee.user.online"
    span.clear
      span
        | {{ employee.user.name }} {{ employee.user.surname }}
        small.text-muted.clear.text-ellipsis
          span {
            ng-repeat="item in employee.employees_departments"
          }
            i.fa.fa-circle {
              ng-style="{color: '#' + item.department.color}"
            }
            | &nbsp;
            | {{item.position}} {{$last ? '' : ', '}}

      small.text-muted.clear.text-ellipsis
        span {
          ng-if="employee.user_activity_id != 3"
          ng-repeat="item in employee.roles_in_departments"
        }
          i.fa.fa-circle.margin-right-3{
            ng-style="{color: '#' + item.department.color}"
          }
          | {{ item.roles[0].human_name }}
          span ng-if="!$last" ,
          span &nbsp;

        span{
          ng-if="employee.user_activity_id == 3"
        }
          i.fa.fa-circle.margin-right-3{
            ng-style="{color: '#' + employee.user_activity.color}"
          }
          | Уволен

  .col-xs-12.m-t.visible-m

  .col-lg-2.col-sm-4.col-xs-12.col-xs-4.col-m-12
    span.clear.pull-left
      a {
        ng-if="employee.work_phone"
        href=("tel:{{ employee.country_phone_code.code }} {{ employee.work_phone }}")
        uib-tooltip= "Рабочий телефон:"
        tooltip-placement= "left"
      }
        span ng-if="employee.work_phone"
          | {{ employee.country_phone_code.code }} {{ employee.work_phone }}

      a {
        ng-if="!employee.work_phone"
        href=""
        uib-tooltip= "Рабочий телефон:"
        tooltip-placement= "left"
      }
        span ng-if="employee.work_phone"
          | {{ employee.country_phone_code.code }} {{ employee.work_phone }}

      a {
        href="mailto:{{ employee.email }}"
        uib-tooltip="Рабочий email:"
        tooltip-placement="left"
      }
        small.text-muted.clear.text-ellipsis
          | {{ employee.email }}

  .col-xs-12.m-t.hidden-lg.hidden-xs

  .col-lg-1.col-sm-3.hidden-xs.text-center.text-left-lg
    .inline.m-r
      button.btn.btn-success.btn-lg {
        uib-tooltip="RFM-анализ: Кит"
        tooltip-append-to-body="true"
      }
        | RF

  .col-lg-1.col-sm-3.hidden-xs.text-center.text-left-lg
    .inline.m-r
      button.btn.btn-warning.btn-lg {
        uib-tooltip="RFM-анализ: Карась"
        tooltip-append-to-body="true"
      }
        | RM

  .col-lg-2.col-sm-3.text-center.hidden-xs.text-left-lg
    .inline.m-r
      a href=""
        span.label.bg-success {
          style="background-color: {{employee.user_activity_id | statusColor:$ctrl.references.user_activities}}"
        }
          | {{ employee.user_activity_id | ref:$ctrl.references.user_activities }}
      small.text-muted.clear.text-ellipsis
        | c {{ employee.activity_changed_at | date: "dd.MM.yyyy" }}

  .col-xs-12.m-t.visible-m

  .col-lg-2.col-sm-3.col-xs-3.col-m-12
    .inline.text-left
      .m-b-xs
        | $30,000 &nbsp;
        span.text-muted
          | доход
      .sparkline.inline {
        ui-jq="sparkline"
        ui-options="
          [105,102,106,107,105,104,101,99,98,109,105,100,108,110,105,110,109],
          {type:'bar', height:20, barWidth:5, barSpacing:1, barColor:'#dce5ec'}"
      }

