.app-content
  .app-content-body
    .bg-light.lter.b-b.wrapper-md
      .row
        .col-sm-6.col-xs-12
          h1.m-n.font-thin.h3
            span
              i.icon-users.margin-right-3
            span translate="model.employee.PAGE_TITLE"
          small.text-muted translate="model.employee.SUB_TITLE"
        .col-sm-6.text-right.hidden-xs
          .inline.m-r.text-left
            h1.inline.m-r.text-right.font-thin.h3 style="margin: 8px 0 0 0;"
              a.btn.btn-sm.btn-primary.btn-addon {
                ng-if="company.id && user.can('invite_user', 'Company', company.id)"
                href=""
                ng-click="openInviteDialog()"
              }
                i.fa.fa-plus.text
                span.text translate="model.employee.INVITE"
    .wrapper-md
      .row.list-group-item
        .col-md-12
          .xedit-form {
            ng-include="'assets/views/companies/employees/xedit.html'"
            ng-controller="CompaniesEmployeesXEditCtrl"
          }