form {
  editable-form
  onbeforesave="submit($data)"
  name="$parent.EmployeesViewForm"
}
  .employee-header {
    ng-click="employee.canBeExpanded && (employee.expanded = !employee.expanded)"
    ng-attr-role="{{employee.canBeExpanded ? 'button' : ''}}"
  }
    .col-lg-4.col-sm-4.col-xs-4
      span.pull-left.thumb-sm.avatar.avatar-40-round.m-r.hidden-xs {
        style="background-image: url({{employee.user.image.url || 'assets/img/default-avatar.png'}})"
      }
        i.busy.b-white.right ng-if="!employee.user.online"
        i.on.b-white.right ng-if="employee.user.online"
      span.clear
        span.block
          | {{ employee.user.name }} {{ employee.user.surname }}
        small.text-muted.clear.text-ellipsis.inline.margin-right-3.v-middle
          span {
            ng-repeat="item in employee.selected_employees_departments"
          }
            i.fa.fa-circle {
              ng-style="{color: '#' + item.department.color}"
            }
            | &nbsp;
            | {{item.position}} {{$last ? '' : ', '}}

        small.text-muted.clear.text-ellipsis.inline.margin-right-3.v-middle {
           ng-if="employee.user_activity_id != 3"
        }
          span {
            ng-repeat="item in employee.roles_in_departments"
          }
            i.fa.fa-circle.margin-right-3{
              ng-style="{color: '#' + item.department.color}"
            }
            | {{ item.roles[0].human_name }}
            span ng-if="!$last" ,
            span &nbsp;

        span.inline.margin-right-3.v-middle {
          ng-if="employee.user_activity_id == 3"
        }
          i.fa.fa-circle.margin-right-3{
            ng-style="{color: '#' + employee.user_activity.color}"
          }
          | Уволен

    .col-lg-2.col-sm-2.col-xs-4.text-ellipsis
      span.clear.pull-left
        p	{
          ng-if="employee.employee_phones && workPhone"
        }
          a {
            ng-if="employee.employee_phones"
            ng-href=("tel:{{ mobilePhone.country_phone_code.code }} {{ mobilePhone.phone }}")
            uib-tooltip= "Мобильный телефон:"
            tooltip-placement= "left"
            tooltip-append-to-body="true"
          }
            | {{ mobilePhone.country_phone_code.code }} {{ mobilePhone.phone }}

        p {
          ng-if="employee.employee_phones && workPhone"
        }
          a {
            ng-href=("tel:{{ workPhone.country_phone_code.code }} {{ workPhone.phone }}")
            uib-tooltip= "Рабочий телефон:"
            tooltip-placement= "left"
            tooltip-append-to-body="true"
          }
            | {{ workPhone.country_phone_code.code }} {{ workPhone.phone }}

        a {
          href="mailto:{{ employee.email }}"
          uib-tooltip="Рабочий email:"
          tooltip-placement="left"
          tooltip-append-to-body="true" 
        }
          small.text-muted.clear.text-ellipsis
            | {{ employee.email }}

    .col-lg-1.col-sm-1.hidden-xs.text-center.text-left-lg
      .inline.m-r
        button.btn.btn-success.btn-lg {
          uib-tooltip="RFM-анализ: Кит"
          tooltip-append-to-body="true"
          ng-if="employee.participation_in_sales == 'yes'"
        }
          | RF

    .col-lg-1.col-sm-1.hidden-xs.text-center.text-left-lg
      .inline.m-r
        button.btn.btn-warning.btn-lg {
          uib-tooltip="RFM-анализ: Карась"
          tooltip-append-to-body="true"
          ng-if="employee.participation_in_sales == 'yes'"
        }
          | RM

    .col-lg-2.col-sm-2.text-center.hidden-xs.text-left-lg
      .inline.m-r
        a href=""
          span.label.bg-success {
            ng-style="{'background-color': '#' + employee.user_activity.color}"
          }
            | {{ employee.user_activity.name }}
        small.text-muted.clear.text-ellipsis
          | c {{ employee.activity_changed_at | date: "dd.MM.yyyy" }}

    .col-lg-2.col-sm-2.col-xs-4 ng-if="employee.participation_in_sales == 'yes'"
      .inline.text-left
        .m-b-xs
          | {{employee.income | formatMoney:company.currency}} &nbsp;
          span.text-muted
            | доход
        .sparkline.inline-block.hidden-xs {
          ui-jq="sparkline"
          ui-refresh="employee.income_by_days"
          ui-options="
            {{employee.income_by_days || []}},
            {type:'bar', height:20, barWidth:5, barSpacing:1, barColor:'#dce5ec'}"
        }

  div uib-collapse="!employee.expanded"
    br
    br
    .line.line-dashed.b-b.line-lg.pull-in
    .col-md-12
      .col-xs-12.pull-right uib-tooltip="{{ ::employeeStatic.labels.xedit_title }}"
        switcher.pull-right {
          confirm-exit="true"
          ng-if="employee.id && user.can('update', 'Employee', employee.id)"
          xeditable="EmployeesViewForm"
        }

    div
      .col-md-6
        .row
          .col-xs-12
            h4 translate="common.BUSINESS_CARD"

        .line.line-dashed.b-b.line-lg

        .row ng-if="employee.user.surname || EmployeesViewForm.$visible"
          .col-xs-6.col-m-12
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': EmployeesViewForm.$visible}"
              } 
                | {{ employeeStatic.labels.surname }}:
          .col-xs-6.col-m-12.m-b-sm.w-100 {
            ng-if="user.can('update_surname', 'Employee', employee.id)"
          }
            span.text {
              buttons="no"
              editable-text="employee.user.surname"
              e-name="surname"
              e-form="EmployeesViewForm"
              e-class="input-md"
              e-ng-change="employee.user.surname = $data; validate('surname', $data);"
            }
              | {{ employee.user.surname }}

          .col-xs-6.col-m-12 {
            ng-if="!user.can('update_surname', 'Employee', employee.id)"
          }
            p.clear.text-ellipsis
              | {{ employee.user.surname }}

        .row ng-if="employee.user.name || EmployeesViewForm.$visible"
          .col-xs-6.col-m-12
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': EmployeesViewForm.$visible}"
              }
                | {{ employeeStatic.labels.name }}:
          .col-xs-6.col-m-12.m-b-sm.w-100 {
            ng-if="user.can('update_name', 'Employee', employee.id)"
          }
            span.text {
              buttons="no"
              editable-text="employee.user.name"
              e-name="name"
              e-form="EmployeesViewForm"
              e-class="input-md"
              e-ng-change="employee.user.name = $data; validate('name', $data);"
            }
              | {{ employee.user.name }}

          .col-xs-6.col-m-12 {
            ng-if="!user.can('update_name', 'Employee', employee.id)"
          }
            p.clear.text-ellipsis
              | {{ employee.user.name }}

        .row ng-if="employee.address || EmployeesViewForm.$visible"
          .col-xs-6.col-m-12
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': EmployeesViewForm.$visible}"
              }
                | {{ employeeStatic.labels.address }}:
          .col-xs-6.col-m-12.w-100 {
            ng-if="user.can('update_work_address', 'Employee', employee.id)"
          }
            p.clear.text-ellipsis uib-tooltip="{{employee.address}}"
              span.text {
                buttons="no"
                editable-text="employee.address"
                e-name="address"
                e-form="EmployeesViewForm"
                e-class="input-md"
                e-ng-change="employee.address = $data; validate('address', $data);"
              }
                | {{ employee.address }}

          .col-xs-12
            .m-b ng-if="EmployeesViewForm.$visible"
              map {
                map="map"
                address="employee.address"
                errors="employee.errors"
                latitude="employee.latitude"
                longitude="employee.longitude"
              }

          .col-xs-6.col-m-12 {
            ng-if="!user.can('update_work_address', 'Employee', employee.id)"
          }
            p.clear.text-ellipsis
              | {{ employee.address }}

        .row ng-if="employee.email || EmployeesViewForm.$visible"
          .col-xs-6.col-m-12
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': EmployeesViewForm.$visible}"
              }
                | {{ employeeStatic.labels.email }}:
          .col-xs-6.col-m-12.w-100 {
            ng-if="user.can('update_email', 'Employee', employee.id)"
          }
            p.clear.text-ellipsis
              span.text {
                buttons="no"
                editable-email="employee.email"
                e-name="email"
                e-form="EmployeesViewForm"
                e-ng-change="validate('email', $data)"
              }
                a href="mailto:{{ employee.email }}"
                  | {{ employee.email }}

          .col-xs-6.col-m-12 ng-if="!user.can('update_email', 'Employee', employee.id)"
            p.clear.text-ellipsis
              | {{ employee.email }}

        .row {
          ng-if="
            (employee.selected_phones | filter: {kind: 'work'}).length > 0 ||
            EmployeesViewForm.$visible
          "
        }
          .col-xs-6.col-m-12
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': EmployeesViewForm.$visible}"
              }
                | {{ employeeStatic.labels.work_phone }}:
          .col-xs-6.col-m-12
            div.m-b-sm
              .row.text-ellipsis {
                ng-repeat="phone in employee.selected_phones | filter: {kind: 'work'}"
              }
                .col-xs-12 {
                  ng-if="!EmployeesViewForm.$visible || !user.can('update_work_phone', 'Employee', employee.id)"
                }
                  a href="tel:{{ phone.country_phone_code.code }} {{phone.phone}}"
                    | {{ phone.country_phone_code.code }} {{phone.phone}}

                div ng-if="EmployeesViewForm.$visible && user.can('update_work_phone', 'Employee', employee.id)"
                  .col-xs-5
                    span.text {
                      editable-select="phone.country_phone_code_id"
                      e-ng-options="c.id as c.name for c in employeeStatic.references.country_phone_codes"
                      e-name="country_phone_code_id"
                      e-form="EmployeesViewForm"
                      e-placeholder=" --- "
                      e-class="input-md"
                      e-ng-change="changePhone(phone.id, 'country_phone_code_id' ,$data)"
                    }

                  .col-md-5.l-h-30
                    span.text {
                      buttons="no"
                      editable-text="phone.phone"
                      e-name="phone"
                      e-form="EmployeesViewForm"
                      e-class="input-md"
                      e-ng-change="changePhone(phone.id, 'phone' ,$data)"
                    }

                  .col-md-2
                    p.form-control-static
                      a href="" ng-click="deletePhone(phone)"
                        i.fa.fa-times.text-danger

              div ng-if="EmployeesViewForm.$visible && user.can('update_work_phone', 'Employee', employee.id)"
                a.btn.btn-default.btn-md {
                   href="#"
                   ng-click="addPhone('work')"
                   translate="common.ADD"
                }
        .row {
          ng-if="(employee.selected_phones | filter: {kind: 'cell'}).length > 0 || EmployeesViewForm.$visible"
        }
          .col-xs-6.col-m-12
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': EmployeesViewForm.$visible}"
              }
                | {{ employeeStatic.labels.work_cell_phone }}:
          .col-xs-6.col-m-12
            div.m-b-sm
              .row.text-ellipsis {
                ng-repeat="phone in employee.selected_phones | filter: {kind: 'cell'}"
              }
                .col-xs-12 ng-if="!EmployeesViewForm.$visible || !user.can('update_cell_phone', 'Employee', employee.id)"
                  a href="tel:{{ phone.country_phone_code.code }} {{phone.phone}}"
                    | {{ phone.country_phone_code.code }} {{phone.phone}}

                div ng-if="EmployeesViewForm.$visible && user.can('update_cell_phone', 'Employee', employee.id)"
                  .col-xs-5
                    span.text {
                      editable-select="phone.country_phone_code_id"
                      e-ng-options="c.id as c.name for c in employeeStatic.references.country_phone_codes"
                      e-name="country_phone_code_id"
                      e-form="EmployeesViewForm"
                      e-placeholder=" --- "
                      e-class="input-md"
                      e-ng-change="changePhone(phone.id, 'country_phone_code_id' ,$data)"
                    }

                  .col-md-5.l-h-30
                    span.text {
                      buttons="no"
                      editable-text="phone.phone"
                      e-name="phone"
                      e-form="EmployeesViewForm"
                      e-class="input-md"
                      e-ng-change="changePhone(phone.id, 'phone' ,$data)"
                    }

                  .col-md-2
                    p.form-control-static
                      a href="" ng-click="deletePhone(phone)"
                        i.fa.fa-times.text-danger

              div ng-if="EmployeesViewForm.$visible && user.can('update_cell_phone', 'Employee', employee.id)"
                a.btn.btn-default.btn-md {
                  href="#"
                  ng-click="addPhone('cell')"
                  translate="common.ADD"
                }

        .line.line-dashed.b-b.line-lg ng-if="employee.selected_employees_departments.length != 0"

        .role-item {
          ng-repeat="item in employee.selected_employees_departments"
        }
          .row.m-b-sm
            .col-xs-6.col-m-12
              p
                span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': EmployeesViewForm.$visible}"
              }
                  | {{ employeeStatic.labels.department }}:
            .col-xs-6.col-m-12 {
              ng-if="user.can('update_department', 'Employee', employee.id)"
            }
              span.text {
                editable-select="item.department_id"
                e-ng-options="d.id as d.name for d in getAvailableDepartments(item.department_id)"
                e-name="department_id"
                e-form="EmployeesViewForm"
                e-placeholder=" --- "
                e-class="input-md"
                e-ng-change="changeEmployeeDepartment(item.id, 'department_id' ,$data)"
              }
                p.clear.text-ellipsis
                  i.fa.fa-circle.margin-right-3{
                    ng-style="{color: '#' + item.department.color}"
                  }
                  | &nbsp; {{ item.department.name }}

            .col-xs-6.col-m-12 {
              ng-if="!user.can('update_department', 'Employee', employee.id)"
            }
              | {{ item.department.name }}

          .row.m-b-sm
            .col-xs-6.col-m-12
              p
                span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': EmployeesViewForm.$visible}"
              }
                  | {{ employeeStatic.labels.position }}:
            .col-xs-6.w-100 {
              ng-if="user.can('update_department', 'Employee', employee.id)"
            }
              p.clear.text-ellipsis
                span.text {
                  buttons="no"
                  editable-text="item.position"
                  e-name="position"
                  e-form="EmployeesViewForm"
                  e-class="input-md"
                  e-ng-change="changeEmployeeDepartment(item.id, 'position' ,$data)"
                }
                  | {{ item.position }}


            .col-xs-6.col-m-12 {
              ng-if="!user.can('update_department', 'Employee', employee.id)"
            }
              | {{ item.department.name }}
          .row ng-if="item.is_head || item.department.head || EmployeesViewForm.$visible"
            .col-xs-6.col-m-12
              p
                span.text-muted.clear.text-ellipsis
                  | {{ employeeStatic.labels.is_head }}:
              div ng-if="EmployeesViewForm.$visible && user.can('update_department', 'Employee', employee.id)"
                a.btn.btn-danger.btn-xs href="#" ng-click="deleteEmployeeDepartment(item)"
                  i.fa.fa-times
            .col-xs-6.col-m-12 {
              ng-if="user.can('update_department', 'Employee', employee.id)"
            }
              span {
                buttons="no"
                editable-checkbox="item.is_head"
                e-name="is_head"
                e-form="EmployeesViewForm"
                e-title="Руководитель?"
                e-ng-change="changeEmployeeDepartment(item.id, 'is_head' ,$data)"
              }
                .clear.text-ellipsis {
                  uib-tooltip="Является руководителем отдела"
                  tooltip-placement="left"
                  ng-if="item.is_head"
                }
                  | Да
                .clear.text-ellipsis {
                  tooltip-placement="left"
                  ng-if="!item.is_head"
                }
                  a href="/companies/{{companyId}}/employees/{{item.department.head.id}}"
                    | {{ item.department.head | fullname }}

            .col-xs-6.col-m-12 {
              ng-if="!user.can('update_department', 'Employee', employee.id)"
            }
              .clear.text-ellipsis {
                uib-tooltip="Является руководителем отдела"
                tooltip-placement="left"
                ng-if="item.is_head"
              }
                | Да
              .clear.text-ellipsis {
                tooltip-placement="left"
                ng-if="!item.is_head"
              }
                a href="/companies/{{companyId}}/employees/{{item.department.head.id}}"
                  | {{ item.department.head | fullname }}

          .line.line-dashed.b-b.line-lg

        p {
          ng-if="
            user.can('update_department', 'Employee', employee.id) &&
            getAvailableDepartments().length > 0 &&
            employee.selected_employees_departments.length < departments.length &&
            EmployeesViewForm.$visible
          "
        }
          a.btn.btn-default.btn-md {
            href="#"
            ng-click="addEmployeeDepartment()"
            translate="model.employee.ADD_TO_DEPARTMENT"
          }

      .col-md-6.col-m-12
        .row
          .col-xs-12
            h4 translate="common.SERVICE_INFORMATION"
        .row
          .col-xs-12
            .line.line-dashed.b-b.line-lg

        .row
          .col-xs-6.col-m-12
            p
              span.text-muted.clear.text-ellipsis
                | RFM-анализ:
          .col-xs-6.col-m-12
            p
              span.label.bg-success.margin-right-3 {
                uib-tooltip="RFM-анализ: Кит"
              }
                | RF
              span.label.bg-warning {
                uib-tooltip="RFM-анализ: Карась"
              }
                | RM

        .row ng-if="isBirthdayEditable()"
          .col-xs-6.col-m-12
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-15': EmployeesViewForm.$visible}"
              }
                | {{ employeeStatic.labels.birthday }}:
          .col-xs-6.col-m-12
            p.clear.text-ellipsis
              div {
                editable-bsdate="employee.user.birthday"
                e-datepicker-popup="dd.MM.yyyy"
                e-is-open="isOpen"
                e-ng-click="isOpen = !isOpen"
                e-name="birthday"
                e-form="EmployeesViewForm"
                e-ng-change="validate('birthday', $data)"
              }
                | {{ employee.user.birthday | date: "dd.MM.yyyy" }}

        .row {
          ng-if="user.can('update_salary', 'Employee', employee.id)"
          ng-show="employee.salary || EmployeesViewForm.$visible"
          }
          .col-xs-6.col-m-12
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': EmployeesViewForm.$visible}"
              }
                | {{ employeeStatic.labels.salary }}:
          .col-xs-6.col-m-12
            .inline.row ng-if="EmployeesViewForm.$visible"
              .col-xs-6.col-m-12.w-100
                div {
                  buttons="no"
                  editable-text="employee.salary"
                  e-name="salary"
                  e-form="EmployeesViewForm"
                  e-ng-change="validate('salary', $data)"
                }
              .col-xs-6.col-m-12.w-100
                div {
                  editable-select="employee.salary_period"
                  e-ng-options="period.id as period.name for period in employeeStatic.references.salary_periods"
                  e-name="salary_period"
                  e-form="EmployeesViewForm"
                  e-ng-change="validate('salary_period', $data)"
                }

            .text-ellipsis ng-if="!EmployeesViewForm.$visible"
              | {{ employee.salary | formatMoney: company.currency }}
              | /{{ employee.salary_period | ref:employeeStatic.references.salary_periods }}

        .row.m-b-sm ng-if="employee.user_activity_id || EmployeesViewForm.$visible"
          .col-xs-6.col-m-12
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-7': EmployeesViewForm.$visible}"
              }
                | {{ employeeStatic.labels.status }}:
          .col-xs-6.col-m-12 {
            ng-if="user.can('update_status', 'Employee', employee.id)"
          }
            div {
              editable-select="employee.user_activity_id"
              e-ng-options="activity.id as activity.name for activity in employeeStatic.references.user_activities"
              e-name="user_activity_id"
              e-form="EmployeesViewForm"
              e-ng-change="validate('user_activity_id', $data)"
              }
                | {{ employee.user_activity_id | ref:employeeStatic.references.user_activities}}

          .col-xs-6.col-m-12 {
            ng-if="!user.can('update_status', 'Employee', employee.id)"
          }
            | {{ employee.user_activity_id | ref:employeeStatic.references.user_activities }}

        .row.m-b-sm ng-if="employee.pass_number || EmployeesViewForm.$visible"
          .col-xs-6.col-m-12
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-7': EmployeesViewForm.$visible}"
              }
                | {{ employeeStatic.labels.pass_number }}:
          .col-xs-6.col-m-12.w-100 {
            ng-if="user.can('update_pass_number', 'Employee', employee.id)"
          }
            div {
              buttons="no"
              editable-text="employee.pass_number"
              e-name="pass_number"
              e-form="EmployeesViewForm"
              e-ng-change="validate('pass_number', $data)"
            }
              | {{ employee.pass_number }}

          .col-xs-6.col-m-12.w-100 {
            ng-if="!user.can('update_pass_number', 'Employee', employee.id)"
          }
            | {{ employee.pass_number }}

        .row ng-if="employee.job_started_at || EmployeesViewForm.$visible"
          .col-xs-6.col-m-12
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-7': EmployeesViewForm.$visible}"
              }
                | {{ employeeStatic.labels.job_started_at }}:
          .col-xs-6.col-m-12 {
            ng-if="user.can('update_job_started_at', 'Employee', employee.id)"
          }
            div {
              editable-bsdate="employee.job_started_at"
              e-datepicker-popup="dd.MM.yyyy"
              e-is-open="isOpen"
              e-ng-click="isOpen = !isOpen"
              e-name="job_started_at"
              e-form="EmployeesViewForm"
              e-ng-change="validate('job_started_at', $data)"
            }
              | {{ employee.job_started_at | date:'dd.MM.yyyy' }}


          .col-xs-6.col-m-12 {
            ng-if="!user.can('update_job_started_at', 'Employee', employee.id)"
          }
            | {{ employee.job_started_at | date:'dd.MM.yyyy' }}

        .row {
          ng-if="EmployeesViewForm.$visible && user.can('update_role', 'Employee', employee.id)"
        }
          .col-xs-6.col-m-12
            p
              span.text-muted.clear.text-ellipsis
                | {{ employeeStatic.labels.access }}:
          .col-xs-6.col-m-12
            span.text {
              editable-select="employee.selected_roles"
              e-ng-options="r.id as r.name for r in companyStatic.selectableRoles"
              e-name="selected_roles"
              e-form="EmployeesViewForm"
              e-placeholder=" --- "
              e-class="m-n"
              e-multiple="true"
            }
            /field {
              type="'select'"
              field="'selected_roles'"
              model="employee"
              options="companyStatic.selectableRoles"
              template="'input,error'"
              attr-class="'m-n'"
              multiple="true"
              }

        .row {
          ng-if="!EmployeesViewForm.$visible && user.can('update_role', 'Employee', employee.id)"
        }
          .col-xs-6.col-m-12
            p
              span.text-muted.clear.text-ellipsis
                | {{ employeeStatic.labels.access }}:
          .col-xs-6.col-m-12
            p
              span.clear.text-ellipsis {
                ng-repeat="role in employee.roles"
              }
                | {{ role.human_name }}
                span ng-if="!$last" ,
                span &nbsp;
        .row {
          ng-if="employee.participation_in_sales || (EmployeesViewForm.$visible && user.can('update_participation_in_sales', 'Employee', employee.id))"
        }
          .col-xs-6.col-m-12
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-25': EmployeesViewForm.$visible}"
              }
                | {{ employeeStatic.labels.sales }}:
          .col-xs-6.col-m-12
            p.clear.text-ellipsis{
              editable-radiolist="employee.participation_in_sales"
              e-ng-options="s.id as s.name for s in employeeStatic.references.sales_participation"
              e-class="custom_radio radio"
              e-name="participation_in_sales"
              e-form="EmployeesViewForm"
            }
              span
                | {{ employee.participation_in_sales | ref:employeeStatic.references.sales_participation }}

        .row.m-t-sm ng-if="employee.cashbox_name || (EmployeesViewForm.$visible && isCashboxNameEditable(EmployeesViewForm.$data))"
          .col-xs-6.col-m-12
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': EmployeesViewForm.$visible}"
              }
                | {{ employeeStatic.labels.cashbox_name }}:
          .col-xs-6.col-m-12.w-100
            div {
              buttons="no"
              editable-text="employee.cashbox_name"
              e-name="cashbox_name"
              e-form="EmployeesViewForm"
              e-ng-change="validate('cashbox_name', $data)"
            }
              | {{ employee.cashbox_name }}

        .row.m-t-sm ng-if="employee.forbidden_product_category_ids.length != 0 || (EmployeesViewForm.$visible && EmployeesViewForm.$data.participation_in_sales == 'yes')"
          .col-xs-6.col-m-12
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': EmployeesViewForm.$visible}"
              }
                | Запрещенные категории:
          .col-xs-6.col-m-12.w-100
            div {
              buttons="no"
              editable-select="employee.forbidden_product_category_ids"
              e-ng-options="c.id as c.name for c in product_categories"
              e-name="forbidden_product_category_ids"
              e-form="EmployeesViewForm"
              e-multiple="true"
            }
              span ng-repeat="category in employee.forbidden_product_categories"
                | {{category.name}}

    .line.line-dashed.b-b.line-lg.pull-in
    .col-lg-12.text-center.m-b
      .btn-group
        button.btn.btn-default {
          uib-tooltip="Поставить задачу сотруднику"
          type="button"
          ng-click="section.active = 'tasks'; loadTasks()"
        }
          i.icon-puzzle.text-light.lter.margin-right-3
          | Поставить задачу
      .btn-group
        button.btn.btn-danger {
          uib-tooltip="Уволить сотрудника"
          tooltip-append-to-body="true"
          type="button"
          ng-click="dismiss()"
          ng-if="user.can('dismiss', 'Employee', employee.id) && !employee.dismissed"
        }
          i.icon-fire.text-light.lter.margin-right-3
          | Уволить

    .line.line-dashed.b-b.line-lg.pull-in ng-if="section.active == 'tasks'"

    div ng-if="section.active == 'tasks'"
      .text-center
        a.btn.btn-primary.btn-addon.btn-lg {
          uib-tooltip="Создать новую задачу"
          type="button"
          ng-href="/companies/{{company.id}}/tasks/new"
        }
          i.icon-directions
          | Создать задачу

      related-tasks-list {
        tasks="employee.assigned_tasks"
      }

    .line.line-dashed.b-b.line-lg.pull-in
    .col-md-6
      .row
        .col-xs-12
          h4 Активность
          .line.line-dashed.b-b.line-lg
      .row
        .col-xs-6
          p
            span.text-muted.clear.text-ellipsis Лидов за месяц:
        .col-xs-6
          p
            | {{ employee.activity.leads_count }}
      .row
        .col-xs-6
          p
            span.text-muted.clear.text-ellipsis Клиентов за месяц:
        .col-xs-6
          p
            | {{ employee.activity.clients_count }}
      .row
        .col-xs-6
          p
            span.text-muted.clear.text-ellipsis Сделок за месяц:
        .col-xs-6
          p
            | {{ employee.activity.deals_count }}
      .row
        .col-xs-6
          p
            span.text-muted.clear.text-ellipsis Сумма сделок за месяц:
        .col-xs-6
          p
            | {{ employee.activity.deals_sum | formatMoney: company.currency }}
      .row
        .col-xs-6
          p
            span.text-muted.clear.text-ellipsis Прирост за последний месяц:
        .col-xs-6
          p ng-class="{
            'text-danger': employee.activity.deals_dynamics < 0,
            'text-success': employee.activity.deals_dynamics > 0
          }"
            | {{ employee.activity.deals_dynamics }} %
      .row
        .col-xs-6
          p
            span.text-muted.clear.text-ellipsis Средняя сумма сделки:
        .col-xs-6
          p
            | {{ employee.activity.average_deals_sum | formatMoney: company.currency }}
      .row ng-if="employee.activity.last_deal_date"
        .col-xs-6
          p
            span.text-muted.clear.text-ellipsis Дата последней сделки:
        .col-xs-6
          p
            | {{ employee.activity.last_deal_date | dateFormat }}

    .col-md-6
      .row
        .col-xs-12
          h4 Задачи
          .line.line-dashed.b-b.line-lg
      .row
        .col-xs-6
          p
            span.text-muted.clear.text-ellipsis Задач за месяц:
        .col-xs-6
          p
            | {{employee.tasks_statistic.this_month}}
      .row
        .col-xs-6
          p
            span.text-muted.clear.text-ellipsis Задач в работе:
        .col-xs-6
          p
            | {{(employee.tasks_statistic.in_progress / (employee.tasks_statistic.total || 1)) * 100 | roundedNumber}}%
      .row
        .col-xs-6
          p
            span.text-muted.clear.text-ellipsis Просроченных задач:
        .col-xs-6
          p.text-danger
            | {{(employee.tasks_statistic.overdue / (employee.tasks_statistic.total || 1)) * 100 | roundedNumber}}%
      .row
        .col-xs-6
          p
            span.text-muted.clear.text-ellipsis Выполненных задач:
        .col-xs-6
          p.text-success
            | {{(employee.tasks_statistic.done / (employee.tasks_statistic.total || 1)) * 100 | roundedNumber}}%
    br

    .line.line-dashed.b-b.line-lg.pull-in

    .col-md-12
      sales-funnel ng-if="employee.expanded" employee="employee"

    .line.line-dashed.b-b.line-lg.pull-in
    .col-md-12
      sales-forecast ng-if="employee.expanded" employee="employee"
