footer#footer.app-footer role="footer" ng-controller="FooterCtrl"
  .wrapper.b-t.bg-light
    span.pull-right
      | 2.7
      a.m-l-sm.text-muted href="" ng-click="gotoTop()"
        i.fa.fa-long-arrow-up
    | &copy; 2017 Copyright.
  div
    img {
      src="https://mc.yandex.ru/watch/45013399?ut=noindex"
      style="position:absolute; left:-9999px;"
      alt=""
    }
    img {
      height="1"
      width="1"
      style="display:none"
      src= "https://www.facebook.com/tr?id=1822438721410928&ev=PageView&noscript=1"
    }
