.app-header.navbar
  .navbar-header ng-class="app.settings.navbarHeaderColor"
    button.pull-right.visible-xs.dk {
      data-target=".navbar-collapse"
      ui-toggle-class="show"
    }
      i.glyphicon.glyphicon-cog

    button.pull-right.visible-xs {
      data-target=".app-aside"
      ui-scroll-to="app"
      ui-toggle-class="off-screen"
    }
      i.glyphicon.glyphicon-align-justify

    / brand
    a.navbar-brand.text-lt href="/"
      .beeqb-logo.inline.v-middle
      span.hidden-folded.m-l-xs.inline.v-middle
        | beeqb

  / navbar collapse
  .collapse.pos-rlt.navbar-collapse.box-shadow.bg-white-only
    / buttons
    .nav.navbar-nav.hidden-xs
      a.btn.no-shadow.navbar-btn.pull-left {
        href=""
        ng-click="app.settings.asideFolded = !app.settings.asideFolded"
      }
        i.fa.fa-fw {
          class="{{app.settings.asideFolded ? 'fa-indent' : 'fa-dedent'}}"
        }

      / link and dropdown
      li.dropdown.pos-stc.open {
        uib-dropdown
      }
        a.dropdown-toggle {
          aria-expanded="true"
          aria-haspopup="true"
          uib-dropdown-toggle=""
          href=""
        }
          span
            i.m-t-sm.text-success.icon-control-play.m-r-xs
            span.h4.text-success
              | 12:35
        .dropdown-menu.wrapper.w-full.bg-white
          .row
            .col-sm-4
              .m-l-xs.m-t-xs.m-b-xs.font-bold
                | Рабочий день
                span.badge.badge-sm.bg-success.m-l-xs
                  | скоро
              .row.text-center
                .col-xs-12
                  br
                  span.m-t-xs {
                    tooltip=""
                  }
                    i.h2.m-t-sm.text-success.icon-control-play
                    span.h1.text-success
                      | 3:45
                  br
                  br
                .col-xs-12
                  button.btn.btn-default.btn-addon.btn-lg.m-b.m-r-xs {
                    type="button"
                    ui-toggle-class="btn-success"
                  }
                    i.icon-control-pause.text-active
                    span.text-active {
                      tooltip="Остановить?"
                    }
                      | Пауза
                    i.icon-control-play.text
                    span.text {
                      tooltip="Запустить?"
                    }
                      | Старт
                  button.btn.btn-default.btn-addon.btn-lg.m-b {
                    type="button"
                    ui-toggle-class="btn-danger"
                  }
                    i.icon-control-end.text
                    span.text {
                      tooltip="Завершить задачу"
                    }
                      | Завершить
                    i.icon-refresh.text-active
                    span.text-active {
                      tooltip="Возобновить задачу"
                    }
                      | Возобновить

            .col-sm-4.b-l.b-light
              .m-l-xs.m-t-xs.m-b-xs.font-bold
                | Задачи на сегодня
                span.label.label-sm.bg-primary.m-l-xs
                  | 12
              .row
                .m-b-none
                  .clearfix
                    .col-xs-1.text-center
                      .inline.m-r
                        .checkbox
                          label.i-checks {
                            tooltip="Завершить задачу"
                          }
                            input type="checkbox"
                            i

                    .col-xs-8
                      span.clear.pull-left
                        span
                          a {
                            href=""
                          }
                            | Отправить оферту на "Разработка приложения для iOS"
                        small.text-muted.clear.text-ellipsis
                          | 12:42 22.11.2014

                    .col-xs-2
                      span.thumb-sm.m-r.avatar-30 {
                        tooltip="Задача относится к клиенту: Nike Inc."
                      }
                        img.r.r-2x {
                          alt="..."
                          src="assets/img/default-avatar.png"
                        }

                    / task's header
                  .clearfix
                    .col-xs-1.text-center
                      .inline
                        .checkbox
                          label.i-checks {
                            tooltip="Завершить задачу"
                          }
                            input {
                              type="checkbox"
                            }
                            i

                    .col-xs-8
                      span.clear.pull-left
                        span
                          a {
                            href=""
                          }
                            | Отправить договор
                        small.text-muted.clear.text-ellipsis
                          | 10.05.2015

                    .col-xs-2
                      span.thumb-sm.avatar.m-r.avatar-30 {
                        tooltip="Задача относится к клиенту: Евгений Сальник"
                      }
                        img {
                          alt="..."
                          src="assets/img/default-avatar.png"
                        }

                  .clearfix
                    .col-xs-1.text-center
                      .checkbox
                        label.i-checks {
                          tooltip="Завершить задачу"
                        }
                          input {
                            type="checkbox"
                          }
                          i

                    .col-xs-8
                      span.clear
                        span
                          a {
                            href=""
                          }
                            | Отправить расчет сметы
                        small.text-muted.clear.text-ellipsis
                          | 07.05.2015

                    .col-xs-2
                      span.thumb-sm.avatar.m-r.avatar-30 {
                        tooltip="Задача относится к клиенту: Евгений Гречишкин"
                      }
                        img {
                          alt="..."
                          src="assets/img/default-avatar.png"
                        }

            .col-sm-4.b-l.b-light
              .m-l-xs.m-t-xs.m-b-sm.font-bold
                | План на сегодня
                span.badge.badge-sm.bg-success.m-l-xs
                  | {{chartValue}}%
              .text-center
                .inline
                  easyPieChart {
                    style="width: 100px; height: 100px; line-height: 100px;"
                    options="chartOptions"
                    percent="chartValue"
                  }

      / create
      li.dropdown uib-dropdown="" ng-if="isCurrentRouteRelatesToCompanies"
        a.dropdown-toggle uib-dropdown-toggle="" href=""
          i.fa.fa-fw.fa-plus.visible-xs-inline-block
          span translate="header.navbar.NEW"
            | New
          span.caret
        ul.dropdown-menu role="menu"
          li
            a ng-href="companies/{{currentCompanyId}}/deals/new" translate="header.navbar.DEAL"
              | Deal
          li
            a ng-href="companies/{{currentCompanyId}}/clients/new"
              span.badge.bg-info.pull-right 5
              span translate="header.navbar.CLIENT"
                | Client
          li
            a ng-href="companies/{{currentCompanyId}}/leads/new" translate="header.navbar.LEAD"
              | Lead
          li.divider
          li
            a href="companies/{{currentCompanyId}}/tasks/new"
              span translate="header.navbar.TASK"
                | Task
          li
            a href=""
              span.badge.bg-danger.pull-right 4
              span translate="header.navbar.EMAIL"
                | Email

    / search form
    form.navbar-form.navbar-form-sm.navbar-left.shift {
      role="search"
      target=".navbar-collapse"
      ui-shift="prependTo"
      ng-if="isCurrentRouteRelatesToCompanies"
      ng-submit="redirectToSearchPage()"
    }
      .form-group
        .input-group
          input.form-control.bg-light.no-border.rounded.padder {
            ng-model="search.token"
            placeholder="Поиск..."
            uib-tooltip="Введите хотя бы 3 символа"
            tooltip-is-open="search.invalidToken"
            tooltip-enable="search.invalidToken"
            tooltip-placement="bottom"
            type="text"
          }
          span.input-group-addon.no-padder.no-border
            select.form-control.no-border.bg-light ng-model="search.section"
              option value="" По всей компании
              option value="clients" По клиентам
              option value="leads" По лидам
              option value="products" По товарам
              option value="deals" По сделкам
              option value="employees" По сотрудникам

          span.input-group-btn
            button.btn.bg-light.rounded {
              type="submit"
            }
              i.fa.fa-search

    / nabar right
    ul.nav.navbar-nav.navbar-right
      li.hidden-xs
        a ui-fullscreen=""

      li.dropdown uib-dropdown="" auto-close="disabled"
        a.dropdown-toggle {
          uib-dropdown-toggle=""
          href=""
        }
          i.icon-bell.fa-fw
          span.visible-xs-inline translate="header.notifications.NOTIFICATIONS"
          span.badge.badge-sm.up.bg-danger.pull-right-xs {
            ng-if="notificationsTotalCount > 0"
          }
            | {{ notificationsTotalCount }}
        / dropdown
        .dropdown-menu.w-xl.animated.fadeInUp
          .panel.bg-white
            .panel-heading.b-light.bg-light
              strong translate="header.notifications.YOU_HAVE"
              strong
                | &nbsp;{{ notificationsTotalCount }}&nbsp;
              strong translate="header.notifications.NOTIFICATIONS"

              button.btn.btn-default.btn-sm {
                type="button"
                translate="header.notifications.MARK_ALL_AS_READ"
                ng-disabled="notificationsTotalCount == 0"
                ng-click="markAllNotificationsAsRead()"
              }

            #notifications.list-group {
              style="height: 300px;overflow-y:scroll"
              infinite-scroll="showMoreNotification()"
              infinite-scroll-container="'#notifications'"
              infinite-scroll-disabled="loading"
              infinite-scroll-distance="0"
            }
              span.list-group-item {
                ng-repeat="notification in notifications"
                ng-click="!notification.viewed_at && viewNotification(notification); e.preventDefault(); e.stopPropagation();"
                ng-class="{'notification-viewed': notification.viewed_at}"
              }
                span.clear.block.m-b-none
                  span ng-bind-html="notification.content"
                  br
                  small.text-muted
                    | {{ notification.date }}

      li.dropdown uib-dropdown=""
        a.dropdown-toggle.clear {
          uib-dropdown-toggle=""
          href=""
        }
          span.thumb-sm.avatar.avatar-40-round.pull-right.m-t-n-sm.m-b-n-sm.m-l-sm {
            ng-style="{'background-image': 'url(' + (user.image.url || defaultAvatar) + ')'}"
          }
            i.b-white.bottom {
              ng-class="{
                'busy': !user.online,
                'on': user.online
              }"
            }
          span.hidden-sm.hidden-md
            | {{ (user.name || '') + ' '+ (user.surname || '') }}

          b.caret
        / dropdown
        ul.dropdown-menu.animated.fadeInRight.w
          li.wrapper.b-b.m-b-sm.bg-light.m-t-n-xs
            div
              p 300mb of 500mb used
            progressbar.progress-xs.m-b-none.bg-white {
              value="60"
            }
          li
            a href=""
              span.badge.bg-danger.pull-right
                | 30%
              span translate="header.userMenu.SETTINGS"
                | Settings
          li
            a {
              href='/profile'
              translate="header.userMenu.PROFILE"
              ui-sref="app.page.profile"
            }
          li
            a {
              translate="header.userMenu.HELP"
              ui-sref="app.docs"
            }
              span.label.bg-info.pull-right
                | new
              | Help
          li.divider
          li
            a {
              translate="header.userMenu.LOGOUT"
              ui-sref="access.signin"
              ng-href="/users/sign_out"
            }
              | Logout
