ul.nav ng-controller="NavCtrl"
  li.hidden-folded.padder.m-t.m-b-sm.text-muted.text-xs
    span translate="aside.nav.COMPANY"
  li {
    ng-repeat="employee in user.employees"
    ng-class="{ 'active company-active': companyId == employee.company.id }"
  }
    a.auto {
      href="/companies/{{employee.company.id}}"
      uib-tooltip="{{employee.company.name.length > 15 ? employee.company.name : ''}}"
      tooltip-append-to-body="true"
      tooltip-class="tooltip-overlay"
  }
      span.pull-right.text-muted
        i.fa.fa-fw.fa-angle-right.text
        i.fa.fa-fw.fa-angle-down.text-active

      i.icon-bar-chart.icon.text-success-lter ng-if="!employee.company.logo.url"

      i.sidebar-company-logo {
        ng-if="employee.company.logo.url"
      }
        img ng-src="{{ employee.company.logo.url }}"

      span.font-bold
        | {{employee.company.name}}

    ul.nav.nav-sub.dk
      li.nav-sub-header
        a
          span
            | {{employee.company.name}}

      li ng-class="{ 'active': is('dashboard') }"
        a href="/companies/{{employee.company.id}}"
          span.m-r-xs
            i.icon-speedometer.m-b-xs
          | Dashboard

      li ng-class="{ 'active': is('pos') }"
        a href="/companies/{{employee.company.id}}/pos"
          span.m-r-xs
            i.glyphicon.glyphicon-barcode.m-b-xs
          | &nbsp;
          | POS

      li ng-class="{ 'active': is('sales-report') }"
        a href="/companies/{{employee.company.id}}/sales-report"
          span.m-r-xs
            i.icon-bar-chart.m-b-xs
          | BA&amp;BI

      li ng-class="{ 'active': is('crm') }"
        a href="/companies/{{employee.company.id}}/crm"
          span.m-r-xs
            i.icon-rocket.m-b-xs
          | aCRM

      li ng-class="{ 'active': is('products') }"
        a href="/companies/{{employee.company.id}}/products"
          span.m-r-xs
            i.icon-present.m-b-xs
          | {{'aside.nav.PRODUCTS' | translate}}

      li ng-class="{ 'active': is('clients') }"
        a href="/companies/{{employee.company.id}}/clients"
          span.m-r-xs
            i.icon-wallet.m-b-xs
          | {{'aside.nav.CLIENTS' | translate}}

      li ng-class="{ 'active': is('employees') }"
        a href="/companies/{{employee.company.id}}/employees"
          span.m-r-xs
            i.icon-users.m-b-xs
          | {{'aside.nav.EMPLOYEES' | translate}}

      li ng-class="{ 'active': is('suppliers') }"
        a href="/companies/{{employee.company.id}}/suppliers"
          span.m-r-xs
            i.icon-briefcase.m-b-xs
          | {{'aside.nav.SUPPLIERS' | translate}}

  li.line.dk

  li.hidden-folded.padder.m-t.m-b-sm.text-muted.text-xs
    span translate="aside.nav.COMPONENTS"
      | Navigation
  li
    a href="/tasks"
      b.badge.bg-danger.pull-right ng-if="user.active_tasks_count > 0"
        | {{user.active_tasks_count}}
      i.icon-magic-wand.icon.text-info-lter
      span translate="aside.nav.TASKS"
        | Tasks
  li
    a ui-sref="app.contacts"
      i.icon-book-open.icon.text-info-lter
      span translate="aside.nav.CONTACTS"
        | Contacts
  li
    a href="/calendar" 
      i.icon-calendar.icon.text-info-lter
      span translate="aside.nav.CALENDAR"
        | Calendar
  li
    a ui-sref="app.notes" 
      i.icon-notebook.icon.text-info-lter
      span translate="aside.nav.NOTES"
        | Notes

  li.line.dk

  li.hidden-folded.padder.m-t.m-b-sm.text-muted.text-xs
    span translate="aside.nav.YOUR_STUFF"
      | Your Stuff
  li
    a href="/profile"
      i.icon-user.icon.text-success-lter
      span translate="aside.nav.PROFILE"
        | Profile
  li
    a ui-sref="app.docs"
      i.icon-question.icon
      span translate="aside.nav.DOCUMENTS"
        | Documents
