.app-aside.hidden-xs.bg-black
  .aside-wrap
    .navi-wrap
      #aside-user.clearfix.hidden-xs.text-center.hide
        .dropdown.wrapper dropdown="" 
          a ui-sref="app.page.profile" 
            span.thumb-lg.w-auto-folded.avatar.m-t-sm
              img.img-full alt="..." src=""
          a.dropdown-toggle.hidden-folded dropdown-toggle="" href="" 
            span.clear
              span.block.m-t-sm
                strong.font-bold.text-lt 
                  | John.Smith
                b.caret
              span.text-muted.text-xs.block 
                | Art Director
          ul.dropdown-menu.animated.fadeInRight.w.hidden-folded
            li.wrapper.b-b.m-b-sm.bg-info.m-t-n-xs
              span.arrow.top.hidden-folded.arrow-info
              div
                p 
                  | 300mb of 500mb used
              progressbar.progress-xs.m-b-none.dker {
                type="white" 
                value="60"
              }  
            li
              a href=""  Settings
            li
              a ui-sref="app.page.profile" 
                | Profile
            li
              a href="" 
                span.badge.bg-danger.pull-right
                | Notifications
            li.divider
            li
              a ui-sref="access.signin" 
                | Logout
        .line.dk.hidden-folded
      nav.navi {
        ng-include="'assets/views/layout/blocks/nav.html'" 
        ui-nav="" 
      }
      .wrapper.m-t
        milestone-widget
