.line.line-dashed.b-b.line-lg.pull-in
.row
  .col-md-6.col-xs-12
    .col-md-5.col-sm-3.col-xs-12.text-right
      strong translate="form.client.COMPANY"

.line.line-dashed.b-b.line-lg.pull-in
.row
  .col-md-6.col-xs-12
    .form-group
      label.control-label.col-md-5.col-sm-3.col-xs-12
        | {{clientStatic.labels['legal_entity_name']}}*
      .col-md-7.col-sm-9.col-xs-12
        field-wrap errors="client.errors.legal_entity_name"
          input.form-control {
            type="text"
            ng-model="client.legal_entity_name"
            ng-change="loadCompanyData()"
          }

.line.line-dashed.b-b.line-lg.pull-in
.row
  .col-sm-12
    .form-group.form-group-single
      label.control-label.form-group-single__label.col-sm-2.col-xs-12
        | {{clientStatic.labels['address']}}
      .form-group-single__field.col-sm-10.col-xs-12
        field {
          type="'text'"
          field="'address'"
          model="client"
          template="'input,error'"
        }

  .col-sm-2.visible-lg
  .col-lg-10.col-sm-12.m-t-md
    map.form-gmap-shift {
      map="map"
      ng-if="clientStatic.references.country_phone_codes"
      detect="true"
      address="client.address"
      on-change="updatePhoneCodeByCountry(countryCode)"
      errors="client.errors"
      latitude="client.latitude"
      longitude="client.longitude"
    }

.line.line-dashed.b-b.line-lg.pull-in
.row
  .col-md-6.col-xs-12
    .form-group
      label.control-label.col-md-5.col-sm-3.col-xs-12
        | {{clientStatic.labels['legal_entity_email']}}
      .col-md-7.col-sm-9.col-xs-12
        field {
          type="'email'"
          field="'legal_entity_email'"
          model="client"
          template="'input,error'"
        }

  .col-md-6.col-xs-12
    .form-group
      label.control-label.col-md-5.col-sm-3.col-xs-12
        | {{clientStatic.labels['site']}}
      .col-md-7.col-sm-9.col-xs-12
        field {
          type="'url'"
          field="'site'"
          model="client"
          template="'input,error'"
        }

  .col-md-6.col-xs-12
    .form-group
      label.control-label.col-md-5.col-sm-3.col-xs-12
        | {{clientStatic.labels['work_phone']}}
      .col-md-7.col-sm-9.col-xs-12
        .row
          .col-sm-4
            field {
              type="'select'"
              field="'work_phone_code_id'"
              model="client"
              options="clientStatic.references.country_phone_codes"
              template="'input,error'"
            }
          .m-t.visible-xs
          .col-sm-8
            field {
              type="'phone'"
              field="'work_phone'"
              model="client"
              template="'input,error'"
            }

.line.line-dashed.b-b.line-lg.pull-in
.form-group.form-group-single
  label.control-label.form-group-single__label.col-sm-2.col-xs-12
    | {{clientStatic.labels['relations']}}
  .form-group-single__field.col-sm-10.col-xs-12
    field {
      type="'textarea'"
      field="'relations'"
      model="client"
      template="'input,error'"
    }

.line.line-dashed.b-b.line-lg.pull-in
.row
  .col-md-6.col-xs-12
    .col-md-5.col-sm-3.col-xs-12.text-right
      strong translate="form.client.CONTACT"

.line.line-dashed.b-b.line-lg.pull-in
.row
  .col-md-6.col-xs-12
    .form-group
      label.control-label.col-md-5.col-sm-3.col-xs-12
        | {{clientStatic.labels['name']}}
      .col-md-7.col-sm-9.col-xs-12
        field {
          type="'text'"
          field="'name'"
          model="client"
          template="'input,error'"
        }

  .col-md-6.col-xs-12
    .form-group
      label.control-label.col-md-5.col-sm-3.col-xs-12
        | {{clientStatic.labels['surname']}}
      .col-md-7.col-sm-9.col-xs-12
        field {
          type="'text'"
          field="'surname'"
          model="client"
          template="'input,error'"
        }

  .col-md-6.col-xs-12
    .form-group
      label.control-label.col-md-5.col-sm-3.col-xs-12
        | {{clientStatic.labels['email']}}
      .col-md-7.col-sm-9.col-xs-12
        field {
          type="'email'"
          field="'email'"
          model="client"
          template="'input,error'"
        }
