.row ng-init="client = $ctrl.entity"
  .col-lg-4.col-md-6.col-sm-6.col-xs-6.col-m-12
    span.pull-left.thumb-sm.m-r {
      ng-class="{
        'avatar avatar-40-round': client.legal_form == 'individual',
        'avatar-40': client.legal_form == 'legal_entity'
      }"
      style="background-image: url({{ client.image.url }})"
    }

    span.clear
      span.text-ellipsis {
        ng-if="client.legal_form == 'individual'"
        uib-tooltip="{{ client | fullname }}"
        tooltip-class="tooltip-overlay"
      }
        | {{ client | fullname }}
      span.text-ellipsis {
        ng-if="client.legal_form == 'legal_entity'"
        uib-tooltip="{{ client.legal_entity_name }}"
        tooltip-class="tooltip-overlay"
      }
        | {{ client.legal_entity_name }}
      small.text-muted.clear.text-ellipsis
        i.fa.fa-circle.m-r-xs {
          ng-style="{color: (client | statusColor: $ctrl.references.client_statuses) }"
        }
        | {{client.source | ref:$ctrl.references.sources}}

    .hidden-lg
      br

  .col-lg-2.col-md-6.col-sm-6.col-xs-6.col-m-12.text-left
    span.inline
      a {
        href="tel:{{client.work_phone}}"
        uib-tooltip="Рабочий телефон"
        tooltip-placement="left"
      }
        span
          | {{ client.work_phone_code_id | ref:$ctrl.references.country_phone_codes:'code' }} {{ client.work_phone }}
      a {
        href="mailto:{{ client.email }}"
        uib-tooltip="Рабочий email:"
        tooltip-placement="left"
      }
        small.text-muted.clear.text-ellipsis {
          ng-if="client.legal_form == 'individual'"
        }
          | {{ client.email }}
        small.text-muted.clear.text-ellipsis {
          ng-if="client.legal_form == 'legal_entity'"
        }
          | {{ client.legal_entity_email }}

    .hidden-lg
      br

  .col-lg-1.col-md-1.col-sm-2.col-xs-3.text-center.text-left-xs
    .inline.m-r
      button.btn.btn-success.btn-lg {
        uib-tooltip="RFM-анализ: Большой Кит"
        tooltip-append-to-body="true"
      }
        | RF

  .col-lg-1.col-md-1.col-sm-2.col-xs-3.text-center.text-left-xs
    .inline.m-r
      button.btn.btn-warning.btn-lg {
        uib-tooltip="RFM-анализ: Карась"
        tooltip-append-to-body="true"
      }
        | RM

    .visible-m
      br

  .col-lg-2.col-md-4.col-sm-2.col-xs-2.text-center.hidden-xs.text-left-md
    .inline.m-r
      span.label.bg-danger {
        style="background-color: {{ client.status | statusColor:$ctrl.references.client_statuses}}"
      }
        | {{ client.status | ref:$ctrl.references.client_statuses }}
      small.text-muted.clear.text-ellipsis
        | c {{ client.created_at | date:'dd.MM.yyyy' }}

    .visible-m
      br

  .col-lg-2.col-md-6.col-sm-6.col-xs-6.col-m-12
    .inline.text-left
      .m-b-xs
        | $30,000 &nbsp;
        span.text-muted доход
      .sparkline.inline {
        ui-jq="sparkline"
        ui-options="[105,102,106,107,105,104,101,99,98,109,105,100,108,110,105,110,109],
        {
          type:'bar',
          height:20,
          barWidth:5,
          barSpacing:1,
          barColor:'#dce5ec'
        }"
      }
