.app-content
  .app-content-body
    .bg-light.lter.b-b.wrapper-md.ng-scope
      .row

        .col-sm-6.col-xs-12
          div {
            uib-dropdown
            is-open="status.isopen"
          }
            h1.m-n.font-thin.h3.text-black
              span
                i.icon-users
              a.m-l-xs {
                aria-expanded="false"
                aria-haspopup="true"
                uib-dropdown-toggle
                ng-disabled="disabled"
              }
                .inline translate="model.client.PAGE_TITLE"
                .inline.caret

            ul.dropdown-menu role="menu"
              li
                a {
                  href="/companies/{{companyId}}/deals"
                }
                  i.icon-fire
                  | &nbsp;
                  | Сделки
              li
                a {
                  href="/companies/{{companyId}}/clients"
                }
                  i.icon-users
                  | &nbsp;
                  | Клиенты
              li
                a {
                  href="/companies/{{companyId}}/leads"
                }
                  i.icon-ghost
                  | &nbsp;
                  | Лиды

          small.text-muted {
            translate="model.client.SUB_TITLE"
          }

        .col-sm-6.text-right.hidden-xs
          .inline.m-r.text-left
            h1.inline.m-r.text-right.font-thin.h3.margin-top-8
              a.btn.btn-sm.btn-primary.btn-addon {
                href="/companies/{{companyId}}/clients/new"
                ng-if="company.id && user.can('create', 'Client', {company_id: company.id})"
              }
                i.fa.fa-plus.text
                span.text {
                  translate="model.client.CREATE"
                }
    .wrapper-md
      .row.list-group-item
        .col-md-12
          .xedit-form {
            ng-include="'assets/views/companies/clients/xedit.html'"
            ng-controller="CompaniesClientsXEditCtrl"
          }