.row ng-if="client.legal_entity_name || ClientForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': ClientForm.$visible}"
      }
        | {{ clientStatic.labels.legal_entity_name }}
        span ng-if="ClientForm.$visible" *
        | :
  .col-xs-6
    p.clear.text-ellipsis
      span.text {
        buttons="no"
        editable-text="client.legal_entity_name"
        e-name="legal_entity_name"
        e-form="ClientForm"
        e-ng-change="validate('legal_entity_name', $data)"
      }
        | {{ client.legal_entity_name }}

.row ng-if="client.address || ClientForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': ClientForm.$visible}"
      }
        | {{ clientStatic.labels.address }}
        span ng-if="ClientForm.$visible" *
        | :
  .col-xs-6
    p.clear.text-ellipsis uib-tooltip="{{client.address}}"
      span.text {
        buttons="no"
        editable-text="client.address"
        e-name="address"
        e-form="ClientForm"
        e-ng-change="client.address = $data; validate('address', $data)"
      }
        | {{ client.address }}


div.m-b ng-if="ClientForm.$visible"
  map {
    map="map"
    address="client.address"
    errors="client.errors"
    on-change="updatePhoneCodeByCountry(countryCode)"
    latitude="client.latitude"
    longitude="client.longitude"
  }

.row ng-if="client.legal_entity_email || ClientForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': ClientForm.$visible}"
      }
        | {{ clientStatic.labels.legal_entity_email }}
        span ng-if="ClientForm.$visible" *
        | :
  .col-xs-6
    p.clear.text-ellipsis
      span.text {
        buttons="no"
        editable-text="client.legal_entity_email"
        e-name="legal_entity_email"
        e-form="ClientForm"
        e-ng-change="validate('legal_entity_email', $data)"
      }
        | {{ client.legal_entity_email || '' }}

.row ng-if="client.site || ClientForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': ClientForm.$visible}"
      }
        | {{ clientStatic.labels.site }}:
  .col-xs-6
    p.clear.text-ellipsis
      span.text {
        editable-text="client.site"
        e-name="site"
        e-ng-change="validate('site', $data)"
        e-form="ClientForm"
      }
        | {{ client.site }}

.row ng-if="client.work_phone || ClientForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': ClientForm.$visible}"
      }
        | {{ clientStatic.labels.work_phone }}
        span ng-if="ClientForm.$visible" *
        | :
  .col-xs-6
    .row.m-b ng-if="ClientForm.$visible"
      .col-sm-5
        span.text {
          buttons="no"
          editable-select="client.work_phone_code_id"
          e-ng-options="phone_code.id as phone_code.name for phone_code in clientStatic.references.country_phone_codes"
          e-name="work_phone_code_id"
          e-form="ClientForm"
          e-ng-change="validate('work_phone_code_id', $data)"
        }
      .col-sm-7
        span.text {
          buttons="no"
          editable-text="client.work_phone"
          e-name="work_phone"
          e-form="ClientForm"
          e-ng-change="validate('work_phone', $data)"
        }

    p.clear.text-ellipsis ng-if="!ClientForm.$visible"
      | {{ client.work_phone_code_id | ref:clientStatic.references.country_phone_codes:'code' }}
      | &nbsp;
      | {{ client.work_phone || '' }}

p.clear.text-ellipsis
  strong
    | Контактное лицо

.row ng-if="client.name || ClientForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': ClientForm.$visible}"
      }
        | {{ clientStatic.labels.name }}:
  .col-xs-6
    p.clear.text-ellipsis
      span.text {
        editable-text="client.name"
        e-name="name"
        e-ng-change="validate('name', $data)"
        e-form="ClientForm"
      }
        | {{ client.name }}

.row ng-if="client.surname || ClientForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': ClientForm.$visible}"
      }
        | {{ clientStatic.labels.surname }}
        span ng-if="ClientForm.$visible" *
        | :
  .col-xs-6
    p.clear.text-ellipsis
      span.text {
        editable-text="client.surname"
        e-name="surname"
        e-ng-change="validate('surname', $data)"
        e-form="ClientForm"
      }
        | {{ client.surname }}

.row ng-if="client.email || ClientForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': ClientForm.$visible}"
      }
        | {{ clientStatic.labels.email }}
        span ng-if="ClientForm.$visible" *
        | :
  .col-xs-6
    p.clear.text-ellipsis
      span.text {
        buttons="no"
        editable-text="client.email"
        e-name="email"
        e-form="ClientForm"
        e-ng-change="validate('email', $data)"
      }
        | {{ client.email || '' }}
