form {
  editable-form
  onbeforesave="submit($data)"
  name="$parent.ClientForm"
  }

    div {
      ng-click="client.canBeExpanded && (client.expanded = !client.expanded)"
      ng-attr-role="{{client.canBeExpanded ? 'button' : ''}}"
    }
      .row
        .col-lg-4.col-md-4.col-sm-3.col-xs-2
          span.pull-left.thumb-sm.m-r.hidden-xs {
            ng-class="{
              'avatar avatar-40-round': client.legal_form == 'individual',
              'avatar-40': client.legal_form == 'legal_entity'
            }"
            style="background-image: url({{ client.image.url }})"
          }

          span.clear
            span.text-ellipsis {
              ng-if="client.legal_form == 'individual'"
              uib-tooltip="{{ client | fullname}}"
              tooltip-class="tooltip-overlay"
            }
              | {{ client | fullname}}
            span.text-ellipsis {
              ng-if="client.legal_form == 'legal_entity'"
              uib-tooltip="{{ client.legal_entity_name }}"
              tooltip-class="tooltip-overlay"
            }
              | {{ client.legal_entity_name }}
            small.text-muted.clear.text-ellipsis
              i.fa.fa-circle.m-r-xs {
                ng-style="{color: (client | statusColor: companyStatic.references.client_statuses) }"
              }
              | {{client.source | ref:clientStatic.references.sources}}

          .hidden-lg
            br

        .col-lg-2.col-md-2.col-sm-2.col-xs-3.text-left.text-ellipsis
          span.inline
            a {
              ng-if="client.cell_phone"
              href="tel:{{client.cell_phone}}"
              uib-tooltip="Мобильный телефон"
              tooltip-placement="left"
              tooltip-append-to-body="true"
            }
              span
                | {{ client.cell_phone_full }}

            a {
              ng-if="!client.cell_phone && client.work_phone"
              href="tel:{{client.work_phone}}"
              uib-tooltip="Рабочий телефон"
              tooltip-placement="left"
              tooltip-append-to-body="true"
            }
              span
                | {{ client.work_phone_full }}
            a {
              href="mailto:{{ client.email }}"
              uib-tooltip="Рабочий email:"
              tooltip-placement="left"
            }
              small.text-muted.clear.text-ellipsis {
                ng-if="client.legal_form == 'individual'"
              }
                | {{ client.email }}
              small.text-muted.clear.text-ellipsis {
                ng-if="client.legal_form == 'legal_entity'"
              }
                | {{ client.legal_entity_email }}

          .hidden-lg
            br

        .col-lg-1.col-md-1.col-sm-1.col-xs-1.text-center.text-left-xs
          .inline.m-r
            button.btn.btn-lg.btn-small-xs {
              ng-class="{
                'btn-success': client.rf_status == 'big_whale' || client.rf_status == 'whale',
                'btn-info': client.rf_status == 'big_dolphin' || client.rf_status == 'dolphin',
                'btn-warning': client.rf_status == 'crucian',
              }"
              uib-tooltip="RFM-анализ: {{client.rf_status | ref:clientStatic.references.rfm_categories}}"
              tooltip-append-to-body="true"
            }
              | RF

        .col-lg-1.col-md-1.col-sm-1.col-xs-1.text-center.text-left-xs
          .inline.m-r
            button.btn.btn-lg.btn-small-xs {
              ng-class="{
                'btn-success': client.rm_status == 'big_whale' || client.rm_status == 'whale',
                'btn-info': client.rm_status == 'big_dolphin' || client.rm_status == 'dolphin',
                'btn-warning': client.rm_status == 'crucian',
              }"
              uib-tooltip="RFM-анализ: {{client.rm_status | ref:clientStatic.references.rfm_categories}}"
              tooltip-append-to-body="true"
            }
              | RM

          .visible-m.hidden-xs
            br

        .col-lg-2.col-md-2.col-sm-3.text-center.hidden-xs.text-left-md
          .inline.m-r
            span.label.bg-danger {
              style="background-color: {{client.status | statusColor:ref:companyStatic.references.client_statuses }}"
              title="{{client.status | ref:companyStatic.references.client_statuses}}"
            }
              | {{ client.status.name }}
            small.text-muted.clear.text-ellipsis
              | c {{ client.created_at | date:'dd.MM.yyyy'}}

          .visible-m
            br

        .col-lg-2.col-md-2.col-sm-2.col-xs-4.text-ellipsis
          .inline.text-left
            .m-b-xs {
              uib-tooltip="{{client.income | formatMoney: company.currency}}"
              tooltip-placement="left"
              tooltip-append-to-body="true"
            }
              | {{client.income | formatMoney: company.currency}} &nbsp;
              span.text-muted доход
            .sparkline.inline {
              ui-jq="sparkline"
              ui-options="client.income_by_days || [],
              {
                type:'bar',
                height:20,
                barWidth:5,
                barSpacing:1,
                barColor:'#dce5ec'
              }"
              ui-refresh="client.income_by_days"
            }

    div uib-collapse="!client.expanded"
      br
      br
      .line.line-dashed.b-b.line-lg.pull-in

      .col-md-12 {
        ng-if="client.id && user.can('update', 'Client', client.id)"
      }
        .pull-right uib-tooltip="Редактирование"
          switcher {
            checked="true"
            confirm-exit="true"
            xeditable="ClientForm"
          }

        .text-center
          ul.nav-justified
            li
              h1.text-success-dker
                | {{client.deals_stats.won_deals.sum | formatMoney: company.currency}}
              | {{client.deals_stats.won_deals.count}} Выигранных сделок
            li
              h1.text-primary-dker
                | {{client.deals_stats.potential_deals.sum | formatMoney: company.currency}}
              | {{client.deals_stats.potential_deals.count}} Потенциальные сделки
            li
              h1.text-danger-dker
                | {{client.deals_stats.lost_deals.sum | formatMoney: company.currency}}
              | {{client.deals_stats.lost_deals.count}} Проигранных сделок

      br
      br
      br
      br
      br

      .line.line-dashed.b-b.line-lg.pull-in
      .col-md-6
        .row
          .col-xs-12
            h4
              | Визитка
            .line.line-dashed.b-b.line-lg

        div {
          ng-if="client.legal_form == 'individual'"
          ng-include=""
          src="'/assets/views/companies/clients/xedit_individual.html'"
        }
        div {
          ng-if="client.legal_form == 'legal_entity'"
          ng-include=""
          src="'/assets/views/companies/clients/xedit_legal_entity.html'"
        }
      .col-md-6
        .row
          .col-xs-12
            h4
              | Служебная информация
            .line.line-dashed.b-b.line-lg
        .row ng-if="client.status != null || ClientForm.$visible"
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': ClientForm.$visible}"
              }
                | {{ clientStatic.labels.status }}:
          .col-xs-6
            p.clear.text-ellipsis
              span.text {
                editable-select="client.status"
                e-ng-options="status.id as status.name for status in companyStatic.references.client_statuses"
                e-name="status"
                e-form="ClientForm"
                e-ng-change="validate('status', $data)"
              }
                | {{ client.status | ref:companyStatic.references.client_statuses }}

        .row ng-if="client.manager_id != null || ClientForm.$visible"
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': ClientForm.$visible}"
              }
                | {{ clientStatic.labels.manager_id }}:
          .col-xs-6
            p.clear.text-ellipsis
              span.text {
                editable-select="client.manager_id"
                e-ng-options="employee.id as (employee.user.name + ' ' + employee.user.surname) for employee in employees"
                e-name="manager_id"
                e-form="ClientForm"
                e-ng-change="client.manager_id = $data; validate('manager_id', $data)"
              }
                a.text-info-dker.b-b ng-href="/companies/{{companyId}}/employees/{{client.manager_id}}"
                  | {{ client.manager_id | ref:employees:'user' | fullname }}

        .row ng-if="client.second_manager_id != null || ClientForm.$visible"
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': ClientForm.$visible}"
              }
                | {{ clientStatic.labels.second_manager_id }}:
          .col-xs-6
            p.clear.text-ellipsis
              span.text {
                editable-select="client.second_manager_id"
                e-ng-options="employee.id as (employee.user.name + ' ' + employee.user.surname) for employee in employeesForSecondManager"
                e-name="second_manager_id"
                e-form="ClientForm"
                e-ng-change="validate('second_manager_id', $data)"
              }
                | {{ client.second_manager_id | ref:employees:'user' | fullname }}

        .row ng-if="client.visibility || ClientForm.$visible"
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': ClientForm.$visible}"
              }
                | {{ clientStatic.labels.visibility }}:
          .col-xs-6
            p.clear.text-ellipsis
              span.text {
                editable-select="client.visibility"
                e-ng-options="visibility.id as visibility.name for visibility in clientStatic.references.visibilities"
                e-name="visibility"
                e-form="ClientForm"
                e-ng-change="validate('visibility', $data)"
              }
                | {{ client.visibility | ref:clientStatic.references.visibilities }}
        .row ng-if="client.legal_form"
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis
                | {{ clientStatic.labels.legal_form }}:
          .col-xs-6
            p.clear.text-ellipsis
              | {{ client.legal_form | ref:clientStatic.references.legal_forms }}

        .row ng-if="client.source  || ClientForm.$visible"
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': ClientForm.$visible}"
              }
                | {{ clientStatic.labels.source }}:
          .col-xs-6
            p.clear.text-ellipsis
              span.text {
                e-ng-options="source.id as source.name for source in clientStatic.references.sources"
                editable-select="client.source"
                e-name="source"
                e-form="ClientForm"
                e-ng-change="validate('source', $data)"
              }
                | {{ client.source | ref:clientStatic.references.sources }}

        .row ng-if="client.discount  || ClientForm.$visible"
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': ClientForm.$visible}"
              }
                | {{ clientStatic.labels.discount }}:
          .col-xs-6
            p.clear.text-ellipsis
              span.text {
                editable-text="client.discount"
                e-name="discount"
                e-form="ClientForm"
                e-ng-change="validate('discount', $data)"
              }
                | {{ client.discount + '%' }}

        .row ng-if="client.deposit || ClientForm.$visible"
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': ClientForm.$visible}"
              }
                | {{ clientStatic.labels.deposit }}:
          .col-xs-6
            p.clear.text-ellipsis
              span.text {
                editable-text="client.deposit"
                e-name="deposit"
                e-form="ClientForm"
                e-ng-change="validate('deposit', $data)"
              }
                | {{ client.deposit | formatMoney: company.currency }}
        .row
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis
                | Сумма сделок:
          .col-xs-6
            p.clear.text-ellipsis
              | {{ client.deals_stats.total_deals.sum | formatMoney:company.currency }}
        .row
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis
                | Количество сделок:
          .col-xs-6
            p.clear.text-ellipsis
              | {{ client.deals_stats.total_deals.count }}
        .row
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis
                | Средний чек:
          .col-xs-6
            p.clear.text-ellipsis
              | {{ (client.deals_stats.total_deals.average_sum || 0) | formatMoney:company.currency }}
        .row
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis
                | Сумма возвратов:
          .col-xs-6
            p.clear.text-ellipsis
              | {{ client.deals_stats.returned_deals.sum | formatMoney:company.currency }}
        .row
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis
                | Количество возвратов:
          .col-xs-6
            p.clear.text-ellipsis
              | {{ client.deals_stats.returned_deals.count }}
        .row
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis
                | Дата первой покупки:
          .col-xs-6
            p.clear.text-ellipsis
              | {{ (client.deals_stats.first_purchase_date | date:'dd.MM.yyyy HH:mm') || '-' }}
        .row
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis
                | Дата последней покупки:
          .col-xs-6
            p.clear.text-ellipsis
              | {{ (client.deals_stats.last_purchase_date | date:'dd.MM.yyyy HH:mm') || '-' }}

        .row ng-if="client.notes  || ClientForm.$visible"
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis
                | {{ clientStatic.labels.notes }}:
          .col-xs-6
            p.clear.text-ellipsis
              span.text {
                editable-textarea="client.notes"
                e-name="notes"
                e-form="ClientForm"
                e-ng-change="validate('notes', $data)"
              }
                | {{ client.notes }}

        .row ng-if="client.relations  || ClientForm.$visible"
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis
                | {{ clientStatic.labels.relations }}:
          .col-xs-6
            p.clear.text-ellipsis
              span.text {
                editable-textarea="client.relations"
                e-name="relations"
                e-form="ClientForm"
                e-ng-change="validate('relations', $data)"
              }
                | {{ client.relations }}

      .pull-right.clear-both.m-b {
        ng-if="client.id && user.can('update', 'Client', client.id)"
        uib-tooltip="Редактирование"
      }
        switcher {
          checked="true"
          xeditable="ClientForm"
        }

      br
      br

      .line.line-dashed.b-b.line-lg.pull-in
      .col-lg-12.text-center.m-b-sm
        .btn-group
          button.btn.btn-default.nowrap {
            type="button"
            ng-click="section.active = 'tasks'; loadTasks()"
            ng-class="{active: section.active == 'tasks'}"
          }
            i.icon-directions.text-light.lter.m-r-xs
            | Дела &nbsp;
            b.badge.bg-success.inline
              | {{ client.related_tasks_count || 0 }}

          button.btn.btn-default.nowrap {
            type="button"
            ng-click="section.active = 'deals'"
            ng-class="{active: section.active == 'deals'}"
          }
            i.icon-wallet.text-light.lter.m-r-xs
            | Сделки &nbsp;
            b.badge.bg-success.inline
              | {{ client.deals.length || 0 }}

          button.btn.btn-default.nowrap type="button"
            i.icon-layers.text-light.lter.m-r-xs
            | Счета &nbsp;
            b.badge.bg-success.inline
              | 0

          button.btn.btn-default.nowrap {
            type="button"
            ng-click="section.active = 'products'"
            ng-class="{active: section.active == 'products'}"
          }
            i.icon-basket-loaded.text-light.lter.m-r-xs
            | Товары &nbsp;
            b.badge.bg-success.inline
              | {{ client.products.length || 0 }}

          button.btn.btn-default.nowrap {
            type="button"
            ng-click="section.active = 'history'"
            ng-class="{active: section.active == 'history'}"
          }
            i.icon-puzzle.text-light.lter.m-r-xs
            | История &nbsp;
            b.badge.bg-success.inline
              | {{ client.history_length || 0 }}

      .additional-sections.m-b-sm ng-show="section.active"
        .line.line-dashed.b-b.line-lg.pull-in
        / Сделки
        div ng-show="section.active == 'deals'"
          .text-center
            a.btn.btn-lg.btn-primary.btn-addon href="/companies/{{company.id}}/deals/new?client_id={{client.id}}"
              i.icon-wallet.text
              span.text
                | Добавить сделку

          .line.line-dashed.b-b.line-lg.pull-in

          .col-lg-12
            .row.m-b ng-repeat="deal in client.deals"
              .col-xs-12
                span.label.text-base.pos-rlt.m-r.v-middle {
                  ng-style="{
                    'background-color': (
                      deal.status | statusColor: companyStatic.references.deal_statuses
                    )
                  }"
                }
                  | {{ deal.created_at | date: 'dd.MM.yyyy hh:mm' }}
                a.inline.text-ellipsis.font-bold href="/companies/{{company.id}}/deals/{{deal.id}}"
                  | {{deal.name}}
                a.inline.text-ellipsis.v-middle.m-r href="/companies/{{company.id}}/deals/{{deal.id}}"
                  | Статус: &nbsp;
                  span
                    | {{ deal.status | ref:companyStatic.references.deal_statuses }}
                span.inline.v-middle.m-r
                  | Сумма: {{ deal.total_sum | formatMoney: company.currency }}

        / История
        div ng-if="section.active == 'history'"
          stream {
            company-id="client.company_id"
            subject-type="Client"
            subject-id="client.id"
            level="local"
          }

        / Дела
        div ng-if="section.active == 'tasks'"
          .text-center
            a.btn.btn-primary.btn-addon.btn-lg {
              uib-tooltip="Создать новую задачу"
              type="button"
              ng-href="/companies/{{company.id}}/tasks/new?client_id={{client.id}}"
            }
              i.icon-directions
              | Создать задачу

          related-tasks-list {
            tasks="client.related_tasks"
            show-client="false"
          }

        /Товары
        div ng-if="section.active == 'products'"
          .row.m-b ng-repeat="product in client.products"
            .col-md-4
              span.pull-left.thumb-sm.m-r.avatar-40.r-2x  {
                style="background-image: url({{product.images[product.preview_index].url}})"
              }
              span.clear
                span.text-ellipsis
                  i.fa.fa-circle.text-primary {
                    style="color: {{'#'+product.category.color}}; margin-right: 2px;"
                    uib-tooltip="Категория '{{product.category.name}}'"
                  }
                  | &nbsp; {{product.name}}

            .col-md-4
              .inline.v-top.text-left
                span {
                  uib-tooltip="Стоимость"
                }
                  | {{ product.price | formatMoney: company.currency }}
                small.text-muted.clear.text-ellipsis {
                  uib-tooltip="Артикул"
                }
                  | {{ product.vendor_code }}

      .line.line-dashed.b-b.line-lg.pull-in

      .col-md-6
        | Динамика продаж: Количество товара
        .line.line-dashed.b-b.line-lg
        div {
          style="height: 240px; width: 100%; padding: 0px; position: relative;"
          ui-jq="plot"
          ui-refresh="client.sales_dynamic.quantity"
          ui-options="[
            {
              data: {{client.sales_dynamic.quantity || []}},
              lines: {
                show: true,
                lineWidth: 1,
                fill:true,
                fillColor: { colors: [{opacity: 0.2}, {opacity: 0.8}] },
              }
            }
          ],
          {
            colors: ['#23b7e5'],
            series: { shadowSize: 3 },
            xaxis:{ show:false },
            yaxis:{
              font: { color: '#a1a7ac' }
            },
            grid: {
              hoverable: true,
              clickable: true,
              borderWidth: 0,
              color: '#dce5ec'
            },
            tooltip: true,
            tooltipOpts: {
              content: '%s of %x.0 is %y.2',
              defaultTheme: false,
              shifts: { x: 10, y: -25 }
            }
          }"
        }

      .col-md-6
        | Динамика продаж: Сумма сделок
        .line.line-dashed.b-b.line-lg
        div {
          style="height: 240px; width: 100%; padding: 0px; position: relative;"
          ui-jq="plot"
          ui-refresh="client.sales_dynamic.sum"
          ui-options="[
          { data: {{client.sales_dynamic.sum || []}}, lines: { show: true, lineWidth: 1, fill:true, fillColor: { colors: [
            {opacity: 0.2},
            {opacity: 0.8}]
            }
          } }
          ],{
            colors: ['#27c24c'],
            series: { shadowSize: 3 },
            xaxis:{ show:false },
            yaxis:{
              font: { color: '#a1a7ac' }
            },
            grid: {
              hoverable: true,
              clickable: true,
              borderWidth: 0,
              color: '#dce5ec'
            },
            tooltip: true,
            tooltipOpts: {
              content: '%s of %x.0 is %y.2',
              defaultTheme: false,
              shifts: { x: 10, y: -25 }
            }
          }"
        }
