
.row ng-if="client.name || ClientForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': ClientForm.$visible}"
      }
        | {{ clientStatic.labels.name }}
        span ng-if="ClientForm.$visible" *
        | :
  .col-xs-6
    p.clear.text-ellipsis
      span.text {
        buttons="no"
        editable-text="client.name"
        e-name="name"
        e-form="ClientForm"
        e-ng-change="validate('name', $data)"
      }
        | {{ client.name }}

.row ng-if="client.surname || ClientForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': ClientForm.$visible}"
      }
        | {{ clientStatic.labels.surname }}
        span ng-if="ClientForm.$visible" *
        | :
  .col-xs-6
    p.clear.text-ellipsis
      span.text {
        buttons="no"
        editable-text="client.surname"
        e-name="surname"
        e-form="ClientForm"
        e-ng-change="validate('surname', $data)"
      }
        | {{ client.surname }}


.row ng-if="client.birthday || ClientForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': ClientForm.$visible}"
      }
        | {{ clientStatic.labels.birthday }}:
  .col-xs-6
    span.text {
      editable-bsdate="client.birthday"
      e-datepicker-popup="dd.MM.yyyy"
      e-is-open="isOpen"
      e-ng-click="isOpen = !isOpen"
      e-name="birthday"
      e-ng-change="validate('birthday', $data)"
      e-form="ClientForm"
    }
      | {{ client.birthday | date:'dd.MM.yyyy' }}

.row ng-if="client.address || ClientForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': ClientForm.$visible}"
      }
        | {{ clientStatic.labels.address }}
        span ng-if="ClientForm.$visible" *
        | :
  .col-xs-6
    p.clear.text-ellipsis uib-tooltip="{{client.address}}"
      span.text {
        buttons="no"
        editable-text="client.address"
        e-name="address"
        e-form="ClientForm"
        e-ng-change="client.address = $data; validate('address', $data)"
      }
        | {{ client.address || '' }}


div.m-b ng-if="ClientForm.$visible"
  map {
    map="map"
    address="client.address"
    errors="client.errors"
    on-change="updatePhoneCodeByCountry(countryCode)"
    latitude="client.latitude"
    longitude="client.longitude"
  }

.row ng-if="client.email || ClientForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': ClientForm.$visible}"
      }
        | {{ clientStatic.labels.email }}
        span ng-if="ClientForm.$visible" *
        | :
  .col-xs-6
    p.clear.text-ellipsis
      span.text {
        buttons="no"
        editable-text="client.email"
        e-name="email"
        e-form="ClientForm"
        e-ng-change="validate('email', $data)"
      }
        | {{ client.email || '' }}

.row ng-if="client.work_phone || ClientForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': ClientForm.$visible}"
      }
        | {{ clientStatic.labels.work_phone }}
        span ng-if="ClientForm.$visible" *
        | :
  .col-xs-6
    .row.m-b ng-if="ClientForm.$visible"
      .col-sm-5
        span.text {
          buttons="no"
          editable-select="client.work_phone_code_id"
          e-ng-options="phone_code.id as phone_code.name for phone_code in clientStatic.references.country_phone_codes"
          e-name="work_phone_code_id"
          e-form="ClientForm"
          e-ng-change="validate('work_phone_code_id', $data)"
        }
      .col-sm-7
        span.text {
          buttons="no"
          editable-text="client.work_phone"
          e-name="work_phone"
          e-form="ClientForm"
          e-ng-change="validate('work_phone', $data)"
        }

    p.clear.text-ellipsis ng-if="!ClientForm.$visible"
      | {{ client.work_phone_code_id | ref:clientStatic.references.country_phone_codes:'code' }}
      | &nbsp;
      | {{ client.work_phone || '' }}

.row ng-if="client.cell_phone || ClientForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': ClientForm.$visible}"
      }
        | {{ clientStatic.labels.cell_phone }}
        span ng-if="ClientForm.$visible" *
        | :
  .col-xs-6
    .row.m-b ng-if="ClientForm.$visible"
      .col-sm-5
        span.text {
          buttons="no"
          editable-select="client.cell_phone_code_id"
          e-ng-options="phone_code.id as phone_code.name for phone_code in clientStatic.references.country_phone_codes"
          e-name="cell_phone_code_id"
          e-form="ClientForm"
          e-ng-change="validate('cell_phone_code_id', $data)"
        }
      .col-sm-7
        span.text {
          buttons= "no"
          editable-text= "client.cell_phone"
          e-name= "cell_phone"
          e-form= "ClientForm"
          e-ng-change= "validate('cell_phone', $data)"
        }

    p.clear.text-ellipsis ng-if="!ClientForm.$visible"
      | {{ client.cell_phone_code_id | ref:clientStatic.references.country_phone_codes:'code' }}
      | &nbsp;
      | {{ client.cell_phone || '' }}

.row ng-if="client.site || ClientForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': ClientForm.$visible}"
      }
        | {{ clientStatic.labels.site }}:
  .col-xs-6
    p.clear.text-ellipsis
      span.text {
        buttons="no"
        editable-text="client.site"
        e-name="site"
        e-form="ClientForm"
        e-ng-change="validate('site', $data)"
      }
        | {{ client.site || '' }}


.row ng-if="client.skype || ClientForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': ClientForm.$visible}"
      }
        | {{ clientStatic.labels.skype }}:
  .col-xs-6
    p.clear.text-ellipsis
      span.text {
        buttons="no"
        editable-text="client.skype"
        e-name="skype"
        e-form="ClientForm"
        e-ng-change="validate('skype', $data)"
      }
        | {{ client.skype || '' }}

.row ng-if="client.facebook || ClientForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': ClientForm.$visible}"
      }
        | {{ clientStatic.labels.facebook }}:
  .col-xs-6
    p.clear.text-ellipsis
      span.text {
        buttons="no"
        editable-text="client.facebook"
        e-name="facebook"
        e-form="ClientForm"
        e-ng-change="validate('facebook', $data)"
      }
        | {{ client.facebook || '' }}

.row ng-if="client.viber || ClientForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': ClientForm.$visible}"
      }
        | {{ clientStatic.labels.viber }}:
  .col-xs-6
    p.clear.text-ellipsis
      span.text {
        buttons="no"
        editable-text="client.viber"
        e-name="viber"
        e-form="ClientForm"
        e-ng-change="validate('viber', $data)"
      }
        | {{ client.viber || '' }}

.line.line-dashed.b-b.line-lg
.row ng-if="client.current_job || ClientForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': ClientForm.$visible}"
      }
        | {{ clientStatic.labels.current_job }}:
  .col-xs-6
    p.clear.text-ellipsis
      span.text {
        buttons="no"
        editable-text="client.current_job"
        e-name="current_job"
        e-form="ClientForm"
        e-ng-change="validate('current_job', $data)"
        }
          | {{ client.current_job || '' }}
.row ng-if="client.current_department || ClientForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': ClientForm.$visible}"
      }
        | {{ clientStatic.labels.current_department }}:
  .col-xs-6
    p.clear.text-ellipsis
      span.text {
        buttons="no"
        editable-text="client.current_department"
        e-name="current_department"
        e-form="ClientForm"
        e-ng-change="validate('current_department', $data)"
        }
          | {{ client.current_department || '' }}

.row ng-if="client.current_position || ClientForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': ClientForm.$visible}"
      }
        | {{ clientStatic.labels.current_position }}:
  .col-xs-6
    p.clear.text-ellipsis
      span.text {
        buttons="no"
        editable-text="client.current_position"
        e-name="current_position"
        e-form="ClientForm"
        e-ng-change="validate('current_position', $data)"
        }
          | {{ client.current_position || '' }}

.row ng-if="client.current_is_head || ClientForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis
        | {{ clientStatic.labels.current_is_head }}:
  .col-xs-6
    p.clear.text-ellipsis
      span.text {
        editable-checkbox="client.current_is_head"
          e-name="current_is_head"
          e-form="ClientForm"
          e-title="да/нет"
          e-ng-change="validate('current_is_head' ,$data)"
        }
          | {{ client.current_is_head ? 'Да' : 'Нет' }}
