.app-content
  .app-content-body.fade-in-up
    .hbox.hbox-auto-xs.hbox-auto-sm
      .col
        .bg-light.lter.b-b.wrapper-md
          .row
            .col-sm-6.col-xs-12
              .dropdown.open uib-dropdown=""
                h1.m-n.font-thin.h3.text-black 
                  span
                    i.icon-bar-chart.margin-right-3
                  a.dropdown-toggle {
                    uib-dropdown-toggle

                  }
                    | Анализ безубыточности
                    span.caret
                ul.dropdown-menu role="menu" 
                  li
                    a href="/companies/{{companyId}}/sales-report" Отчет по продажам
                  li
                    a href="/companies/{{companyId}}/break-even-analysis" Анализ безубыточности
                  li
                    a href="/companies/{{companyId}}/budget" Фактический бюджет
                  li.divider
                  li
                    a href="#" Статистика клиентов
                  li.divider
                  li
                    a href="/companies/{{companyId}}/sales_plans" План продаж
                  li
                    a href="/companies/{{companyId}}/cash_book" Журнал кассовой книги
                small.text-muted
                  | {{company.name}}

            .col-sm-6.text-right.hidden-xs
              company-clients-and-income {
                ng-if="company"
                currency="company.currency"
                created-clients-count-by-days="company.created_clients_count_by_days"
                clients-count="company.clients_count"
                actual-income-by-days="company.actual_income_by_days"
                actual-income="company.actual_income"
              }

        actual-budget-widget company="company"
        
        .wrapper-md
          .row
            .col-lg-5
              .panel.no-border
                table.table.table-striped.text-left.m-b-none
                  thead
                    tr
                      th Точка безубыточности
                      th
                        | {{data.break_even_point}}
                  tbody
                    tr
                      td Прирост единиц
                      td
                        | {{data.products_increase}}
                    tr
                      td Средняя цена товара
                      td
                        | {{data.product_average_price | formatMoney:company.currency}}
                    tr 
                      td Стоимость привлечения клиента
                      td
                        | {{data.cost_per_customer | formatMoney:company.currency}}
                    tr
                      td Фиксированные расходы
                      td
                        | {{data.fixed_expenses | formatMoney:company.currency}}
              .panel.no-border
                .panel-body
                  div {
                    style="height: 240px; padding: 0px; position: relative;"
                    ui-jq="plot"
                    ui-options="{{plotSeries}}, {colors: ['#27c24c','#f05050'],series: { shadowSize: 2 },xaxis:{ font: { color: '#ccc' } },yaxis:{ font: { color: '#ccc' } },grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#ccc' },tooltip: true,tooltipOpts: { content: '%s of %x.1 is %y.4', defaultTheme: false, shifts: { x: 0, y: 20 } }               }"
                    ui-refresh="plotSeries"
                  }
            .col-lg-7
              .panel.no-border
                table.table.table-striped.text-center.m-b-none
                  thead
                    tr
                      th Продано, шт.
                      th Продажи
                      th Общая сумма
                      th Доход/Убыток в месяц
                      th Доход/Убыток в год
                  tbody
                    tr ng-repeat="count in sellsCounts"
                      td
                        | {{count}}
                      td
                        | {{sellsAmount(count) | formatMoney:company.currency}}
                      td
                        | {{totalExpenses(count) | formatMoney:company.currency}}
                      td ng-class="{
                        'text-danger': sellsAmount(count) - totalExpenses(count) < 0,
                        'text-success': sellsAmount(count) - totalExpenses(count) >= 0,
                      }"
                        i.fa.margin-right-3 ng-class="{
                          'fa-level-down': sellsAmount(count) - totalExpenses(count) < 0,
                          'fa-level-up': sellsAmount(count) - totalExpenses(count) >= 0,
                        }"
                        | {{sellsAmount(count) - totalExpenses(count) | formatMoney:company.currency}}

                      td ng-class="{
                        'text-danger': sellsAmount(count) - totalExpenses(count) * 12 < 0,
                        'text-success': sellsAmount(count) - totalExpenses(count) * 12 >= 0,
                      }"
                        i.fa.margin-right-3 ng-class="{
                          'fa-level-down': sellsAmount(count) - totalExpenses(count) * 12 < 0,
                          'fa-level-up': sellsAmount(count) - totalExpenses(count) * 12 >= 0,
                        }"
                        | {{sellsAmount(count) - totalExpenses(count) * 12 | formatMoney:company.currency}}

      .col.w-md.bg-white-only.b-l.bg-auto.no-border-xs ng-include="'assets/views/layout/blocks/right_sidebar.html'"

div ng-include="" src="'assets/views/layout/blocks/footer.html'"
