.app-content
  .app-content-body.fade-in-up
    .hbox.hbox-auto-xs.hbox-auto-sm
      .col
        .bg-light.lter.b-b.wrapper-md
          .row
            .col-sm-6.col-xs-12
              .dropdown.open uib-dropdown=""
                h1.m-n.font-thin.h3.text-black
                  span
                    i.icon-bar-chart.margin-right-3
                  a.dropdown-toggle {
                    uib-dropdown-toggle

                  }
                    | Отчет по продажам
                    span.caret
                ul.dropdown-menu role="menu"
                  li
                    a href="/companies/{{companyId}}/sales-report" Отчет по продажам
                  li
                    a href="/companies/{{companyId}}/break-even-analysis" Анализ безубыточности
                  li
                    a href="/companies/{{companyId}}/budget" Фактический бюджет
                  li.divider
                  li
                    a href="#" ABC/XYZ анализ товаров
                    a href="#" RFM-анализ
                  li.divider
                  li
                    a href="/companies/{{companyId}}/sales_plan" План продаж
                  li
                    a href="/companies/{{companyId}}/cash_book" Журнал кассовой книги

                small.text-muted
                  | {{company.name}}
            .col-sm-6.text-right.hidden-xs
              company-clients-and-income {
                ng-if="company"
                currency="company.currency"
                created-clients-count-by-days="company.created_clients_count_by_days"
                clients-count="company.clients_count"
                actual-income-by-days="company.actual_income_by_days"
                actual-income="company.actual_income"
              }

        sales-plan-chart {
          sales-plans="allSalesPlans"
          actual-sales="data.actual_sales_year"
          on-period-change="onChartPeriodChange(period)"
          show-manage-button="false"
          company="company"
          theme="dark"
        }

        actual-budget-widget company="company"

        .wrapper-md
          .panel.panel-default
            .panel-body.b-b.b-light
              .row
                .col-xs-4
                  div
                    | Факт продаж:
                    span.h2.m-b-sm.text-danger
                      | {{currentMonthActualSales | formatMoney:company.currency}}
                .col-xs-8.text-right
                  .btn-group
                    button.btn.btn-default {
                      ng-repeat="category in company.product_categories"
                      uib-tooltip="Статистика по категории '{{category.name}}'"
                      type="button"
                      ng-click="filter.category = category.id"
                    }
                      i.fa.fa-circle.margin-right-3 {
                        ng-style="{color: '#' + category.color}"
                      }
                      | {{category.name}}
                    button.btn.btn-default uib-tooltip="Фильтр" type="button"
                      i.fa.fa-filter
          .contaienr
          .row
            .col-md-4.col-xs-4
              .panel.no-border
                .panel-heading.wrapper.bg-dark.b-b.b-light
                  .row
                    .col-xs-12
                      h5.font-thin.m-t-none.m-b-none.text-muted
                        i.fa.icon-pie-chart.margin-right-3 {
                          uib-tooltip="Относительные показатели"
                          tooltip-append-to-body="true"
                        }
                        span.hidden-xs.hidden-sm
                          | Относительные показатели
                table.table.table-striped.m-b-none
                  tbody
                    tr
                      th
                        | План {{company.currency}}
                    tr
                      th План КОЛ
                    tr
                      th
                        | Факт {{company.currency}}
                    tr
                      th Факт КОЛ
                div {
                  ng-repeat="category in company.product_categories | filter:{id: filter.category}"
                }
                  .panel-heading.wrapper.bg-dark.b-b.b-light
                    .row
                      .col-xs-12
                        h5.font-thin.m-t-none.m-b-none.text-muted.text-ellipsis
                          i.fa.fa-circle.m-r-xs {
                            ng-style="{color: '#' + category.color}"
                          }
                          | {{category.name}}: План и фактические показатели
                  table.table.table-striped.m-b-none.table-fixed
                    tbody
                      tr
                        th.text-ellipsis
                          | План {{company.currency}}
                      tr
                        th.text-ellipsis
                          | Факт {{company.currency}}
                      tr
                        th.text-ellipsis
                          | Отклонение {{company.currency}}
                      tr
                        th.text-ellipsis План КОЛ
                      tr
                        th.text-ellipsis Факт КОЛ
                      tr
                        th.text-ellipsis Отклонение КОЛ %
                      tr
                        th.text-ellipsis
                          | Средняя цена ПЛАН {{company.currency}}
                      tr
                        th.text-ellipsis
                          | Средняя цена ФАКТ {{company.currency}}
                      tr
                        th.text-ellipsis Средняя цена Отклонение %
                      tr
                        th.text-ellipsis
                          | Средняя цена Отклонение {{company.currency}}
            .col-md-6.col-xs-5
              .row
                .col-xs-1.m-t-lg.no-padder.text-right
                  a ng-click="prevQuarter()"
                    span
                      i.fa.fa-angle-left.fa-3x
                .col-xs-10
                  .panel.no-border

                    table.table.table-striped.m-b-none.table-fixed
                      thead
                        tr.bg-dark.b-b.b-light
                          th.text-center ng-repeat="monthNum in monthsOfQuarter()" style="padding: 15px"
                            h5.font-thin.m-t-none.m-b-none.text-muted
                              month-name month="monthNum" year="year"
                      tbody
                        tr
                          th.text-center ng-repeat="monthNum in monthsOfQuarter()"
                            | {{data.sales_plan_monthly[monthNum].money | placeholder:'&nbsp'}}
                        tr
                          th.text-center ng-repeat="monthNum in monthsOfQuarter()"
                            | {{data.sales_plan_monthly[monthNum].quantity | roundedNumber | placeholder:'&nbsp'}}
                        tr
                          th.text-center {
                            ng-repeat="monthNum in monthsOfQuarter()"
                            ng-class="{
                              'text-danger': !data.actual_sales_monthly[monthNum].money_up,
                              'text-success': data.actual_sales_monthly[monthNum].money_up,
                            }"
                          }
                            | {{data.actual_sales_monthly[monthNum].money | placeholder:'&nbsp'}}
                        tr
                          th.text-center {
                            ng-class="{
                              'text-danger': !data.actual_sales_monthly[monthNum].quantity_up,
                              'text-success': data.actual_sales_monthly[monthNum].quantity_up,
                            }"
                            ng-repeat="monthNum in monthsOfQuarter()"
                          }
                            | {{data.actual_sales_monthly[monthNum].quantity | placeholder:'&nbsp'}}

                    div {
                      ng-repeat="category in company.product_categories | filter:{id: filter.category}"
                    }
                      table.table.table-striped.m-b-none.table-fixed
                        thead
                          th.bg-dark.b-b.b-light.text-center {
                            style="padding: 15px"
                            ng-repeat="month in monthsOfQuarter()"
                          }
                            h5.font-thin.m-t-none.m-b-none.text-muted
                              month-name month="month" year="year"
                        tbody
                          tr
                            th.text-center {
                              ng-repeat="monthNum in monthsOfQuarter()"
                            }
                              | {{data.sales_plan_by_categories_monthly[monthNum][category.id].money || 0 | placeholder:'&nbsp'}}
                          tr
                            th.text-center {
                              ng-class="{
                                'text-danger': !data.actual_sales_by_categories_monthly[monthNum][category.id].money_up,
                                'text-success': data.actual_sales_by_categories_monthly[monthNum][category.id].money_up,
                              }"
                              ng-repeat="monthNum in monthsOfQuarter()"
                            }
                              | {{data.actual_sales_by_categories_monthly[monthNum][category.id].money | placeholder:'&nbsp'}}
                          tr
                            th.text-center {
                              ng-class="{
                                'text-danger': !data.actual_sales_by_categories_monthly[monthNum][category.id].money_up,
                                'text-success': data.actual_sales_by_categories_monthly[monthNum][category.id].money_up,
                              }"
                              ng-repeat="monthNum in monthsOfQuarter()"
                            }
                              | {{data.actual_sales_by_categories_monthly[monthNum][category.id].money_deviation | placeholder:'&nbsp'}}
                          tr
                            th.text-center {
                              ng-repeat="monthNum in monthsOfQuarter()"
                            }
                              | {{data.sales_plan_by_categories_monthly[monthNum][category.id].quantity | roundedNumber | placeholder:'&nbsp'}}
                          tr
                            th.text-center {
                              ng-class="{
                                'text-danger': !data.actual_sales_by_categories_monthly[monthNum][category.id].quantity_up,
                                'text-success': data.actual_sales_by_categories_monthly[monthNum][category.id].quantity_up,
                              }"
                              ng-repeat="monthNum in monthsOfQuarter()"
                            }
                              | {{data.actual_sales_by_categories_monthly[monthNum][category.id].quantity | roundedNumber | placeholder:'&nbsp'}}
                          tr
                            th.text-center {
                              ng-class="{
                                'text-danger': !data.actual_sales_by_categories_monthly[monthNum][category.id].quantity_up,
                                'text-success': data.actual_sales_by_categories_monthly[monthNum][category.id].quantity_up,
                              }"
                              ng-repeat="monthNum in monthsOfQuarter()"
                            }
                              | {{data.actual_sales_by_categories_monthly[monthNum][category.id].quantity_deviation | suffix:'%' | placeholder:'&nbsp;'}}
                          tr
                            th.text-center {
                              ng-repeat="monthNum in monthsOfQuarter()"
                            }
                              | {{data.sales_plan_by_categories_monthly[monthNum][category.id].average_price | roundedNumber | placeholder:'&nbsp'}}
                          tr
                            th.text-center {
                              ng-repeat="monthNum in monthsOfQuarter()"
                              ng-class="{
                                'text-danger': !data.actual_sales_by_categories_monthly[monthNum][category.id].average_price_up,
                                'text-success': data.actual_sales_by_categories_monthly[monthNum][category.id].average_price_up,
                              }"
                            }
                              | {{data.actual_sales_by_categories_monthly[monthNum][category.id].average_price | roundedNumber | placeholder:'&nbsp'}}
                          tr
                            th.text-center {
                              ng-repeat="monthNum in monthsOfQuarter()"
                              ng-class="{
                                'text-danger': !data.actual_sales_by_categories_monthly[monthNum][category.id].average_price_up,
                                'text-success': data.actual_sales_by_categories_monthly[monthNum][category.id].average_price_up,
                              }"
                            }
                              | {{data.actual_sales_by_categories_monthly[monthNum][category.id].average_price_deviation_percent | roundedNumber | suffix:'%' | placeholder:'&nbsp'}}
                          tr
                            th.text-center {
                              ng-repeat="monthNum in monthsOfQuarter()"
                              ng-class="{
                                'text-danger': !data.actual_sales_by_categories_monthly[monthNum][category.id].average_price_up,
                                'text-success': data.actual_sales_by_categories_monthly[monthNum][category.id].average_price_up,
                              }"
                            }
                              | {{data.actual_sales_by_categories_monthly[monthNum][category.id].average_price_deviation | roundedNumber | placeholder:'&nbsp'}}
                .col-xs-1.m-t-lg.no-padder
                  a ng-click="nextQuarter()"
                    span
                      i.fa.fa-angle-right.fa-3x
            .col-md-2.col-xs-3
              .row
                .col-xs-12
                  .panel.no-border
                    .panel-heading.wrapper.bg-dark.b-b.b-light
                      .row
                        .col-xs-12
                          h5.font-thin.m-t-none.text-center.m-b-none.text-muted 
                            | Итого, {{ year }}:
                    table.table.table-striped.m-b-none.table-fixed
                      tbody
                        tr
                          th.text-center
                            | {{data.sales_plan_summary.money | placeholder:'&nbsp'}}
                        tr
                          th.text-center
                            | {{data.sales_plan_summary.quantity | placeholder:'&nbsp'}}
                        tr
                          th.text-center {
                            ng-class="{
                              'text-danger': !data.actual_sales_summary.money_up,
                              'text-success': data.actual_sales_summary.money_up,
                            }"
                          }
                            | {{data.actual_sales_summary.money | placeholder:'&nbsp'}}
                        tr
                          th.text-center {
                            ng-class="{
                              'text-danger': !data.actual_sales_summary.quantity_up,
                              'text-success': data.actual_sales_summary.quantity_up,
                            }"
                          }
                            | {{data.actual_sales_summary.quantity | placeholder:'&nbsp'}}

                    div {
                      ng-repeat="category in company.product_categories | filter:{id: filter.category}"
                    }
                      .panel-heading.wrapper.bg-dark.b-b.b-light
                        .row
                          .col-xs-12
                            h5.font-thin.m-t-none.text-center.m-b-none.text-muted
                              | Итого, {{ year }}:
                      table.table.table-striped.m-b-none
                        tbody
                          tr
                            th.text-center
                              | {{data.sales_plan_by_categories_summary[category.id].money | placeholder:'&nbsp'}}
                          tr
                            th.text-center {
                              ng-class="{
                                'text-danger': !data.actual_sales_by_categories_summary[category.id].money_up,
                                'text-success': data.actual_sales_by_categories_summary[category.id].money_up
                              }"
                            }
                              | {{data.actual_sales_by_categories_summary[category.id].money | placeholder:'&nbsp'}}
                          tr
                            th.text-center {
                              ng-class="{
                                'text-danger': !data.actual_sales_by_categories_summary[category.id].money_up,
                                'text-success': data.actual_sales_by_categories_summary[category.id].money_up
                              }"
                            }
                              | {{data.actual_sales_by_categories_summary[category.id].money_deviation | placeholder:'&nbsp'}}
                          tr
                            th.text-center
                              | {{data.sales_plan_by_categories_summary[category.id].quantity | placeholder:'&nbsp'}}
                          tr
                            th.text-center {
                              ng-class="{
                                'text-danger': !data.actual_sales_by_categories_summary[category.id].quantity_up,
                                'text-success': data.actual_sales_by_categories_summary[category.id].quantity_up
                              }"
                            }
                              | {{data.actual_sales_by_categories_summary[category.id].quantity | placeholder:'&nbsp'}}
                          tr
                            th.text-center {
                              ng-class="{
                                'text-danger': !data.actual_sales_by_categories_summary[category.id].quantity_up,
                                'text-success': data.actual_sales_by_categories_summary[category.id].quantity_up
                              }"
                            }
                              | {{data.actual_sales_by_categories_summary[category.id].quantity_deviation | suffix: '%' | placeholder:'&nbsp'}}
                          tr
                            th.text-center
                              | {{data.sales_plan_by_categories_summary[category.id].average_price | roundedNumber | placeholder:'&nbsp'}}
                          tr
                            th.text-center {
                              ng-class="{
                                'text-danger': !data.actual_sales_by_categories_summary[category.id].average_price_up,
                                'text-success': data.actual_sales_by_categories_summary[category.id].average_price_up
                              }"
                            }
                              | {{data.actual_sales_by_categories_summary[category.id].average_price | roundedNumber | placeholder:'&nbsp'}}
                          tr
                            th.text-center {
                              ng-class="{
                                'text-danger': !data.actual_sales_by_categories_summary[category.id].average_price_up,
                                'text-success': data.actual_sales_by_categories_summary[category.id].average_price_up
                              }"
                            }
                              | {{data.actual_sales_by_categories_summary[category.id].average_price_deviation_percent | roundedNumber | suffix:'%' | placeholder:'&nbsp'}}
                          tr
                            th.text-center {
                              ng-class="{
                                'text-danger': !data.actual_sales_by_categories_summary[category.id].average_price_up,
                                'text-success': data.actual_sales_by_categories_summary[category.id].average_price_up
                              }"
                            }
                              | {{data.actual_sales_by_categories_summary[category.id].average_price_deviation | roundedNumber | placeholder:'&nbsp'}}

div ng-include="" src="'assets/views/layout/blocks/footer.html'"
