<p><%= t(:welcome).capitalize + ' ' + @invitation.email %>!</p>

<p>
  <%= t('mail.invitation_instructions.invited_by_company_msg') %>
  <%= @invitation.company.name %>
</p>

<p><%= t('mail.invitation_instructions.description') %>: </p>
<p>
  <%= link_to(
          t('mail.invitation_instructions.confirm_link'),
          auth_invitations_confirm_url({token: @token}).html_safe
      )
  %>
</p>

<% if @invitation.password %>
    <p>
      <%= t 'mail.invitation_newbie_instructions.sign_in_data_msg' %>:
      <br>
      E-mail: <%= @invitation.email %>
      <br>
      Password: <%= @invitation.password %>
    </p>
<% end %>