.app-content
  .app-content-body
    .bg-light.lter.b-b.wrapper-md
      .row
        .col-sm-6.col-xs-12
          h1.m-n.font-thin.h3.text-black
            span
              i.glyphicon.glyphicon-barcode.margin-right-3
            | POS
          small.text-muted
            | Простой способ сделать бизнес эффективнее
        .col-sm-6.text-right.hidden-xs
          company-clients-and-income {
            ng-if="company"
            currency="company.currency"
            created-clients-count-by-days="company.created_clients_count_by_days"
            clients-count="company.clients_count"
            actual-income-by-days="company.actual_income_by_days"
            actual-income="company.actual_income"
          }

    .wrapper-md
      div {
        ng-if="!user.can('read', 'Company', companyId)"
        ng-include="'assets/views/companies/_access_denied.html'"
      }
      .panel.hbox.hbox-auto-xs.hbox-auto-sm.no-border
        .col.wrapper
          .row
            .col-md-6.col-sm-12
              h4.font-normal.m-t-none.m-b-none.text-info-lt
                | POS терминал
              span.block.text-sm.text-muted 
                | {{ userEmployee.cashbox_name ? 'Касса ' + userEmployee.cashbox_name : 'Касса' }}: {{ user | fullname }}
            .col-md-6.col-sm-12
              ui-select {
                ng-model="$parent.client"
                spinner-enabled="true"
              }
                ui-select-match
                  span ng-if="$select.selected.legal_form == 'individual'"
                    | {{ $select.selected | fullname}} ({{$select.selected.type == 'Client' ? 'клиент' : 'лид'}})

                  span ng-if="$select.selected.legal_form == 'legal_entity'"
                    | {{ $select.selected.legal_entity_name }} ({{$select.selected.type == 'Client' ? 'клиент' : 'лид'}})

                ui-select-choices {
                  repeat="searchedClient in searchedClients track by searchedClient.id"
                  refresh="searchClient($select.search)"
                  minimum-input-length="3"
                }
                  p
                    span ng-if="searchedClient.legal_form == 'individual'"
                      | {{ searchedClient | fullname }} ({{ searchedClient.email }}
                      i
                        | {{searchedClient.type == 'Client' ? 'клиент' : 'лид'}}
                      | )

                    span ng-if="searchedClient.legal_form == 'legal_entity'"
                      | {{ searchedClient.legal_entity_name }} ({{ searchedClient.legal_entity_email }}
                      i
                        | {{searchedClient.type == 'Client' ? 'клиент' : 'лид'}}
                      | )
                      br
                      strong
                        | Контактное лицо: &nbsp;
                      | {{ searchedClient | fullname }}

                  .line.line-dashed.b-b.line-lg.pull-in

          .line.line-dashed.b-b.line-lg.pull-in

          .row ng-if="client.id"
            .col-md-3
              p ng-if="client.legal_form == 'individual'"
                | {{ client.type == 'Client' ? 'Клиент' : 'Лид' }}:&nbsp;
                | {{client | fullname}}
                span ng-if="client.email"
                  | ({{ client.email }})
              p ng-if="client.legal_form == 'legal_entity'"
                | {{ client.type == 'Client' ? 'Клиент' : 'Лид' }}:&nbsp;
                | {{ client.legal_entity_name }} ({{ client.legal_entity_email }})
                br
                strong
                  | Контактное лицо:&nbsp;
                | {{ client | fullname }}
            .col-md-1
              button.btn.btn-icon.btn-sm.btn-danger {
                ng-click="clearClient()"
                uib-tooltip="Отменить выбор"
              }
                i.fa.fa-times

          .line.line-dashed.b-b.line-lg.pull-in ng-if="client.id"
          
          new-deal-product {
            submit-func="addProduct(dealProduct)"
            company-id="company.id"
            company-currency="company.currency"
            selected-deal-product="dealProduct"
          }

          .line.line-dashed.b-b.line-lg.pull-in {
            ng-if="deal.deal_products.length > 0"
          }

          .row ng-if="deal.deal_products.length > 0"
            .col-xs-5
              p
                small.text-muted.clear.text-ellipsis Артикул: Название
            .col-xs-2
              p.d
                small.text-muted.clear.text-ellipsis Стоимость
            .col-xs-2
              p
                small.text-muted.clear.text-ellipsis Количество
            .col-xs-3
              p
                small.text-muted.clear.text-ellipsis Сумма

          .row ng-repeat="deal_product in deal.deal_products"
            .col-xs-5
              p.form-control-static.text-ellipsis {
                uib-tooltip="{{ deal_product.product.name }}"
                tooltip-class="tooltip-overlay"
              }
                i.fa.fa-circle {
                  style="color: {{'#'+deal_product.product.category.color}}; margin-right: 2px;"
                  uib-tooltip="Категория '{{deal_product.product.category.name}}'"
                }
                | &nbsp;
                span
                | {{deal_product.product.vendor_code}}:{{ deal_product.product.name }}
            .col-xs-2
              p.form-control-static
                | {{ deal_product.product.price | formatMoney: company.currency }}
            .col-xs-2
              p.form-control-static
                | {{ deal_product.count }} шт.
            .col-xs-3
              p.form-control-static
                | {{ (deal_product.product.price * deal_product.count) | formatMoney: company.currency }}

        .col.wrapper.w-lg.bg-light.text-center.dk.r-r
          .col-xs-12
            .col-xs-6.wrapper-xs.text-right
              span.text Сумма по чеку:
            .col-xs-6.wrapper-xs.text-left
              span.text
                | {{ deal.check_sum  | formatMoney: company.currency }}

          .col-md-12
            .col-xs-6.wrapper-xs.text-right
              span.text
                | Скидка:
            .col-xs-6.wrapper-xs.text-left
              span.text
                | {{ deal.discount_sum | formatMoney: company.currency }}
                | &nbsp;
                | ({{ client.discount }}%)

          .col-md-12
            .col-xs-6.wrapper-xs.text-right
              span.text
                | НДС:
            .col-xs-6.wrapper-xs.text-left
              span.text
                | {{ deal.vat_sum | formatMoney: company.currency }}

          .line.line-dashed.b-b.line-lg.pull-in
          .col-xs-12
            h4.font-thin.m-t-none.m-b-md.text-muted
              | К оплате:
            .text-success-dk.font-thin.h1
              span
                | {{ deal.total_sum | formatMoney: company.currency }}
            br
          button.btn.btn-success.btn-addon.btn-lg {
            ng-disabled="!dealStatic || deal.total_sum == 0"
            ng-click="pay()"
          }
            i.fa.icon-fire
            | Оплатить

      .panel.wrapper
        .row
          .col-md-4
            h4.font-thin.m-t-none.m-b-md.text-muted
              | Быстрые клавиши
            button.m-b.m-r.btn.btn-info.btn-md.btn-addon
              i.icon-bell.text
              span.text
                | Вызов администратора
            button.m-b.m-r.btn.btn-default.btn-md.btn-addon
              i.icon-calculator.text
              span.text
                | X-отчет
            button.m-b.m-r.btn.btn-default.btn-md.btn-addon
              i.icon-pin.text
              span.text
                | Z-отчет
            button.m-b.m-r.btn.btn-danger.btn-md.btn-addon {
              ng-click="removeLastProduct()"
              ng-disabled="deal.deal_products.length == 0"
            }
              i.icon-tag.text
              span.text
                | Удаление последнего товара

            button.m-b.m-r.btn.btn-dark.btn-md.btn-addon{
              ng-click="returns()"
              ng-if="user.can('return', 'Deal', {company_id: company.id})"
            }
              i.icon-reload.text
              span.text
                | Возврат товара

          .col-md-8.b-l.b-light.no-border-xs
            a.text-muted.pull-right.text-lg {
              href=""
              ng-if="user.can('set_recommended', 'Product', {company_id: company.id})"
              ng-click="selectRecommendedProducts()"
            }
              i.icon-settings

            h4.font-thin.m-t-none.m-b-md.text-muted
              | Рекомендованные к продаже товары

            .row
              .col-lg-3.col-sm-4.col-xs-6.col-m-12.m-b {
                ng-repeat="recommendedProduct in recommendedProducts"
              }
                button.text-center.btn.btn-default.btn-lg.w-full {
                  ng-click="selectDealProduct(recommendedProduct)"
                }
                  span.clear.thumb-md.avatar-64
                    img.r.r-2x alt="..." ng-src="{{ recommendedProduct.images[recommendedProduct.preview_index].url }}"
                  span.clear
                    span.text-ellipsis uib-tooltip="{{recommendedProduct.name}}"
                      i.fa.fa-circle.margin-right-3 {
                        style="color: {{'#'+recommendedProduct.category.color}}; margin-right: 2px;"
                        uib-tooltip="Категория '{{recommendedProduct.category.name}}'"
                      }
                      | {{ recommendedProduct.name }}
                    small.text-muted.clear.text-ellipsis uib-tooltip="Артикул"
                      | {{ recommendedProduct.vendor_code }}
                    span uib-tooltip="Стоимость"
                      | {{ recommendedProduct.price | formatMoney: company.currency }}

div ng-include="" src="'assets/views/layout/blocks/footer.html'"
