.modal
  .modal-dialog
    .modal-content
      .modal-header
        h4.modal-title Возврат товара

      .modal-body
        .form-group
          input.form-control {
            type="text"
            ng-model="search.deal"
            placeholder="Поиск сделки по штрихкоду, артикулу, клиенту (Ф,И, телефон, номер карты), дате, номеру чека"
          }

        .row {
          ng-repeat="searchedDeal in searchedDeals"
          ng-click="selectDeal(searchedDeal)"
          ng-if="!searchedDeal.returned_at"
        }
          .col-xs-3
            | {{ searchedDeal.number }}
          .col-xs-3
            | {{ searchedDeal.client | fullname }}
          .col-xs-3
            | {{ searchedDeal.client.email }}
          .col-xs-3
            | {{ searchedDeal.total_sum | formatMoney: company.currency }}



        div ng-if="deal.id && !deal.returned_at"
          h4
            | Выбрана сделка
          .row
            .col-xs-1
              | {{ deal.number }}
            .col-xs-3
              | {{ deal.client | fullname }}
            .col-xs-3
              | {{ deal.client.email }}
            .col-xs-3
              | {{ deal.total_sum | formatMoney: company.currency }}
            .col-xs-2
              button.btn.btn-danger.btn-xs type="button" ng-click="returnDeal()"
                i.fa.fa-undo

          h4
            | Товары сделки

          .row ng-repeat="dealProduct in filteredDealProducts = (dealProducts | filter: {returned_at: null})"
            .col-xs-3
              | {{ dealProduct.product.name }}
            .col-xs-2
              | {{ dealProduct.product.price | formatMoney: company.currency }}
            .col-xs-2
              | {{ dealProduct.count_minus_returns }}
            .col-xs-2
              | {{ (dealProduct.product.price * dealProduct.count_minus_returns) | formatMoney: company.currency }}
            .col-xs-3
              .input-group ng-class="{'has-error': !isReturnCountValid(dealProduct)}"
                input.form-control.input-sm {
                  ng-model="dealProduct.returnCount"
                  type="number"
                  min="1"
                }

                span.input-group-btn
                  button.btn.btn-danger.btn-sm {
                    type="button"
                    ng-click="returnProduct(dealProduct)"
                    uib-tooltip="вернуть указанное кол-во товара"
                    ng-disabled="!isReturnCountValid(dealProduct)"
                  }
                    i.fa.fa-undo
              small.help-block.text-danger ng-if="!isReturnCountValid(dealProduct)"
                | Неверное кол-во

          div ng-if="filteredDealProducts.length == 0"
            | Пусто

      .modal-footer
        button.btn.btn-default {
          type="button"
          data-dismiss="modal"
          translate="common.CLOSE"
        }
