.modal
  .modal-dialog
    .modal-content
      .modal-header
        h4.modal-title Рекомендованные товары

      .modal-body
        .form-group ng-if="recommendedProducts.length < maxRecommendedProductsCount"
          input.form-control {
            type="text"
            ng-model="search.product"
            placeholder="Поиск товара по артикулу и названию"
          }

        div ng-if="search.product.length > 0"
          h4
            | Найденные товары
          div ng-if="searchedProducts.length > 0"
            .row {
              ng-repeat="searchedProduct in searchedProducts"
              ng-click="
                _.pluck(recommendedProducts, 'id').indexOf(searchedProduct.id) == -1 &&
                addRecommendedProduct(searchedProduct)
              "
            }
              .col-xs-2
                span.clear.thumb-md.avatar-40
                  img.r.r-2x src="{{ searchedProduct.images[searchedProduct.preview_index].url }}"
              .col-xs-3.text-ellipsis {
                uib-tooltip="{{ searchedProduct.name }}"
                tooltip-class="tooltip-overlay"
              }
                | {{ searchedProduct.name }}
              .col-xs-3.text-ellipsis
                | {{ searchedProduct.vendor_code }}
              .col-xs-3
                | {{ searchedProduct.price | formatMoney: company.currency }}

        h4
          | Товары

        div ng-if="recommendedProducts.length > 0"
          .row
            .col-xs-2
              | Картинка
            .col-xs-3
              | Название
            .col-xs-2
              | Артикул
            .col-xs-2
              | Цена

        .row ng-repeat="recommendedProduct in recommendedProducts"
          .col-xs-2
            span.clear.thumb-md.avatar-40
              img.r.r-2x src="{{ recommendedProduct.images[recommendedProduct.preview_index].url }}"
          .col-xs-3.text-ellipsis {
            uib-tooltip="{{ searchedProduct.name }}"
            tooltip-class="tooltip-overlay"
          }
            | {{ recommendedProduct.name }}
          .col-xs-2
            | {{ recommendedProduct.vendor_code }}
          .col-xs-2
            | {{ recommendedProduct.price | formatMoney: company.currency }}
          .col-xs-3
            button.btn.btn-danger.btn-xs {
              type="button"
              ng-click="removeRecommendedProduct(recommendedProduct.id)"
            }
              i.fa.fa-times

        div ng-if="recommendedProducts.length == 0"
          | Пусто

      .modal-footer
        button.btn.btn-default {
          type="button"
          data-dismiss="modal"
          ng-click="close()"
          translate="common.CLOSE"
        }
