.line.line-dashed.b-b.line-lg.pull-in
.row
  .col-md-6.col-xs-12
    .form-group
      label.control-label.col-md-5.col-sm-3.col-xs-12
        | {{labels.name}}*
      .col-md-7.col-sm-9.col-xs-12
        field {
          type="'text'"
          field="'name'"
          model="supplier"
          template="'input,error'"
        }
  .col-md-6.col-xs-12
    .form-group
      label.control-label.col-md-5.col-sm-3.col-xs-12
        | {{labels.surname}}*
      .col-md-7.col-sm-9.col-xs-12
        field {
          type="'text'"
          field="'surname'"
          model="supplier"
          template="'input,error'"
        }
  .col-md-6.col-xs-12
    .form-group
      label.control-label.col-md-5.col-sm-3.col-xs-12
        | {{labels.birthday}}
      .col-md-7.col-sm-9.col-xs-12
        field {
          type="'date'"
          field="'birthday'"
          model="supplier"
          template="'input,error'"
        }

.line.line-dashed.b-b.line-lg.pull-in
.row
  .col-sm-12
    .form-group.form-group-single
      label.control-label.form-group-single__label.col-sm-2.col-xs-12
        | {{labels.address}}*
      .form-group-single__field.col-sm-10.col-xs-12
        field {
          type="'text'"
          field="'address'"
          model="supplier"
          template="'input,error'"
        }

  .col-sm-2.visible-lg
  .col-lg-10.col-sm-12.m-t-md
    map.form-gmap-shift {
      map="map"
      detect="true"
      ng-if="references.country_phone_codes"
      address="supplier.address"
      errors="supplier.errors"
      on-change="updatePhoneCodeByCountry(countryCode)"
      latitude="supplier.latitude"
      longitude="supplier.longitude"
    }

.line.line-dashed.b-b.line-lg.pull-in
.row
  .col-md-6.col-xs-12
    .form-group
      label.control-label.col-md-5.col-sm-3.col-xs-12
        | {{labels.email}}*
      .col-md-7.col-sm-9.col-xs-12
        field {
          type="'email'"
          field="'email'"
          model="supplier"
          template="'input,error'"
        }

  .col-md-6.col-xs-12
    .form-group
      label.control-label.col-md-5.col-sm-3.col-xs-12
        | {{labels.work_phone}}*
      .col-md-7.col-sm-9.col-xs-12
        .row
          .col-sm-4
            field {
              type="'select'"
              field="'work_phone_code_id'"
              model="supplier"
              options="references.country_phone_codes"
              template="'input,error'"
            }
          .m-t.visible-xs
          .col-sm-8
            field {
              type="'phone'"
              field="'work_phone'"
              model="supplier"
              template="'input,error'"
            }
  .col-md-6.col-xs-12
    .form-group
      label.control-label.col-md-5.col-sm-3.col-xs-12
        | {{labels.cell_phone}}*
      .col-md-7.col-sm-9.col-xs-12
        .row
          .col-sm-4
            field {
              type="'select'"
              field="'cell_phone_code_id'"
              model="supplier"
              options="references.country_phone_codes"
              template="'input,error'"
            }
          .m-t.visible-xs
          .col-sm-8
            field {
              type="'phone'"
              field="'cell_phone'"
              model="supplier"
              template="'input,error'"
            }

.line.line-dashed.b-b.line-lg.pull-in
.row
  .col-md-6.col-xs-12
    .form-group
      label.control-label.col-md-5.col-sm-3.col-xs-12
        | {{labels.site}}
      .col-md-7.col-sm-9.col-xs-12
        field {
          type="'url'"
          field="'site'"
          model="supplier"
          template="'input,error'"
        }

  .col-md-6.col-xs-12
    .form-group
      label.control-label.col-md-5.col-sm-3.col-xs-12
        | {{labels.skype}}
      .col-md-7.col-sm-9.col-xs-12
        field {
          type="'text'"
          field="'skype'"
          model="supplier"
          template="'input,error'"
        }

  .col-md-6.col-xs-12
    .form-group
      label.control-label.col-md-5.col-sm-3.col-xs-12
        | {{labels.facebook}}
      .col-md-7.col-sm-9.col-xs-12
        field {
          type="'text'"
          field="'facebook'"
          model="supplier"
          template="'input,error'"
        }
  .col-md-6.col-xs-12
    .form-group
      label.control-label.col-md-5.col-sm-3.col-xs-12
        | {{labels.viber}}
      .col-md-7.col-sm-9.col-xs-12
        field {
          type="'text'"
          field="'viber'"
          model="supplier"
          template="'input,error'"
        }

.line.line-dashed.b-b.line-lg.pull-in
.row
  .col-md-6.col-xs-12
    .form-group
      label.control-label.col-md-5.col-sm-3.col-xs-12
        nobr
          | {{labels.current_job}}
          | &nbsp;
          span.btn.btn-xs.btn-default {
            ng-init="add_job = false"
            ng-class="{active: add_job}"
            ng-click="add_job = !add_job"
            uib-tooltip="Добавить"
          }
            | +
      .col-md-7.col-sm-9.col-xs-12 {
         ng-show="!add_job"
      }
        field {
          type="'select'"
          field="'selected_job'"
          model="supplier"
          options="references.companies"
          template="'input,error'"
        }
      .col-md-7.col-sm-9.col-xs-12 {
         ng-show="add_job"
      }
        field {
          type="'text'"
          field="'current_job'"
          model="supplier"
          template="'input,error'"
        }

  .col-md-6.col-xs-12
    .form-group
      label.control-label.col-md-5.col-sm-3.col-xs-12
        nobr
          | {{labels.current_department}}
          | &nbsp;
          span.btn.btn-xs.btn-default {
            ng-init="add_department = false"
            ng-class="{active: add_department}"
            ng-click="add_department = !add_department"
            uib-tooltip="Добавить"
          }
            | +
      .col-md-7.col-sm-9.col-xs-12 {
         ng-show="!add_department"
      }
        field {
          type="'select'"
          field="'selected_department'"
          model="supplier"
          options="references.departments"
          template="'input,error'"
        }
      .col-md-7.col-sm-9.col-xs-12 {
         ng-show="add_department"
      }
        field {
          type="'text'"
          field="'current_department'"
          model="supplier"
          template="'input,error'"
        }

  .col-md-6.col-xs-12
    .form-group
      label.control-label.col-md-5.col-sm-3.col-xs-12
        | {{labels.current_position}}
      .col-md-7.col-sm-9.col-xs-12
        field {
          type="'text'"
          field="'current_position'"
          model="supplier"
          template="'input,error'"
        }

  .col-md-6.col-xs-12
    .form-group
      .col-md-5.col-sm-3.col-xs-12
      .col-md-7.col-sm-9.col-xs-12
        field {
          type="'checkbox'"
          field="'current_is_head'"
          model="supplier"
          label="labels.current_is_head"
          template="'input,label,error'"
        }

.line.line-dashed.b-b.line-lg.pull-in
.form-group.form-group-single
  label.control-label.form-group-single__label.col-sm-2.col-xs-12
    | {{labels.relations}}
  .form-group-single__field.col-sm-10.col-xs-12
    field {
      type="'textarea'"
      field="'relations'"
      model="supplier"
      template="'input,error'"
    }
