form.form-horizontal ng-submit="submit()"
  .line.line-dashed.b-b.line-lg.pull-in
  .btn-group
    button.btn.btn-default {
      type="button"
      ng-click="supplier.legal_form = 'individual'"
      ng-class="{'active': supplier.legal_form == 'individual'}"
      translate="form.supplier.INDIVIDUAL"
    }
    button.btn.btn-default {
      type="button"
      ng-click="supplier.legal_form = 'legal_entity'"
      ng-class="{'active': supplier.legal_form == 'legal_entity'}"
      translate="form.supplier.LEGAL_ENTITY"
    }

  div {
    ng-if="supplier.legal_form == 'individual'"
    ng-include="'/assets/views/companies/suppliers/_form_individual.html'"
  }

  div {
    ng-if="supplier.legal_form == 'legal_entity'"
    ng-include="'/assets/views/companies/suppliers/_form_legal_entity.html'"
  }

  .line.line-dashed.b-b.line-lg.pull-in
  .form-group
    .col-xs-12.text-right
      a.inline.btn.btn-default.m-r-xs {
        type="button"
        translate="common.CANCEL"
        href="/companies/{{companyId}}/suppliers"
      }
      | &nbsp;
      button.inline.btn.btn-primary.m-r-xs {
        type="submit"
        translate="common.SAVE"
      }
