.line.line-dashed.b-b.line-lg.pull-in
.row
  .col-md-6.col-xs-12
    .col-md-5.col-sm-3.col-xs-12.text-right
      strong translate="form.supplier.COMPANY"

.line.line-dashed.b-b.line-lg.pull-in
.row
  .col-md-6.col-xs-12
    .form-group
      label.control-label.col-md-5.col-sm-3.col-xs-12
        | {{labels.legal_entity_name}}*
      .col-md-7.col-sm-9.col-xs-12
        field-wrap errors="lead.errors.legal_entity_name"
          input.form-control {
            type="text"
            ng-model="supplier.legal_entity_name"
            ng-change="loadCompanyData()"
          }

.line.line-dashed.b-b.line-lg.pull-in
.row
  .col-sm-12
    .form-group.form-group-single
      label.control-label.form-group-single__label.col-sm-2.col-xs-12
        | {{labels.address}}*
      .form-group-single__field.col-sm-10.col-xs-12
        field {
          type="'text'"
          field="'address'"
          model="supplier"
          template="'input,error'"
        }

  .col-sm-2.visible-lg
  .col-lg-10.col-sm-12.m-t-md
    map.form-gmap-shift {
      map="map"
      ng-if="references.country_phone_codes"
      detect="true"
      address="supplier.address"
      on-change="updatePhoneCodeByCountry(countryCode)"
      errors="supplier.errors"
      latitude="supplier.latitude"
      longitude="supplier.longitude"
    }

.line.line-dashed.b-b.line-lg.pull-in
.row
  .col-md-6.col-xs-12
    .form-group
      label.control-label.col-md-5.col-sm-3.col-xs-12
        | {{labels.legal_entity_email}}*
      .col-md-7.col-sm-9.col-xs-12
        field {
          type="'email'"
          field="'legal_entity_email'"
          model="supplier"
          template="'input,error'"
        }

  .col-md-6.col-xs-12
    .form-group
      label.control-label.col-md-5.col-sm-3.col-xs-12
        | {{labels.site}}
      .col-md-7.col-sm-9.col-xs-12
        field {
          type="'url'"
          field="'site'"
          model="supplier"
          template="'input,error'"
        }

  .col-md-6.col-xs-12
    .form-group
      label.control-label.col-md-5.col-sm-3.col-xs-12
        | {{labels.work_phone}}*
      .col-md-7.col-sm-9.col-xs-12
        .row
          .col-sm-4
            field {
              type="'select'"
              field="'work_phone_code_id'"
              model="supplier"
              options="references.country_phone_codes"
              template="'input,error'"
            }
          .m-t.visible-xs
          .col-sm-8
            field {
              type="'phone'"
              field="'work_phone'"
              model="supplier"
              template="'input,error'"
            }

.line.line-dashed.b-b.line-lg.pull-in
.form-group.form-group-single
  label.control-label.form-group-single__label.col-sm-2.col-xs-12
    | {{labels.relations}}
  .form-group-single__field.col-sm-10.col-xs-12
    field {
      type="'textarea'"
      field="'relations'"
      model="supplier"
      template="'input,error'"
    }

.line.line-dashed.b-b.line-lg.pull-in
.row
  .col-md-6.col-xs-12
    .col-md-5.col-sm-3.col-xs-12.text-right
      strong translate="form.supplier.CONTACT"

.line.line-dashed.b-b.line-lg.pull-in
.row
  .col-md-6.col-xs-12
    .form-group
      label.control-label.col-md-5.col-sm-3.col-xs-12
        | {{labels.name}}
      .col-md-7.col-sm-9.col-xs-12
        field {
          type="'text'"
          field="'name'"
          model="supplier"
          template="'input,error'"
        }

  .col-md-6.col-xs-12
    .form-group
      label.control-label.col-md-5.col-sm-3.col-xs-12
        | {{labels.surname}}*
      .col-md-7.col-sm-9.col-xs-12
        field {
          type="'text'"
          field="'surname'"
          model="supplier"
          template="'input,error'"
        }

  .col-md-6.col-xs-12
    .form-group
      label.control-label.col-md-5.col-sm-3.col-xs-12
        | {{labels.email}}*
      .col-md-7.col-sm-9.col-xs-12
        field {
          type="'email'"
          field="'email'"
          model="supplier"
          template="'input,error'"
        }
