.app-content
  .app-content-body
    .bg-light.lter.b-b.wrapper-md.ng-scope
      .row

        .col-sm-6.col-xs-12
          div {
            uib-dropdown
            is-open="status.isopen"
          }
            h1.m-n.font-thin.h3.text-black
              span
                i.icon-briefcase
              a.m-l-xs {
                aria-expanded="false"
                aria-haspopup="true"
                uib-dropdown-toggle
                ng-disabled="disabled"
              }
                .inline translate="model.supplier.PAGE_TITLE"
                .inline.caret

            ul.dropdown-menu role="menu"
              li
                a {
                  href="/companies/{{companyId}}/deals"
                }
                  i.icon-fire
                  | &nbsp;
                  | Сделки
              li
                a {
                  href="/companies/{{companyId}}/clients"
                }
                  i.icon-users
                  | &nbsp;
                  | Клиенты
              li
                a {
                  href="/companies/{{companyId}}/leads"
                }
                  i.icon-ghost
                  | &nbsp;
                  | Лиды

          small.text-muted {
            translate="model.supplier.SUB_TITLE"
          }

        .col-sm-6.text-right.hidden-xs
          .inline.m-r.text-left
            h1.inline.m-r.text-right.font-thin.h3.margin-top-8
              a.btn.btn-sm.btn-primary.btn-addon {
                href="/companies/{{companyId}}/suppliers/new"
                ng-if="company.id && user.can('create', 'Supplier', {company_id: company.id})"
              }
                i.fa.fa-plus.text
                span.text {
                  translate="model.supplier.CREATE"
                }

    .wrapper-md
      div {
        ng-if="!user.can('read', 'Company', companyId)"
        ng-include="'assets/views/companies/_access_denied.html'"
      }
      .panel.panel-default
        .panel-body.b-b.b-light
          .row
            .col-xs-1
              h2.m-n.font-thin.h2.text-light
                .inline.pos-rlt.cur-p {
                  uib-tooltip="Фильтр клиентов"
                  tooltip-placement="right"
                  uib-dropdown=""
                }
                  i.fa.fa-filter {
                    uib-dropdown-toggle=""
                  }
                  ul.filter-dropdown-menu.dropdown-menu {
                    role="menu"
                  }
                    li
                      a href="#"
                        | Название/индекс товара
                    li
                      a href="#"
                        | Статус: В наличии/Под заказ/Не активен
                    li
                      a href="#"
                        | Статус популярности
                    li
                      a href="#"
                        | Популярность
                    li
                      a href="#"
                        | Наличие фото
                    li
                      a href="#"
                        | Страна, Город клиенты
                    li
                      a href="#"
                        | Сумма сделки - рейн
                    li
                      a href="#"
                        | Менеджер
                    li
                      a href="#"
                        | ABC/XYZ анализ - надо визуализацию переделать

            .col-xs-11.text-right
              .btn-group
                a.btn.btn-default.nowrap.l-h-18 {
                  ng-repeat="status in companyStatic.references.supplier_statuses"
                  uib-tooltip="{{::status.name}}"
                  type="button"
                  ng-click="toggleStatus(status.id)"
                  ng-class="{ active: filter.statuses.indexOf(status.id) > -1 }"
                }
                  i.inline.v-middle.fa.fa-circle.text-primary.m-r-xs {
                    style="color: {{status.color}}"
                  }
                  span.inline.v-middle
                    | {{ status.name }}

                  b.inline.v-middle.badge.m-l-xs
                    | {{ company.suppliers_count_by_statuses[status.id] || 0 }}

                  i.inline.v-middle.fa.fa-pencil.m-l-xs {
                    ng-if="!status.system && company.id && user.can('update', 'SupplierStatus', {company_id: company.id})"
                    ng-click="
                      editStatus(status.id);
                      $event.stopPropagation();
                    "
                  }

                button.btn.btn-default {
                  type="button"
                  ng-click="createStatus()"
                  ng-if="company.id && user.can('create', 'SupplierStatus', {company_id: company.id})"
                }
                  i.fa.fa-plus
      .row
        .col-md-12
          .list-group.list-group-lg.list-group-sp
            .list-group-item.clearfix ng-repeat="supplier in suppliers"
              .xedit-form {
                ng-include="'assets/views/companies/suppliers/xedit.html'"
                ng-controller="CompaniesSuppliersXEditCtrl"
              }
          pagination {
            current="page"
            total="total_count"
            per="per"
          }

div ng-include="" src="'assets/views/layout/blocks/footer.html'"
