.row ng-if="supplier.legal_entity_name || SupplierForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': SupplierForm.$visible}"
      }
        | {{ supplierStatic.labels.legal_entity_name }}
        span ng-if="SupplierForm.$visible" *
        | :
  .col-xs-6
    p.clear.text-ellipsis
      span.text {
        buttons="no"
        editable-text="supplier.legal_entity_name"
        e-name="legal_entity_name"
        e-form="SupplierForm"
        e-ng-change="validate('legal_entity_name', $data)"
      }
        | {{ supplier.legal_entity_name }}

.row ng-if="supplier.address || SupplierForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': SupplierForm.$visible}"
      }
        | {{ supplierStatic.labels.address }}
        span ng-if="SupplierForm.$visible" *
        | :
  .col-xs-6
    p.clear.text-ellipsis uib-tooltip="{{supplier.address}}"
      span.text {
        buttons="no"
        editable-text="supplier.address"
        e-name="address"
        e-form="SupplierForm"
        e-ng-change="supplier.address = $data; validate('address', $data)"
      }
        | {{ supplier.address }}


div.m-b ng-if="SupplierForm.$visible"
  map {
    map="map"
    address="supplier.address"
    errors="supplier.errors"
    on-change="updatePhoneCodeByCountry(countryCode)"
    latitude="supplier.latitude"
    longitude="supplier.longitude"
  }

.row ng-if="supplier.legal_entity_email || SupplierForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': SupplierForm.$visible}"
      }
        | {{ supplierStatic.labels.legal_entity_email }}
        span ng-if="SupplierForm.$visible" *
        | :
  .col-xs-6
    p.clear.text-ellipsis
      span.text {
        buttons="no"
        editable-text="supplier.legal_entity_email"
        e-name="legal_entity_email"
        e-form="SupplierForm"
        e-ng-change="validate('legal_entity_email', $data)"
      }
        | {{ supplier.legal_entity_email || '' }}

.row ng-if="supplier.site || SupplierForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': SupplierForm.$visible}"
      }
        | {{ supplierStatic.labels.site }}:
  .col-xs-6
    p.clear.text-ellipsis
      span.text {
        editable-text="supplier.site"
        e-name="site"
        e-ng-change="validate('site', $data)"
        e-form="SupplierForm"
      }
        | {{ supplier.site }}

.row ng-if="supplier.work_phone || SupplierForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': SupplierForm.$visible}"
      }
        | {{ supplierStatic.labels.work_phone }}
        span ng-if="SupplierForm.$visible" *
        | :
  .col-xs-6
    .row.m-b
      .col-sm-5
        span.text {
          buttons="no"
          editable-select="supplier.work_phone_code_id"
          e-ng-options="phone_code.id as phone_code.name for phone_code in supplierStatic.references.country_phone_codes"
          e-name="work_phone_code_id"
          e-form="SupplierForm"
          e-ng-change="validate('work_phone_code_id', $data)"
        }
      .col-sm-7
        span.text {
          buttons="no"
          editable-text="supplier.work_phone"
          e-name="work_phone"
          e-form="SupplierForm"
          e-ng-change="validate('work_phone', $data)"
        }

    p.clear.text-ellipsis ng-if="!SupplierForm.$visible"
      | {{ supplier.work_phone_full }}

p.clear.text-ellipsis
  strong
    | Контактное лицо

.row ng-if="supplier.name || SupplierForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': SupplierForm.$visible}"
      }
        | {{ supplierStatic.labels.name }}:
  .col-xs-6
    p.clear.text-ellipsis
      span.text {
        editable-text="supplier.name"
        e-name="name"
        e-ng-change="validate('name', $data)"
        e-form="SupplierForm"
      }
        | {{ supplier.name }}

.row ng-if="supplier.surname || SupplierForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': SupplierForm.$visible}"
      }
        | {{ supplierStatic.labels.surname }}
        span ng-if="SupplierForm.$visible" *
        | :
  .col-xs-6
    p.clear.text-ellipsis
      span.text {
        editable-text="supplier.surname"
        e-name="surname"
        e-ng-change="validate('surname', $data)"
        e-form="SupplierForm"
      }
        | {{ supplier.surname }}

.row ng-if="supplier.email || SupplierForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': SupplierForm.$visible}"
      }
        | {{ supplierStatic.labels.email }}
        span ng-if="SupplierForm.$visible" *
        | :
  .col-xs-6
    p.clear.text-ellipsis
      span.text {
        buttons="no"
        editable-text="supplier.email"
        e-name="email"
        e-form="SupplierForm"
        e-ng-change="validate('email', $data)"
      }
        | {{ supplier.email || '' }}
