
.row ng-if="supplier.name || SupplierForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': SupplierForm.$visible}"
      }
        | {{ supplierStatic.labels.name }}
        span ng-if="SupplierForm.$visible" *
        | :
  .col-xs-6
    p.clear.text-ellipsis
      span.text {
        buttons="no"
        editable-text="supplier.name"
        e-name="name"
        e-form="SupplierForm"
        e-ng-change="validate('name', $data)"
      }
        | {{ supplier.name }}

.row ng-if="supplier.surname || SupplierForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': SupplierForm.$visible}"
      }
        | {{ supplierStatic.labels.surname }}
        span ng-if="SupplierForm.$visible" *
        | :
  .col-xs-6
    p.clear.text-ellipsis
      span.text {
        buttons="no"
        editable-text="supplier.surname"
        e-name="surname"
        e-form="SupplierForm"
        e-ng-change="validate('surname', $data)"
      }
        | {{ supplier.surname }}


.row ng-if="supplier.birthday || SupplierForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': SupplierForm.$visible}"
      }
        | {{ supplierStatic.labels.birthday }}:
  .col-xs-6
    span.text {
      editable-bsdate="supplier.birthday"
      e-datepicker-popup="dd.MM.yyyy"
      e-is-open="isOpen"
      e-ng-click="isOpen = !isOpen"
      e-name="birthday"
      e-ng-change="validate('birthday', $data)"
      e-form="SupplierForm"
    }
      | {{ supplier.birthday | date:'dd.MM.yyyy' }}

.row ng-if="supplier.address || SupplierForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': SupplierForm.$visible}"
      }
        | {{ supplierStatic.labels.address }}
        span ng-if="SupplierForm.$visible" *
        | :
  .col-xs-6
    p.clear.text-ellipsis uib-tooltip="{{supplier.address}}"
      span.text {
        buttons="no"
        editable-text="supplier.address"
        e-name="address"
        e-form="SupplierForm"
        e-ng-change="supplier.address = $data; validate('address', $data)"
      }
        | {{ supplier.address || '' }}


div.m-b ng-if="SupplierForm.$visible"
  map {
    map="map"
    address="supplier.address"
    errors="supplier.errors"
    on-change="updatePhoneCodeByCountry(countryCode)"
    latitude="supplier.latitude"
    longitude="supplier.longitude"
  }

.row ng-if="supplier.email || SupplierForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': SupplierForm.$visible}"
      }
        | {{ supplierStatic.labels.email }}
        span ng-if="SupplierForm.$visible" *
        | :
  .col-xs-6
    p.clear.text-ellipsis
      span.text {
        buttons="no"
        editable-text="supplier.email"
        e-name="email"
        e-form="SupplierForm"
        e-ng-change="validate('email', $data)"
      }
        | {{ supplier.email || '' }}

.row ng-if="supplier.work_phone || SupplierForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': SupplierForm.$visible}"
      }
        | {{ supplierStatic.labels.work_phone }}
        span ng-if="SupplierForm.$visible" *
        | :
  .col-xs-6
    .row.m-b ng-if="SupplierForm.$visible"
      .col-sm-5
        span.text {
          buttons="no"
          editable-select="supplier.work_phone_code_id"
          e-ng-options="phone_code.id as phone_code.name for phone_code in supplierStatic.references.country_phone_codes"
          e-name="work_phone_code_id"
          e-form="SupplierForm"
          e-ng-change="validate('work_phone_code_id', $data)"
        }
      .col-sm-7
        span.text {
          buttons="no"
          editable-text="supplier.work_phone"
          e-name="work_phone"
          e-form="SupplierForm"
          e-ng-change="validate('work_phone', $data)"
        }

    p.clear.text-ellipsis ng-if="!SupplierForm.$visible"
      | {{ supplier.work_phone_full }}

.row ng-if="supplier.cell_phone || SupplierForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': SupplierForm.$visible}"
      }
        | {{ supplierStatic.labels.cell_phone }}
        span ng-if="SupplierForm.$visible" *
        | :
  .col-xs-6
    .row.m-b ng-if="SupplierForm.$visible"
      .col-sm-5
        span.text {
          buttons="no"
          editable-select="supplier.cell_phone_code_id"
          e-ng-options="phone_code.id as phone_code.name for phone_code in supplierStatic.references.country_phone_codes"
          e-name="cell_phone_code_id"
          e-form="SupplierForm"
          e-ng-change="validate('cell_phone_code_id', $data)"
        }
      .col-sm-7
        span.text {
          buttons= "no"
          editable-text= "supplier.cell_phone"
          e-name= "cell_phone"
          e-form= "SupplierForm"
          e-ng-change= "validate('cell_phone', $data)"
        }

    p.clear.text-ellipsis ng-if="!SupplierForm.$visible"
      | {{ supplier.work_phone_full }}

.row ng-if="supplier.site || SupplierForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': SupplierForm.$visible}"
      }
        | {{ supplierStatic.labels.site }}:
  .col-xs-6
    p.clear.text-ellipsis
      span.text {
        buttons="no"
        editable-text="supplier.site"
        e-name="site"
        e-form="SupplierForm"
        e-ng-change="validate('site', $data)"
      }
        | {{ supplier.site || '' }}


.row ng-if="supplier.skype || SupplierForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': SupplierForm.$visible}"
      }
        | {{ supplierStatic.labels.skype }}:
  .col-xs-6
    p.clear.text-ellipsis
      span.text {
        buttons="no"
        editable-text="supplier.skype"
        e-name="skype"
        e-form="SupplierForm"
        e-ng-change="validate('skype', $data)"
      }
        | {{ supplier.skype || '' }}

.row ng-if="supplier.facebook || SupplierForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': SupplierForm.$visible}"
      }
        | {{ supplierStatic.labels.facebook }}:
  .col-xs-6
    p.clear.text-ellipsis
      span.text {
        buttons="no"
        editable-text="supplier.facebook"
        e-name="facebook"
        e-form="SupplierForm"
        e-ng-change="validate('facebook', $data)"
      }
        | {{ supplier.facebook || '' }}

.row ng-if="supplier.viber || SupplierForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': SupplierForm.$visible}"
      }
        | {{ supplierStatic.labels.viber }}:
  .col-xs-6
    p.clear.text-ellipsis
      span.text {
        buttons="no"
        editable-text="supplier.viber"
        e-name="viber"
        e-form="SupplierForm"
        e-ng-change="validate('viber', $data)"
      }
        | {{ supplier.viber || '' }}

.line.line-dashed.b-b.line-lg
.row ng-if="supplier.current_job || SupplierForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': SupplierForm.$visible}"
      }
        | {{ supplierStatic.labels.current_job }}:
  .col-xs-6
    p.clear.text-ellipsis
      span.text {
        buttons="no"
        editable-text="supplier.current_job"
        e-name="current_job"
        e-form="SupplierForm"
        e-ng-change="validate('current_job', $data)"
        }
          | {{ supplier.current_job || '' }}
.row ng-if="supplier.current_department || SupplierForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': SupplierForm.$visible}"
      }
        | {{ supplierStatic.labels.current_department }}:
  .col-xs-6
    p.clear.text-ellipsis
      span.text {
        buttons="no"
        editable-text="supplier.current_department"
        e-name="current_department"
        e-form="SupplierForm"
        e-ng-change="validate('current_department', $data)"
        }
          | {{ supplier.current_department || '' }}

.row ng-if="supplier.current_position || SupplierForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis {
        ng-class="{'m-top-5': SupplierForm.$visible}"
      }
        | {{ supplierStatic.labels.current_position }}:
  .col-xs-6
    p.clear.text-ellipsis
      span.text {
        buttons="no"
        editable-text="supplier.current_position"
        e-name="current_position"
        e-form="SupplierForm"
        e-ng-change="validate('current_position', $data)"
        }
          | {{ supplier.current_position || '' }}
.row ng-if="supplier.current_is_head != null || SupplierForm.$visible"
  .col-xs-6
    p
      span.text-muted.clear.text-ellipsis
        | {{ supplierStatic.labels.current_is_head }}:
  .col-xs-6
    p.clear.text-ellipsis
      span.text {
        editable-checkbox="supplier.current_is_head"
          e-name="current_is_head"
          e-form="SupplierForm"
          e-title="да/нет"
          e-ng-change="validate('current_is_head' ,$data)"
        }
          | {{ supplier.current_is_head ? 'Да' : 'Нет' }}
