form {
  editable-form
  onbeforesave="submit($data)"
  name="$parent.SupplierForm"
  }

    div {
      ng-click="supplier.canBeExpanded && (supplier.expanded = !supplier.expanded)"
      ng-attr-role="{{supplier.canBeExpanded ? 'button' : ''}}"
    }
      .row
        .col-lg-4.col-md-4.col-sm-3.col-xs-3.text-ellipsis
          span.pull-left.thumb-sm.m-r.hidden-xs {
            ng-class="{
              'avatar avatar-40-round': supplier.legal_form == 'individual',
              'avatar-40': supplier.legal_form == 'legal_entity'
            }"
            style="background-image: url({{ supplier.image.url }})"
          }

          span.clear
            span.text-ellipsis {
              ng-if="supplier.legal_form == 'individual'"
              uib-tooltip="{{supplier | fullname}}"
              tooltip-class="tooltip-overlay"
              tooltip-append-to-body="true"
            }
              | {{supplier | fullname}}
            span.text-ellipsis {
              ng-if="supplier.legal_form == 'legal_entity'"
              uib-tooltip="{{ supplier.legal_entity_name }}"
              tooltip-class="tooltip-overlay"
              tooltip-append-to-body="true"
            }
              | {{ supplier.legal_entity_name }}
            small.text-muted.clear.text-ellipsis
              i.fa.fa-circle.m-r-xs {
                ng-style="{color: (supplier | statusColor: companyStatic.references.supplier_statuses) }"
              }
              | {{supplier.source | ref:supplierStatic.references.sources}}

          .hidden-lg
            br

        .col-lg-2.col-md-2.col-sm-2.col-xs-2.text-left.text-ellipsis
          span.inline
            a {
              href="tel:{{supplier.work_phone}}"
              uib-tooltip="Рабочий телефон"
              tooltip-placement="left"
              tooltip-append-to-body="true"
            }
              span
                | {{ supplier.work_phone_full }}
            a {
              href="mailto:{{ supplier.email }}"
              uib-tooltip="Рабочий email:"
              tooltip-placement="left"
            }
              small.text-muted.clear.text-ellipsis {
                ng-if="supplier.legal_form == 'individual'"
              }
                | {{ supplier.email }}
              small.text-muted.clear.text-ellipsis {
                ng-if="supplier.legal_form == 'legal_entity'"
              }
                | {{ supplier.legal_entity_email }}

          .hidden-lg
            br

        .col-lg-1.col-md-1.col-sm-2.col-xs-2.text-center.text-left-xs
          .inline.m-r
            button.btn.btn-success.btn-lg.btn-small-xs {
              uib-tooltip="RFM-анализ: Большой Кит"
              tooltip-append-to-body="true"
            }
              | RF

        .col-lg-1.col-md-1.col-sm-2.col-xs-2.text-center.text-left-xs
          .inline.m-r
            button.btn.btn-warning.btn-lg.btn-small-xs {
              uib-tooltip="RFM-анализ: Карась"
              tooltip-append-to-body="true"
            }
              | RM

          .visible-m
            br

        .col-lg-2.col-md-2.col-sm-2.col-xs-2.text-center.hidden-xs.text-left-md
          .inline.m-r
            span.label.bg-danger {
              style="background-color: {{supplier | statusColor:companyStatic.references.supplier_statuses}}"
              title="{{supplier.status | ref:companyStatic.references.supplier_statuses}}"
            }
              | {{supplier.status | ref:companyStatic.references.supplier_statuses}}
            small.text-muted.clear.text-ellipsis
              | c {{ supplier.created_at | date:'dd.MM.yyyy' }}

          .visible-m
            br

        .col-lg-2.col-md-2.col-sm-2.col-xs-2
          .inline.text-left
            .m-b-xs
              | {{supplier.current_month_income | formatMoney:company.currency}} &nbsp;
              span.text-muted доход
            .sparkline.inline-block.hidden-xs {
              ui-jq="sparkline"
              ui-refresh="supplier.current_month_income_by_days"
              ui-options="{{supplier.current_month_income_by_days || []}},
              {
                type:'bar',
                height:20,
                barWidth:5,
                barSpacing:1,
                barColor:'#dce5ec'
              }"
            }

    div uib-collapse="!supplier.expanded"
      br
      br
      .line.line-dashed.b-b.line-lg.pull-in

      .col-md-12 {
        ng-if="supplier.id && user.can('update', 'Supplier', supplier.id)"
      }
        .pull-right uib-tooltip="Редактирование"
          switcher {
            checked="true"
            confirm-exit="true"
            xeditable="SupplierForm"
          }

        .text-center
          ul.nav-justified
            li
              h1.text-success-dker
                | {{supplier.deals_stats.won_deals.sum | formatMoney: company.currency}}
              | {{supplier.deals_stats.won_deals.count}} Выигранных сделок
            li
              h1.text-primary-dker
                | {{supplier.deals_stats.potential_deals.sum | formatMoney: company.currency}}
              | {{supplier.deals_stats.potential_deals.count}} Потенциальные сделки
            li
              h1.text-danger-dker
                | {{supplier.deals_stats.lost_deals.sum | formatMoney: company.currency}}
              | {{supplier.deals_stats.lost_deals.count}} Проигранных сделок

      br
      br
      br
      br
      br

      .line.line-dashed.b-b.line-lg.pull-in
      .col-md-6
        .row
          .col-xs-12
            h4
              | Визитка
            .line.line-dashed.b-b.line-lg

        div {
          ng-if="supplier.legal_form == 'individual'"
          ng-include=""
          src="'/assets/views/companies/suppliers/xedit_individual.html'"
        }
        div {
          ng-if="supplier.legal_form == 'legal_entity'"
          ng-include=""
          src="'/assets/views/companies/suppliers/xedit_legal_entity.html'"
        }
      .col-md-6
        .row
          .col-xs-12
            h4
              | Служебная информация
            .line.line-dashed.b-b.line-lg
        .row ng-if="supplier.status != null || SupplierForm.$visible"
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': SupplierForm.$visible}"
              }
                | {{ supplierStatic.labels.status }}:
          .col-xs-6
            p.clear.text-ellipsis
              span.text {
                editable-select="supplier.status"
                e-ng-options="status.id as status.name for status in companyStatic.references.supplier_statuses"
                e-name="status"
                e-form="SupplierForm"
                e-ng-change="validate('status', $data)"
              }
                | {{ supplier.status | ref:companyStatic.references.supplier_statuses }}

        .row ng-if="supplier.manager_id != null || SupplierForm.$visible"
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': SupplierForm.$visible}"
              }
                | {{ supplierStatic.labels.manager_id }}:
          .col-xs-6
            p.clear.text-ellipsis
              span.text {
                editable-select="supplier.manager_id"
                e-ng-options="employee.id as (employee.user | fullname) for employee in employees"
                e-name="manager_id"
                e-form="SupplierForm"
                e-ng-change="supplier.manager_id = $data; validate('manager_id', $data)"
              }
                | {{ (supplier.manager_id | ref:employees:'user').name }}
                | &nbsp;
                | {{ (supplier.manager_id | ref:employees:'user').surname }}

        .row ng-if="supplier.second_manager_id != null || SupplierForm.$visible"
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': SupplierForm.$visible}"
              }
                | {{ supplierStatic.labels.second_manager_id }}:
          .col-xs-6
            p.clear.text-ellipsis
              span.text {
                editable-select="supplier.second_manager_id"
                e-ng-options="employee.id as (employee.user.name + ' ' + employee.user.surname) for employee in employeesForSecondManager"
                e-name="second_manager_id"
                e-form="SupplierForm"
                e-ng-change="validate('second_manager_id', $data)"
              }
                | {{ (supplier.second_manager_id | ref:employees:'user').name }}
                | &nbsp;
                | {{ (supplier.second_manager_id | ref:employees:'user').surname }}

        .row ng-if="supplier.visibility || SupplierForm.$visible"
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': SupplierForm.$visible}"
              }
                | {{ supplierStatic.labels.visibility }}:
          .col-xs-6
            p.clear.text-ellipsis
              span.text {
                editable-select="supplier.visibility"
                e-ng-options="visibility.id as visibility.name for visibility in supplierStatic.references.visibilities"
                e-name="visibility"
                e-form="SupplierForm"
                e-ng-change="validate('visibility', $data)"
              }
                | {{ supplier.visibility | ref:supplierStatic.references.visibilities }}
        .row ng-if="supplier.legal_form"
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis
                | {{ supplierStatic.labels.legal_form }}:
          .col-xs-6
            p.clear.text-ellipsis
              | {{ supplier.legal_form | ref:supplierStatic.references.legal_forms }}

        .row ng-if="supplier.source  || SupplierForm.$visible"
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': SupplierForm.$visible}"
              }
                | {{ supplierStatic.labels.source }}:
          .col-xs-6
            p.clear.text-ellipsis
              span.text {
                e-ng-options="source.id as source.name for source in supplierStatic.references.sources"
                editable-select="supplier.source"
                e-name="source"
                e-form="SupplierForm"
                e-ng-change="validate('source', $data)"
              }
                | {{ supplier.source | ref:supplierStatic.references.sources }}

        .row ng-if="supplier.discount  || SupplierForm.$visible"
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': SupplierForm.$visible}"
              }
                | {{ supplierStatic.labels.discount }}:
          .col-xs-6
            p.clear.text-ellipsis
              span.text {
                editable-text="supplier.discount"
                e-name="discount"
                e-form="SupplierForm"
                e-ng-change="validate('discount', $data)"
              }
                | {{ supplier.discount + '%' }}

        .row
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis
                | Депозит:
          .col-xs-6
            p.clear.text-ellipsis
              | 0
        .row
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis
                | Сумма сделок:
          .col-xs-6
            p.clear.text-ellipsis
              | {{ supplier.deals_stats.total_deals.sum | formatMoney:company.currency }}
        .row
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis
                | Количество сделок:
          .col-xs-6
            p.clear.text-ellipsis
              | {{ supplier.deals_stats.total_deals.count }}
        .row
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis
                | Средний чек:
          .col-xs-6
            p.clear.text-ellipsis
              | {{ (supplier.deals_stats.total_deals.average_sum || 0) | formatMoney:company.currency }}
        .row
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis
                | Сумма возвратов:
          .col-xs-6
            p.clear.text-ellipsis
              | {{ supplier.deals_stats.returned_deals.sum | formatMoney:company.currency }}
        .row
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis
                | Количество возвратов:
          .col-xs-6
            p.clear.text-ellipsis
              | {{ supplier.deals_stats.returned_deals.count }}
        .row
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis
                | Дата первой покупки:
          .col-xs-6
            p.clear.text-ellipsis
              | {{ (supplier.deals_stats.first_purchase_date | date:'dd.MM.yyyy HH:mm') || '-' }}
        .row
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis
                | Дата последней покупки:
          .col-xs-6
            p.clear.text-ellipsis
              | {{ (supplier.deals_stats.last_purchase_date | date:'dd.MM.yyyy HH:mm') || '-' }}


        .row ng-if="supplier.notes  || SupplierForm.$visible"
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis
                | {{ supplierStatic.labels.notes }}:
          .col-xs-6
            p.clear.text-ellipsis
              span.text {
                editable-textarea="supplier.notes"
                e-name="notes"
                e-form="SupplierForm"
                e-ng-change="validate('notes', $data)"
              }
                | {{ supplier.notes }}

      .pull-right.clear-both.m-b {
        ng-if="supplier.id && user.can('update', 'Supplier', supplier.id)"
        uib-tooltip="Редактирование"
      }
        switcher {
          checked="true"
          xeditable="SupplierForm"
        }

      br
      br

      .line.line-dashed.b-b.line-lg.pull-in
      .col-lg-12.text-center.m-b-sm
        .btn-group
          button.btn.btn-default.nowrap {
            type="button"
            ng-click="section.active = 'tasks'; loadTasks()"
            ng-class="{active: section.active == 'tasks'}"
          }
            i.icon-directions.text-light.lter.m-r-xs
            | Дела &nbsp;
            b.badge.bg-success.inline
              | {{ supplier.related_tasks_count || 0 }}

          button.btn.btn-default.nowrap {
            type="button"
            ng-click="section.active = 'deals'"
            ng-class="{active: section.active == 'deals'}"
          }
            i.icon-wallet.text-light.lter.m-r-xs
            | Сделки &nbsp;
            b.badge.bg-success.inline
              | {{ supplier.deal_events.length || 0 }}

          button.btn.btn-default.nowrap type="button"
            i.icon-layers.text-light.lter.m-r-xs
            | Счета &nbsp;
            b.badge.bg-success.inline
              | 13

          button.btn.btn-default.nowrap type="button"
            i.icon-basket-loaded.text-light.lter.m-r-xs
            | Товары &nbsp;
            b.badge.bg-success.inline
              | 3

          button.btn.btn-default.nowrap {
            type="button"
            ng-click="section.active = 'history'"
            ng-class="{active: section.active == 'history'}"
          }
            i.icon-puzzle.text-light.lter.m-r-xs
            | История &nbsp;
            b.badge.bg-success.inline
              | {{ supplier.history_length || 0 }}

      .additional-sections.m-b-sm ng-show="section.active"
        .line.line-dashed.b-b.line-lg.pull-in
        / Сделки
        div ng-show="section.active == 'deals'"
          .text-center
            a.btn.btn-lg.btn-primary.btn-addon href="/companies/{{company.id}}/deals/new?supplier_id={{supplier.id}}"
              i.icon-wallet.text
              span.text
                | Добавить сделку

          .line.line-dashed.b-b.line-lg.pull-in

          .col-lg-12
            .row.m-b ng-repeat="dealEvent in supplier.deal_events"
              .col-xs-12
                span.label.text-base.pos-rlt.m-r.v-middle {
                  ng-style="{
                    'background-color': (
                      dealEvent.meta_data.new_status | statusColor: companyStatic.references.deal_statuses
                    )
                  }"
                }
                  | {{ dealEvent.created_at | date: 'dd.MM.yyyy hh:mm' }}
                span.inline.text-ellipsis.v-middle.m-r
                  | Статус: &nbsp;
                  span
                    | {{ dealEvent.meta_data.new_status | ref:companyStatic.references.deal_statuses }}
                span.inline.v-middle.m-r
                  | Сумма: {{ dealEvent.meta_data.total_sum | formatMoney: supplier.company.currency }}

        / История
        div ng-if="section.active == 'history'"
          stream {
            company-id="supplier.company_id"
            subject-type="Supplier"
            subject-id="supplier.id"
            level="local"
          }

        / Дела
        div ng-if="section.active == 'tasks'"
          .text-center
            a.btn.btn-primary.btn-addon.btn-lg {
              uib-tooltip="Создать новую задачу"
              type="button"
              ng-href="/companies/{{company.id}}/tasks/new?client_id={{supplier.id}}"
            }
              i.icon-directions
              | Создать задачу

          related-tasks-list {
            tasks="supplier.related_tasks"
            show-client="false"
          }

      .line.line-dashed.b-b.line-lg.pull-in

      .col-md-6
        | Динамика продаж: Количество товара
        .line.line-dashed.b-b.line-lg
        div {
          style="height: 240px; width: 100%; padding: 0px; position: relative;"
          ui-jq="plot"
          ui-refresh="supplier.sales_dynamic.quantity"
          ui-options="[{ data: {{supplier.sales_dynamic.quantity || []}},
          lines: {
            show: true,
            lineWidth: 1,
            fill:true,
            fillColor: {
              colors: [
                {opacity: 0.2},
                {opacity: 0.8}]}
                }
              }],
            {
              colors: ['#23b7e5'],
              series: { shadowSize: 3 },
              xaxis:{ show:false },
              yaxis:{
                font: { color: '#a1a7ac' }
              },
              grid: {
                hoverable: true,
                clickable: true,
                borderWidth: 0,
                color: '#dce5ec'
              },
              tooltip: true,
              tooltipOpts: {
                content: '%s of %x.0 is %y.2',
                defaultTheme: false,
                shifts: { x: 10, y: -25 }
              }
            }"
        }

      .col-md-6
        | Динамика продаж: Сумма сделок
        .line.line-dashed.b-b.line-lg
        div {
          style="height: 240px; width: 100%; padding: 0px; position: relative;"
          ui-jq="plot"
          ui-refresh="supplier.sales_dynamic.sum"
          ui-options="[
          { data: {{supplier.sales_dynamic.sum || []}}, lines: { show: true, lineWidth: 1, fill:true, fillColor: { colors: [
            {opacity: 0.2},
            {opacity: 0.8}]
            }
          } }
          ],{
            colors: ['#27c24c'],
            series: { shadowSize: 3 },
            xaxis:{ show:false },
            yaxis:{
              font: { color: '#a1a7ac' }
            },
            grid: {
              hoverable: true,
              clickable: true,
              borderWidth: 0,
              color: '#dce5ec'
            },
            tooltip: true,
            tooltipOpts: {
              content: '%s of %x.0 is %y.2',
              defaultTheme: false,
              shifts: { x: 10, y: -25 }
            }
          }"
        }
