form.form-horizontal ng-submit="submit()"
  .form-group
    label.col-sm-2.control-label
      | {{ productStatic.labels.images }}
    .col-sm-10
      field {
        type="'file'"
        field="'images'"
        model="product"
        template="'input,error'"
        attr-class="'m-n'"
        multiple="true"
      }

  .line.line-dashed.b-b.line-lg.pull-in
  .form-group
    label.col-sm-2.control-label
      | {{ productStatic.labels.activity }}*
    .col-sm-10
      field {
        type="'select'"
        field="'activity'"
        model="product"
        options="productStatic.references.activities"
        template="'input,error'"
        attr-class="'m-n'"
      }

  .line.line-dashed.b-b.line-lg.pull-in
  .form-group
    label.col-sm-2.control-label
      | {{ productStatic.labels.name }}*
    .col-sm-10
      field {
        type="'text'"
        field="'name'"
        model="product"
        template="'input,error'"
      }

  .line.line-dashed.b-b.line-lg.pull-in
  .form-group
    label.col-sm-2.control-label
      | {{ productStatic.labels.vendor_code }}
    .col-sm-10
      field {
        type="'text'"
        field="'vendor_code'"
        model="product"
        template="'input,error'"
      }

  .line.line-dashed.b-b.line-lg.pull-in
  .form-group
    label.col-sm-2.control-label
      | {{ productStatic.labels.barcode }}
    .col-sm-10
      field {
        type="'text'"
        field="'barcode'"
        model="product"
        template="'input,error'"
      }

  .line.line-dashed.b-b.line-lg.pull-in
  .form-group
    label.col-sm-2.control-label
      | {{ productStatic.labels.price }}
    .col-sm-10
      field {
        type="'text'"
        field="'price'"
        model="product"
        template="'input,error'"
      }

  .line.line-dashed.b-b.line-lg.pull-in
  .form-group
    label.col-sm-2.control-label
      | {{ productStatic.labels.first_cost }}
    .col-sm-10
      field {
        type="'text'"
        field="'first_cost'"
        model="product"
        template="'input,error'"
      }

  .line.line-dashed.b-b.line-lg.pull-in
  .form-group
    label.col-sm-2.control-label
      | {{ productStatic.labels.quantity }}
    .col-sm-10
      field {
        type="'text'"
        field="'quantity'"
        model="product"
        template="'input,error'"
      }
  .line.line-dashed.b-b.line-lg.pull-in
  .form-group
    label.col-md-2.col-sm-2.control-label
      | {{ productStatic.labels.category_id }}*
    .col-md-8.col-sm-10
      field {
        type="'select'"
        field="'category_id'"
        model="product"
        options="company.product_categories"
        template="'input,error'"
        attr-class="'m-n'"
      }
    .col-md-2.col-sm-12.text-right
      br.hidden-md.hidden-lg
      button.btn.btn-default.text-wrap.inline {
        type="button"
        ng-click="createCategory()"
        translate="form.product.CREATE_CATEGORY"
      }

  .line.line-dashed.b-b.line-lg.pull-in
  .form-group
    label.col-sm-2.control-label
      | {{ productStatic.labels.delivery_time }}
    .col-sm-10
      field {
        type="'text'"
        field="'delivery_time'"
        model="product"
        template="'input,error'"
      }
  .line.line-dashed.b-b.line-lg.pull-in
  .form-group
    label.col-sm-2.control-label
      | {{ productStatic.labels.description }}
    .col-sm-10
      field {
        type="'textarea'"
        field="'description'"
        model="product"
        template="'input,error'"
      }

  .line.line-dashed.b-b.line-lg.pull-in

  .form-group
    .col-sm-12.col-sm-offset-2
      a.btn.btn-default.m-r-xs {
        type="button"
        translate="common.CANCEL"
        href="/companies/{{companyId}}/products"
      }
      | &nbsp;
      button.btn.btn-primary.m-r-xs type="submit" translate="common.SAVE"
