.app-content
  .app-content-body
    .bg-light.lter.b-b.wrapper-md.ng-scope
      .row
        .col-sm-6.col-xs-12
          h1.m-n.font-thin.h3.text-black
            span
              i.icon-notebook
            | &nbsp;
            span translate="model.product.PAGE_TITLE"
          small.text-muted {
            translate="model.product.SUB_TITLE"
          }

        .col-sm-6.text-right.hidden-xs
          .inline.m-r.text-left
            h1.inline.m-r.text-right.font-thin.h3.margin-top-8
              a.btn.btn-sm.btn-primary.btn-addon {
                href="/companies/{{companyId}}/products/new"
                ng-if="company.id && user.can('create', 'Product', {company_id: company.id})"
              }
                i.fa.fa-plus.text
                span.text {
                  translate="model.product.CREATE_PRODUCT"
                }

    .wrapper-md
      div {
        ng-if="!user.can('read', 'Company', companyId)"
        ng-include="'assets/views/companies/_access_denied.html'"
      }
      .panel.panel-default
        .panel-body.b-b.b-light
          .row
            .col-xs-1
              h2.m-n.font-thin.h2.text-light
                .inline.pos-rlt.cur-p {
                  uib-tooltip="Фильтр товаров"
                  tooltip-placement="right"
                  uib-dropdown=""
                }
                  i.fa.fa-filter {
                    uib-dropdown-toggle=""
                  }
                  ul.filter-dropdown-menu.dropdown-menu {
                    role="menu"
                  }
                    li
                      a href="#"
                        | Название/индекс товара
                    li
                      a href="#"
                        | Статус: В наличии/Под заказ/Не активен
                    li
                      a href="#"
                        | Статус популярности
                    li
                      a href="#"
                        | Популярность
                    li
                      a href="#"
                        | Наличие фото
                    li
                      a href="#"
                        | Страна, Город клиенты
                    li
                      a href="#"
                        | Сумма сделки - рейн
                    li
                      a href="#"
                        | Менеджер
                    li
                      a href="#"
                        | ABC/XYZ анализ - надо визуализацию переделать

            .col-xs-11.text-right
              .btn-group
                a.btn.btn-default.nowrap.l-h-18 {
                  ng-repeat="productCategory in productCategories"
                  uib-tooltip="{{::productCategory.name}}"
                  type="button"
                  ng-click="toggleCategory(productCategory.id)"
                  ng-class="{ active: filter.categories.indexOf(productCategory.id) > -1}"
                } 
                  i.inline.v-middle.fa.fa-circle.text-primary.m-r-xs {
                    style="color: {{'#' + productCategory.color}}"
                  }
                  span.inline.v-middle
                    | {{ productCategory.name }}

                  b.inline.v-middle.badge.m-l-xs
                    | {{ productCategory.products_count }}

                  i.inline.v-middle.fa.fa-pencil.m-l-xs {
                    ng-click="editCategory(productCategory.id); $event.stopPropagation();"
                    ng-if="company.id && user.can('update', 'ProductCategory', {company_id: company.id})"
                  }

                button.btn.btn-default.nowrap {
                  uib-tooltip="{{ ::company.labels.add_category }}"
                  tooltip-placement="top"
                  tooltip-class="nowrap"
                  type="button"
                  ng-click="createCategory()"
                  ng-if="company.id && user.can('create', 'ProductCategory', {company_id: company.id})"
                } 
                  i.fa.fa-plus

      .row
        .col-md-12
          .list-group.list-group-lg.list-group-sp
            .list-group-item.clearfix {
              ng-repeat="product in products"
              id="product-with-id-{{product.id}}"
            }
              .xedit-form {
                ng-include="'assets/views/companies/products/xedit.html'"
                ng-controller="CompaniesProductsXEditCtrl"
              }

          pagination {
            current="page"
            total="total_count"
            per="per"
          }

div ng-include="" src="'assets/views/layout/blocks/footer.html'"
