.app-content
  .app-content-body
    .bg-light.lter.b-b.wrapper-md
      .row
        .col-sm-12.col-xs-12
          h1.m-n.font-thin.h3.text-black
            span
              i.icon-notebook
            | &nbsp;
            span translate="form.product.NEW_PRODUCT_PAGE_TITLE"
          small.text-muted translate="form.product.NEW_PRODUCT_SUB_TITLE"
    .wrapper-md
      .panel.panel-default
        .panel-heading.font-bold translate="form.product.WARNING"
        .panel-body ng-include="" src="'assets/views/companies/products/_form.html'"


div ng-include="" src="'assets/views/layout/blocks/footer.html'"
