.clear ng-init="product = $ctrl.entity"
  .col-md-4.col-sm-12.col-xs-12
    span.pull-left.thumb-sm.m-r.avatar-40.r-2x  {
      ng-if="!product.new_images || product.new_images.length == 0"
      style="background-image: url({{product.images[product.preview_index].url}})"
    }

    span.clear
      span.text-ellipsis {
        uib-tooltip="{{ product.name }}"
        tooltip-class="tooltip-overlay"
      }
        i.fa.fa-circle {
          style="color: {{'#'+product.category.color}}; margin-right: 2px;"
          uib-tooltip="Категория '{{product.category.name}}'"
        }
        | &nbsp; {{product.name}}
      span.label {
        ng-class="{
          'bg-light': product.activity == 'no' || product.activity == 'archive',
          'bg-success': product.activity == 'yes',
          'bg-warning': product.activity == 'to_order'
        }"
      }
        | {{product | productActivity:$ctrl.references.product_activities}}

    .p-bottom-15.visible-xs.visible-sm
      br

  .col-md-4.col-sm-6.col-xs-12
    .inline.v-top.text-left
      span {
        uib-tooltip="Стоимость"
      }
        | {{ product.price | formatMoney: company.currency }}
      small.text-muted.clear.text-ellipsis {
        uib-tooltip="Артикул"
      }
        | {{ product.vendor_code }}

    div.p-bottom-15.visible-xs

  .col-md-4.col-sm-6.col-xs-12
    .inline.v-top.m-r
      button.btn.btn-success.btn-lg {
        uib-tooltip="ABC-анализ: Вырос"
      }
        | AB

    .inline.v-top.text-left
      .m-b-xs
        | {{30000 | formatMoney}}&nbsp;
        span.text-muted
          | доход
      .sparkline.inline {
        ui-jq="sparkline"
        ui-options="[105,102,106,107,105,104,101,99,98,109,105,100,108,110,105,110,109], {type:'bar', height:20, barWidth:5, barSpacing:1, barColor:'#dce5ec'}"
      }
