.app-content
  .app-content-body
    .bg-light.lter.b-b.wrapper-md.ng-scope
      .row
        .col-sm-6.col-xs-12
          h1.m-n.font-thin.h3.text-black
            span
              i.icon-notebook
            | &nbsp;
            span translate="model.product.PAGE_TITLE"
          small.text-muted {
            translate="model.product.SUB_TITLE"
          }

        .col-sm-6.text-right.hidden-xs
          .inline.m-r.text-left
            h1.inline.m-r.text-right.font-thin.h3.margin-top-8
              a.btn.btn-sm.btn-primary.btn-addon {
                href="/companies/{{companyId}}/products/new"
                ng-if="company.id && user.can('create', 'Product', {company_id: company.id})"
              }
                i.fa.fa-plus.text
                span.text {
                  translate="model.product.CREATE_PRODUCT"
                }

    .wrapper-md
      .row.list-group-item
        .col-md-12
          .xedit-form {
            ng-include="'assets/views/companies/products/xedit.html'"
            ng-controller="CompaniesProductsXEditCtrl"
          }