form {
  editable-form
  onbeforesave="submit($data)"
  name="$parent.ProductForm"
  }

    .clear {
      ng-attr-role="{{product.canBeExpanded ? 'button' : ''}}"
      ng-click="product.canBeExpanded && (product.expanded = !product.expanded)"
    }
      .col-xs-4
        span.pull-left.thumb-sm.m-r.avatar-40.r-2x.hidden-xs  {
          ng-if="!product.new_images || product.new_images.length == 0"
          style="background-image: url({{product.images[product.preview_index].url}})"
        }

        span.clear
          span.text-ellipsis {
            uib-tooltip="{{ product.name }}"
            tooltip-class="tooltip-overlay"
            tooltip-append-to-body="true"
          }
            i.fa.fa-circle {
              style="color: {{'#'+product.category.color}}; margin-right: 2px;"
              uib-tooltip="Категория '{{product.category.name}}'"
            }
            | &nbsp; {{product.name}}
          span.label {
            ng-class="{
              'bg-light': product.activity == 'no' || product.activity == 'archive',
              'bg-success': product.activity == 'yes',
              'bg-warning': product.activity == 'to_order'
            }"
          }
            | {{product | productActivity:productStatic.references.activities}}

        .p-bottom-15.visible-xs.visible-sm
          br

      .col-xs-4
        .inline.v-top.m-r
          button.btn.btn-info.btn-lg {
            type="button"
            uib-tooltip="Добавить в счет"
            tooltip-append-to-body="true"
            ng-if="user.can('create', 'Deal', {company_id: company.id})"
            ng-style="{visibility: canBeAddedToDeal(product) ? 'visible' : 'hidden'}"
            ng-click="addProductToDeal(product); $event.stopPropagation();"
          }
            i.icon-basket-loaded

        .inline.v-top.text-left
          span {
            uib-tooltip="Стоимость"
            tooltip-append-to-body="true"
          }
            | {{ product.price | formatMoney: company.currency }}
          small.text-muted.clear.text-ellipsis {
            uib-tooltip="Артикул"
            tooltip-append-to-body="true"
          }
            | {{ product.vendor_code }}

        div.p-bottom-15.visible-xs

      .col-xs-4
        .inline.v-top.m-r
          button.btn.btn-success.btn-lg {
            uib-tooltip="ABC-анализ: Вырос"
            tooltip-append-to-body="true"
          }
            | AB

        .inline-block.v-top.text-left.hidden-xs
          .m-b-xs
            | {{product.current_month_income | formatMoney:company.currency}}&nbsp;
            span.text-muted
              | доход
          .sparkline.inline {
            ui-jq="sparkline"
            ui-refresh="product.current_month_income_by_days"
            ui-options="{{product.current_month_income_by_days || []}}, {type:'bar', height:20, barWidth:5, barSpacing:1, barColor:'#dce5ec'}"
          }

    div uib-collapse="!product.expanded"

      .line.line-dashed.b-b.line-lg.pull-in

      .col-md-12 {
        ng-if="user.synced && isEditable()"
      }
        .pull-right uib-tooltip="{{ ::productStatic.labels.xedit_title }}"
          switcher {
            confirm-exit="true"
            checked="true"
            xeditable="ProductForm"
          }

      .col-md-12.text-center
        .pull-center.thumb-lg.b-3x.m-r.avatar-96.m-b-sm {
          ng-repeat="image in product.images"
        }
          img.r.r-2x ng-src="{{image.url}}"
          input {
            type="radio"
            name="preview"
            ng-if="ProductForm.$visible && product.images.length > 1"
            ng-checked="$index == product.preview_index"
            uib-tooltip="Выбрать в качестве превью"
            ng-click="togglePreview($index)"
          }
          button.btn.btn-xs.btn-danger {
            ng-if="ProductForm.$visible && product.images.length > 1"
            type="button"
            ng-click="removeImage($index)"
            uib-tooltip="Удалить изображение"
          }
            | &times;

        a.pull-center.thumb-sm.b-3x.m-r.m-b-sm {
          ng-if="product.new_images.length > 0"
          ng-repeat="image in product.new_images"
        }
          img.r.r-2x ng-src="assets/img/preloader.gif"

        .row
          .col-sm-6.col-md-offset-3
            br
            .form-group ng-if="ProductForm.$visible"
              .col-sm-10
                field {
                  type="'file'"
                  field="'new_images'"
                  model="product"
                  template="'input,error'"
                  attr-class="'m-n'"
                  multiple="true"
                }

      br.hidden-xs.hidden-sm
      br.hidden-xs.hidden-sm
      br.hidden-xs.hidden-sm
      br.hidden-xs.hidden-sm
      br.hidden-xs.hidden-sm
      br.hidden-xs.hidden-sm
      br.hidden-xs.hidden-sm

      .line.line-dashed.b-b.line-lg.pull-in

      .col-md-6
        .row
          .col-xs-12
            h4 translate="form.product.PRODUCT_CARD_TITLE"
            .line.line-dashed.b-b.line-lg
        .row
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': ProductForm.$visible}"
              }
                | {{ productStatic.labels.activity}}
                span ng-if="ProductForm.$visible" *
                | :
          .col-xs-6
            p.clear.text-ellipsis
              span.text {
                editable-select="product.activity"
                e-ng-options="activity.id as activity.name for activity in productStatic.references.activities"
                e-name="activity"
                e-form="ProductForm"
                e-ng-change="validate('activity', $data)"
              }
                | {{ product.activity | ref:productStatic.references.activities }}
        .row
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': ProductForm.$visible}"
              }
                | {{ productStatic.labels.name}}
                span ng-if="ProductForm.$visible" *
                | :
          .col-xs-6
            p.clear.text-ellipsis
              span.text {
                buttons="no"
                editable-text="product.name"
                e-name="name"
                e-form="ProductForm"
                e-ng-change="validate('name', $data)"
              }
                | {{ product.name || '' }}

        .row ng-if="!product.vendor_code && ProductForm.$visible"
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': ProductForm.$visible}"
              }
                | {{ productStatic.labels.vendor_code}}:
          .col-xs-6
            p.clear.text-ellipsis
              span.text {
                buttons="no"
                editable-text="product.vendor_code"
                e-name="vendor_code"
                e-form="ProductForm"
                e-ng-change="validate('vendor_code', $data)"
              }
                | {{ product.vendor_code || '' }}

        .row ng-if="ProductForm.$visible"
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': ProductForm.$visible}"
              }
                | {{ productStatic.labels.price}}, {{::company.currency}}:
          .col-xs-6
            p.clear.text-ellipsis
              span.text {
                buttons="no"
                editable-text="product.price"
                e-name="price"
                e-form="ProductForm"
                e-ng-change="validate('price', $data)"
              }
                | {{ product.price || '' }}

        .row ng-if="ProductForm.$visible"
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': ProductForm.$visible}"
              }
                | {{ productStatic.labels.first_cost}}, {{::company.currency}}:
          .col-xs-6
            p.clear.text-ellipsis
              span.text {
                buttons="no"
                editable-text="product.first_cost"
                e-name="first_cost"
                e-form="ProductForm"
                e-ng-change="validate('first_cost', $data)"
              }
                | {{ product.first_cost || '' }}

        .row
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': ProductForm.$visible}"
              }
                | {{ productStatic.labels.quantity}}:
          .col-xs-6
            p.clear.text-ellipsis
              span.text {
                buttons="no"
                editable-number="product.quantity"
                e-name="quantity"
                e-form="ProductForm"
                e-ng-change="validate('quantity', $data)"
              }
                | {{ product.quantity }}

        .row ng-if="product.barcode || ProductForm.$visible"
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': ProductForm.$visible}"
              }
                | {{ productStatic.labels.barcode}}:
          .col-xs-6
            p.clear.text-ellipsis
              span.text {
                buttons="no"
                editable-text="product.barcode"
                e-name="barcode"
                edit-disabled="product.barcode"
                e-form="ProductForm"
                e-ng-change="validate('barcode', $data)"
              }
                | {{ product.barcode || '' }}

        .row ng-if="product.delivery_time || ProductForm.$visible"
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': ProductForm.$visible}"
              }
                | {{ productStatic.labels.delivery_time}}:
          .col-xs-6
            p.clear.text-ellipsis
              span.text {
                buttons="no"
                editable-text="product.delivery_time"
                e-name="delivery_time"
                e-form="ProductForm"
                e-ng-change="validate('delivery_time', $data)"
              }
                | {{ product.delivery_time || '' }}

        .line.line-dashed.b-b.line-lg

        .row ng-if="ProductForm.$visible"
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis
                | {{ productStatic.labels.category_id}}
                span ng-if="ProductForm.$visible" *
                | :
            button.btn.btn-default type="button" ng-click="createCategory()" translate="common.CREATE"
          .col-xs-6
            .select {
              e-style="width: 100%"
              editable-select="product.category_id"
              e-ng-options="category.id as category.name for category in productCategories"
              e-name="category_id"
              e-form="ProductForm"
              e-ng-change="validate('category_id', $data)"
            }

        .line.line-dashed.b-b.line-lg ng-if="ProductForm.$visible"
        .row ng-if="product.current_month_plan"
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis
                | План сумма:
          .col-xs-6
            p.clear.text-ellipsis
              | {{ product.current_month_plan.sum | formatMoney:company.currency}}
        .row ng-if="product.current_month_plan"
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis
                | План обьем:
          .col-xs-6
            p.clear.text-ellipsis
              | {{ product.current_month_plan.quantity | suffix: 'шт.'}}
        .row ng-if="product.current_month_plan"
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis
                | Выполнение:
          .col-xs-6
            p.clear.text-ellipsis {
              ng-class="{
                'text-danger': product.current_month_plan.implementation < 100,
                'text-success': product.current_month_plan.implementation >= 100,
              }"
            }
              | {{ product.current_month_plan.implementation | roundedNumber }}%
        .row ng-if="product.popularity"
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis
                | Популярность:
          .col-xs-6
            p.clear.text-ellipsis.text-success
              | {{ product.popularity | roundedNumber }}%
      .col-md-6
        .row
          .col-xs-12
            h4
              | {{ productStatic.labels.description}}:
            .line.line-dashed.b-b.line-lg
        .row
          .col-xs-12
            .form-group
              span.text.pre-wrap {
                buttons="no"
                editable-textarea="product.description"
                e-name="description"
                e-form="ProductForm"
                e-ng-change="validate('description', $data)"
                e-rows="8"
                e-cols="80"
              }
                | {{ product.description || '' }}

      .col-md-12 {
        ng-if="user.synced && isEditable()"
      }
        .pull-right.clear-both.m-b uib-tooltip="Редактирование"
          switcher {
            checked="true"
            xeditable="ProductForm"
          }
      br
      br

      .line.line-dashed.b-b.line-lg.pull-in
      .col-lg-12.text-center
        .btn-group.btn-group-mobile

          button.btn.btn-default.nowrap {
            type="button"
            ng-click="section.active == 'history' ? section.active = null : section.active = 'history'"
            ng-class="{active: section.active == 'history'}"
          }
            i.icon-puzzle.text-light.lter.m-r-xs
            | История &nbsp;
            b.badge.bg-success.inline
              | {{ product.history_length || 0 }}

        .m-bottom-15.visible-xs.visible-sm

        .btn-group
          button.btn.btn-danger {
            type="button"
            ng-click="delete()"
            ng-if="user.can('destroy', 'Product', {company_id: company.id}) && product.deals_count == 0"
          }
            i.icon-trash.text-light.lter.m-r-xs
            | Удалить
      br
      br

      .additional-sections.m-b-sm ng-show="section.active"
        .line.line-dashed.b-b.line-lg.pull-in
        / История
        div ng-if="section.active == 'history'"
          stream {
            company-id="product.company_id"
            subject-type="Product"
            subject-id="product.id"
            level="local"
          }

      .line.line-dashed.b-b.line-lg.pull-in
      .col-md-6
        .row
          .col-xs-12
            h4
              | Продажи
            .line.line-dashed.b-b.line-lg
        .row
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis
                | Выручка от продаж:
          .col-xs-6
            p
              | {{ product.deal_statistics.revenue_from_sales | formatMoney:company.currency }}
        .row
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis
                | Всего продано:
          .col-xs-6
            p
              | {{ product.deal_statistics.total_sold }}
        .row
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis
                | Среднее количество в счете:
          .col-xs-6
            p
              | {{ product.deal_statistics.average_count_per_invoice }}
        .row
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis
                | Всего счетов:
          .col-xs-6
            p
              | {{ product.deal_statistics.total_invoices }}
        .row
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis
                | Количество возвратов:
          .col-xs-6
            p.text-danger
              | {{ product.deal_statistics.returns_count }}
        .row
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis
                | Общая сумма возвратов:
          .col-xs-6
            p
              | {{ product.deal_statistics.returns_sum | formatMoney:company.currency }}
        .row
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis
                | Дата последней продажи:
          .col-xs-6
            p
              | {{ product.deal_statistics.last_sale_date || '' | date: "dd.MM.yyyy" }}
        .row
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis
                | Товар добавлен:
          .col-xs-6 ng-if="product.deal_statistics.created_at"
            p
              | {{ product.deal_statistics.created_at || '' | date: "dd.MM.yyyy" }}
      .col-md-6
        .row
          .col-xs-12
            h4
              | Ценность
            .line.line-dashed.b-b.line-lg
        .row ng-if="product.first_cost"
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis
                | Закупочная цена:
          .col-xs-6
            p
              | {{product.first_cost | formatMoney:company.currency}}
        .row ng-if="product.first_cost && !user.hasRole('employee_manager_of_sales_department', companyId)"
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis
                | Торговая наценка:
          .col-xs-6
            p
              | {{tradeMargin() | roundedNumber | suffix: '%'}}
        .row ng-if="product.first_cost"
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis
                | Маржинальность:
          .col-xs-6
            p
              | {{margin() | roundedNumber | suffix: '%'}}
        .row
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis
                | Доход с продаж:
          .col-xs-6
            p
              | {{product.current_month_income | formatMoney:company.currency}}

        .row ng-if="product.clients_purchased_percent"
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis
                | Клиентов купило:
          .col-xs-6
            p
              | {{product.clients_purchased_percent | roundedNumber}}%
        .row ng-if="product.first_cost"
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis
                | Процент от прибыли:
          .col-xs-6
            p
              | {{product.income_percent | roundedNumber}}%
        .row
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis
                | Процент от продаж:
          .col-xs-6
            p
              | {{product.sales_percent | roundedNumber}}%
        .row
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis
                | ABC-анализ:
          .col-xs-6
            p
              span.label.bg-warning title="Active"
                | BB
              | &nbsp;Без изменений
      br
