.modal role="dialog" tabindex="-1"
  .modal-dialog
    .modal-content
      .modal-header
        button.close {
          aria-label="Close"
            data-dismiss="modal"
            type="button"
          }
            span aria-hidden="true"  &times;
        h4.modal-title
          | Распределение плана
      .modal-body
        .row
          .col-md-5
            .panel.no-border
              table.table.table-striped.m-b-none
                thead
                  tr.wrapper
                    th.text-center Сотрудники
                tbody
                  tr ng-repeat="salesman in salesmen"
                    th
                      | {{ salesman.full_name }}
          .col-md-7
            .panel.no-border

              table.table.table-striped.m-b-none
                thead
                  tr.wrapper
                    th.text-center ng-repeat="salesPlan in salesPlans"
                      month-name month="salesPlan.month" year="salesPlan.year"
                tbody
                  tr ng-repeat="salesman in salesmen"
                    td.text-center ng-repeat="salesPlan in salesPlans"
                      span {
                        buttons="no"
                        editable-text="salesPlan.employeesHash[salesman.id][category].part"
                        e-style="width: 50px"
                        edit-disabled="!salesPlan.id || !categoryIsAvailableToSalesman(salesman)"
                        onbeforesave="foo(salesPlan, salesman, $data)"
                        onaftersave="validate()"
                      }
                        | {{salesPlan.employeesHash[salesman.id][category].part | suffix: '%' | placeholder: '0'}}
                  tr ng-if="distributionIsInvalid()"
                    td ng-repeat="salesPlan in salesPlans"
                      span.text-danger ng-if="errors[salesPlan.id]"
                        | {{errors[salesPlan.id]}}

      .modal-footer
        button.btn.btn-primary ng-disabled="distributionIsInvalid()" ng-click="submit()" Сохранить
