h3.font-thin.m-t-none.m-b-none.text-primary-lt Прогноз продаж
span.m-b.block.text-sm.text-muted
  | График формируется исходя из статистики продаж,
  | плановых платежей клиентов и кредиторской задолженности.
.row
  .col-xs-4
    span.h4
      | {{$ctrl.data.income | formatMoney: $ctrl.currency}}
    small.text-muted.block
      | Прогноз прибыли
  .col-xs-4
    span.h4
      | {{$ctrl.data.average_receipt | formatMoney: $ctrl.currency}}
    small.text-muted.block
      | Прогноз среднего чека
  .col-xs-4
    span.h4
      | {{$ctrl.data.deals_count}}
    small.text-muted.block
      | Прогноз количества сделок
.text-center.m-b-n.m-t-sm
  .flot-wide {
    ui-jq="plot"
    ui-refresh="$ctrl.data"
    ui-options="[
      {data: {{$ctrl.data.forecast || []}},
      lines: {
        show: true,
        lineWidth: 1,
        fill:true,
        fillColor: {
          colors: [
            {opacity: 0.2},
            {opacity: 0.8}]
          }
        }
      }],
      {
        colors: ['#e8eff0'],
        series: { shadowSize: 3 },
        xaxis:{ show:false },
        yaxis:{ font: { color: '#a1a7ac' } },
        grid: {
          hoverable: true,
          clickable: true,
          borderWidth: 0,
          color: '#dce5ec'
        },
        tooltip: true,
        tooltipOpts: {
          content: '%s of %x.1 is %y.4',
          defaultTheme: true,
          shifts: { x: 10, y: -25 } },
      }"

  }
  br
