.row
  .col-xs-6
    h3.font-thin.m-t-none.m-b-md.text-muted
      | Воронка продаж
  .col-xs-6.text-right.form-inline
    .form-group
      input.form-control{
        ui-jq="daterangepicker"
        ng-model="foo"
        ui-options="{startDate: $ctrl.startDate, endDate: $ctrl.endDate}, $ctrl.foo"
      }
    .btn-group
      button.btn.btn-default {
        uib-tooltip="Активные сделки"
        tooltip-placement="top-right"
        type="button"
        ng-class="{active: $ctrl.dealsScopeIsSet('not_closed_between')}"
        ng-click="$ctrl.toggleDealsScope('not_closed_between')"
      }
        | Активные сделки
      button.btn.btn-default {
        uib-tooltip="Закрытые сделки"
        tooltip-placement="top-right"
        type="button"
        ng-class="{active: $ctrl.dealsScopeIsSet('by_closed_at')}"
        ng-click="$ctrl.toggleDealsScope('by_closed_at')"
      }
        | Закрытые сделки
.row.row-sm.text-center
  .col-xs-4.m-b-md
    .r.bg-light.lt.item.hbox.no-border
      .col.w-xs.v-middle.hidden-md ng-if="$ctrl.indicators.percentage_of_the_plan"
        .sparkline.inline {
          ui-jq="sparkline"
          ui-options="[$ctrl.indicators.percentage_of_the_plan, 100 - $ctrl.indicators.percentage_of_the_plan], {type:'pie', height:40, sliceColors:['#fad733','#fff']}"
          ui-refresh="$ctrl.indicators.percentage_of_the_plan"
        }
      .col.lter.padder-v.r-r
        .text-primary-dk.font-thin.h1.text-ellipsis uib-tooltip="{{$ctrl.indicators.deals_sum | formatMoney:$ctrl.currency}}"
          span
            | {{$ctrl.indicators.deals_sum | formatMoney:$ctrl.currency}}
        span.text-muted.text-xs
          | Выручка, {{$ctrl.indicators.percentage_of_the_plan | roundedNumber}}% от плана
  .col-xs-4.m-b-md
    .r.bg-light.lt.item.hbox.no-border
      .col.lter.padder-v.r-r
        .text-primary-dk.font-thin.h1.text-ellipsis uib-tooltip="{{$ctrl.indicators.average_deals_sum | formatMoney:$ctrl.currency}}"
          span
            | {{$ctrl.indicators.average_deals_sum | formatMoney:$ctrl.currency}}
        span.text-muted.text-xs
          | Средний чек
  .col-xs-4.m-b-md
    .r.bg-light.lt.item.hbox.no-border
      .col.lter.padder-v.r-r
        .text-primary-dk.font-thin.h1
          span
            | {{$ctrl.indicators.deals_count}}
        span.text-muted.text-xs
          | Сделок
.row
  .col-xs-3
    p
      span.text-muted.clear.text-ellipsis
        | Статус:
  .col-xs-8
    span.text-muted.clear.inline.text-ellipsis.margin-right-3
      i.fa.fa-circle.text-success.margin-right-3
      | Со статуса в оплату
    span.text-muted.clear.inline.text-ellipsis.margin-right-3
      i.fa.fa-circle.text-info.margin-right-3
      | Сделок в статусе
    span.text-muted.clear.inline.text-ellipsis.margin-right-3
      i.fa.fa-circle.text-danger.margin-right-3
      | Со статуса в отказ
  .col-xs-1
    p
      span.text-muted.clear.text-ellipsis
        | Время:
.row
  .col-xs-3
    p
      span.clear.text-ellipsis
        i.fa.fa-circle.text-primary.margin-right-3 {
          uib-tooltip="В работе"
          tooltip-placement="top-left"
        }
        | В работе:
  .col-xs-8
    .progress style=("width: 100%")
      .progress-bar.progress-bar-striped style="width: {{$ctrl.offsetBefore('in_progress', 'to_payment')}}%"
      .progress-bar.progress-bar-success {
        style="width: {{$ctrl.barWidthInPercents($ctrl.funnel.in_progress.to_payment)}}%"
        uib-tooltip="{{$ctrl.funnel.in_progress.to_payment}} ({{$ctrl.barWidthInPercents($ctrl.funnel.in_progress.to_payment) | roundedNumber}}%)"
      }
        span ng-if="$ctrl.funnel.in_progress.to_payment"
          | {{$ctrl.funnel.in_progress.to_payment}} ({{$ctrl.barWidthInPercents($ctrl.funnel.in_progress.to_payment) | roundedNumber}}%)
      .progress-bar style="width: {{$ctrl.offsetAfter('in_progress', 'to_payment')}}%"
      .progress-bar.progress-bar-striped style="width: {{$ctrl.offsetBefore('in_progress', 'in_status')}}%"
      .progress-bar.progress-bar-info {
        style="width: {{$ctrl.barWidthInPercents($ctrl.funnel.in_progress.in_status)}}%"
        uib-tooltip="{{$ctrl.funnel.in_progress.in_status}} ({{$ctrl.barWidthInPercents($ctrl.funnel.in_progress.in_status) | roundedNumber}}%)"
      }
        span ng-if="$ctrl.funnel.in_progress.in_status"
          | {{$ctrl.funnel.in_progress.in_status}} ({{$ctrl.barWidthInPercents($ctrl.funnel.in_progress.in_status) | roundedNumber}}%)
      .progress-bar style="width: {{$ctrl.offsetAfter('in_progress', 'in_status')}}%"
      .progress-bar.progress-bar-striped style="width: {{$ctrl.offsetBefore('in_progress', 'to_refusal')}}%"
      .progress-bar.progress-bar-danger {
        style="width: {{$ctrl.barWidthInPercents($ctrl.funnel.in_progress.to_refusal)}}%"
        uib-tooltip="{{$ctrl.funnel.in_progress.to_refusal}} ({{$ctrl.barWidthInPercents($ctrl.funnel.in_progress.to_refusal) | roundedNumber}}%)"
      }
        span ng-if="$ctrl.funnel.in_progress.to_refusal"
          | {{$ctrl.funnel.in_progress.to_refusal}} ({{$ctrl.barWidthInPercents($ctrl.funnel.in_progress.to_refusal) | roundedNumber}}%)
  .col-xs-1
    p
      span.text-muted.clear.text-ellipsis -
.row
  .col-xs-3
    p
      span.clear.text-ellipsis
        i.fa.fa-circle.text-warning.margin-right-3 {
          uib-tooltip="Заключение контракта"
          tooltip-placement="top-left"
        }
        | Заключение контракта:
  .col-xs-8
    .progress style="width: 100%"
      .progress-bar.progress-bar-striped style="width: {{$ctrl.offsetBefore('contract_conclusion', 'to_payment')}}%"
      .progress-bar.progress-bar-success {
        style="width: {{$ctrl.barWidthInPercents($ctrl.funnel.contract_conclusion.to_payment)}}%"
        uib-tooltip="{{$ctrl.funnel.contract_conclusion.to_payment}} ({{$ctrl.barWidthInPercents($ctrl.funnel.contract_conclusion.to_payment) | roundedNumber}}%)"
      }
        span ng-if="$ctrl.funnel.contract_conclusion.to_payment"
          | {{$ctrl.funnel.contract_conclusion.to_payment}} ({{$ctrl.barWidthInPercents($ctrl.funnel.contract_conclusion.to_payment) | roundedNumber}}%)
      .progress-bar style="width: {{$ctrl.offsetAfter('contract_conclusion', 'to_payment')}}%"
      .progress-bar.progress-bar-striped style="width: {{$ctrl.offsetBefore('contract_conclusion', 'in_status')}}%"
      .progress-bar.progress-bar-info {
        style="width: {{$ctrl.barWidthInPercents($ctrl.funnel.contract_conclusion.in_status)}}%"
        uib-tooltip="{{$ctrl.funnel.contract_conclusion.in_status}} ({{$ctrl.barWidthInPercents($ctrl.funnel.contract_conclusion.in_status) | roundedNumber}}%)"
      }
        span ng-if="$ctrl.funnel.contract_conclusion.in_status"
          | {{$ctrl.funnel.contract_conclusion.in_status}} ({{$ctrl.barWidthInPercents($ctrl.funnel.contract_conclusion.in_status) | roundedNumber}}%)
      .progress-bar style="width: {{$ctrl.offsetAfter('contract_conclusion', 'in_status')}}%"
      .progress-bar.progress-bar-striped style="width: {{$ctrl.offsetBefore('contract_conclusion', 'to_refusal')}}%"
      .progress-bar.progress-bar-danger {
        style="width: {{$ctrl.barWidthInPercents($ctrl.funnel.contract_conclusion.to_refusal)}}%"
        uib-tooltip="{{$ctrl.funnel.contract_conclusion.to_refusal}} ({{$ctrl.barWidthInPercents($ctrl.funnel.contract_conclusion.to_refusal) | roundedNumber}}%)"
      }
        span ng-if="$ctrl.funnel.contract_conclusion.to_refusal"
          | {{$ctrl.funnel.contract_conclusion.to_refusal}} ({{$ctrl.barWidthInPercents($ctrl.funnel.contract_conclusion.to_refusal) | roundedNumber}}%)
  .col-xs-1
    p
      span.text-muted.clear.text-ellipsis
        | {{$ctrl.averageTimeUntilStatuses.contract_conclusion | hoursToDays}}
.row
  .col-xs-3
    p
      span.clear.text-ellipsis
        i.fa.fa-circle.text-info.margin-right-3 {
          uib-tooltip="Контракт заключен"
          tooltip-placement="top-left"
        }
        | Контракт заключен:
  .col-xs-8
    .progress style="width: 100%"
      .progress-bar.progress-bar-striped style="width: {{$ctrl.offsetBefore('contract_signed', 'to_payment')}}%"
      .progress-bar.progress-bar-success {
        style="width: {{$ctrl.barWidthInPercents($ctrl.funnel.contract_signed.to_payment)}}%"
        uib-tooltip="{{$ctrl.funnel.contract_signed.to_payment}} ({{$ctrl.barWidthInPercents($ctrl.funnel.contract_signed.to_payment) | roundedNumber}}%)"
      }
        span ng-if="$ctrl.funnel.contract_signed.to_payment"
          | {{$ctrl.funnel.contract_signed.to_payment}} ({{$ctrl.barWidthInPercents($ctrl.funnel.contract_signed.to_payment) | roundedNumber}}%)
      .progress-bar style="width: {{$ctrl.offsetAfter('contract_signed', 'to_payment')}}%"
      .progress-bar.progress-bar-striped style="width: {{$ctrl.offsetBefore('contract_signed', 'in_status')}}%"
      .progress-bar.progress-bar-info {
        style="width: {{$ctrl.barWidthInPercents($ctrl.funnel.contract_signed.in_status)}}%"
        uib-tooltip="{{$ctrl.funnel.contract_signed.in_status}} ({{$ctrl.barWidthInPercents($ctrl.funnel.contract_signed.in_status) | roundedNumber}}%)"
      }
        span ng-if="$ctrl.funnel.contract_signed.in_status"
          | {{$ctrl.funnel.contract_signed.in_status}} ({{$ctrl.barWidthInPercents($ctrl.funnel.contract_signed.in_status) | roundedNumber}}%)
      .progress-bar style="width: {{$ctrl.offsetAfter('contract_signed', 'in_status')}}%"
      .progress-bar.progress-bar-striped style="width: {{$ctrl.offsetBefore('contract_signed', 'to_refusal')}}%"
      .progress-bar.progress-bar-danger {
        style="width: {{$ctrl.barWidthInPercents($ctrl.funnel.contract_signed.to_refusal)}}%"
        uib-tooltip="{{$ctrl.funnel.contract_signed.to_refusal}} ({{$ctrl.barWidthInPercents($ctrl.funnel.contract_signed.to_refusal) | roundedNumber}}%)"
      }
        span ng-if="$ctrl.funnel.contract_signed.to_refusal"
          | {{$ctrl.funnel.contract_signed.to_refusal}} ({{$ctrl.barWidthInPercents($ctrl.funnel.contract_signed.to_refusal) | roundedNumber}}%)
  .col-xs-1
    p
      span.text-muted.clear.text-ellipsis
        | {{$ctrl.averageTimeUntilStatuses.contract_signed | hoursToDays}}
.row
  .col-xs-3
    p
      span.clear.text-ellipsis
        i.fa.fa-circle.text-success.margin-right-3 {
          uib-tooltip="Выигранные"
          tooltip-placement="top-left"
        }
        | Выигранные:
  .col-xs-8
    .progress style="width: 100%"
      .progress-bar.progress-bar-striped style="width: {{$ctrl.offsetBefore('won', 'to_payment')}}%"
      .progress-bar.progress-bar-success {
        style="width: {{$ctrl.barWidthInPercents($ctrl.funnel.won.to_payment)}}%"
        uib-tooltip="{{$ctrl.funnel.won.to_payment}} ({{$ctrl.barWidthInPercents($ctrl.funnel.won.to_payment) | roundedNumber}}%)"
      }
        span ng-if="$ctrl.funnel.won.to_payment"
          | {{$ctrl.funnel.won.to_payment}} ({{$ctrl.barWidthInPercents($ctrl.funnel.won.to_payment) | roundedNumber}}%)
      .progress-bar style="width: {{$ctrl.offsetAfter('won', 'to_payment')}}%"
      .progress-bar.progress-bar-striped style="width: {{$ctrl.offsetBefore('won', 'in_status')}}%"
      .progress-bar.progress-bar-info {
        style="width: {{$ctrl.barWidthInPercents($ctrl.funnel.won.in_status)}}%"
        uib-tooltip="{{$ctrl.funnel.won.in_status}} ({{$ctrl.barWidthInPercents($ctrl.funnel.won.in_status) | roundedNumber}}%)"
      }
        span ng-if="$ctrl.funnel.won.in_status"
          | {{$ctrl.funnel.won.in_status}} ({{$ctrl.barWidthInPercents($ctrl.funnel.won.in_status) | roundedNumber}}%)
      .progress-bar style="width: {{$ctrl.offsetAfter('won', 'in_status')}}%"
      .progress-bar.progress-bar-striped style="width: {{$ctrl.offsetBefore('won', 'to_refusal')}}%"
      .progress-bar.progress-bar-danger {
        style="width: {{$ctrl.barWidthInPercents($ctrl.funnel.won.to_refusal)}}%"
        uib-tooltip="{{$ctrl.funnel.won.to_refusal}} ({{$ctrl.barWidthInPercents($ctrl.funnel.won.to_refusal) | roundedNumber}}%)"
      }
        span ng-if="$ctrl.funnel.won.to_refusal"
          | {{$ctrl.funnel.won.to_refusal}} ({{$ctrl.barWidthInPercents($ctrl.funnel.won.to_refusal) | roundedNumber}}%)
  .col-xs-1
    p
      span.text-muted.clear.text-ellipsis
        | {{$ctrl.averageTimeUntilStatuses.won | hoursToDays}}
.row
  .col-xs-3
    p
      span.clear.text-ellipsis
        i.fa.fa-circle.text-success.margin-right-3 {
          uib-tooltip="Оплачено"
          tooltip-placement="top-left"
        }
        | Оплачено:
  .col-xs-8
    .progress style="margin-left: 0%; width: {{$ctrl.barWidthInPercents($ctrl.funnel.summary.paid)}}%"
      .progress-bar.progress-bar-success {
        style="width: 100%"
        uib-tooltip="{{$ctrl.funnel.summary.paid}} ({{$ctrl.barWidthInPercents($ctrl.funnel.summary.paid) | roundedNumber}}%)"
      }
        span
          | {{$ctrl.funnel.summary.paid}} ({{$ctrl.barWidthInPercents($ctrl.funnel.summary.paid) | roundedNumber}}%)
  .col-xs-1
    p
      span.text-muted.clear.text-ellipsis
        | {{$ctrl.averageTimeUntilStatuses.payed | hoursToDays}}
.row
  .col-xs-3
    p
      span.clear.text-ellipsis
        i.fa.fa-circle.text-light.margin-right-3 {
          uib-tooltip="Активных"
          tooltip-placement="top-left"
        }
        | Активных:
  .col-xs-8
    .progress style="margin-left: {{$ctrl.barWidthInPercents($ctrl.funnel.summary.paid)}}%; width: {{$ctrl.barWidthInPercents($ctrl.funnel.summary.active)}}%"
      .progress-bar.progress-bar-info {
        style="width: 100%"
        uib-tooltip="{{$ctrl.funnel.summary.active}} ({{$ctrl.barWidthInPercents($ctrl.funnel.summary.active) | roundedNumber}}%)"
      }
        span
          | {{$ctrl.funnel.summary.active}} ({{$ctrl.barWidthInPercents($ctrl.funnel.summary.active) | roundedNumber}}%)
.row
  .col-xs-3
    p
      span.clear.text-ellipsis
        i.fa.fa-circle.text-danger.margin-right-3 {
          uib-tooltip="Отказ"
          tooltip-placement="top-left"
        }
        | Отказ:
  .col-xs-8
    .progress style="margin-left: {{100 - $ctrl.barWidthInPercents($ctrl.funnel.summary.refused)}}%; width: {{$ctrl.barWidthInPercents($ctrl.funnel.summary.refused)}}%"
      .progress-bar.progress-bar-danger {
        style="width: 100%"
        uib-tooltip="{{$ctrl.funnel.summary.refused}} ({{$ctrl.barWidthInPercents($ctrl.funnel.summary.refused) | roundedNumber}}%)"
      }
        span
          | {{$ctrl.funnel.summary.refused}} ({{$ctrl.barWidthInPercents($ctrl.funnel.summary.refused) | roundedNumber}}%)
