.app-content
  .app-content-body.fade-in-up
    .hbox.hbox-auto-xs.hbox-auto-sm
      .col
        .bg-light.lter.b-b.wrapper-md
          .row
            .col-sm-6.col-xs-12
              .dropdown.open uib-dropdown=""
                h1.m-n.font-thin.h3.text-black
                  span
                    i.icon-bar-chart.margin-right-3
                  a.dropdown-toggle {
                    uib-dropdown-toggle

                  }
                    | Фактический бюджет
                    span.caret
                ul.dropdown-menu role="menu"
                  li
                    a href="/companies/{{companyId}}/sales-report" Отчет по продажам
                  li
                    a href="/companies/{{companyId}}/break-even-analysis" Анализ безубыточности
                  li
                    a href="/companies/{{companyId}}/budget" Фактический бюджет
                  li.divider
                  li
                    a href="#" Статистика клиентов
                  li.divider
                  li
                    a href="/companies/{{companyId}}/sales_plans" План продаж
                  li
                    a href="/companies/{{companyId}}/cash_book" Журнал кассовой книги

                small.text-muted
                  | Компания №1
            .col-sm-6.text-right.hidden-xs
              company-clients-and-income {
                ng-if="company"
                currency="company.currency"
                created-clients-count-by-days="company.created_clients_count_by_days"
                clients-count="company.clients_count"
                actual-income-by-days="company.actual_income_by_days"
                actual-income="company.actual_income"
              }

        actual-budget-widget company="company"

        .wrapper-md
          .row
            .col-md-12
              .panel.panel-default
                .panel-heading.font-bold Помесячный бюджет

                .panel-body style="overflow-x: scroll"
                  .form-group
                    .col-xs-12.col-md-5.m-b-sm
                      ul.nav.nav-pills.nav-xxs.nav-rounded
                        li {
                          ng-repeat="(key, value) in detalisationPeriod"
                          ng-class="{'active': value.id == selectedPeriod.id}"
                        }
                          a {
                            href=""
                            class="sales-plan__link"
                            ng-click = "changePeriod(value)"
                          }
                            | {{ value.name }}

                    .col-xs-12.col-md-3.pull-right style="z-index: 222;"
                      input.form-control{
                        id="budgetRangePicker"
                        ui-jq="daterangepicker"
                        ui-options="budgetChartRangeOptions, budgetChartCallBack"
                      }
                  monthly-budget-chart data="budgetChartData" axis="budgetChartAxis"

                .panel-body style="overflow-x: scroll"
                  table.table.m-b-none data-page-size="10"
                    thead
                      tr
                        th data-toggle="true"  Категория
                        th Январь
                        th Февраль
                        th Март
                        th Апрель
                        th Май
                        th Июнь
                        th Июль
                        th Август
                        th Сентябрь
                        th Октябрь
                        th Ноябрь
                        th Декабрь
                    tbody
                      tr ng-repeat="category in references.categories"
                        td
                          strong
                            | {{category.name}}:
                        td ng-repeat="monthNum in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]"
                          | {{ monthlyBudgetData[monthNum][category.id] | formatMoney:company.currency }}
                      tr
                        td
                          strong Итого:
                        td ng-repeat="monthNum in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]"
                          | {{ monthlyBudgetData[monthNum].total_income | formatMoney:company.currency }}
                      tr
                        td
                          strong Фактическая прибыль:
                        td ng-repeat="monthNum in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]"
                          | {{ monthlyBudgetData[monthNum].actual_income | formatMoney:company.currency }}
          .row
            .col-md-6
              .panel.panel-default
                .panel-heading.font-bold Приход/Расход
                .panel-body
                  .input-group.w-md
                    input.form-control {
                      alt-input-formats="['yyyy', 'yyyy.MM']"
                      uib-datepicker-popup="{{incomeAndOutcomeChartDateFormat}}"
                      type="text"
                      datepicker-options="incomeAndOutcomeChartDateOptions"
                      ng-model="incomeAndOutcomeChartDate"
                      ng-change="changeIncomeAndOutcomeChartDate()"
                      is-open="incomeAndOutcomeChartDateOptions.isOpen"
                      ng-click="incomeAndOutcomeChartDateOptions.isOpen = !incomeAndOutcomeChartDateOptions.isOpen"
                      ng-disabled="incomeAndOutcomeChartDateMode == 'all'"
                      placeholder="Выберите дату"
                    }
                    span.input-group-addon {
                      uib-tooltip="За весь период?"
                      }
                        input {
                          type="checkbox"
                          ng-model="incomeAndOutcomeChartDateMode"
                          ng-true-value="'all'"
                          ng-false-value="'year'"
                          ng-change="changeIncomeAndOutcomeChartDateMode()"
                        }
                    span.input-group-addon {
                      uib-tooltip="Выбирать месяца?"
                    }
                      input {
                        type="checkbox"
                        ng-model="incomeAndOutcomeChartDateMode"
                        ng-true-value="'month'"
                        ng-false-value="'year'"
                        ng-change="changeIncomeAndOutcomeChartDateMode()"
                        ng-disabled="incomeAndOutcomeChartDateMode == 'all'"
                      }
                    span.input-group-btn
                      button.btn.btn-default {
                        type="button"
                        ng-click="incomeAndOutcomeChartDateOptions.isOpen = !incomeAndOutcomeChartDateOptions.isOpen"
                        ng-disabled="incomeAndOutcomeChartDateMode == 'all'"
                      }
                        i.glyphicon.glyphicon-calendar
                  income_and_outcome_piechart {
                    data ="incomeAndOutcomeChartData"
                  }
            .col-md-6
              .panel.panel-default
                .panel-heading.font-bold Выполнение годового плана
                .panel-body

div ng-include="" src="'assets/views/layout/blocks/footer.html'"
