.modal role="dialog" tabindex="-1"
  .modal-dialog
    .modal-content
      .modal-header
        button.close {
          aria-label="Close"
            data-dismiss="modal"
            type="button"
          }
            span aria-hidden="true"  &times;
        h4.modal-title
          | {{'model.client.COMPANY_SEARCH_RESULTS' | translate: titleI18nParams}}

      .modal-body
        button.btn.btn-primary.m-b ng-click="createNewCompany()" translate="form.lead.NEW_LEAD_ACTION"

        div ng-include="'assets/views/companies/_company_search_results_list.html'"
