form.form-horizontal ng-submit="submit()"
  .line.line-dashed.b-b.line-lg.pull-in
  .row
    .col-md-6.col-xs-12
      .form-group
        label.col-md-5.col-sm-3.col-xs-12.control-label
          | {{dealStatic.labels.contract_number}}
        .col-md-7.col-sm-9.col-xs-12
          field {
            type="'text'"
            field="'contract_number'"
            model="deal"
            template="'input,error'"
          }
    .col-md-6.col-xs-12
      .form-group
        label.col-md-5.col-sm-3.col-xs-12.control-label
          | {{dealStatic.labels.client_id}}
        .col-md-7.col-sm-9.col-xs-12
          field {
            type="'select'"
            field="'client_id'"
            options="clients"
            model="deal"
            template="'input,error'"
          }
    .col-md-6.col-xs-12
      .form-group
        label.col-md-5.col-sm-3.col-xs-12.control-label
          | {{dealStatic.labels.started_at}}*
        .col-md-7.col-sm-9.col-xs-12
          field {
            type="'date'"
            field="'started_at'"
            model="deal"
            template="'input,error'"
            datepicker-options="{maxDate: startedAtMaxDate}"
          }
    .col-md-6.col-xs-12
      .form-group
        label.col-md-5.col-sm-3.col-xs-12.control-label
          | {{dealStatic.labels.company_id}}
        .col-md-7.col-sm-9.col-xs-12
          field {
            type="'text'"
            field="'company_name'"
            model="deal"
            template="'input,error'"
          }
    .col-md-6.col-xs-12
      .form-group
        label.col-md-5.col-sm-3.col-xs-12.control-label
          | {{dealStatic.labels.name}}
        .col-md-7.col-sm-9.col-xs-12
          field {
            type="'text'"
            field="'name'"
            model="deal"
            template="'input,error'"
          }

    .col-md-6.col-xs-12
      .form-group
        label.col-md-5.col-sm-3.col-xs-12.control-label
          | {{dealStatic.labels.cash_flow_budget_category}}
        .col-md-7.col-sm-9.col-xs-12
          choose-cash-flow-budget-category {
            model="deal.cash_flow_budget_category_id"
            cash-flow-budget-categories="cash_flow_budget_categories"
          }

  .line.line-dashed.b-b.line-lg.pull-in
  .row
    .col-md-6.col-xs-12
      .form-group
        label.col-md-5.col-sm-3.col-xs-12.control-label
          | {{dealStatic.labels.legal_form}}*
        .col-md-7.col-sm-9.col-xs-12
          field {
            type="'select'"
            field="'legal_form'"
            options="dealStatic.references.legal_forms"
            model="deal"
            template="'input,error'"
          }

    .col-md-6.col-xs-12
      .form-group
        label.col-md-5.col-sm-3.col-xs-12.control-label
          | {{dealStatic.labels.payment_period}}
        .col-md-7.col-sm-9.col-xs-12
          field {
            type="'select'"
            field="'payment_period'"
            model="deal"
            options="dealStatic.references.payment_periods"
            template="'input,error'"
          }
    .col-md-6.col-xs-12 ng-if="deal.payment_period == 'monthly'"
      .form-group
        label.col-md-5.col-sm-3.col-xs-12.control-label
          | {{dealStatic.labels.payment_method}}
        .col-md-7.col-sm-9.col-xs-12
          field {
            type="'select'"
            field="'payment_method'"
            model="deal"
            options="dealStatic.references.payment_methods"
            template="'input,error'"
          }
    .col-md-6.col-xs-12
      .form-group
        label.col-md-5.col-sm-3.col-xs-12.control-label
          | {{dealStatic.labels.discount}}
        .col-md-7.col-sm-9.col-xs-12
          field {
            type="'text'"
            field="'discount'"
            model="deal"
            template="'input,error'"
          }

  .line.line-dashed.b-b.line-lg.pull-in
  .row
    .col-md-6.col-xs-12
      .form-group
        label.col-md-5.col-sm-3.col-xs-12.control-label
          | {{dealStatic.labels.manager_id}}*
        .col-md-7.col-sm-9.col-xs-12
          field {
            type="'select'"
            field="'manager_id'"
            options="employees"
            model="deal"
            template="'input,error'"
          }

    .col-md-6.col-xs-12
      .form-group
        label.col-md-5.col-sm-3.col-xs-12.control-label
          nobr
            | {{dealStatic.labels.second_manager_id}}
        .col-md-7.col-sm-9.col-xs-12
          field {
            type="'select'"
            field="'second_manager_id'"
            model="deal"
            options="employeesForSecondManager"
            template="'input,error'"
          }
    .col-md-6.col-xs-12
      .form-group
        label.col-md-5.col-sm-3.col-xs-12.control-label
          | {{dealStatic.labels.visibility}}*
        .col-md-7.col-sm-9.col-xs-12
          field {
            type="'select'"
            field="'visibility'"
            model="deal"
            options="dealStatic.references.visibilities"
            template="'input,error'"
          }

  .line.line-dashed.b-b.line-lg.pull-in
  .row
    .col-md-6.col-xs-12
      .form-group
        label.col-md-5.col-sm-3.col-xs-12.control-label
          | {{dealStatic.labels.email}}
        .col-md-7.col-sm-9.col-xs-12
          field {
            type="'email'"
            field="'email'"
            model="deal"
            template="'input,error'"
          }

    .col-md-6.col-xs-12
      .form-group
        label.col-md-5.col-sm-3.col-xs-12.control-label
          | {{dealStatic.labels.phone}}
        .col-md-7.col-sm-9.col-xs-12
          .row
            .col-sm-4
              field {
                type="'select'"
                field="'phone_code_id'"
                model="deal"
                options="dealStatic.references.country_phone_codes"
                template="'input,error'"
              }
            .m-t.visible-xs
            .col-sm-8
              field {
                type="'phone'"
                field="'phone'"
                model="deal"
                template="'input,error'"
              }
    .col-md-6.col-xs-12
      .form-group ng-if="deal.payment_method == 'credit'"
        label.col-md-5.col-sm-3.col-xs-12.control-label
          | {{dealStatic.labels.interest_rate}}
        .col-md-7.col-sm-9.col-xs-12
          field {
            type="'text'"
            field="'interest_rate'"
            model="deal"
            template="'input,error'"
            uib-tooltip="В данном поле вы можете задать значение годовой кредитной ставки для конкретной сделки"
          }

  .line.line-dashed.b-b.line-lg.pull-in
  .row
    .col-xs-12
      .form-group.form-group-single
        label.col-sm-2.col-xs-12.control-label.form-group-single__label
          | {{dealStatic.labels.address}}
        .col-sm-10.col-xs-12.form-group-single__field
          field {
            type="'text'"
            field="'address'"
            model="deal"
            template="'input,error'"
          }

    .col-sm-2.visible-lg
    .col-lg-10.col-sm-12.m-t-md
      map.form-gmap-shift  {
        map="map"
        detect="true"
        address="deal.address"
        errors="deal.errors"
        on-change="updatePhoneCodeByCountry(countryCode)"
        latitude="deal.latitude"
        longitude="deal.longitude"
      }

  .line.line-dashed.b-b.line-lg.pull-in
  .row
    .col-xs-12.m-t-md
      new-deal-product {
        submit-func="addDealProduct(dealProduct)"
        company-id="company.id"
        company-currency="company.currency"
      }

  .line.line-dashed.b-b.line-lg.pull-in ng-if="deal.deal_products.length > 0"
  .row ng-if="deal.deal_products.length > 0"
    .col-sm-1
    .col-sm-11
      div translate="form.deal_product.TITLE"
      .row ng-repeat="deal_product in deal.deal_products"
        .col-sm-3
          | Название: {{ deal_product.product.name }}
        .col-sm-2
          | Стоимость: {{ deal_product.product.price | formatMoney: company.currency }}
        .col-sm-2
          | Количество: {{ deal_product.count }}
        .col-sm-3
          | Сумма: {{ (deal_product.product.price * deal_product.count)| formatMoney: company.currency }}
        .col-sm-2
          button.btn.btn-danger.btn-xs {
            type="button"
            ng-click="removeDealProduct(deal_product.temp_id)"
          }
            i.fa.fa-times

  .line.line-dashed.b-b.line-lg.pull-in
  .row
    .col-md-6.col-xs-12
      .form-group
        label.col-md-5.col-sm-3.col-xs-12.control-label
          | {{dealStatic.labels.total_sum}}
        .col-md-7.col-sm-9.col-xs-12
          field {
            type="'text'"
            field="'total_sum'"
            model="deal"
            template="'input,error'"
            readonly="true"
          }

    .col-md-6.col-xs-12
      .form-group
        label.col-md-5.col-sm-3.col-xs-12.control-label
          | {{dealStatic.labels.check_sum}}
        .col-md-7.col-sm-9.col-xs-12
          field {
            type="'text'"
            field="'check_sum'"
            model="deal"
            template="'input,error'"
            readonly="true"
          }

    .col-md-6.col-xs-12
      .form-group
        label.col-md-5.col-sm-3.col-xs-12.control-label
          | {{dealStatic.labels.discount_sum}}
        .col-md-7.col-sm-9.col-xs-12
          field {
            type="'text'"
            field="'discount_sum'"
            model="deal"
            template="'input,error'"
            readonly="true"
          }
    .col-md-6.col-xs-12
      .form-group
        label.col-md-5.col-sm-3.col-xs-12.control-label
          | {{dealStatic.labels.vat_sum}}
        .col-md-7.col-sm-9.col-xs-12
          field {
            type="'text'"
            field="'vat_sum'"
            model="deal"
            template="'input,error'"
            readonly="true"
          }

  .line.line-dashed.b-b.line-lg.pull-in
  .row
    .col-xs-12
      .form-group.form-group-single
        label.col-sm-2.col-xs-12.control-label.form-group-single__label
          | {{dealStatic.labels.notes}}
        .col-sm-10.col-xs-12.form-group-single__field
          field {
            type="'textarea'"
            field="'notes'"
            model="deal"
            template="'input,error'"
      }
  .line.line-dashed.b-b.line-lg.pull-in

  .form-group
    .col-xs-12.text-right
      a.inline.btn.btn-default.m-r-xs {
        type="button"
        translate="common.CANCEL"
        href="/companies/{{companyId}}/deals"
      }
      | &nbsp;
      button.inline.btn.btn-primary.m-r-xs {
        type="submit"
        translate="common.SAVE"
      }
