.app-content
  .app-content-body
    .bg-light.lter.b-b.wrapper-md
      .row
        .col-sm-6.col-xs-12
          div {
            uib-dropdown
            is-open="status.isopen"
          }  
            h1.m-n.font-thin.h3.text-black
              span
                i.icon-fire
              a.m-l-xs {
                aria-expanded="false"
                aria-haspopup="true"
                uib-dropdown-toggle
                ng-disabled="disabled"
                translate="model.deal.PAGE_TITLE"
              }
              span
                | &nbsp;
                span.caret
            ul.dropdown-menu role="menu"
              li
                a {
                  href="/companies/{{companyId}}/deals"
                }
                  i.icon-fire
                    | &nbsp;
                  span translate="model.deal.PAGE_TITLE"
              li
                a {
                  href="/companies/{{companyId}}/clients"
                }
                  i.icon-users
                    | &nbsp;
                  span translate="model.client.PAGE_TITLE"
              li
                a {
                  href="/companies/{{companyId}}/leads"
                }
                  i.icon-ghost
                    | &nbsp;
                  span translate="model.lead.PAGE_TITLE"

          small.text-muted translate="model.deal.SUB_TITLE"

        .col-sm-6.text-right.hidden-xs
          .inline.m-r.text-left
            h1.inline.m-r.text-right.font-thin.h3 {
              style="margin: 8px 0 0 0;"
            }
              a.btn.btn-sm.btn-primary.btn-addon {
                ng-if="company.id && user.can('create', 'Deal', {company_id: company.id})"
                href="/companies/{{companyId}}/deals/new"
              }
                i.fa.fa-plus.text
                span.text translate="model.deal.CREATE"

    .wrapper-md
      div {
        ng-if="!user.can('read', 'Company', companyId)"
        ng-include="'assets/views/companies/_access_denied.html'"
      }
      .panel.panel-default
        .panel-body.b-b.b-light
          .row
            .col-xs-1
              h2.m-n.font-thin.h2.text-light
                .inline.pos-rlt.cur-p {
                  uib-tooltip="{{ 'filter.deals.TOOLTIP' | translate }}"
                  tooltip-placement="right"
                  uib-dropdown=""
                }
                  i.fa.fa-filter {
                    uib-dropdown-toggle=""
                    ng-click="filter.rerenderSlider()"
                  }
                  ul.filter-dropdown-menu.dropdown-menu.wrapper  {
                    ng-click="$event.stopPropagation()"
                    style="min-width: 300px; z-index: 1500;"
                    role= "menu"
                  }
                    form
                      /! === client ===
                      li.form-group.m-r-xs
                        label translate="filter.deals.CLIENT"
                        button.btn.btn-link.btn-sm {
                          type="button"
                          uib-tooltip="{{ 'filter.CLEAR' | translate }}"
                          ng-click="filter.clearFilterField('client_name')"
                        }
                          i.fa.fa-remove
                        input.form-control.input-sm {
                          type="text"
                          ng-model="filter.search.client_name"
                          ng-model-options="{ debounce: 800 }"
                          ng-change="filterDeals()"
                        }
                      /! === conclusion range ===
                      li.form-group.m-r-xs
                        label translate="filter.deals.CONCLUSION_RANGE"
                        button.btn.btn-link.btn-sm {
                          type="button"
                          uib-tooltip="{{ 'filter.CLEAR' | translate }}"
                          ng-click="filter.clearFilterField('conclusionRange')"
                        }
                          i.fa.fa-remove
                        .row
                          .col-xs-6
                            .input-group
                              input.form-control {
                                type="text"
                                ng-model="filter.conclusionRange.min"
                                uib-datepicker-popup="dd.MM.yyyy"
                                is-open="openConclusionRangeFrom"
                                ng-click="filter.toggleDatepickers('openConclusionRangeFrom')"
                                ng-change="filterDeals()"
                              }
                              span.input-group-btn
                                button.btn.btn-default {
                                  type="button"
                                  ng-click="filter.toggleDatepickers('openConclusionRangeFrom')"
                                }
                                  i.glyphicon.glyphicon-calendar
                          .dash-separator.pull-left
                          .col-xs-6
                            .input-group
                              input.form-control.col-xs-6 {
                                type="text"
                                ng-model="filter.conclusionRange.max"
                                uib-datepicker-popup="dd.MM.yyyy"
                                is-open="openConclusionRangeTo"
                                ng-click="filter.toggleDatepickers('openConclusionRangeTo')"
                                ng-change="filterDeals()"
                              }
                              span.input-group-btn
                                button.btn.btn-default {
                                  type="button"
                                  ng-click="filter.toggleDatepickers('openConclusionRangeTo')"
                                }
                                  i.glyphicon.glyphicon-calendar
                      /! === start range ===
                      li.form-group.m-r-xs
                        label translate="filter.deals.START_RANGE"
                        button.btn.btn-link.btn-sm {
                          type="button"
                          uib-tooltip="{{ 'filter.CLEAR' | translate }}"
                          ng-click="filter.clearFilterField('startRange')"
                        }
                          i.fa.fa-remove
                        .row
                          .col-xs-6
                            .input-group
                              input.form-control {
                                type="text"
                                ng-model="filter.startRange.min"
                                uib-datepicker-popup="dd.MM.yyyy"
                                is-open="openStartRangeFrom"
                                ng-click="filter.toggleDatepickers('openStartRangeFrom')"
                                ng-change="filterDeals()"
                              }
                              span.input-group-btn
                                button.btn.btn-default {
                                  type="button"
                                  ng-click="filter.toggleDatepickers('openStartRangeFrom')"
                                }
                                  i.glyphicon.glyphicon-calendar
                          .dash-separator.pull-left
                          .col-xs-6
                            .input-group
                              input.form-control.col-xs-6 {
                                type="text"
                                ng-model="filter.startRange.max"
                                uib-datepicker-popup="dd.MM.yyyy"
                                is-open="openStartRangeTo"
                                ng-click="filter.toggleDatepickers('openStartRangeTo')"
                                ng-change="filterDeals()"
                              }
                              span.input-group-btn
                                button.btn.btn-default {
                                  type="button"
                                  ng-click="filter.toggleDatepickers('openStartRangeTo')"
                                }
                                  i.glyphicon.glyphicon-calendar
                      /! === close range ===
                      li.form-group.m-r-xs
                        label translate="filter.deals.CLOSE_RANGE"
                        button.btn.btn-link.btn-sm {
                          type="button"
                          uib-tooltip="{{ 'filter.CLEAR' | translate }}"
                          ng-click="filter.clearFilterField('closeRange')"
                        }
                          i.fa.fa-remove
                        .row
                          .col-xs-6
                            .input-group
                              input.form-control {
                                type="text"
                                ng-model="filter.closeRange.min"
                                uib-datepicker-popup="dd.MM.yyyy"
                                is-open="openCloseRangeFrom"
                                ng-click="filter.toggleDatepickers('openCloseRangeFrom')"
                                ng-change="filterDeals()"
                              }
                              span.input-group-btn
                                button.btn.btn-default {
                                  type="button"
                                  ng-click="filter.toggleDatepickers('openCloseRangeFrom')"
                                }
                                  i.glyphicon.glyphicon-calendar
                          .dash-separator.pull-left
                          .col-xs-6
                            .input-group
                              input.form-control.col-xs-6 {
                                type="text"
                                ng-model="filter.closeRange.max"
                                uib-datepicker-popup="dd.MM.yyyy"
                                is-open="openCloseRangeTo"
                                ng-click="filter.toggleDatepickers('openCloseRangeTo')"
                                ng-change="filterDeals()"
                              }
                              span.input-group-btn
                                button.btn.btn-default {
                                  type="button"
                                  ng-click="filter.toggleDatepickers('openCloseRangeTo')"
                                }
                                  i.glyphicon.glyphicon-calendar
                      /! === sum range ===
                      li.divider
                      li.form-group.m-r-xs
                        label translate="filter.RANGE"
                        button.btn.btn-link.btn-sm {
                          type="button"
                          uib-tooltip="{{ 'filter.CLEAR' | translate }}"
                          ng-click="filter.clearFilterField('sumRange')"
                        }
                          i.fa.fa-remove
                        .row
                          .col-xs-6.pull-left
                            input.form-control {
                              type="number"
                              ng-model="filter.sumRange.min"
                              ng-model-options="{ debounce: 800 }"
                              ng-change="filterDeals()"
                            }
                          .dash-separator.pull-left
                          .col-xs-6.pull-right
                            input.form-control {
                              type="number"
                              ng-model="filter.sumRange.max"
                              ng-model-options="{ debounce: 800 }"
                              ng-change="filterDeals()"
                            }
                        li.form-group.m-r-xs
                          slider {
                            ng-model="filter.sumRange.min"
                            ng-model-range="filter.sumRange.max"
                            on-end="filterDeals()"
                            floor="{{filter.sliderRange.min}}"
                            ceiling="{{filter.sliderRange.max}}"
                          }
                      li.divider
                      /! === manager ===
                      li.form-group.m-r-xs
                        label translate="filter.MANAGER"
                        button.btn.btn-link.btn-sm {
                          type="button"
                          uib-tooltip="{{ 'filter.CLEAR' | translate }}"
                          ng-click="filter.clearFilterField('manager_id')"
                        }
                          i.fa.fa-remove
                        select.form-control.input-sm {
                          ng-model="filter.search.manager_id"
                          ng-options="employee.id as (employee.user | fullname) for employee in employees"
                          ng-change="filterDeals()"
                        }


            .col-xs-11.text-right
              .btn-group
                a.btn.btn-default.nowrap.l-h-18 {
                  ng-repeat="status in companyStatic.references.deal_statuses"
                  uib-tooltip="{{::status.name}}"
                  type="button"
                  ng-click="toggleStatus(status.id)"
                  ng-class="{ active: filter.statuses.indexOf(status.id) > -1 }"
                }
                  i.inline.v-middle.fa.fa-circle.text-primary.m-r-xs {
                    style="color: {{status.color}}"
                  }
                  span.inline.v-middle
                    | {{ status.name }}

                  b.inline.v-middle.badge.m-l-xs
                    | {{ company.deals_count_by_statuses[status.id] || 0 }}

                  i.inline.v-middle.fa.fa-pencil.m-l-xs {
                    ng-if="!status.system && company.id && user.can('update', 'DealStatus', {company_id: company.id})"
                    ng-click="
                      editStatus(status.id);
                      $event.stopPropagation();
                    "
                  }

                button.btn.btn-default {
                  type="button"
                  ng-click="createStatus()"
                  ng-if="company.id && user.can('create', 'DealStatus', {company_id: company.id})"
                }
                  i.fa.fa-plus

      .row
        .col-md-12
          .list-group.list-group-lg.list-group-sp
            .list-group-item.clearfix {
              id="deal-with-id-{{deal.id}}"
              ng-repeat="deal in deals"
            }
              .xedit-form {
                ng-include="'assets/views/companies/deals/xedit.html'"
                ng-controller="CompaniesDealsXEditCtrl"
              }
          pagination {
            current="page"
            total="total_count"
            per="per"
          }

div ng-include="" src="'assets/views/layout/blocks/footer.html'"
