.modal role="dialog" tabindex="-1"
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close {
          aria-label="Close"
          data-dismiss="modal"
          type="button"
        }
          span aria-hidden="true"  &times;
        h4.modal-title {
          translate="model.deal_products.CREATE_TITLE"
        }

      .modal-body
        new-deal-product {
          submit-func="submit(dealProduct)"
          company-id="companyId"
          company-currency="companyCurrency"
          product="product"
        }

      .modal-footer
        button.btn.btn-default {
          data-dismiss="modal"
          type="button"
          translate="common.CLOSE"
        }
