.modal role="dialog" tabindex="-1"
  .modal-dialog
    .modal-content
      .modal-header
        button.close {
          aria-label="Close"
          data-dismiss="modal"
          type="button"
          ng-click="close()"
        }
          span aria-hidden="true" &times;
      .modal-body
        div style="width: 200px; margin: 0 auto" ng-bind-html="content | unsafe"
      .modal-footer
        button.btn.btn-default.btn-icon ng-click="print(content)"
          i.fa.fa-print
