.row ng-init="deal = $ctrl.entity"
  .col-lg-3.col-sm-6.col-xs-6.col-m-12
    span.pull-left.thumb-sm.m-r {
      ng-class="{
        'avatar avatar-40-round': deal.legal_form == 'individual',
        'avatar-40': deal.legal_form == 'legal_entity'
      }"
      style="background-image: url({{deal.client.image.url}})"
    }

    span.clear
      span.text-ellipsis {
        ng-if="deal.legal_form == 'individual'"
        uib-tooltip="{{ deal.client | fullname }}"
        tooltip-class="tooltip-overlay"
      }
        | {{ deal.client | fullname }}
      span.text-ellipsis {
        ng-if="deal.legal_form == 'legal_entity'"
        uib-tooltip="{{ deal.client.legal_entity_name }}"
        tooltip-class="tooltip-overlay"
      }
        | {{ deal.client.legal_entity_name }}

      small.text-muted.clear.text-ellipsis
        i.fa.fa-circle {
          ng-style="{'color': (deal.status | statusColor:$ctrl.references.deal_statuses)}"
        }
        | &nbsp; {{ deal.client.source | ref:$ctrl.references.sources }}

    .hidden-lg
      br

  .col-lg-2.col-sm-6.col-xs-6.col-m-12.text-center.text-left-m
    .inline.m-r
      button.btn.btn-success.btn-lg
        | {{ deal.total_sum | formatMoney: company.currency}}

    .hidden-lg
      br

  .col-lg-3.col-sm-3.col-xs-6.col-m-12.text-left-m
    span.inline
      span
        | {{deal.name}}
      small.text-muted.clear.text-ellipsis
        | 11.05.2015

  .col-lg-2.col-sm-3.col-xs-6.col-m-12.text-center.hidden-xs
    .inline.m-r
      span.label{
        ng-style="{'background-color': (deal.status | statusColor:$ctrl.references.deal_statuses)}"
        title="{{deal.status | ref:$ctrl.references.deal_statuses}}"
      }
        | {{deal.status | ref:$ctrl.references.deal_statuses}}
      small.text-muted.clear.text-ellipsis
        | {{deal.contract_started_at | date: 'dd.MM.yyyy'}}

  .col-lg-2.col-sm-6.col-xs-6.col-m-12.text-left-m
    span.clear.pull-left
      a {
        href="tel:{{ deal.phone }}"
        uib-tooltip="Рабочий телефон:"
        tooltip-placement="left"
      }
        span
          | {{ deal.phone_code_id | ref:$ctrl.references.country_phone_codes:'code' }} {{ deal.phone }}

      a {
        href="mailto:{{ deal.email }}"
        uib-tooltip="Рабочий email:"
        tooltip-placement="left"
      }
        small.text-muted.clear.text-ellipsis
          | {{ deal.email }}
