.app-content
  .app-content-body
    .bg-light.lter.b-b.wrapper-md
      .row
        .col-sm-6.col-xs-12
          div {
            uib-dropdown
            is-open="status.isopen"
          }
            h1.m-n.font-thin.h3.text-black
              span
                i.icon-fire
              a.m-l-xs {
                aria-expanded="false"
                aria-haspopup="true"
                uib-dropdown-toggle
                ng-disabled="disabled"
                translate="model.deal.PAGE_TITLE"
              }
              span
                | &nbsp;
                span.caret
            ul.dropdown-menu role="menu"
              li
                a {
                  href="/companies/{{companyId}}/deals"
                }
                  i.icon-fire
                    | &nbsp;
                  span translate="model.deal.PAGE_TITLE"
              li
                a {
                  href="/companies/{{companyId}}/clients"
                }
                  i.icon-users
                    | &nbsp;
                  span translate="model.client.PAGE_TITLE"
              li
                a {
                  href="/companies/{{companyId}}/leads"
                }
                  i.icon-ghost
                    | &nbsp;
                  span translate="model.lead.PAGE_TITLE"

          small.text-muted translate="model.deal.SUB_TITLE"

        .col-sm-6.text-right.hidden-xs
          .inline.m-r.text-left
            h1.inline.m-r.text-right.font-thin.h3 {
              style="margin: 8px 0 0 0;"
            }
              a.btn.btn-sm.btn-primary.btn-addon {
                ng-if="company.id && user.can('create', 'Deal', {company_id: company.id})"
                href="/companies/{{companyId}}/deals/new"
              }
                i.fa.fa-plus.text
                span.text translate="model.deal.CREATE"

    .wrapper-md
      .row.list-group-item
        .col-md-12
          .xedit-form {
            ng-include="'assets/views/companies/deals/xedit.html'"
            ng-controller="CompaniesDealsXEditCtrl"
          }