form {
  editable-form
  onbeforesave="submit($data)"
  name="$parent.DealForm"
  shown="formIsShown()"
}

    div {
      ng-attr-role="{{deal.canBeExpanded ? 'button' : ''}}"
      ng-click="deal.canBeExpanded && (deal.expanded = !deal.expanded)"
    }
      .row
        .col-lg-3.col-sm-3.col-xs-3
          span.pull-left.thumb-sm.m-r.hidden-xs {
            ng-class="{
              'avatar avatar-40-round': deal.legal_form == 'individual',
              'avatar-40': deal.legal_form == 'legal_entity'
            }"
            style="background-image: url({{deal.client.image.url}})"
          }

          span.clear
            span.text-ellipsis {
              ng-if="deal.legal_form == 'individual'"
              uib-tooltip="{{ deal.client | fullname }}"
              tooltip-class="tooltip-overlay"
            }
              | {{ deal.client | fullname }}
            span.text-ellipsis {
              ng-if="deal.legal_form == 'legal_entity'"
              uib-tooltip="{{ deal.client.legal_entity_name }}"
              tooltip-class="tooltip-overlay"
            }
              | {{ deal.client.legal_entity_name }}

            small.text-muted.clear.text-ellipsis
              i.fa.fa-circle {
                ng-style="{'color': (deal | statusColor: companyStatic.references.deal_statuses)}"
              }
              | &nbsp; {{ deal.client.source | ref: dealStatic.references.client_sources }}

          .hidden-lg
            br

        .col-lg-2.col-sm-2.col-xs-3.text-center.text-left-m
          .inline.m-r
            button.btn.btn-success.btn-lg.btn-small-xs
              | {{ deal.total_sum | formatMoney: company.currency}}

          .hidden-lg
            br

        .col-lg-3.col-sm-3.col-xs-3.text-left-m.text-ellipsis
          span.inline
            span
              | {{ deal.name }}
            small.text-muted.clear.text-ellipsis  {
              uib-tooltip="{{deal.created_at | date: 'dd.MM.yyyy HH:mm'}}"
              tooltip-placement="top-left"
              tooltip-append-to-body="true"
            }

              | {{deal.created_at | date: 'dd.MM.yyyy HH:mm'}}

        .col-lg-2.col-sm-2.col-xs-3.text-center.hidden-xs
          .inline.m-r
            .btn-group.dropdown
              button.btn.btn-default data-toggle="dropdown"
                span
									| {{::status.id}}
                span.caret
              ul.dropdown-menu
                li
                  a
                    | {{ ::status.name }}
                li
                  a
										| Action

            span.label{
              ng-style="{'background-color': (deal | statusColor: companyStatic.references.deal_statuses)}"
              title="{{deal.status | ref: companyStatic.references.deal_statuses}}"
            }
              | {{deal.status | ref: companyStatic.references.deal_statuses}}
            small.text-muted.clear.text-ellipsis
              | {{deal.contract_started_at | date: 'dd.MM.yyyy'}}

        .col-lg-2.col-sm-2.col-xs-3.text-left-m.text-ellipsis
          span.clear.pull-left
            a {
              class="clear"
              href="tel:{{ deal.phone }}"
              uib-tooltip="Рабочий телефон:"
              tooltip-placement="left"
              tooltip-append-to-body="true"
            }
              span.text-ellipsis
                | {{ deal.phone_code_id | ref:dealStatic.references.country_phone_codes:'code' }} {{ deal.phone }}

            a {
              href="mailto:{{ deal.email }}"
              uib-tooltip="Рабочий email:"
              tooltip-placement="left"
              tooltip-append-to-body="true"
            }
              small.text-muted.clear.text-ellipsis
                | {{ deal.email }}

    div uib-collapse="!deal.expanded"
      .line.line-dashed.b-b.line-lg.pull-in
      .col-md-12 {
        ng-if="deal.id && user.can('update', 'Deal', deal.id)"
      }
        div.pull-right uib-tooltip="{{ ::dealStatic.labels.xedit_title }}"
          switcher {
            checked="true"
            confirm-exit="true"
            xeditable="DealForm"
          }

        .col-xs-12.visible-m
          br

      .m-b-sm.text-center
        .btn-group {
          ng-init="radioModel = ''"
        }
          label.btn.btn-sm.btn-default {
            ng-repeat="status in companyStatic.references.deal_statuses"
            btn-radio="{{::status.id}}"
            ng-model="radioModel"
            uib-tooltip="{{::status.name}}"
            tooltip-append-to-body="true"
            ng-click="setStatus(status.id)"
            ng-class="{ active: status.id == deal.status }"
          }
            i.fa.fa-check.text-active.m-r-xs
            i.fa.fa-square{
              style="color: {{::status.color}}"
            }
            span.text-active.m-l-xs
              | {{ ::status.name }}

      .line.line-dashed.b-b.line-lg.pull-in
      .col-md-6
        .row
          .col-xs-12
            h4 translate="common.BUSINESS_CARD"
            .line.line-dashed.b-b.line-lg.pull-in
        .row ng-if="deal.duration"
          .col-xs-6
            p
              span.text-muted.clear.text-ellipsis
                | Продолжительность сделки:
          .col-xs-6
            p.clear.text-ellipsis
              | {{ deal.duration }} дней

        .row
          .col-xs-6.col-m-12
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': DealForm.$visible}"
              }
                | {{ dealStatic.labels.status }}:
          .col-xs-6.col-m-12
            p.clear.text-ellipsis
              span.text {
                editable-select="deal.status"
                e-ng-options="status.id as status.name for status in companyStatic.references.deal_statuses"
                e-name="status"
                e-form="DealForm"
                e-ng-change="validate('status', $data)"
              }
                | {{ deal.status | ref:companyStatic.references.deal_statuses}}

        .row
          .col-xs-6.col-m-12
            p
              span.text-muted.clear.text-ellipsis
                | {{ dealStatic.labels.number }}
          .col-xs-6.col-m-12
            p.clear.text-ellipsis
              | {{ deal.number }}

        .row ng-if="deal.name || DealForm.$visible"
          .col-xs-6.col-m-12
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': DealForm.$visible}"
              }
                | {{ dealStatic.labels.name }}
          .col-xs-6.col-m-12
            p.clear.text-ellipsis
              span.text {
                buttons="no"
                editable-text="deal.name"
                e-name="name"
                e-form="DealForm"
                e-ng-change="validate('name', $data)"
              }
                | {{ deal.name || '' }}

        .row ng-if="deal.contract_number || DealForm.$visible"
          .col-xs-6.col-m-12
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': DealForm.$visible}"
              }
                | {{ dealStatic.labels.contract_number }}:
          .col-xs-6.col-m-12
            p.clear.text-ellipsis
              span.text {
                buttons="no"
                editable-text="deal.contract_number"
                e-name="contract_number"
                e-form="DealForm"
                e-ng-change="validate('contract_number', $data)"
              }
                | {{ deal.contract_number || '' }}

        .row ng-if="deal.client || DealForm.$visible"
          .col-xs-6.col-m-12
            p
              span.text-muted.clear.text-ellipsis
                | {{ dealStatic.labels.client_id }}
          .col-xs-6.col-m-12
            p.clear.text-ellipsis
              | {{ deal.client | fullname }}

        .row ng-if="company || DealForm.$visible"
          .col-xs-6.col-m-12
            p
              span.text-muted.clear.text-ellipsis
                | {{ dealStatic.labels.company_id }}:
          .col-xs-6.col-m-12
            p.clear.text-ellipsis
              | {{ company.name }}

        .row ng-if="deal.legal_form || DealForm.$visible"
          .col-xs-6.col-m-12
            p
              span.text-muted.clear.text-ellipsis
                | {{ dealStatic.labels.legal_form }}:
          .col-xs-6.col-m-12
            p.clear.text-ellipsis
              | {{ deal.legal_form | ref:dealStatic.references.legal_forms }}

        .row ng-if="deal.email || DealForm.$visible"
          .col-xs-6.col-m-12
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': DealForm.$visible}"
              }
                | {{ dealStatic.labels.email }}:
          .col-xs-6.col-m-12
            p.clear.text-ellipsis
              span.text {
                buttons="no"
                editable-text="deal.email"
                e-name="email"
                e-form="DealForm"
                e-ng-change="validate('email', $data)"
              }
                | {{ deal.email || '' }}

        .row ng-if="deal.phone || DealForm.$visible"
          .col-xs-6.col-m-12
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': DealForm.$visible}"
              }
                | {{ dealStatic.labels.phone }}:
          .col-xs-6.col-m-12
            .row.m-b ng-if="DealForm.$visible"
              .col-sm-5
                span.text {
                  editable-select="deal.phone_code_id"
                  e-ng-options="c.id as c.name for c in dealStatic.references.country_phone_codes"
                  e-name="phone_code_id"
                  e-form="DealForm"
                  e-ng-change="validate('phone_code_id', $data)"
                  e-placeholder=" --- "
                }

              .col-sm-7
                span.text {
                  buttons="no"
                  editable-text="deal.phone"
                  e-name="phone"
                  e-form="DealForm"
                  e-ng-change="validate('phone', $data)"
                }

            p.clear.text-ellipsis ng-if="!DealForm.$visible"
              | {{ deal.phone_code_id | ref:dealStatic.references.country_phone_codes:'code' }}
              | &nbsp;
              | {{ deal.phone || '' }}

        .row ng-if="deal.address || DealForm.$visible"
          .col-xs-6.col-m-12
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': DealForm.$visible}"
              }
                | {{ dealStatic.labels.address }}:
          .col-xs-6.col-m-12
            p.clear.text-ellipsis
              span.text {
                buttons="no"
                editable-text="deal.address"
                e-name="address"
                e-form="DealForm"
                e-ng-change="validate('address', $data)"
              }
                | {{ deal.address || '' }}

            .m-b ng-if="DealForm.$visible"
              map {
                map="map"
                address="deal.address"
                on-change="updatePhoneCodeByCountry(countryCode)"
                errors="deal.errors"
                latitude="deal.latitude"
                longitude="deal.longitude"
              }

        .row ng-if="deal.started_at || DealForm.$visible"
          .col-xs-6.col-m-12
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': DealForm.$visible}"
              }
                | {{ dealStatic.labels.started_at }}
                span ng-if="DealForm.$visible" *
                | :
          .col-xs-6.col-m-12
            p
              span.text {
                editable-bsdate="deal.started_at"
                e-datepicker-popup="dd.MM.yyyy"
                e-max-date="startedAtMaxDate"
                e-is-open="isOpen"
                e-ng-click="isOpen = !isOpen"
                e-name="started_at"
                e-ng-change="deal.started_at = $data; validate('started_at', $data)"
                e-form="DealForm"
              }
                | {{ deal.started_at | date:'dd.MM.yyyy' }}

        .row ng-if="deal.closed_at || DealForm.$visible"
          .col-xs-6.col-m-12
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': DealForm.$visible}"
              }
                | {{ dealStatic.labels.closed_at }}:
          .col-xs-6.col-m-12
            p
              span.text {
                editable-bsdate="deal.closed_at"
                e-datepicker-popup="dd.MM.yyyy"
                e-is-open="isOpen"
                e-ng-click="isOpen = !isOpen"
                e-name="closed_at"
                e-ng-change="deal.closed_at = $data; validate('closed_at', $data)"
                e-form="DealForm"
              }
                | {{ deal.closed_at | date:'dd.MM.yyyy' }}

        .row ng-if="deal.discount || DealForm.$visible"
          .col-xs-6.col-m-12
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': DealForm.$visible}"
              }
                | {{ dealStatic.labels.discount }}:
          .col-xs-6.col-m-12
            p.clear.text-ellipsis
              span.text {
                editable-text="deal.discount"
                e-name="discount"
                e-form="DealForm"
                e-ng-change="validate('discount', $data)"
              }
                | {{ deal.discount + '%' }}

        .row ng-if="deal.notes || DealForm.$visible"
          .col-xs-6.col-m-12
            p
              span.text-muted.clear.text-ellipsis
                | {{ dealStatic.labels.notes }}:
          .col-xs-6.col-m-12
            p.clear
              span.text {
                editable-textarea="deal.notes"
                e-name="notes"
                e-form="DealForm"
                e-ng-change="validate('notes', $data)"
              }
                | {{ deal.notes }}

      .col-md-6
        .row
          .col-xs-12
            h4 translate="common.SERVICE_INFORMATION"
            .line.line-dashed.b-b.line-lg
        .row ng-if="deal.client"
          .col-xs-6.col-m-12
            p
              span.text-muted.clear.text-ellipsis
                | {{ dealStatic.labels.client_status }}:
          .col-xs-6.col-m-12
            p.clear.text-ellipsis
              span.label.m-r-xs {
                ng-class="{
                  'bg-success': deal.client.rf_status == 'big_whale' || deal.client.rf_status == 'whale',
                  'bg-info': deal.client.rf_status == 'big_dolphin' || deal.client.rf_status == 'dolphin',
                  'bg-warning': deal.client.rf_status == 'crucian',
                }"
                uib-tooltip="RFM-анализ: {{deal.client.rf_status | ref:dealStatic.references.rfm_categories}}"
              }
                | RF
              span.label.m-r-xs {
                ng-class="{
                  'bg-success': deal.client.rm_status == 'big_whale' || deal.client.rf_status == 'whale',
                  'bg-info': deal.client.rm_status == 'big_dolphin' || deal.client.rf_status == 'dolphin',
                  'bg-warning': deal.client.rm_status == 'crucian',
                }"
                uib-tooltip="RFM-анализ: {{deal.client.rm_status | ref:dealStatic.references.rfm_categories}}"
              }
                | RM
              | {{deal.client.status | ref:companyStatic.references.client_statuses}}

        .row ng-if="deal.manager_id || DealForm.$visible"
          .col-xs-6.col-m-12
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': DealForm.$visible}"
              }
                | {{ dealStatic.labels.manager_id }}
                span ng-if="DealForm.$visible" *
                | :
          .col-xs-6
            p.clear.text-ellipsis
              span.text {
                editable-select="deal.manager_id"
                e-ng-options="employee.id as employee.name for employee in employees"
                e-name="manager_id"
                e-form="DealForm"
                e-ng-change="deal.manager_id = $data; validate('manager_id', $data)"
              }
                | {{ deal.manager_id | ref:employees }}

        .row ng-if="deal.second_manager_id || DealForm.$visible"
          .col-xs-6.col-m-12
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': DealForm.$visible}"
              }
                | {{ dealStatic.labels.second_manager_id }}:
          .col-xs-6.col-m-12
            p.clear.text-ellipsis
              span.text {
                editable-select="deal.second_manager_id"
                e-ng-options="employee.id as employee.name for employee in employeesForSecondManager"
                e-name="second_manager_id"
                e-form="DealForm"
                e-ng-change="validate('second_manager_id', $data)"
              }
                | {{ deal.second_manager_id | ref:employees }}

        .row ng-if="deal.visibility || DealForm.$visible"
          .col-xs-6.col-m-12
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': DealForm.$visible}"
              }
                | {{ dealStatic.labels.visibility }}
                span ng-if="DealForm.$visible" *
                | :
          .col-xs-6.col-m-12
            p.clear.text-ellipsis
              span.text {
                editable-select="deal.visibility"
                e-ng-options="visibility.id as visibility.name for visibility in dealStatic.references.visibilities"
                e-name="visibility"
                e-form="DealForm"
                e-ng-change="validate('visibility', $data)"
              }
                | {{ deal.visibility | ref:dealStatic.references.visibilities }}

        .row ng-if="deal.contract_started_at || DealForm.$visible"
          .col-xs-6.col-m-12
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-7': DealForm.$visible}"
              }
                | {{ dealStatic.labels.contract_signed }}:
          .col-xs-6.col-m-12
            p
              span.text {
                editable-bsdate="deal.contract_started_at"
                e-datepicker-popup="dd.MM.yyyy"
                e-is-open="isOpen"
                e-ng-click="isOpen = !isOpen"
                e-name="contract_started_at"
                e-ng-change="validate('contract_started_at', $data)"
                e-form="DealForm"
              }
                | c {{ deal.contract_started_at | date:'dd.MM.yyyy'}}

              br

              span.text {
                ng-if="deal.contract_ended_at || DealForm.$visible"
                editable-bsdate="deal.contract_ended_at"
                e-datepicker-popup="dd.MM.yyyy"
                e-is-open="isOpen"
                e-ng-click="isOpen = !isOpen"
                e-name="contract_ended_at"
                e-ng-change="validate('contract_ended_at', $data)"
                e-form="DealForm"
              }
                | по {{ deal.contract_ended_at | date:'dd.MM.yyyy' }}
        .row
          .col-xs-6.col-m-12
            p
              span.text-muted.clear.text-ellipsis
                | {{ dealStatic.labels.contract_is_active }}:
          .col-xs-6.col-m-12
            p.clear.text-ellipsis
              | {{isContractActive() ? 'Да' : 'Нет'}}

        .row ng-if="deal.cash_flow_budget_category_id || DealForm.$visible"
          .col-xs-6.col-m-12
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': DealForm.$visible}"
              }
                | {{ dealStatic.labels.cash_flow_budget_category }}:
          .col-xs-6.col-m-12
            p.clear
              choose-cash-flow-budget-category {
                ng-if="DealForm.$visible"
                model="deal.cash_flow_budget_category_id"
                cash-flow-budget-categories="cash_flow_budget_categories"
              }

              span ng-if="!DealForm.$visible"
                | {{deal.cash_flow_budget_category_id | treePath:cash_flow_budget_categories.all}}


        .row ng-if="deal.total_sum || DealForm.$visible"
          .col-xs-6.col-m-12
            p
              span.text-muted.clear.text-ellipsis
                | {{ dealStatic.labels.total_sum }}:
          .col-xs-6.col-m-12
            p.clear.text-ellipsis
              | {{ deal.total_sum | formatMoney: company.currency }}

        .row ng-if="deal.payment_option || DealForm.$visible"
          .col-xs-6.col-m-12
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': DealForm.$visible}"
              }
                | {{ dealStatic.labels.payment_option }}:
          .col-xs-6.col-m-12
            p.clear.text-ellipsis
              span.text {
                editable-select="deal.payment_option"
                e-ng-options="option.id as option.name for option in dealStatic.references.payment_options"
                e-name="payment_option"
                e-form="DealForm"
                e-ng-change="validate('payment_option', $data)"
              }
                | {{ deal.payment_option | ref:dealStatic.references.payment_options }}

        .row ng-if="deal.payment_period || DealForm.$visible"
          .col-xs-6.col-m-12
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': DealForm.$visible}"
              }
                | {{ dealStatic.labels.payment_period }}:
          .col-xs-6.col-m-12
            p
              span.text {
                editable-select="deal.payment_period"
                e-ng-options="period.id as period.name for period in dealStatic.references.payment_periods"
                e-name="payment_period"
                e-form="DealForm"
                e-ng-change="deal.payment_period = $data; validate('payment_period', $data);"
              }
                | {{ deal.payment_period | ref:dealStatic.references.payment_periods }}

              span ng-if="deal.payment_period == 'single'"
                br
                span.text {
                  editable-bsdate="deal.single_payment_date"
                  e-datepicker-popup="dd.MM.yyyy"
                  e-is-open="isOpen"
                  e-ng-click="isOpen = !isOpen"
                  e-name="single_payment_date"
                  e-ng-change="validate('single_payment_date', $data)"
                  e-form="DealForm"
                }
                  | {{ deal.single_payment_date | date:'dd.MM.yyyy' }}

        #monthly-payments ng-if="deal.payment_period == 'monthly'"
          .row ng-if="DealForm.$visible"
            .col-xs-6.col-m-12
              span.text-muted.clear {
                ng-class="{'m-top-5': DealForm.$visible}"
              }
                | Количество платежей
            .col-xs-6.col-m-12
              .form-group
                input.form-control ng-model="deal.payments_count" ng-change="initMonthlyPayments()"

          .row {
            ng-repeat="monthly_payment in deal.monthly_payments"
            ng-if="monthly_payment._destroy != 1"
          }
            .col-xs-6.col-m-12
              span.text-muted.clear
                | Платеж №{{$index + 1}}
            .col-xs-6.col-m-12
              .row.m-b
                div ng-class="DealForm.$visible ? 'col-xs-6' : 'col-xs-5'"
                  field-wrap errors="monthly_payment.error.date" ng-if="DealForm.$visible"
                    .input-group
                      input.form-control {
                        type="text"
                        ng-model="deal.monthly_payments[$index].date"
                        date-only
                        uib-datepicker-popup="dd.MM.yyyy"
                        is-open="isOpen"
                        ng-click="isOpen = !isOpen"
                        placeholder="Дата платежа"
                        ng-change="validateMonthlyPayments()"
                      }
                      span.input-group-btn
                        button.btn.btn-default {
                          ng-click="isOpen = !isOpen"
                          type="button"
                          ng-style="deal.monthly_payments[$index].error.date && {'border-color': '#a94442'}"
                        }
                          i.glyphicon.glyphicon-calendar

                  span ng-if="!DealForm.$visible"
                    | {{deal.monthly_payments[$index].date | date: 'dd.MM.yyyy' }}

                div ng-class="DealForm.$visible ? 'col-xs-6' : 'col-xs-5'"
                  .text-danger {
                    ng-if="DealForm.$visible"
                    ng-show="$first && !monthlyPaymentsDistributionIsValid"
                  }
                    | Распределение сумм невалидно

                  field-wrap {
                    errors="monthly_payment.error.amount"
                    ng-if="DealForm.$visible"
                  }
                    input.form-control {
                      ng-model="deal.monthly_payments[$index].amount"
                      placeholder="Сумма платежа"
                      ng-change="validateMonthlyPayments()"
                    }

                  span ng-if="!DealForm.$visible"
                    | {{deal.monthly_payments[$index].amount | formatMoney: company.currency}}

                  .text-danger {
                    ng-if="DealForm.$visible"
                    ng-show="$last && !monthlyPaymentsDistributionIsValid"
                  }
                    | Распределение сумм невалидно

                .col-xs-2 ng-if="!DealForm.$visible && deal.status == 'won'"
                  button.btn.btn-sm.btn-icon.btn-success {
                    type="button"
                    uib-tooltip="Оплата получена"
                    ng-click="confirmMonthlyPayment($index)"
                    ng-if="!deal.monthly_payments[$index].paid_at"
                  }
                    i.fa.fa-check

                  button.btn.btn-sm.btn-icon.btn-danger {
                    type="button"
                    uib-tooltip="Отменить оплату"
                    ng-click="discardMonthlyPayment($index)"
                    ng-if="deal.monthly_payments[$index].paid_at"
                  }
                    i.fa.fa-ban


        .row ng-if="deal.payment_method || (deal.payment_period == 'monthly' && DealForm.$visible)"
          .col-xs-6.col-m-12
            p
              span.text-muted.clear.text-ellipsis {
                ng-class="{'m-top-5': DealForm.$visible}"
              }
                | {{ dealStatic.labels.payment_method }}:
          .col-xs-6.col-m-12
            p.clear.text-ellipsis
              span.text {
                editable-select="deal.payment_method"
                e-ng-options="method.id as method.name for method in dealStatic.references.payment_methods"
                e-name="payment_method"
                e-form="DealForm"
                e-ng-change="validate('payment_method', $data)"
              }
                | {{ deal.payment_method | ref:dealStatic.references.payment_methods }}

        .row ng-if="deal.interest_rate || (DealForm.$visible && DealForm.$data.payment_method == 'credit')"
          .col-xs-6.col-m-12
            p
              span.text-muted.clear.text-ellipsis
                | {{ dealStatic.labels.interest_rate }}:
          .col-xs-6.col-m-12
            p.clear.text-ellipsis
              span.text {
                editable-text="deal.interest_rate"
                e-name="interest_rate"
                e-form="DealForm"
                e-ng-change="validate('interest_rate', $data)"
                e-uib-tooltip="В данном поле вы можете задать значение годовой кредитной ставки для конкретной сделки"
              }
                | {{ deal.interest_rate }}

      .pull-right.clear-both.m-b {
        ng-if="deal.id && user.can('update', 'Deal', deal.id)"
        uib-tooltip="Редактирование"
      }
        switcher {
          checked="true"
          xeditable="DealForm"
        }

        /.row
        /  .col-xs-12
        /    .text-center.m-b-n.m-t-sm
        /      div {
        /        style="height: 200px; padding: 0px; position: relative;"
        /        ui-jq="plot"
        /        ui-options="[{
        /          data: [ [1,0],[2,3500],[3,3400],[4,3300],[5,0],[6,0],
        /          [7,3000],[8,3000],[9,3000],[10,0],[11,0],[12,0] ],
        /          lines: {
        /            show: true,
        /            lineWidth: 1,
        /            fill:true,
        /            illColor: {
        /              colors: [
        /                {opacity: 0.2},
        /                {opacity: 0.8}]
        /              }
        /            }
        /          }],
        /          {
        /            colors: .#e8eff0,
        /            series: { shadowSize: 3 },
        /            xaxis:{ show:false },
        /            yaxis:{ font: { color: '#a1a7ac' } },
        /            grid: {
        /              hoverable: true,
        /              clickable: true,
        /              borderWidth: 0,
        /              color: '#dce5ec'
        /            },
        /            tooltip: true,
        /            tooltipOpts: {
        /              content: '%s of %x.1 is %y.4',
        /              defaultTheme: false,
        /              shifts: { x: 10, y: -25 } }
        /            }"
        /      }
        /      br
div uib-collapse="!deal.expanded"
  br
  br
  .line.line-dashed.b-b.line-lg.pull-in
  .col-lg-12.text-center
    .btn-group
      button.btn.btn-default.nowrap {
        type="button"
        ng-click="section.active = 'tasks'; loadTasks()"
        ng-class="{active: section.active == 'tasks'}"
      }
        i.icon-directions.text-light.lter.m-r-xs
        | Дела &nbsp;
        b.badge.bg-success.inline
          | {{ deal.related_tasks_count || 0 }}
      button.btn.btn-default.nowrap {
        type="button"
        ng-click="section.active = 'receipts'"
        ng-class="{active: section.active == 'receipts'}"
      }
        i.icon-layers.text-light.lter.m-r-xs
        | Счета &nbsp;
        b.badge.bg-success.inline
          | {{ deal.receipts.length || 0 }}
      button.btn.btn-default.nowrap {
        type="button"
        ng-click="section.active = 'products'"
        ng-class="{active: section.active == 'products'}"
      }
        i.icon-basket-loaded.text-light.lter.m-r-xs
        | Товары &nbsp;
        b.badge.bg-success.inline
          | {{ deal.deal_products.length }}
      button.btn.btn-default.nowrap {
        type="button"
        ng-click="section.active = 'history'"
        ng-class="{active: section.active == 'history'}"
      }
        i.icon-puzzle.text-light.lter.m-r-xs
        | История &nbsp;
        b.badge.bg-success.inline
          | {{ deal.history_length || 0 }}

  .additional-sections.col-md-12.m-b-sm ng-show="section.active"
    .line.line-dashed.b-b.line-lg

    div ng-show="section.active == 'receipts'"
      .row ng-repeat="receipt in deal.receipts"
        .col-md-1
          | {{ $index + 1}}
        .col-md-2
          | {{ receipt.created_at | date: 'dd.MM.yyyy hh:mm:ss' }}
        .col-md-2
          span ng-if="receipt.kind == 'sell'" Продажа
          span ng-if="receipt.kind == 'return'" Возврат
        .col-md-2
          button.btn.btn-default ng-click="showReceipt(receipt.content)" Просмотреть чек

    div ng-show="section.active == 'products'"
      .col-md-12.text-center
        a.btn.btn-lg.btn-primary.btn-addon {
          ng-if="user.can('update', 'Deal', deal.id)"
          href=""
        }
          i.icon-basket-loaded.text
          span.text ng-click="addDealProduct()" translate="model.deal.ADD_PRODUCT"

      br
      br

      .line.line-dashed.b-b.line-lg
      br
      .col-md-12.m-b.deal-product-row {
        ng-repeat-start="deal_product in deal.deal_products"
        ng-class="{'block-muted': deal_product.returned_at}"
        uib-tooltip="{{deal_product.returned_at && 'Товар возвращен'}}"
      }
        .col-xs-5
          span.pull-left.thumb-sm.m-r.avatar-40
            img.r.r-2x ng-src="{{deal_product.product.images[deal_product.product.preview_index].url}}"
          span.clear
            span
              i.fa.fa-circle.text-primary {
                uib-tooltip="Категория"
              }
              | &nbsp; {{ deal_product.product.vendor_code }} {{ deal_product.product.name }}
            br
            small.text-muted.clear.text-ellipsis
              | Стоимость: {{ deal_product.price | formatMoney: company.currency }}

        .col-xs-2

          button.btn.btn-success.btn-lg.btn-addon {
            uib-tooltip="Количество:"
            tooltip-placement="left"
            type="button"
            ng-show="!TestForm.$visible"
          }
            i.icon-basket-loaded.text
            | {{ deal_product.count }} шт.

          span.text {
            editable-number="deal_product.count"
            ng-show="TestForm.$visible"
            onbeforesave="updateDealProductCount(deal_product, $data)"
            e-form="TestForm"
            e-style="width: 63px"
          }
            | {{ deal_product.count }} шт.

          i.icon-pencil.edit-deal-product-count.m-l-sm {
            role="button"
            uib-tooltip="Изменить кол-во"
            ng-show="dealProductsAreEditable() && !TestForm.$visible"
            ng-click="TestForm.$show()"
          }


        .col-xs-2
          button.btn.btn-success.btn-lg.btn-addon {
            uib-tooltip="Сумма:"
            tooltip-placement="left"
          }
            i.icon-calculator.text
            span.text
              | {{ deal_product.price * deal_product.count | formatMoney: company.currency }}
        .col-xs-2
          button.btn.btn-success.btn-lg {
            uib-tooltip="ABC-анализ: Без изменений"
          }
            | AB
          i.fa.fa-times.m-l.remove-deal-product.text-danger  {
            uib-tooltip="Удалить товар из сделки"
            role="button"
            ng-show="dealProductsAreEditable()"
            ng-click="removeDealProduct(deal_product)"
          }

      deal-product.col-md-12.m-b.deal-product-row {
        ng-repeat-end=""
        ng-if="!deal_product.returned_at && deal_product.count != deal_product.count_minus_returns"
        deal-product="deal_product"
        currency="company.currency"
        editable="false"
        mode="returns"
      }

      .line.line-dashed.b-b.line-lg
      br
      br
      br

      .line.line-dashed.b-b.line-lg
      .col-md-12
        .col-xs-5
        .col-xs-3.text-right
          span.text
            strong
              | {{ dealStatic.labels.total_sum }}:
        .col-xs-3
          span.text
            strong
              | {{ deal.total_sum | formatMoney: company.currency }}
      .col-md-12
        .col-xs-5
        .col-xs-3.text-right
          span.text
            | {{ dealStatic.labels.check_sum }}:
        .col-xs-3
          span.text
            | {{ deal.check_sum | formatMoney: company.currency }}

      .col-md-12
        .col-xs-5
        .col-xs-3.text-right
          span.text
            | {{ dealStatic.labels.discount_sum }}:
        .col-xs-3
          span.text
            | {{ deal.discount_sum | formatMoney: company.currency }} ({{ deal.discount }}%)

      .col-md-12
        .col-xs-5
        .col-xs-3.text-right
          span.text
            | {{ dealStatic.labels.vat_sum }}:
        .col-xs-3
          span.text
            | {{ deal.vat_sum | formatMoney: company.currency }}

    / История
    div ng-if="section.active == 'history'"
      stream {
        company-id="deal.company_id"
        subject-type="Deal"
        subject-id="deal.id"
        level="local"
      }

    / Дела
    div ng-if="section.active == 'tasks'"
      .text-center
        a.btn.btn-primary.btn-addon.btn-lg {
          uib-tooltip="Создать новую задачу"
          type="button"
          ng-href="/companies/{{company.id}}/tasks/new"
        }
          i.icon-directions
          | Создать задачу

      related-tasks-list {
        tasks="deal.related_tasks"
      }
