.modal role="dialog" tabindex="-1"
  .modal-dialog
    .modal-content
      form ng-submit="payment.submit()"
        .modal-header
          button.close {
            aria-label="Close"
            data-dismiss="modal"
            type="button"
          }
            span aria-hidden="true"  &times;
          h4.modal-title
            | Оплата
          strong Все поля обязательны к заполнению
        .modal-body
          field-wrap errors="payment.errors.option"
            label Выберите вариант оплаты
            label.i-checks ng-repeat="option in payment.options"
              input {
                type="radio"
                value="{{option.id}}"
                ng-model="payment.selectedOption"
                ng-change="payment.errors.option = []"
              }
              i
              | {{option.name}}

          field-wrap {
            errors="payment.errors.depositedAmount"
            ng-if="payment.selectedOption == 'cash'"
          }
            label
              | Внесенная сумма, {{payment.currency}}
            input.form-control {
              type="text"
              ng-model="payment.depositedAmount"
              ng-change="payment.checkAmount()"
            }

            div ng-if="payment.depositedAmount > payment.sum"
              span
                | Сдача:
                | &nbsp;
                | {{ payment.depositedAmount - payment.sum | formatMoney: payment.currency }}

          field-wrap errors="payment.errors.status"
            label Статус
            label.i-checks
              input {
                type="radio"
                value="paid"
                ng-model="payment.status"
                ng-change="payment.errors.status = []"
              }
              i
              | Оплачено
            label.i-checks
              input {
                type="radio"
                value="pending"
                ng-model="payment.status"
                ng-change="payment.errors.status = []"
              }
              i
              | Ожидает оплаты

        .modal-footer
          .pull-left ng-if="payment.status == 'paid'"
            label.i-checks
              input type="checkbox" ng-init="payment.printReceipt = true" ng-model="payment.printReceipt"
              i
              | Печать чека

          button.btn.btn-default {
            data-dismiss="modal"
            type="button"
          }
            | {{'common.CANCEL' | translate}}

          button.btn.btn-primary {
            type="submit"
          } Ввод
