.modal role="dialog" tabindex="-1"
  .modal-dialog
    .modal-content
      .modal-header
        button.close {
          aria-label="Close"
            data-dismiss="modal"
            type="button"
          }
            span aria-hidden="true"  &times;
        h4.modal-title
          | Статьи БДДС
      .modal-body
        .cash-flow-categories-tree
          ul.list-unstyled
            li ng-class="{active: !selectedNode.id}"
              a ng-click="selectNone()" Нераспределенный

        .cash-flow-categories-tree-branch ng-if="!branch || branch == 'income'"
          h1 Поступления
          .cash-flow-categories-tree ui-tree="treeOptions" data-category="income" data-drag-enabled="false"
            ol ng-model="categories.income" ui-tree-nodes=""
              li {
                ng-include="'assets/views/companies/cash_flow_budget_categories/choose_category_node.html'"
                ng-repeat="category in categories.income"
                ng-class="{active: category.id == selectedNode.id}"
                ui-tree-node=""
              }

        .cash-flow-categories-tree-branch ng-if="!branch || branch == 'outcome'"
          h1 Выплаты
          .cash-flow-categories-tree ui-tree="treeOptions" data-category="outcome" data-drag-enabled="false"
            ol ng-model="categories.outcome" ui-tree-nodes=""
              li {
                ng-include="'assets/views/companies/cash_flow_budget_categories/choose_category_node.html'"
                ng-repeat="category in categories.outcome"
                ng-class="{active: category.id == selectedNode.id}"
                ui-tree-node=""
              }

      .modal-footer
        button.btn.btn-default {
          data-dismiss="modal"
          type="button"
        }
          | {{'common.CANCEL' | translate}}

        button.btn.btn-primary ng-click="submitChoose()"
          | {{'common.CHOOSE' | translate}}
