a ng-click="selectNode($modelValue)"
  | {{category.name}}
ol ng-model="category.children" ui-tree-nodes=""
  li {
    ng-include="'assets/views/companies/cash_flow_budget_categories/choose_category_node.html'"
    ng-repeat="category in category.children"
    ng-class="{active: category.id == selectedNode.id}"
    ui-tree-node=""
  }
