form.panel.panel-default.panel-body.form-inline {
  editable-form
  name="editCategoryForm"
  shown="!category.id"
  onbeforesave="updateCategory(category, $data, editCategoryForm)"
}
  div
    span.pull-left
      i.fa.fa-arrows.m-r-sm {
        ui-tree-handle=""
        ng-show="!editCategoryForm.$visible"
      }

    span {
      editable-text="category.name"
      e-name="name"
      blur="ignore"
    }
      | {{category.name}}

    span {
      editable-select="category.kind"
      e-name="kind"
      e-ng-options="kind.id as kind.name for kind in references.kinds"
    }
      | ({{category.kind | ref:references.kinds}})

    span.pull-right
      i.fa.fa-plus.m-r-sm {
        role="button"
        ng-click="addCategory($modelValue)"
        ng-show="!editCategoryForm.$visible"
      }

      i.fa.fa-pencil.m-r-sm {
        role="button"
        ng-show="!editCategoryForm.$visible"
        ng-click="editCategoryForm.$show()"
      }

      i.fa.fa-trash.m-r-sm {
        role="button"
        ng-show="!editCategoryForm.$visible"
        ng-click="deleteCategory(category)"
      }

  .m-t ng-if="categoryToDelete && categoryToDelete.id == category.id"
    label Переместить сделки в
    ui-select.m-b ng-model="categoryToDelete.categoryAfter"
      ui-select-match placeholder="Введите статью"
        span
          | {{$select.selected.name}}

      ui-select-choices {
        repeat="searchedCategory in searchedCategories track by searchedCategory.id"
        refresh="searchCategory($select.search, category.cash_book_category)"
        minimum-input-length="3"
      }
        | {{searchedCategory.name}}

    button.btn.btn-danger.m-r type="button" ng-click="actuallyDeleteCategory(category)" Удалить
    button.btn.btn-default type="button" ng-click="cancelDeleteCategory(category)" Отмена

    
  span ng-show="editCategoryForm.$visible"
    button {
      type="submit"
      class="btn btn-primary"
      ng-disabled="editCategoryForm.$waiting"
    }
      span.glyphicon.glyphicon-ok

    button {
      type="button"
      class="btn btn-default"
      ng-disabled="editCategoryForm.$waiting"
      ng-click="cancelEditing(category)"
    }
      span.glyphicon.glyphicon-remove

ol ng-model="category.children" ui-tree-nodes=""
  li {
    ng-include="'assets/views/companies/cash_flow_budget_categories/manage_category_node.html'"
    ng-repeat="category in category.children"
    ui-tree-node=""
  }
