.modal role="dialog" tabindex="-1"
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close {
          aria-label="Close"
            data-dismiss="modal"
            type="button"
          }
            span aria-hidden="true" &times;
        h4.modal-title
          | Статьи БДДС
      .modal-body.cash-flow-budget-category-manage-dialog
        .row
          .col-md-6
            .row.m-b-sm
              .col-md-6
                h1.h3
                  | Поступления
              .col-md-6.text-right
                button.btn.btn-default.btn-icon
                  i.fa.fa-plus ng-click="addCategory(null, 'income')"

            div ui-tree="treeOptions" data-category="income"
              ol ng-model="categories.income" ui-tree-nodes=""
                li {
                  ng-include="'assets/views/companies/cash_flow_budget_categories/manage_category_node.html'"
                  ng-repeat="category in categories.income"
                  ui-tree-node=""
                }

          .col-md-6
            .row.m-b-sm
              .col-md-6
                h1.h3 Выплаты
              .col-md-6.text-right
                button.btn.btn-default.btn-icon
                  i.fa.fa-plus ng-click="addCategory(null, 'outcome')"

            div ui-tree="treeOptions" data-category="outcome"
              ol ng-model="categories.outcome" ui-tree-nodes=""
                li {
                  ng-include="'assets/views/companies/cash_flow_budget_categories/manage_category_node.html'"
                  ng-repeat="category in categories.outcome"
                  ui-tree-node=""
                }

      .modal-footer
        button.btn.btn-default {
          data-dismiss="modal"
          type="button"
        }
          | {{'common.CLOSE' | translate}}
