span ng-if="$ctrl.source" ng-switch="$ctrl.source_type"
  span ng-switch-when="client|supplier" ng-switch-when-separator="|"
    a ng-href="{{$ctrl.url()}}" ng-if="$ctrl.source.legal_form == 'legal_entity'"
      | {{$ctrl.source.legal_entity_name}}
    a ng-href="{{$ctrl.url()}}" ng-if="$ctrl.source.legal_form == 'individual'"
      | {{$ctrl.source | fullname}}

  a ng-href="{{$ctrl.url()}}" ng-switch-when="employee" 
    | {{$ctrl.source | fullname}}

span ng-if="!$ctrl.source"
  | {{ $ctrl.sourceTypeLabels[$ctrl.source_type] }}
