.color-picker.m-b-xs.m-t-xs
  .color-picker__item.m-r-sm {
    ng-repeat="color in colorpickerOptions"
    ng-style="{'background-color': addHash(color)}"
    ng-class="{'selected': colorpickerModel == color}"
    ng-click="selectColor(color)"
  }
