.inline.m-r.text-left
  .m-b-xs
    | {{$ctrl.clientsCount}}
    span.text-muted
      | &nbsp;Клиентов
  .sparkline.inline {
    ui-jq="sparkline"
    ui-options="$ctrl.createdClientsCountByDays, {type:'bar', height:20, barWidth:5, barSpacing:1, barColor:'#dce5ec'}"
    ui-refresh="$ctrl.createdClientsCountByDays"
  }
.inline.text-left
  .m-b-xs
    | {{ $ctrl.actualIncome | formatMoney: $ctrl.currency}}
    span.text-muted
      | &nbsp;доход
  .sparkline.inline {
    ui-jq="sparkline"
    ui-options="$ctrl.actualIncomeByDays, {type:'bar', height:20, barWidth:5, barSpacing:1, barColor:'#dce5ec'}"
    ui-refresh="$ctrl.actualIncomeByDays"
  }
