uib-tabset.nav-tabs-alt active="activeJustified" justified="true"
  uib-tab
    uib-tab-heading
      i.glyphicon.glyphicon-transfer.text-md.text-muted.wrapper-sm
    .wrapper-md.ng-scope
      .m-b-sm.text-md Новые сделки
      ul.list-group.list-group-sm.list-group-sp.list-group-alt.auto.m-t
        li.list-group-item ng-repeat="deal in $ctrl.company.last_deals"
          span.text-muted
            | {{deal.updated_at | date: 'd MMMM hh:mm a'}}
          span.block.text-md style="color: {{deal | statusColor: $ctrl.references.deal_statuses}}"
            | {{deal.total_sum | formatMoney: $ctrl.company.currency}}
      .text-center
        a.btn.btn-danger.btn-addon {
          ng-if="$ctrl.user.can('create', 'Deal', {company_id: $ctrl.company.id})"
          uib-tooltip="Создать новую сделку"
          ng-href="/companies/{{$ctrl.company.id}}/deals/new"
        }
          i.icon-fire
          | Создать сделку
  uib-tab
    uib-tab-heading
      i.glyphicon.glyphicon-user.text-md.text-muted.wrapper-sm
    .tab-pane tab-content-transclude="tab"
      .wrapper-md.ng-scope
        .m-b-sm.text-md Новые клиенты
        ul.list-group.no-bg.no-borders.pull-in
          li.list-group-item ng-repeat="client in $ctrl.company.last_clients"
            a.pull-left.thumb-sm.m-r {
              href="#"
              ng-class="{
                'avatar avatar-40-round': client.legal_form=='individual',
                'avatar-40': client.legal_form == 'legal_entity'
              }"
            }
              img ng-src="{{client.image.url || defaultAvatar}}"
              i.b-white.bottom style="background-color: {{ client | statusColor: $ctrl.references.client_statuses }}"
            .clear
              div
                a href="#"
                  span ng-if="client.legal_form == 'individual'"
                    | {{ client.name | fullname }}
                  span ng-if="client.legal_form == 'legal_entity'"
                    | {{ client.legal_entity_name }}
              small.text-muted ng-if="client.legal_form == 'individual'"
                | {{client.current_position || 'Должность не указана'}}
              small.text-muted ng-if="client.legal_form == 'legal_entity'"
                | Юридическое лицо
        .text-center
          a.btn.btn-primary.btn-addon {
            ng-if="$ctrl.user.can('create', 'Client', {company_id: $ctrl.company.id})"
            uib-tooltip="Создать нового клиента"
            ng-href="/companies/{{$ctrl.company.id}}/clients/new"
          }
            i.icon-users
            | Создать клиента

  uib-tab
    uib-tab-heading
      i.glyphicon.glyphicon-comment.text-md.text-muted.wrapper-sm
    .tab-pane tab-content-transclude="tab"
      .wrapper-md.ng-scope
        .m-b-sm.text-md Новые лиды
        ul.list-group.no-bg.no-borders.pull-in
          li.list-group-item ng-repeat="lead in $ctrl.company.last_leads"
            a.pull-left.thumb-sm.m-r {
              href="#"
              ng-class="{
                'avatar avatar-40-round': lead.legal_form=='individual',
                'avatar-40': lead.legal_form == 'legal_entity'
              }"
            }
              img ng-src="{{lead.image.url || defaultAvatar}}"
              i.b-white.bottom  style="background-color: {{ lead | statusColor: $ctrl.references.lead_statuses }}"
            .clear
              div
                a href="#"
                  span ng-if="lead.legal_form == 'individual'"
                    | {{ lead | fullname }}
                  span ng-if="lead.legal_form == 'legal_entity'"
                    | {{ lead.legal_entity_name }}
              small.text-muted ng-if="lead.legal_form == 'individual'"
                | {{lead.current_position || 'Должность не указана'}}
              small.text-muted ng-if="lead.legal_form == 'legal_entity'"
                | Юридическое лицо
        .text-center
          a.btn.btn-info.btn-addon {
            ng-if="$ctrl.user.can('create', 'Lead', {company_id: $ctrl.company.id})"
            uib-tooltip="Создать новый лид"
            ng-href="companies/{{$ctrl.company.id}}/leads/new"
          }
            i.icon-ghost
            | Создать лид

