.col-xs-5
  span.pull-left.thumb-sm.m-r.avatar-40
    img.r.r-2x ng-src="{{$ctrl.product.images[$ctrl.product.preview_index].url}}"
  span.clear
    span
      i.fa.fa-circle.text-primary {
        uib-tooltip="Категория"
      }
      | &nbsp; {{ $ctrl.product.vendor_code }} {{ $ctrl.product.name }}
    br
    small.text-muted.clear.text-ellipsis
      | Стоимость: {{ $ctrl.dealProduct.price | formatMoney: $ctrl.currency }}

.col-xs-2

  button.btn.btn-lg.btn-addon {
    ng-class="$ctrl.mode == 'returns' ? 'btn-danger' : 'btn-success'"
    uib-tooltip="Количество:"
    tooltip-placement="left"
    type="button"
    ng-show="!TestForm.$visible"
  }
    i.icon-basket-loaded.text
    | {{ $ctrl.count }} шт.

  span.text {
    editable-number="$ctrl.dealProduct.count"
    ng-show="TestForm.$visible"
    onbeforesave="updateDealProductCount($ctrl.dealProduct, $data)"
    e-form="TestForm"
    e-style="width: 63px"
  }
    | {{ $ctrl.count }} шт.

  i.icon-pencil.edit-deal-product-count.m-l-sm {
    role="button"
    uib-tooltip="Изменить кол-во"
    ng-show="$ctrl.editable && !TestForm.$visible"
    ng-click="TestForm.$show()"
  }

.col-xs-2
  button.btn.btn-lg.btn-addon {
    uib-tooltip="Сумма:"
    tooltip-placement="left"
    ng-class="$ctrl.mode == 'returns' ? 'btn-danger' : 'btn-success'"
  }
    i.icon-calculator.text
    span.text
      | {{ $ctrl.dealProduct.price * $ctrl.count | formatMoney: $ctrl.currency }}
.col-xs-2
  button.btn.btn-success.btn-lg {
    uib-tooltip="ABC-анализ: Без изменений"
  }
    | AB
  i.fa.fa-times.m-l.remove-deal-product.text-danger  {
    uib-tooltip="Удалить товар из сделки"
    role="button"
    ng-show="$ctrl.editable"
    ng-click="removeDealProduct($ctrl.dealProduct)"
  }
