.pull-left.avatar.avatar-40-round.m-r.thumb-md.img-circle {
	style="background-image: url('{{model.url || default}}')"
}
  span.avatar__icon-remove.icon-close  {
    ng-if="model.url"
  	ng-click="removeImage()"
  }
