div {
  ng-if="type=='text'"
  ng-include=""
  src="'assets/views/directives/field/text.html'"
}

div {
  ng-if="type=='phone'"
  ng-include=""
  src="'assets/views/directives/field/phone.html'"
}

div {
  ng-if="type=='url'"
  ng-include=""
  src="'assets/views/directives/field/url.html'"
}

div {
  ng-if="type=='name'"
  ng-include=""
  src="'assets/views/directives/field/name.html'"
}

div {
  ng-if="type=='email'"
  ng-include=""
  src="'assets/views/directives/field/email.html'"
}

div {
  ng-if="type=='password'"
  ng-include=""
  src="'assets/views/directives/field/password.html'"
}

div {
  ng-if="type=='textarea'"
  ng-include=""
  src="'assets/views/directives/field/textarea.html'"
}

div {
  ng-if="type=='select'"
  ng-include=""
  src="'assets/views/directives/field/select.html'"
}

div {
  ng-if="type=='checkbox'"
  ng-include=""
  src="'assets/views/directives/field/checkbox.html'"
}

div {
  ng-if="type=='radio'"
  ng-include=""
  src="'assets/views/directives/field/radio.html'"
}

div {
  ng-if="type=='radiogroup'"
  ng-include=""
  src="'assets/views/directives/field/radiogroup.html'"
}

div {
  ng-if="type=='date'"
  ng-include=""
  src="'assets/views/directives/field/date.html'"
}

div {
  ng-if="type=='file'"
  ng-include=""
  src="'assets/views/directives/field/file.html'"
}

div {
  ng-if="type=='range'"
  ng-include=""
  src="'assets/views/directives/field/range.html'"
}

div {
  ng-if="type=='color'"
  ng-include=""
  src="'assets/views/directives/field/color.html'"
}
