ui-gmap-google-map {
  refresh="true"
  center="map.center"
  zoom="map.zoom"
  events="map.events"
  options="map.options"
}
  ui-gmap-marker {
    coords="map.marker.coords"
    options="map.marker.options"
    events="map.marker.events"
    idkey="map.marker.id"
  }