div ng-if="$ctrl.data"
  .text-center-folded
    span.pull-right.pull-none-folded 
      | {{$ctrl.data.plan_percent_today || 0 | suffix:'%'}}
    span.hidden-folded 
      | План за сегодня

  uib-progressbar.progress-xxs.m-t-sm.dk {
    type="info" 
    value="$ctrl.data.plan_percent_today || 0"
  }  
  .text-center-folded
    span.pull-right.pull-none-folded
      | {{$ctrl.data.plan_percent_month || 0 | suffix:'%'}}
    span.hidden-folded  
      | План за месяц

  uib-progressbar.progress-xxs.m-t-sm.dk {
    type="primary" 
    value="$ctrl.data.plan_percent_month || 0"
  }
