ul.pagination-sm.m-t-none.m-b.pagination ng-show="per < total"
  li ng-class="{ disabled: current == 1 }"
    a href="" ng-click="current = 1"
      | «

  li ng-class="{ disabled: current == 1 }"
    a href="" ng-click="current = current - 1"
      | ‹

  li {
    ng-class="{active: page == current}"
    ng-repeat="page in pages"
  }
    a href="" ng-click="$parent.current = page"
      | {{ page }}

  li ng-class="{ disabled: current == pages.length }"
    a href="" ng-click="current = current + 1"
      | ›

  li ng-class="{ disabled: current == pages.length }"
    a href="" ng-click="current = pages.length"
      | »
