span ng-if="$ctrl.tasks.length == 0" Задач нет

.task-item.wrapper.clearfix {
  ng-repeat="task in $ctrl.tasks"
  ng-class="{'bg-danger lt': task.overdue}"
}
  .col-lg-4.col-md-3.col-xs-5.col-m-10
    span.clear.pull-left
      span
        | {{task.title}}
      small.text-muted.clear.text-ellipsis
        | {{task.created_at | date: 'HH:mm dd.MM.yyyy'}}
      small.text-muted.clear.text-ellipsis
        i.fa.fa-circle.m-r-xs {
          ng-class="{
            'text-success': task.status == 'new',
            'text-info': task.status == 'in_progress',
            'text-warning': task.status == 'suspended',
            'text-muted': task.status == 'done',
          }"
        }
        | {{ task.status | ref:$ctrl.references.task.statuses }}

  .col-lg-3.col-md-3.col-xs-6.col-m-12
    div ng-if="$ctrl.showClient"
      span.pull-left.thumb-sm.m-r {
        ng-if="task.client.image.url"
        ng-class="{
          'avatar avatar-40-round': task.client.legal_form == 'individual',
          'avatar-40': task.client.legal_form == 'legal_entity'
        }"
      }
        img.r.r-2x {
          ng-src="{{task.client.image.url}}"
        }
      span.clear
        span {
          uib-tooltip="Задача относится к клиенту:"
          tooltip-placement="left"
        }
          span ng-if="task.client.legal_form == 'individual'"
            | {{task.client | fullname }}
          span ng-if="task.client.legal_form == 'legal_entity'"
            | {{task.client.legal_entity_name}}

        small.text-muted.clear.text-ellipsis {
          uib-tooltip="Задача относится к клиенту:"
          tooltip-placement="left"
        }
          i.fa.fa-circle.margin-right-3 {
            ng-if="task.client"
            style="color: {{ task.client | statusColor: $ctrl.references.client.statuses }}"
          }
          span ng-if="task.client.legal_form == 'individual' && !task.client.current_job"
            | {{task.client.status | ref: $ctrl.references.client.statuses}}
          span ng-if="task.client.legal_form == 'individual' && task.client.current_job"
            | {{task.client.current_job}}
          span ng-if="task.client.legal_form == 'legal_entity'"
            | {{task.client | fullname }}

  .col-lg-2.col-md-3.col-xs-6.col-m-12
    div ng-if="$ctrl.showClient"
      span.clear.pull-left
        a.block {
          ng-href="tel:{{task.client.work_phone_full}}"
          uib-tooltip="Рабочий телефон"
          tooltip-placement="left"
        }
          span
            | {{task.client.work_phone_full}}
        a.block {
          ng-href="mailto:{{task.client.email}}"
          uib-tooltip="Email клиента:"
          tooltip-placement="left"
        }
          small.text-muted.clear.text-ellipsis
            | {{task.client.email}}

  .col-md-1.col-sm-2.col-xs-3.text-center.text-left-sm
    .col-m-12.visible-m.m-t
    .inline.m-r
      button.btn.btn-success.btn-lg {
        tooltip-append-to-body="true"
        uib-tooltip="RFM-анализ: Большой Кит"
      }
        | RM

  .col-md-1.col-sm-2.col-xs-3.text-center.text-left-sm
    .col-m-12.visible-m.m-t
    .inline.m-r
      button.btn.btn-info.btn-lg {
        tooltip-append-to-body="true"
        uib-tooltip="RFM-анализ: Большой Дельфин"
      }
        | RM
