span ng-if="loaded && events.length == 0" Нет событий

.streamline.b-l.m-b ng-if="loaded && events.length > 0"
  .sl-item ng-repeat="event in events"
    .m-l
      .text-muted
        | {{event.created_at | dateFormat}}
      p.stream-event-description ng-bind-html="event[descriptionKey]"

button.btn.btn-info.btn-xs type="button" ng-if="isThereMore()" ng-click="loadMore()" Еще
