#uLogind3366f32 data-ulogin="display=buttons;fields={{fields}};optional={{optional}};callback={{callback}}"
  a.facebook-sign-in-btn data-uloginbutton="facebook"
    span.icon
      i.fa.fa-facebook
    span.text Facebook
